<div class="pageWrapTable" ng-controller="cancleCtrl">
  <div class="wrapCell">
    <div class="logo-kk-red" >
      <span>K</span>
    </div>
    <div class="content-sign">
      <h1 class="text-center">Success</h1>
    </div>
  </div>
</div>
