<div class="modal-header">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{confirmObj.title}}</h4>
</div>
<div class="modal-body" style="text-align:center;">
    <h4 load-html-common html="{{confirmObj.content}}"></h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-general" ng-if="confirmObj.fun1.text!=null" ng-click="function1()">{{confirmObj.fun1.text}}</button>
    <button type="button" class="btn btn-general" ng-if="confirmObj.fun2.text!=null" ng-click="function2()">{{confirmObj.fun2.text}}</button>
    <button type="button" class="btn btn-default" ng-if="confirmObj.cancel.text!=null" ng-click="cancelFunction()">{{confirmObj.cancel.text}}</button>
</div>