<!-- 公共图片查看器 -->
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 ng-if="code==-1" class="modal-title">{{title}}</h4>
	<h4 ng-if="code==1" class="modal-title">
		<lable ng-repeat="child in list[initIndex].childSelectList">
			{{child.id=='0'?'Everyone':child.text}}<lable ng-hide="$last">,</lable>
		</lable>
		{{title}}
	</h4>
</div>
<div class="modal-body">
	<div id="gallery-1" uib-carousel no-transition=false active="initIndex" no-wrap="false">
		<div class="item" uib-slide ng-repeat="img in list track by $index" index="$index">
			<!-- 设置DIV背景图片，图片不展示 -->
			<!-- <div class="gallery-container" style="background-image: url({{img.visitUrl}});"></div> -->
			<img ng-src="{{img.visitUrl}}" style="margin: auto;">
		</div>
	</div>
</div>