<div class="logs-block">
      <div class="logs-header" >
            <a role="button" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse-logs" aria-expanded="false" aria-controls="collapse-logs"><em>Log of changes</em></a>
      </div>
      <div class="collapse" id="collapse-logs">
            <div class="bg-danger logs-block-inner">
                  <p ng-repeat="obj in page.list"><strong>{{obj.updateTime | date:'dd/MM/yyyy HH:mm:ss'}}</strong> {{obj.userName}} changed the "{{obj.tags}}" from "{{obj.oldValue}}" to "{{obj.newValue}}".</p>
                
            </div>
             <nav aria-label="Page navigation">
       
        <pagination ng-change="changeLogsPage(page.condition.pageIndex)" uib-pagination items-per-page="page.condition.pageSize" total-items="page.condition.totalSize" ng-model="page.condition.pageIndex" max-size="page.condition.maxSize" previous-text="&laquo;"
          next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
      </nav>
      </div>       
</div>
                     	