
<div class="modal-content" nqszindex>
	<div class="modal-header" ng-init="getNqsList();">
		<button type="button" class="close" ng-click="cancel();"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Select NQS</h4>
	</div>
	<div class="modal-body">
		<div class="panel-group" id="nqs-accordion" role="tablist"
			aria-multiselectable="true">
			<div class="panel panel-default" ng-repeat="obj in page">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 ng-if="obj.tag==2" class="panel-title" ng-class="{'QA1':'chart-color color-qa1','QA2':'chart-color color-qa2',
					'QA3':'chart-color color-qa3',
					'QA4':'chart-color color-qa4',
					'QA5':'chart-color color-qa5',
					'QA6':'chart-color color-qa6',
					'QA7':'chart-color color-qa7'
					}[obj.version]">
						<a role="button" data-target="#{{obj.version}}"
							data-toggle="collapse" data-parent="#nqs-accordion"
							aria-expanded="true" aria-controls="collapseOne">
							{{obj.version}} - {{obj.content}} </a>
					</h4>
					<h4 ng-if="obj.tag==1" class="panel-title">
						<a role="button" data-target="#{{obj.version}}"
							data-toggle="collapse" data-parent="#nqs-accordion"
							aria-expanded="true" aria-controls="collapseOne">
							{{obj.version}} - {{obj.content}} </a>
					</h4>
				</div>
				<div id="{{obj.version}}" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body" ng-repeat="sub1 in obj.nqsChild">
						<div ng-if="obj.tag==2" ng-class="{'QA1':'color-qa1-sec','QA2':'color-qa2-sec',
					'QA3':'color-qa3-sec',
					'QA4':'color-qa4-sec',
					'QA5':'color-qa5-sec',
					'QA6':'color-qa6-sec',
					'QA7':'color-qa7-sec'
					}[obj.version]">
							<h4>
								<span>{{sub1.version}}</span>
								{{sub1.content}}.
							</h4>
						</div>
						<h4 ng-if="obj.tag==1">
							<span class="label label-default">{{sub1.version}}</span>
							{{sub1.content}}.
						</h4>
						<!--.nqs-detail-->
						<div class="nqs-detail" ng-repeat="sub2 in sub1.nqsChild">
							<div class="checkbox">
								<label> <input type="checkbox" nqs-checked
									version="{{sub2.version}}" content="{{sub2.content}}"
									newchoosenqsobj="newChooseNqsObj" tag="{{sub2.tag}}"> <span class="cr"><i
										class="cr-icon fa fa-check"></i></span> <span class="label-general">{{sub2.version}}</span>
									{{sub2.content}}.
								</label>
							</div>
						</div>
						<!--.nqs-detail-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" ng-click="cancel();">Close</button>
		<button type="button" class="btn btn-general" ng-click="saveNqs();">Save
			changes</button>
	</div>
</div>
