// .cal-color-palette(@type, @color, @index:1) when (@index =< 10){
//   & when(@type= 'tints'){
//     .cal-sample@{index}{
//       background-color: spin(@color, (@index *10%))
//     }
//     .cal-event-color-@{index}{
//       background-color: spin(@color, (@index *10%));
//       color: @white;
//     }
//     .cal-color-palette(@type, @color, (@index + 1));
//   }
// }
// .cal-color-palette('tints', @blueLight);

.sampleBox{
  height:100px;
  margin-bottom:30px;
}
.inner-box{
  position:relative;
  margin: auto;
  height:100%;
}
.identify-box{
  text-align: center;
  color: @white;
  vertical-align: middle;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin:0;
}

.cal-color-event{background-color:#74bfd7;}
.cal-color-rdo-change{background-color:#009ddb}
.cal-color-shift-change{background-color:#8000ff}
.cal-color-rdo{background-color:#ff5f63}
.cal-color-annual-leave{background-color:#00d96d}
.cal-color-personal-leave{background-color: #ff9326;}
.cal-color-long-service-leave{background-color:#00d96d}
.cal-color-professional-leave{background-color: #74d0d7}
.cal-color-compassionate-leave{background-color: #74d0d7}
.cal-color-unpaid-leave{background-color:#74d0d7}
.cal-color-maternity-leave{background-color:#74d0d7}
.cal-color-other-leave{background-color:#74d0d7}


.cal-event-color{


  &-1{
    .cal-color-event();
  }

  &-2{
    .cal-color-rdo-change();
  }

  &-3{
    .cal-color-shift-change();
  }

  &-4{
    .cal-color-rdo();
  }

  &-5{
    .cal-color-annual-leave();
  }

  &-6{
    .cal-color-personal-leave();
  }

  &-7{
    .cal-color-long-service-leave();
  }

  &-8,
  &-9,
  &-10,
  &-11{
    .cal-color-other-leave();
  }
}
