// -------------------------------------- //
// ----- Calendar Helper Controller ----- //
// -------------------------------------- //
.cal-col-1, .cal-col-2, .cal-col-3, .cal-col-4, .cal-col-5, .cal-col-6, .cal-col-7{
  float:left;
  position: relative;
  min-height: 0.01em;
}
.cal-col-1{width:@cal-grid-1;}
.cal-col-2{width:@cal-grid-2;}
.cal-col-3{width:@cal-grid-3;}
.cal-col-4{width:@cal-grid-4;}
.cal-col-5{width:@cal-grid-5;}
.cal-col-6{width:@cal-grid-6;}
.cal-col-7{width:@cal-grid-7;}

.cal-offset-1{margin-left:@cal-grid-1;}
.cal-offset-2{margin-left:@cal-grid-2;}
.cal-offset-3{margin-left:@cal-grid-3;}
.cal-offset-4{margin-left:@cal-grid-4;}
.cal-offset-5{margin-left:@cal-grid-5;}
.cal-offset-6{margin-left:@cal-grid-6;}

.cal-hei-1, .cal-hei-2, .cal-hei-3, .cal-hei-4, .cal-hei-5, .cal-hei-6, .cal-hei-7, .cal-hei-8, .cal-hei-9, .cal-hei-10,
.cal-hei-11, .cal-hei-12{
  float:left;
}

.cal-hei-1{.cal-hei(@height-1);}
.cal-hei-2{.cal-hei(@height-2);}
.cal-hei-3{.cal-hei(@height-3);}
.cal-hei-4{.cal-hei(@height-4);}
.cal-hei-5{.cal-hei(@height-5);}
.cal-hei-6{.cal-hei(@height-6);}
.cal-hei-7{.cal-hei(@height-7);}
.cal-hei-8{.cal-hei(@height-8);}
.cal-hei-9{.cal-hei(@height-9);}
.cal-hei-10{.cal-hei(@height-10);}
.cal-hei-11{.cal-hei(@height-11);}
.cal-hei-12{.cal-hei(@height-12);}

.cal-top-1{margin-top:@height-1;}
.cal-top-2{margin-top:@height-2;}
.cal-top-3{margin-top:@height-3;}
.cal-top-4{margin-top:@height-4;}
.cal-top-5{margin-top:@height-5;}
.cal-top-6{margin-top:@height-6;}
.cal-top-7{margin-top:@height-7;}
.cal-top-8{margin-top:@height-8;}
.cal-top-9{margin-top:@height-9;}
.cal-top-10{margin-top:@height-10;}
.cal-top-11{margin-top:@height-11;}


.day-event{  background-color: @blue;color:@white;}
.short-event{  background-color: @blueFeed;color:@white;}
.long-event{  background-color: @blueDark; color:@white;}
.more-event{  color:@calColor2 !important;}
.day-leave{ background-color: @blueLight; color: @white;}

.cal-display-on-mobile{
  display:none;
  @media @max-768{
    display:block ;
  }
}
.cal-hide-on-mobile{
  @media @max-768{
    display:none;
  }
}

.today{
  > * {
    color: @black !important;
  }
}

.share-datepart{
  > span{
    display:block;
    text-align:center;
    color: @calColor2;
  }
  .cal-event{
    left:0;
    right:0;
    position:absolute;
    font-size:10px;
    top:3px;
    @media @max-768{
      font-size:9px;
      top: -5px;
      a{
        .cal-rect(5px);
        .cal-round-borders;
        background-color: @calColor2;
        text-align: center;
        display:inline-block;
      }
    }
  }
  .cal-day{
    font-size:32px;
    @media @max-768{
      font-size:18px;
    }
  }
  .cal-weekday{
    font-size:11px;
    @media @max-768{
      font-size:10px;
    }
  }
  .cal-dot{
    .cir-dot;
    display:none;
    position:absolute;
    bottom:-8px;
    left:0;
    right:0;
    margin: auto;
    background-color: @blueLight;
  }
}
.cal-control{
  position: absolute;
  cursor:pointer;
  top:30%;
  &.control-left{
    left:5%;
    @media @break-point-991{
      left:0px;
    }
  }
  &.control-right{
    right:5%;
    @media @break-point-991{
      right:0px;
    }
  }
  &.control-top, &.control-bottom{
    left:@cal-grid-1 * 3/4;
  }
  &.control-top{
    top:-20px
  }
  &.control-bottom{
    top:auto;
    bottom:-20px;
  }
}
.cir-dot{
  .cal-round-borders;
  width:15px;
  height:15px;
}