// ------------------------------------- //
// ----- Calendar Mixin Controller ----- //
// ------------------------------------- //
.cal-table{
  display:table;
  margin:0 auto;
  width:80%;
  @media @break-point-991{
    width:95%;
  }
  .cal-datepart {
    display: table-cell;
    padding: 20px 0;
    position: relative;
  }
}
.cal-content-top-tags{
  font-size:11px;
  font-weight: bold;
  color:@white;
  padding:3px 5px;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cal-round-borders(@radius: 50%){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.cal-round-borders(@top, @right, @bottom, @left){
  -webkit-border-radius: @top @righ @bottom @left;
  -moz-border-radius: @top @right @bottom @left;
  border-radius: @top @right @bottom @left;
}
.cal-padding(@top, @right, @bottom, @left){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}
.cal-rect(@length){
  width: @length;
  height: @length;
}
.cal-rect(@width, @height){
  width: @width;
  height: @height;
}
.cal-hei(@asign){
  &.cal-hei-half{ height: @asign + (@height-1/2);}
  &.cal-hei-quarter{ height: @asign + (@height-1/4); }
  &.cal-hei-add-20{ height: @asign + (@height-1/3);}
  &.cal-hei-add-10{ height: @asign + (@height-1/6); }
  &.cal-hei-add-5{ height: @asign + (@height-1/12); }
}
.add-value(@asign, @additional){
  height: @asign + (@height-1 * @additional);
}
