@calColor: #d8d8d8;
@calColor2: #888888;

@break-point-991: ~"screen and (max-width:991px)";
@max-1370: ~"screen and (max-width:1370px)";
@max-768: ~"screen and (max-width:768px)";

@min-point-1200: ~"screen and (min-width:1200px)";
@min-point-1024: ~"screen and (min-width:1024px)";
@min-point-992: ~"screen and (min-width:992px)";
@min-992: ~"screen and (min-width:993px)";
@min-768: ~"screen and (min-width:769px)";


@cal-grid-1: 14.28571429%;
@cal-grid-2: (2 * @cal-grid-1);
@cal-grid-3: (3 * @cal-grid-1);
@cal-grid-4: (4 * @cal-grid-1);
@cal-grid-5: (5 * @cal-grid-1);
@cal-grid-6: (6 * @cal-grid-1);
@cal-grid-7: (7 * @cal-grid-1);

@height-value: 60px;
@height-1: @height-value;
@height-2: @height-value * 2;
@height-3: @height-value * 3;
@height-4: @height-value * 4;
@height-5: @height-value * 5;
@height-6: @height-value * 6;
@height-7: @height-value * 7;
@height-8: @height-value * 8;
@height-9: @height-value * 9;
@height-10: @height-value * 10;
@height-11: @height-value * 11;
@height-12: @height-value * 12;
