<div class="main" ng-controller="dashboardCtrl" >
<div ng-init="headtype='';headName='Report'" ng-include="'head.html?res_v='+res_v" ></div>

<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
		<div class="menu-top visible-xs">
    <div class="menu-top-title">
             Filter
    </div>
    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
</div>

			<div class="menu-block">
				<a class='btn btn-success' style='margin-left: 13px; margin-bottom: 8px;' ng-click="getAll()">Search</a>
				<div class="title">Search by Date Range</div>
				<div class="filter">
					<input type="text" style='width: 100%' class="form-control" time-range starttime="condition.startDate" endtime="condition.endDate" callback='clearDate'>
				</div>
			</div>

			<div class="menu-block">
				<div class="title">Select to compare (maxinum 10 items)</div>
				<div class="filter">
					<div class="function">
						<select style='width: 100%' class="form-control" max='10' ng-model='page.condition.ids' multiple="multiple" select2-model='chooseOrgs' select-ajax url="./dashboard/getSelectList.do">
						</select>
					</div>
				</div>
			</div>



		</div>

 <div class="filter-bottom" ng-click="closeButton();getAll();">
                      Filter
         </div>  
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">

			<div class="full-width dashboardWrap">
				<div class="attHeader">{{condition.startDate|date:'dd/MM/yyyy'}} - {{condition.endDate|date:'dd/MM/yyyy'}}</div>

				<div class="chartRoleList clearfix">
					<p>* Room and Centre Level will display average percentage and number.</p>
					<h4>Selected Items</h4>
					<div class="chartLabel" ng-repeat='item in chooseOrgs'>
						<span class="chart-label-circle chart-random-color color-{{$index+1}}"></span>
						<span class="chart-label-text" ng-if='item.type==0'>{{item.text}}(Child)</span>
						<span class="chart-label-text" ng-if='item.type==1'>{{item.text}}(Staff)</span>
						<span class="chart-label-text" ng-if='item.type==2'>{{item.text}}(Centre)</span>
						<span class="chart-label-text" ng-if='item.type==3'>{{item.text}}(Room)</span>
						<span class="chart-label-text" ng-if='item.type==4'>{{item.text}}</span>
					</div>
				</div>

				<!--NQS-->
				<!--NQS-->
				<div class="chartWrap clearfix">
					<h3 class="text-center">Activities by National Quality Standard</h3>
					<p class="text-center">Includes all items such as Newsfeed posts, programming, tasks, messages, meetings etc.</p>
					<hr>
					<table class="table" id='nqsList'>
						<thead>
							<tr>
								<td width="30%">National Quality Standard Areas</td>
								<td width="35%" class="text-left">As a percentage of activities</td>
								<td class="text-left">Number of activities</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in dashboardData.nqsList'>
								<td>
									<div class="td-content">
										<div class="chartLabel">
											<span class="chart-label-square chart-color {{item.rootNode|getClass}}"></span>
											<span class="chart-label-text">{{item.content}}</span>
										</div>
									</div>
								</td>
								<td>
									<div class="td-content">

										<div class="bar-chart">
											<div class="bar-each" ng-repeat='data in item.result'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':data.percent+'%'}">{{data.percent}}%</div>
												</div>
												<div class="bar-figure">{{data.percent}}%</div>
											</div>
										</div>

									</div>
								</td>
								<td>
									<div class="td-content">

										<div class="bar-chart">
											<div class="bar-each" ng-repeat='data in item.result'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':(data.count | getProportion:dashboardData.nqsMaxCount)+'%'}">{{data.count}}</div>
												</div>
												<div class="bar-figure">{{data.count}}</div>
											</div>
										</div>

									</div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- Children Activities-->
				<div class="chartWrap clearfix">
					<h3 class="text-center">Children Activities</h3>
					<hr>
					<table class="table" id="activeList">
						<thead>
							<tr>
								<td width="30%">Children Activities</td>
								<td width="35%">As a percentage of children activities</td>
								<td>Number of activities</td>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="activity in dashboardData.activityList">
								<td>
									<div class="td-content">
										<div class="chartLabel">
											<span class="chart-label-text">{{activity.type | activityType}}</span>
										</div>
									</div>
								</td>
								<td>
									<div class="td-content">

										<div class="bar-chart">
											<div class="bar-each" ng-repeat="activityData in activity.dataList">
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':activityData.percent+'%'}">{{activityData.percent}}%</div>
												</div>
												<div class="bar-figure">{{activityData.percent}}%</div>
											</div>
										</div>

									</div>
								</td>
								<td>
									<div class="td-content">

										<div class="bar-chart">
											<div class="bar-each" ng-repeat="activityData in activity.dataList">
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':(activityData.totalCount|getProportion:dashboardData.acMaxCount)+'%'}">{{activityData.totalCount}}</div>
												</div>
												<div class="bar-figure">{{activityData.totalCount}}</div>
											</div>
										</div>

									</div>
								</td>
							</tr>
						</tbody>
					</table>


				</div>
				<!--Task Categoeis-->
				<div class="chartWrap clearfix">
					<h3 class="text-center">Tasks Completion by Categories</h3>
					<hr>
					<table class="table" id="categoriesList">
						<thead>
							<tr>
								<td width="30%">Task Categories</td>
								<td width="35%">As a percentage of tasks</td>
								<td>Number of tasks</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='taskCategories in dashboardData.taskCategories'>
								<td>
									<div class="td-content">
										<div class="chartLabel">
											<span class="chart-label-text" ng-if='taskCategories.type == 0'>Centre Tasks</span>
											<span class="chart-label-text" ng-if='taskCategories.type == 1'>Room Tasks</span>
											<span class="chart-label-text" ng-if='taskCategories.type == 2'>Children Tasks</span>
											<span class="chart-label-text" ng-if='taskCategories.type == 3'>Other Tasks</span>
										</div>
									</div>
								</td>
								<td>

									<div class="td-content">

										<div class="bar-chart">
											<div class="bar-each" ng-repeat='task in taskCategories.dataList'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':task.percent+'%'}">{{task.percent}}%</div>
												</div>
												<div class="bar-figure">{{task.percent}}%</div>
											</div>
										</div>

									</div>
								</td>
								<td>
									<div class="td-content">
										<div class="bar-chart">
											<div class="bar-each" ng-repeat='task in taskCategories.dataList'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':(task.totalCount | getProportion:dashboardData.tcMaxCount)+'%'}">{{task.totalCount}}</div>
												</div>
												<div class="bar-figure">{{task.totalCount}}</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!--Task Progress-->
				<div class="chartWrap clearfix">
					<h3 class="text-center">Tasks Completion by Progress</h3>
					<hr>
					<table class="table" id='progressList'>
						<thead>
							<tr>
								<td width="30%">Task Progress</td>
								<td width="35%">As a percentage of tasks</td>
								<td>Number of tasks</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='taskProgress in dashboardData.taskProgress'>
								<td>
									<div class="td-content">
										<div class="chartLabel">
											<span class="chart-label-text" ng-if='taskProgress.type == 0'>On Time</span>
											<span class="chart-label-text" ng-if='taskProgress.type == 1'>Late Completion</span>
											<span class="chart-label-text" ng-if='taskProgress.type == 2'>Overdue</span>
										</div>
									</div>
								</td>
								<td>
									<div class="td-content">
										<div class="bar-chart">
											<div class="bar-each" ng-repeat='task in taskProgress.dataList'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':task.percent+'%'}">{{task.percent}}%</div>
												</div>
												<div class="bar-figure">{{task.percent}}%</div>
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="td-content">
										<div class="bar-chart">
											<div class="bar-each" ng-repeat='task in taskProgress.dataList'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':(task.totalCount | getProportion:dashboardData.tpMaxCount)+'%'}">{{task.totalCount}}</div>
												</div>
												<div class="bar-figure">{{task.totalCount}}</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>


				<!--QIP-->
				<div class="chartWrap clearfix">
					<h3 class="text-center">QIP</h3>

					<table class="table" id="qipList">
						<thead>
							<tr>
								<td width="30%">Satisfaction Categories</td>
								<td width="35%">As a percentage of satisfaction rating summary</td>
								<td>Number of satisfaction rating summary</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in dashboardData.qipList' ng-if=" item.type==1||item.type==3||item.type==5" >
								<td>
									<div class="td-content">
										<div class="chartLabel">
											<span class="chart-label-img">
												<img src="{{$index|qipImgFilter}}" class="img-responsive">
											</span>
											<span class="chart-label-text">{{$index|textFilter}}</span>
										</div>
									</div>
								</td>
								<td >
									<div class="td-content">

										<div class="bar-chart">
											<div class="bar-each" ng-repeat='qipData in item.dataList' >
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':qipData.percent+'%'}">{{qipData.percent}}%</div>
												</div>
												<div class="bar-figure">{{qipData.percent}}%</div>
											</div>
										</div>

									</div>
								</td>
								<td>
									<div class="td-content">
										<div class="bar-chart">
											<div class="bar-each" ng-repeat='qipData in item.dataList'>
												<div class="bar">
													<div class="bar-filler chart-random-color color-{{$index+1}}" ng-style="mystyle={'width':qipData.totalCount+'%'}">{{qipData.totalCount}}</div>
												</div>
												<div class="bar-figure">{{qipData.totalCount}}</div>
											</div>
										</div>

									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>
		<!--.content-area-->

	</div>
</div>
</div>