<div class="main" ng-controller="newsfeedCtrl">
	<div ng-init="headtype='newsfeed';headName='Newsfeed'" ng-include="'head.html?res_v='+res_v"></div>
	<div class="container-fluid">
		<div class="row" ng-init="getNewsFeedFun();">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner" id="searchDiv" ng-init="getNewsFeedList(false);getNewFeedback();">
				<div class="menu-top visible-xs">
					<div class="menu-top-title">
						Filter
					</div>
					<button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
				</div>


				<div class="menu-block">
					<div class="filter">
						<input type="text" ng-keyup="newsKeyup($event);" placeholder="Search" class="form-control" ng-model='page.condition.keyword' />
					</div>

				</div>
				<div class="menu-block child-figure-list" ng-if="!isParent">
					<ul class="sub-filter">
						<li ng-class="{'active': feedback}">
							<a href="javascript:void(0);" ng-click="searchFeedback();">New Feedback <span style="display:inline-block;margin-left:80px;font-weight:normal;">{{feedbacks.length}}</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-block child-figure-list Location">
					<div class="title" ng-init="getOrgs()">Location</div>
					<ul>
						<li class="active">
							<a mtype="0" value="" id="locationOrg" news-loction-active href="javascript:void(0);">All Centres</a>
						</li>
						<li ng-repeat="center in orgs.centersInfos" ng-if="isParent">
							<a news-loction-active mtype="1" value="{{center.id}}" href="javascript:void(0);">{{center.name}}</a>
							<ul class="sub-filter">
								<li ng-repeat="room in orgs.roomInfos" ng-if="center.id == room.centersId">
									<a news-loction-active mtype="2" value="{{room.id}}" href="javascript:void(0);">{{room.name}}</a>
								</li>
							</ul>
						</li>
						<li ng-repeat="center in page.condition.selectCenters" ng-if="!isParent">
							<a href="javascript:void(0);" news-loction-active mtype="1" value="{{center.id}}"> {{center.name}} </a>
							<ul class="sub-filter">
								<li ng-repeat="room in page.condition.selectRoom" ng-if="center.id == room.centersId">
									<a href="javascript:void(0);" news-loction-active mtype="2" value="{{room.id}}">{{room.name}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="menu-block" ng-if="!isParent">
					<div class="title">Rating</div>
					<ul>
						<li ng-click="setRating(null);" ng-class="{true:'active',false:''}[page.condition.score==null]">
							<a href="javascript:void(0);">All Ratings</a>
						</li>
						<li ng-click="setRating(5);" ng-class="{true:'active',false:''}[page.condition.score==5]">
							<a href="javascript:void(0);">Exceeding</a>
						</li>
						<li ng-click="setRating(3);" ng-class="{true:'active',false:''}[page.condition.score==3]">
							<a href="javascript:void(0);">Meeting</a>
						</li>
						<li ng-click="setRating(1);" ng-class="{true:'active',false:''}[page.condition.score==1]">
							<a href="javascript:void(0);">Working Towards</a>
						</li>
					</ul>
				</div>

				<div class="menu-block">
					<div class="title">NQS - Quality Areas</div>
					<div class="filter">
						<input type="text" class="form-control" ng-keyup="newsKeyup($event);" ng-model="page.condition.nqsVersion" />
					</div>
					<ul>
						<li ng-click="setNQS('');" ng-class="{true:'active',false:''}[page.condition.nqsVersion!='QA1' &&
                      page.condition.nqsVersion!='QA2' &&
                      page.condition.nqsVersion!='QA3' &&
                      page.condition.nqsVersion!='QA4' &&
                      page.condition.nqsVersion!='QA5' &&
                      page.condition.nqsVersion!='QA6' &&
                      page.condition.nqsVersion!='QA7']">
							<a href="javascript:void(0);">All</a>
						</li>
						<li ng-click="setNQS('QA1');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA1']">
							<a href="javascript:void(0);">QA1 - Educational program and practice</a>
						</li>
						<li ng-click="setNQS('QA2');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA2']">
							<a href="javascript:void(0);">QA2 - Children’s health and safety</a>
						</li>
						<li ng-click="setNQS('QA3');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA3']">
							<a href="javascript:void(0);">QA3 - Physical environment</a>
						</li>
						<li ng-click="setNQS('QA4');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA4']">
							<a href="javascript:void(0);">QA4 - Staffing arrangements</a>
						</li>
						<li ng-click="setNQS('QA5');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA5']">
							<a href="javascript:void(0);">QA5 - Relationships with children</a>
						</li>
						<li ng-click="setNQS('QA6');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA6']">
							<a href="javascript:void(0);">QA6 - Collaborative partnerships with families and communities</a>
						</li>
						<li ng-click="setNQS('QA7');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA7']">
							<a href="javascript:void(0);">QA7 - Governance and Leadership</a>
						</li>
					</ul>
				</div>

				<div class="menu-block">
					<div class="title">Time</div>
					<div class="filter">
						<input type="text" ng-model="page.condition.date" ng-keyup="newsKeyup($event);" class="form-control time-range"
						 starttime="page.condition.startDate" endtime="page.condition.endDate" ng-disabled="page.condition.time!='All Time'"
						 callback="rangeCallback" />
					</div>
					<ul>
						<li ng-click="setTime(timeSrc.key,timeSrc.value);" ng-repeat="timeSrc in page.condition.timeSource" ng-class="{true:'active',false:''}[page.condition.time==timeSrc.key]">
							<a href="javascript:void(0);">{{timeSrc.key}}</a>
						</li>
					</ul>
				</div>

				<div class="menu-block">
					<div class="title">Post Type</div>
					<ul>
						<li ng-click="setType(null);" ng-class="{true:'active',false:''}[page.condition.type==null]">
							<a href="javascript:void(0);">All Posts</a>
						</li>
						<li ng-click="setType('0;18');" ng-class="{true:'active',false:''}[page.condition.type=='0;18']">
							<a href="javascript:void(0);">Manual and Automated Posts</a>
						</li>
						<li ng-click="setType('4;5;6;8;9;10;11;20');" ng-class="{true:'active',false:''}[page.condition.type=='4;5;6;8;9;10;11;20']">
							<a href="javascript:void(0);">Individual Programming</a>
						</li>
						<li ng-click="setType('1;2;3;7;17;19');" ng-class="{true:'active',false:''}[page.condition.type=='1;2;3;7;17;19']">
							<a href="javascript:void(0);">Curriculums and Lessons </a>
						</li>
						<li ng-click="setType(12);" ng-class="{true:'active',false:''}[page.condition.type==12]">
							<a href="javascript:void(0);">Menus</a>
						</li>
						<li ng-click="setType('13;14;15;16');" ng-class="{true:'active',false:''}[page.condition.type=='13;14;15;16']">
							<a href="javascript:void(0);">Daily Registers</a>
						</li>
					</ul>
				</div>

				<div class="menu-block" ng-if="!isParent">
					<div class="title">Post Status</div>
					<ul>
						<li ng-click="setStatus(-1);" ng-class="{true:'active',false:''}[page.condition.status==-1]">
							<a href="javascript:void(0);">All Status</a>
						</li>
						<li ng-click="setStatus(1);" ng-class="{true:'active',false:''}[page.condition.status==1]">
							<a href="javascript:void(0);">Approved</a>
						</li>
						<li ng-click="setStatus(0);" ng-class="{true:'active',false:''}[page.condition.status==0]">
							<a href="javascript:void(0);">Draft</a>
						</li>
						<li ng-click="setStatus(2);" ng-class="{true:'active',false:''}[page.condition.status==2]" ng-if="isCeoRole">
							<a href="javascript:void(0);">Deleted</a>
						</li>
					</ul>
				</div>
				<div ng-init="setStatusInit(1)" ng-if="isParent"></div>

			</div>
			<div class="loading-bar bottom" style="margin-top: 15px;" ng-show="initshow">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
			</div>
			<div class="filter-bottom" ng-click='closeButton();search()'>
				Filter
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" ng-style="visibility" infinite-scroll="getNewsFeedList(true)"
			 id="newsFeedList" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
				<div class="post-wrap" functions="functions" masonry masonryobj="masonryobj">

					<!--start of post-->
					<!--Manul Post-->
					<div add-masonry masonryobj="masonryobj" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 post-each" ng-class="{true:'post-each post-draft',false:'post-each'}[obj.newsInfo.status==0]"
					 ng-repeat="obj in page.list track by $index" repeat-done="initListMasonry();">
						<!--  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 post-each post-draft"> -->
						<div class="inner">
							<div class="post-header">
								<div class="row">
									<div class="col-sm-7 col-xs-12" ng-if="obj.newsInfo.newsType|haveType:'12,13,14,15,16,18' ">
										<span class="name-full">SYSTEM </span>
									</div>
									<div class="col-sm-7 col-xs-12" ng-if="obj.newsInfo.newsType|haveType:'0,1,2,3,4,5,6,7,8,9,10,11,17,19,20' ">
										<span class="profileImage" ng-if="obj.newsInfo.avatar!=undefined && obj.newsInfo.avatar!=''">
											<img ng-src="{{obj.newsInfo.avatar}}" class="img-circle img-full">
										</span>
										<span class="name-short {{obj.newsInfo.personColor}}" ng-if="obj.newsInfo.avatar==undefined || obj.newsInfo.avatar==''">
											{{obj.newsInfo.createUserName | userNameUpperCase}} </span>
										<span class="name-full"> {{obj.newsInfo.createUserName}} </span>

										<div class="dropdown dropdown-post-status" ng-if="obj.newsInfo.newsType==0">
											<button class="btn btn-default dropdown-toggle" ng-init="obj.groupName=(obj.groupName)" type="button" id="dropdownPostStatus"
											 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fa fa-caret-right" aria-hidden="true"></i>
												<span class="status-text" ng-if="obj.groupName.length>0 && obj.groupName.length<=1">{{obj.groupName[0]}}</span>
												<span class="status-text" ng-if="obj.groupName.length==2">{{obj.groupName[0]}}, {{obj.groupName[1]}}</span>
												<span class="status-text" ng-if="obj.groupName.length>2">{{obj.groupName[0]}}, {{obj.groupName[1]}}...</span>
												<span class="status-text" ng-if="obj.groupName.length==0">Visibility</span>
												<i class="fa fa-globe" aria-hidden="true"></i>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownPostStatus">
												<li ng-repeat="group in obj.groupName | orderBy:'+' track by $index">{{group}}</li>
											</ul>
										</div>
									</div>
									<div class="col-sm-5 col-xs-12 post-header-right">
										<span class="date"> {{obj.newsInfo.status==0? obj.newsInfo.updateTime:obj.newsInfo.approveTime | date:'dd MMM
											yyyy'}} </span>
										<div class="dropdown dropdown-post-setting pull-right">
											<button class="btn btn-default dropdown-toggle" type="button" id="dropdownSetting" data-toggle="dropdown"
											 aria-haspopup="true" aria-expanded="true">
												<span class="glyphicon glyphicon-option-vertical"></span>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownSetting">
												<li>
													<a style="cursor: pointer" ng-if="obj.newsInfo.deleteFlag==0 && obj.newsInfo.status==1 && ((currentUser.roleInfoVoList | haveRole:'0') || ((functions | haveFunction:'news_unapprove') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId)) && !(obj.newsInfo.newsType|haveType:'12,13,14,15,16,18')"
													 ng-click="unApproveNewsFeed(obj.newsInfo.id);">Revert to draft</a> <a style="cursor: pointer" ng-if="obj.newsInfo.deleteFlag==0 && obj.newsInfo.status==0 && ((currentUser.roleInfoVoList | haveRole:0) || ((functions | haveFunction:'news_approve') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId)) && !(obj.newsInfo.newsType|haveType:'12,13,14,15,16,18')"
													 ng-click="approvalNewsFeed(obj.newsInfo.id);" ng-if="obj.newsInfo.deleteFlag==0">Approve</a>
												</li>
												<li>
													<a style="cursor: pointer" ng-if="obj.newsInfo.deleteFlag==0 && ((currentUser.roleInfoVoList | haveRole:'0') || ((currentUser.roleInfoVoList | haveRole:'1;3;5') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId) || ((currentUser.accountInfo.id==obj.newsInfo.createAccountId) && obj.newsInfo.status==0)) "
													 class="edit" data-backdrop="static" data-toggle="modal" ng-click="getEditNewsInfo(obj.newsInfo.id);"
													 data-target="#edit-post-modal" ng-if="obj.newsInfo.deleteFlag==0">Edit</a>
												</li>
												<li>
													<a style="cursor: pointer" ng-if="obj.newsInfo.deleteFlag==0 && ((currentUser.roleInfoVoList | haveRole:'0') || ((currentUser.roleInfoVoList | haveRole:'1;5') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId) || ((currentUser.accountInfo.id==obj.newsInfo.createAccountId) && obj.newsInfo.status==0))"
													 class="edit" data-toggle="modal" data-backdrop="static" ng-click="openDeleteNews(obj.newsInfo.id);"
													 data-target="#delete-modal">Delete</a>
												</li>
												<li>
													<a href="news/pdf.do?id={{obj.newsInfo.id}}">Download as PDF</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
							<!--.post-header-->
							<div class="post-image" ng-if="obj.fileVoList.length>0 && obj.newsInfo.newsType!=18">
								<!-- post-image bg-only orange -->
								<img class="img-full" imagecomplete ng-if="obj.fileVoList.length==1" masonryobj="masonryobj" ng-src="{{obj.fileVoList[0].visitedUrl}}" />
								<flex-slider ng-if="obj.fileVoList.length>1" flex-slide="image in obj.fileVoList track by image.relativePathName"
								 animation="slide">
									<li>
										<img imagecomplete masonryobj="masonryobj" ng-src="{{image.visitedUrl}}" />
									</li>
								</flex-slider>
							</div>
							<div class="post-image" ng-if="obj.newsInfo.newsType==18">
								<!-- post-image bg-only orange -->
								<img class="img-full" imagecomplete masonryobj="masonryobj" ng-src="resources/images/happy_birthday.png" />
							</div>
							<div class="post-body">
								<div class="child-profile" ng-if="obj.tagAccounts.length>0">
									<span class="profileImage" ng-if="obj.tagAccounts[0].avatar!=undefined && obj.tagAccounts[0].avatar!=''">
										<img imagecomplete masonryobj="masonryobj" ng-src="{{obj.tagAccounts[0].avatar}}" class="img-circle img-full" />
									</span>
									<span class="name-short  {{obj.tagAccounts[0].personColor}}" ng-if="obj.tagAccounts[0].avatar==undefined || obj.tagAccounts[0].avatar==''">
										{{(obj.tagAccounts[0].firstName+" "+obj.tagAccounts[0].lastName) | userNameUpperCase}} </span>
									<span class="child-name"> {{obj.tagAccounts[0].firstName}} {{obj.tagAccounts[0].middleName}}
										{{obj.tagAccounts[0].lastName}} </span>
								</div>
								<article class="post-article">
									<div class="post-excerpt">
										<p style="margin: 0px 0px 0px 0px;" contentlength="obj.content" load-html="{{obj.content.substring(0,550)}}"></p>

										<a ng-show="obj.content.length>=550" href="javascript:void(0);" class="post-more">...more</a>

									</div>
									<div class="post-full-content">
										<p style="margin: 0px 0px 0px 0px;" contentlength="obj.content" load-html="{{obj.content}}"></p>
										<a href="javascript:void(0);" class="post-less">...less</a>
									</div>
								</article>

								<div class="post-elements">

									<div class="keyword-list tag-list">
										<a style="cursor: default; font-family:AvenirLTStd-Black;font-size: 15px;" class="title category">{{obj.newsInfo.newsType
											| newsFeedType}}</a>
										<a style="cursor: default" class="title category" ng-if="obj.newsInfo.newsType==12">{{obj.centersName}}</a>
										<a style="cursor: default" class="title category" ng-if="obj.newsInfo.newsType==12">{{obj.roomName}}</a>
										<a style="cursor: default;font-size: 15px;" class="title category" ng-if="obj.newsInfo.newsType==12">{{obj.newsInfo.createTime
											| date:'dd MMM yyyy'}} </a>
										<!-- update by gfwang ( track by $index)-->
										<a style="cursor: default;font-size: 15px;" ng-if="obj.newsInfo.newsTag" ng-repeat="tag in obj.newsInfo.newsTag.trim().split(';') track by $index">{{tag}}</a>
									</div>
									<div style="color: #009ddb;font-size: 15px;" ng-if="obj.centersName!=null">{{obj.centersName}}
										{{obj.roomName}}</div>
									<div class="nqs-list tag-list" ng-if="obj.nqsVoList.length>0">
										<a style="cursor: default;font-size: 15px;" class="title category" ng-if="!(obj.newsInfo.newsType|haveType:'4,5,6,8,9,10,11,13,14,15,16,18,20') ">NQS</a>
										<a style="cursor: default" tooltip class="{{nqs.version|nqsTipFilter:nqs.tag}}" data-toggle="tooltip" title="{{nqs.content}}"
										 ng-repeat="nqs in obj.nqsVoList | orderBy:'version'">{{nqs.version}}</a>
									</div>
									<div class="eylf-list tag-list" ng-if="obj.yelfList.length>0">
										<a style="cursor: default;font-size: 15px;" class="title category">EYLF</a> <a style="cursor: default"
										 tooltip data-toggle="tooltip" title="{{eylf.content}}" ng-repeat="eylf in obj.yelfList | orderBy:'version'">{{eylf.version}}</a>
									</div>

									<div class="tags-children-list tag-list">
										<a style="cursor: default;font-size: 15px;" ng-repeat="account in obj.accounts"> {{account.firstName}}
											{{account.middleName}} {{account.lastName}}</a>
									</div>

									<a name="popoverScore" role="button" ng-if="obj.newsInfo.status==1 && ((currentUser.roleInfoVoList | haveRole:'0') || ((functions | haveFunction:'news_score') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId))"
									 class="customPopover"> <img ng-src="resources/library/images/icon-face/{{obj.newsInfo.score | newsFeedRating}}.png"
										 ng-click="openScoreNews(obj.newsInfo.id);" uib-popover-template="'myPopoverTemplate.html'" popover-placement="left"
										 popover-is-open="obj.newsInfo.isopen" class="img-responsive" />
									</a> <a style="cursor: auto;" role="button" ng-if="!isParent && !(obj.newsInfo.status==1 && ((currentUser.roleInfoVoList | haveRole:'0') || ((functions | haveFunction:'news_score') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId)))"
									 class="customPopover"> <img ng-src="resources/library/images/icon-face/{{obj.newsInfo.score | newsFeedRating}}.png"
										 class="img-responsive" />
									</a>

								</div>

								<div class="approval-info" ng-if="obj.newsInfo.status!=0 && (currentUser.roleInfoVoList | haveRole:'0')">Approved
									by
									{{obj.newsInfo.approveUserName==""?'system':obj.newsInfo.approveUserName}} at {{obj.newsInfo.approveTime |
									commotDate:'hh:mm A DD MMM YYYY'}}</div>
								<div ng-if="obj.newsInfo.deleteFlag==1 && (currentUser.roleInfoVoList | haveRole:'0')" class="delete-info">Deleted
									by {{obj.newsInfo.updateUserName}} at {{obj.newsInfo.updateTime |
									commotDate:'hh:mm A DD MMM YYYY'}}</div>
							</div>
							<!--.post-body-->
							<div class="post-footer" ng-show="(obj.newsInfo.status==1 && !obj.newsInfo.deleteFlag) || obj.commentList.length>0">
								<div class="post-footer-inner">

									<div class="comment-wrap comment-display" ng-repeat="comment in obj.commentList">
										<div class="name-container">
											<span class="profileImage" ng-if="comment.avatar!=undefined && comment.avatar!=''">
												<img ng-src="{{comment.avatar}}" class="img-circle img-full">
											</span>
											<span class="name-short {{comment.personColor}}" ng-if="comment.avatar==undefined || comment.avatar==''">
												{{comment.commentUserName | userNameUpperCase}} </span>
										</div>

										<div class="message-container">
											<span class="name-full">{{comment.commentUserName}}</span>
											<span class="comment-time"> {{comment.updateTime | newsFeedCommentDate}}</span>
											<div class="form-control-static message-current">{{comment.content}}</div>
											<input ng-keyup="enterSave($event,comment.id,obj.newsInfo.id);" type="text" id="{{comment.id}}" value="{{comment.content}}"
											 class="form-control message-editing hidden" placeholder="Add a comment" />
										</div>


										<div class="comment-actions">
											<a href="" class="comment-edit" ng-if="currentUser.accountInfo.id==comment.commentAccountId && obj.newsInfo.status==1 && !obj.newsInfo.deleteFlag">Edit</a>
											<a href="" class="comment-delete" ng-if="!obj.newsInfo.deleteFlag && obj.newsInfo.status==1 && (currentUser.accountInfo.id==comment.commentAccountId || currentUser.accountInfo.id==obj.newsInfo.createAccountId || (currentUser.roleInfoVoList | haveRole:'0') || ((currentUser.roleInfoVoList | haveRole:'1;5') &&  currentUser.userInfo.centersId==obj.newsInfo.centersId))"
											 ng-click="deleteComment(comment.id,obj.newsInfo.id);">Delete</a>
										</div>
										<div class="comment-sent hidden">
											<button class="btn btn-general btn-sm" ng-click="updateComment(comment.id,obj.newsInfo.id);">Save</button>
											<button class="btn btn-default btn-sm comment-cancel">Cancel</button>
										</div>
									</div>
									<!--.comment-wrap-->
									<div class="comment-wrap" ng-show="obj.newsInfo.status==1 && !obj.newsInfo.deleteFlag">
										<div class="name-container">
											<span class="profileImage" ng-if="currentUser.userInfo.avatar!=undefined && currentUser.userInfo.avatar!=''">
												<img ng-src="{{currentUser.userInfo.avatar}}" class="img-circle img-full">
											</span>
											<span class="name-short {{currentUser.userInfo.personColor}}" ng-if="currentUser.userInfo.avatar==undefined || currentUser.userInfo.avatar==''">
												{{(currentUser.userInfo.firstName+" "+currentUser.userInfo.lastName) | userNameUpperCase}} </span>
										</div>
										<div class="input-container">
											<input ng-keyup="enterSend($event,obj.newsInfo.id);" ng-model="addAComment" id="{{obj.newsInfo.id}}" type="text"
											 class="form-control" placeholder="Add a comment" />
										</div>
										<div class="comment-sent">
											<button ng-class="{'defaultCursor' : !addAComment}" class="btn-icon" ng-click="sendComment(obj.newsInfo.id);">
												<i class="fa fa-paper-plane"></i>
											</button>
										</div>
									</div>
									<!--.comment-wrap-->

								</div>

							</div>
							<!--.post-footer-->
						</div>
					</div>
					<!--.post-each-->
					<!--End of post-->
				</div>
				<div class="loading-bar bottom" ng-show="busy">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				</div>

			</div>
			<!--.content-area-->

		</div>
	</div>


	<script type="text/ng-template" id="myPopoverTemplate.html">
        <span class="rating"><img src="resources/library/images/icon-face/1.png" ng-click="scoreNewsFeed(5);" class="img-responsive"></span>
         
          <span class="rating"><img src="resources/library/images/icon-face/2.png" ng-click="scoreNewsFeed(3);" class="img-responsive"></span>
          
          <span class="rating"><img src="resources/library/images/icon-face/3.png" ng-click="scoreNewsFeed(1);" class="img-responsive"></span>  
    </script>

	<!--Privacy Modal-->
	<div class="modal fade" id="privacy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 1045;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" aria-label="Close" ng-click="closePrivacyModal();">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Change privacy setting</h4>
				</div>
				<div class="modal-body">
					<div class="function privacy">
						<select select2 ng-model="newsInfo.groupName" ng-options="o.id as o.text for o in newsInfo.groupNameSource" class="form-control privacy-select"
						 multiple="multiple" style="width: 100%;">
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-general" data-dismiss="modal" aria-label="Close">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<!--Edit Modal-->
	<div class="modal fade" id="edit-post-modal" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel" style="z-index: 1045">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-backdrop="static" data-toggle="modal" ng-click="openCloseModal('edit-post-modal');"
					 data-target="#close-modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Create New Post</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Content</label>
						<div summernote init-value="initContentValue" placeholder="Create a Post…" ng-model="editNewsInfo.content" id="newsContent"></div>
					</div>
					<!-- 菜单不可tag小孩 gfwang -->
					<div class="function tagChild" ng-if="editNewsInfo.newsInfo.newsType|haveType:'0,1,2,3,7' ">
						<label class="control-label">Tag Children or Staff</label>
						<select init-select="initEditSelect" class="form-control" select2-model="editNewsInfo.selectAccounts" select-ajax
						 ng-model="editNewsInfo.accounts" id="childTaggedPopup" url="common/get.user.do?type=0" multiple="multiple" style="width: 100%;">

						</select>
					</div>
					<duv class="function imageUpload" ng-if="!(editNewsInfo.newsInfo.newsType|haveType:'13,14,15,16,17,18,19')">
						<label class="control-label">Image Upload</label>
						<div class="full-width">
							<div class="thumb uploaded" ng-repeat="img in editNewsInfo.fileVoList">
								<img ng-src="{{img.visitedUrl}}" />
								<a class="image-delete" ng-click="removeFile(img.relativePathName,editNewsInfo);" href="javascript:void(0);">
									<i class="fa fa-times"></i></a>
							</div>
							<div class="thumb non-upload" ng-repeat="img in noEditFileVoList"></div>
						</div>
						<button type="button" ngf-multiple="true" ngf-select="upload($files,editNewsInfo)" class="btn btn-general pull-left">
							<i class="material-icons">camera_alt</i>
							Click to attach images
						</button>
					</duv>
					<div class="nqs-list  tag-list" ng-if="editNewsInfo.newsInfo.newsType|haveType:'0,1,2,3,7,17,19'">
						<a class="{{nqs.version|nqsTipFilter:nqs.tag}}" ng-repeat="nqs in editNewsInfo.nqsVoList | orderBy:'version'"
						 href="javascript:void(0);" tooltip data-toggle="tooltip" title="{{nqs.content}}">{{nqs.version}}</a>
					</div>
					<!-- 菜单的不可新增NQS gfwang-->
					<div class="function nqs" ng-if="editNewsInfo.newsInfo.newsType|haveType:'0,1,2,3,7,17,19'">
						<button type="button" ng-click="openNqs(editNewsInfo.nqsVoList,saveNqsResultEdit,editNewsInfo.newsInfo.createTime);"
						 class="btn btn-general pull-left" data-toggle="modal" data-target="#nqs-modal">
							<i class="material-icons">more</i>
							Attach NQS
						</button>
					</div>
					<!-- 菜单的不可编辑分组 只有手动创建的newsfeed可以更改 gfwang-->
					<div class="function privacy" ng-if="editNewsInfo.newsInfo.newsType==0">
						<label class="control-label">Set Visibility</label>
						<select select2 ng-model="editNewsInfo.groupName" select2-model="editGroupSource" class="form-control privacy-select"
						 multiple="multiple" style="width: 100%;"></select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-backdrop="static" data-toggle="modal" ng-click="openCloseModal('edit-post-modal');"
					 data-target="#close-modal">Close</button>
					<button type="button" class="btn btn-general" ng-click="saveNewsFeedEdit();">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!--Edit Modal-->

	<!--Delete Modal-->
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<!--  <h4 class="modal-title">Delete</h4>  -->
				</div>
				<div class="modal-body">
					<h4>Are you sure you want to delete this post?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-general" ng-click="deleteNews(deleteNewsId)">Delete</button>
					<button type="button" class="btn btn-light" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<!--Delete Modal-->

	<!--Close Modal-->
	<div class="modal fade" id="close-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Close</h4>
				</div>
				<div class="modal-body" style="text-align: center;">
					<h4>Exit this page?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-general" data-dismiss="modal" ng-click="closeModal();">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
				</div>
			</div>
		</div>
	</div>
	<!--Close Modal-->
</div>