<table style="width: 500px;">
	<tr>
		<th>CHOOSE A SERVICE</th>
	</tr>
	${centerStr}
	<tr>
		<th>PARENT / GUARDIAN DETAILS 1</th>
	</tr>
	<tr>
		<td><strong>First Name:</strong>${firstName1}</td>
	</tr>
	<tr>
		<td><strong>Last Name:</strong>${lastName1}</td>
	</tr>
	<tr>
		<td><strong>Relationship to child:</strong>${relationship1}</td>
	</tr>
	<tr>
		<td><strong>Street Address:</strong>${address1}</td>
	</tr>
	<tr>
		<td><strong>Suburb:</strong>${suburb1}</td>
	</tr>
	<tr>
		<td><strong>Postcode:</strong>${postcode1}</td>
	</tr>
	<tr>
		<td><strong>Home Phone:</strong>${homephone1}</td>
	</tr>
	<tr>
		<td><strong>Work Phone:</strong>${workPhone1}</td>
	</tr>
	<tr>
		<td><strong>Mobile:</strong>${mobile1}</td>
	</tr>
	<tr>
		<td><strong>Email Address:</strong>${email1}</td>
	</tr>
	<tr>
		<th>PARENT / GUARDIAN DETAILS 2</th>
	</tr>
	<tr>
		<td><strong>First Name:</strong>${firstName2}</td>
	</tr>
	<tr>
		<td><strong>Last Name:</strong>${lastName2}</td>
	</tr>
	<tr>
		<td><strong>Relationship to child:</strong>${relationship2}</td>
	</tr>
	<tr>
		<td><strong>Street Address:</strong>${address2}</td>
	</tr>
	<tr>
		<td><strong>Suburb:</strong>${suburb2}</td>
	</tr>
	<tr>
		<td><strong>Postcode:</strong>${postcode2}</td>
	</tr>
	<tr>
		<td><strong>Home Phone:</strong>${homephone2}</td>
	</tr>
	<tr>
		<td><strong>Work Phone:</strong>${workPhone2}</td>
	</tr>
	<tr>
		<td><strong>Mobile:</strong>${mobile2}</td>
	</tr>
	<tr>
		<td><strong>Email Address:</strong>${email2}</td>
	</tr>
	<tr>
		<th>CHILD DETAILS</th>
	</tr>
	<tr>
		<td><strong>First Name:</strong>${firstName}</td>
	</tr>
	<tr>
		<td><strong>Last Name:</strong>${lastName}</td>
	</tr>
	<tr>
		<td><strong>Gender:</strong>${gender}</td>
	</tr>
	<tr>
		<td><strong>Date of Birth:</strong>${birth}</td>
	</tr>
	<tr>
		<td><strong>Nationality:</strong>${nationality}</td>
	</tr>
	<tr>
		<td><strong>Language Spoken:</strong>${language}</td>
	</tr>
	<tr>
		<td><strong>Religion:</strong>${religion}</td>
	</tr>
	<tr>
		<th>HAS YOUR CHILD BEEN IMMUNISED?</th>
	</tr>
	<tr>
		<td>${immunised}</td>
	</tr>
	<tr>
		<th>HAS YOUR CHILD BEEN DIAGNOSED OR AT RISK OF ANAPHYLAXIS?</th>
	</tr>
	<tr>
		<td>${anaphy}</td>
	</tr>
	<tr>
		<th>DOES YOUR CHILD HAVE ANY LEARNING DIFFICULTIES?</th>
	</tr>
	<tr>
		<td>${diff}</td>
	</tr>
	<tr>
		<th>DOES YOUR CHILD HAVE ANY MEDICAL CONDITIONS?</th>
	</tr>
	<tr>
		<td>${medical}</td>
	</tr>
	<tr>
		<th>DOES YOUR CHILD HAVE ANY DIETARY REQUIREMENTS?</th>
	</tr>
	<tr>
		<td>${requir}</td>
	</tr>
	<tr>
		<th>DOES YOUR CHILD HAVE ANY ALLERGIES EG. FOOD, MEDICATION, ANIMALS, INSECTS?</th>
	</tr>
	<tr>
		<td>${aller}</td>
	</tr>
	<tr>
		<th>DAYS REQUESTED (A MINIMUM OF 2 DAYS IS REQUIRED)</th>
	</tr>
	<tr>
		<td>${reques}</td>
	</tr>
	<tr>
		<th>REQUESTED DATE TO START</th>
	</tr>
	<tr>
		<td>${dateStart}</td>
	</tr>
	<tr>
		<th>DO YOU HAVE ANY FURTHER INFORMATION REGARDING THIS APPLICATION?</th>
	</tr>
	<tr>
		<td>${information}</td>
	</tr>
	<tr>
		<th>LASTLY, HOW DID YOU HEAR ABOUT US?</th>
	</tr>
	<tr>
		<td>${aboutUs}</td>
	</tr>

</table>