<!--Explore & Grow-->
<!-- <div class="modal fade modal-grey task-popup modal-align-top"
  id="program-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div class="modal-header" ng-init="initExpAndGrow()">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    <span ng-if="page.type == 0">Explore Curriculum</span> <span ng-if="page.type == 1">Grow Curriculum</span> <span
      ng-if="page.type == 3">School Readiness</span>
    <div class="task-basic-info">
      <span>{{condition.centerName}}</span><span>{{condition.roomName}}</span><span>{{condition.todayDate
        | date : 'dd/MM/yyyy'}}</span>
    </div>
  </h4>
</div>
<div class="modal-body" id="ExChangeSet">
  <div class="dropdown right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a ng-click="updateInfo()" style="cursor: pointer;">Update</a></li>
      <!--  <li><a ng-click="delInfo()">Delete</a></li> -->
      <li ng-hide="page.surpassListFlag"><a ng-click="shareNewfeed()" data-toggle="modal" data-target="#post-newsfeed"
          style="cursor: pointer;">Save and Push to Newsfeed</a></li>
      <li ng-if="(functions | haveFunction:'task_obsoleteTask')"><a ng-click="obsolete()" style="cursor: pointer;">Obsolete</a></li>
    </ul>
  </div>
  <div class="form-horizontal task-form">
    <div class="form-group" ng-hide="page.type ==3">
      <label class="col-md-3 control-label">Category</label>
      <div class="col-md-9">
        <span class="form-control" ng-if="page.type ==0">Explore
          Curriculum</span> <span class="form-control" ng-if="page.type ==1">Grow
          Curriculum</span>
        <!-- <select class="form-control" ng-model="page.type"
          ng-options="t.id as t.name for t in templates">
          <option value='0' >Explore Curriculum</option>
          <option value='1'>Grow Curriculum</option>
        </select> -->
      </div>
    </div>
    <div class="form-group" ng-hide="page.type ==3">
      <label class="col-md-3 control-label">Activities</label>
      <div class="col-md-9">
        <div class="function activity-list">
          <!--.activity-item-->
          <div class="activity-item" ng-repeat="(actIndex,act) in pageInfo.data.actList">
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="Search for..."> -->
              <input type="text" maxlength="100" ng-disabled='!act.operation' class="form-control input-sm" ng-model='act.name'>
              <span class="input-group-btn" ng-show='act.operation'>
                <button class="btn btn-default btn-sm" type="button" ng-click="delAct(actIndex)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <!--.activity-item-->
          <button class="btn btn-general" ng-click="addAct()">Add
            Activity</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Tag Children</label>
      <div class="col-md-9">
        <div class="function">
          <select class="form-control privacy-select" ng-model="tagAccountIds" select2-model="chooseOrgs" multiple="multiple"
            ng-options="emp.id as emp.text for emp in selecterPos" style=" width: 100%;" select-ajax2 url="common/get.user.do?type=4">
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">EYLF Reflection</label>
      <div class="col-md-9">
        <textarea class="form-control" maxlength="6000" rows="10" ng-model="pageInfo.data.programTaskExgrscInfo.reflection"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Upload Photos</label>
      <div class="col-md-9" id="exploreCreat">
        <duv class="function imageUpload">
          <div class="thumb uploaded" ng-repeat="img in newsInfo.fileVoList">
            <img ng-src="{{img.visitedUrl}}" /> <a class="image-delete" ng-click="removeFile(img.relativePathName,newsInfo);"
              href="javascript:void(0);"> <i class="fa fa-times"></i></a>
          </div>
          <div class="thumb non-upload" ng-repeat="img in noFileVoList">
          </div>
        </duv>
        <button ngf-multiple="true" ngf-select="upload($files,newsInfo)" class="btn btn-general pull-left margin-top-cus-10 toggleImageUpload">
          <i class="material-icons">camera_alt</i> Click to attach
          images
        </button>
        <!-- </div> -->
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">NQS</label>
      <div class="col-md-9">
        <div class="nqs-list tag-list">
          <a tooltip data-toggle="tooltip" ng-repeat="nqs in nqsVoList" class="{{nqs.version|nqsTipFilter:nqs.tag}}"
            title="{{nqs.content}}">{{nqs.version}}</a>
        </div>
        <button ng-click="openNqs(nqsVoList,saveNqsResult);" type="button" class="btn btn-general pull-left"
          data-toggle="modal" data-target="#nqs-modal">
          <i class="material-icons">more</i> Attach NQS
        </button>
      </div>
    </div>
    <h4 class="task-divide-title">Follow Ups for Today</h4>
    <div class="form-group">
      <label class="col-md-3 control-label">Interest on</label>
      <div class="col-md-9">
        <div class="tag-list activity-list">
          <div ng-repeat="int in pageInfo.data.intList" style="display: inline-block;">
            <a href="javascript:void(0);" ng-hide="int.followup" ng-click="interestFuc(4,int.activityId,int.temp1)"
              data-toggle="modal" data-target="#interest-modal">{{int.fullName}}<span>'s
                interest</span></a> <a href="javascript:void(0);" ng-show="int.followup" ng-click="interestFuc(5,int.activityId,int.temp1)"
              data-toggle="modal" data-target="#interest-modal">{{int.fullName}}<span>'s
                interest follow up</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Observation on</label>
      <div class="col-md-9">
        <div class="tag-list activity-list">
          <div ng-repeat="obs in pageInfo.data.obsList" style="display: inline-block;">
            <a href="javascript:void(0);" ng-hide="obs.followup" ng-click="interestFuc(6,obs.activityId,obs.temp1)"
              data-toggle="modal" data-target="#observation-modal">{{obs.fullName}}<span>'s
                observation</span></a> <a href="javascript:void(0);" ng-show="obs.followup" ng-click="interestFuc(7,obs.activityId,obs.temp1)"
              data-toggle="modal" data-target="#observation-modal">{{obs.fullName}}<span>'s
                observation follow up</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Learning Story on</label>
      <div class="col-md-9">
        <div class="tag-list activity-list">
          <div ng-repeat="lea in pageInfo.data.leaList" style="display: inline-block;">
            <a href="javascript:void(0);" ng-hide="lea.followup" ng-click="interestFuc(8,lea.activityId,lea.temp1)"
              data-toggle="modal" data-target="#learning-story-modal">{{lea.fullName}}<span>'s
                learning stroy</span></a> <a href="javascript:void(0);" ng-show="lea.followup" ng-click="interestFuc(9,lea.activityId,lea.temp1)"
              data-toggle="modal" data-target="#learning-story-modal">{{lea.fullName}}<span>'s
                learning stroy follow up</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--     </div>
  </div>
</div> -->