<div if='myForm'>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">{{title}}</h4>
	</div>
	<div class="modal-body" style="text-align: center;">
		<h4 load-html-common html="{{content}}"></h4>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click='obsolete()' class="btn btn-general" ng-if="(functions | haveFunction:'task_obsoleteTask')" data-dismiss="modal">Obsolete</button>
		<button ng-click='submit()' ng-if='!isAfterToday' class="btn btn-general">Complete</button>
	</div>
</div>