<!--Interest Follow Up-->
<!-- <div class="modal fade modal-grey task-popup modal-align-top"
  id="interest-follow-up-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div class="modal-header" ng-init="initInterestFollowUp()">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    <span ng-show="condition.type == 5">Interest</span> <span
      ng-show="condition.type == 7">Observation</span> <span
      ng-show="condition.type == 9">Learning Story</span> Follow up
    <div class="task-basic-info">
      <span>{{nameInfo.centerName}}</span><span>{{nameInfo.roomName}}</span><span>{{nameInfo.todayDate | date : 'dd/MM/yyyy'}}</span>
    </div>
  </h4>
</div>
<div class="modal-body" id="followChangeSet">
  <div class="dropdown right"  ng-if='!isAfterToday'>
    <button class="btn btn-default dropdown-toggle" type="button"
      id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="true">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a ng-click="updateInfo()" style="cursor:pointer;">Update</a></li>
      <!-- <li><a href="">Delete</a></li> -->
      <li ng-hide="condition.surpassListFlag"><a ng-click="shareNewfeed(condition.type)" style="cursor:pointer;"> Save and Push to Newsfeed</a></li>
      <li ng-if="(functions | haveFunction:'task_obsoleteTask')"><a ng-click="obsolete(page.intobsleaInfo.type)" style="cursor: pointer;">Obsolete</a></li>
    </ul>
  </div>
  <div class="form-horizontal task-form">
    <div class="avatar-wrap text-center">
      <span ng-if=" page.child.avatar == null"
        class="name-short {{page.child.personColor}}">{{page.child.fullName |
        userNameUpperCase}}</span> <span ng-if="page.child.avatar != null"
        class="profileImage"> <img ng-src="{{page.child.avatar}}"
        class="img-circle img-full">
      </span> <span class="name-full">{{page.child.fullName}}</span>
    </div>
    <div class="form-group">
      <span class="col-md-12 control-label" style="text-align:right;">
      	<a href="javascript:void(0)" ng-click="openIntObsLeaModal(page.intobsleaInfo.type,page.intobsleaInfo.id,page.intobsleaInfo.temp1)">
        <span ng-show="condition.type == 5">Interest </span> 
       	<span ng-show="condition.type == 7">Observation </span> 
        <span ng-show="condition.type == 9">Learning Story </span> was created on {{page.intobsleaInfo.day}}
        </a>
      </span>
      <!-- <div class="col-md-9">
        <input type="text" class="form-control"
          ng-model="page.intobsleaInfo.evaluationDate" disabled>
      </div> -->
    </div>
    <div class="form-group" ng-show="condition.type == 5">
      <label class="col-md-3 control-label">Interest Name</label>
      <div class="col-md-9">
        <input type="text" class="form-control"
          ng-model="page.intobsleaInfo.observation" disabled>
      </div>
    </div>
    <div class="form-group" ng-show="condition.type == 5">
      <label class="col-md-3 control-label">How Interest Evolved</label>
      <div class="col-md-9">
        <input type="text" class="form-control"
          ng-model="page.intobsleaInfo.learning" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Educator's Planned
        Experience</label>
      <div class="col-md-9">
        <taginput id="tags"
          ng-model="page.intobsleaInfo.educatorExperience"
          inter-info='false' ></taginput>
        <!-- <input type="text" class="form-control"
          ng-model="page.intobsleaInfo.educatorExperience" disabled> -->
      </div>
    </div>
    <div class="form-group"
      ng-show="condition.type == 7 || condition.type == 9">
      <label class="col-md-3 control-label">Objective</label>
      <div class="col-md-9">
        <input type="text" class="form-control"
          ng-model="page.intobsleaInfo.objective" disabled>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"> <span
        ng-show="condition.type == 5">Observation of Interest
          Follow up</span> <span
        ng-show="condition.type == 7 || condition.type == 9">Follow
          up Evaluation</span>
      </label>
      <div class="col-md-9">
        <textarea class="form-control" ng-disabled='isAfterToday' rows="10"  maxlength="2000" 
          ng-model="page.followUpInfo.observation"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Upload Photo</label>
      <div class="col-md-9" id="followUpImage">
        <duv class="function imageUpload">
        <div class="full-width">
          <div class="thumb uploaded"
            ng-repeat="img in newsInfo.fileVoList">
            <img ng-src="{{img.visitedUrl}}" /> <a class="image-delete"
              ng-click="removeFile(img.relativePathName,newsInfo);"
              href="javascript:void(0);"> <i class="fa fa-times"></i></a>
          </div>
          <div class="thumb non-upload" ng-repeat="img in noFileVoList">
          </div>
        </div>
        </duv>
        <button ngf-multiple="true" ng-if='!isAfterToday' ngf-select="upload($files,newsInfo)"
          class="btn btn-general pull-left margin-top-cus-10 toggleImageUpload">
          <i class="material-icons">camera_alt</i> Click to attach
          images
        </button>
      </div>
    </div>
    <div class="eylf-outcome">
      <h4 class="task-divide-title">EYLF Outcomes</h4>
      <div class="panel-group" id="eylf-outcome-interest" role="tablist"
        aria-multiselectable="true">
        <div class="panel panel-default"
          ng-repeat="(eylfIndex,eylf) in page.eylfList">
          <div class="panel-heading" role="tab" id="interest-header-1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse"
                data-parent="#eylf-outcome-interest"
                data-target="#eylf-interest-{{eylfIndex}}"
                aria-expanded="true" aria-controls="eylf-interest-1">
                {{eylf.version}}. {{eylf.content}} </a>
            </h4>
          </div>
          <div id="eylf-interest-{{eylfIndex}}"
            class=" eylf-interest-1 panel-collapse collapse"
            role="tabpanel" aria-labelledby="interest-header-1">
            <div class="panel-body">
              <div class="eylf-checklist"
                ng-repeat="item in eylf.eylfCilckList">
                <div class="checkbox">
                  <label> <input type="checkbox"
                    ng-model="item.checkFlag"><span class="cr"><i
                      class="cr-icon fa fa-check"></i></span> <span
                    class="label-general">{{item.version}}</span>
                    {{item.content}}
                  </label>
                </div>
              </div>
              <!--.eylf-checklist-->
              <hr>
              <form id="eylfCheck" >
	              <div class="eylf-outcome-detail">
	                <div class="outcome-block" 
	                  ng-repeat="obj in eylf.eylfCheckList" repeat-done="validate()">
	                  <div class="form-group eylf-assessment">
	                    <div class="col-md-3">
	                      <select class="form-control eylf-select input-sm"
	                        show-reason ng-model="obj.value"
	                        ng-options="t.id as t.name for t in templates">
	                      </select>
	                    </div>
	                    <label class="col-md-9 control-label text-left">
	                      {{obj.content}} </label>
	                  </div>
	                  <div class="form-group not-assessed-reason hidden">
	                    <label class="col-md-3 control-label">
	                      Reason </label>
	                    <div class="col-md-9">
	                      <textarea name ="reason"   class="form-control" rows="10" maxlength="500"
	                        ng-model="obj.reason"></textarea>
	                    </div>
	                  </div>
	                </div>
	              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--     </div>
  </div>
</div> -->