<!--Interest-->
<!-- <div class="modal fade modal-grey task-popup" id="interest-modal"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div class="modal-header" ng-init="initInterest()">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">
    <span ng-show="page.type == 4">Interest</span> <span
      ng-show="page.type == 6">Observation</span> <span
      ng-show="page.type == 8">Learning Story</span>
    <div class="task-basic-info">
      <span>{{nameInfo.centerName}}</span><span>{{nameInfo.roomName}}</span><span>{{nameInfo.todayDate
        | date : 'dd/MM/yyyy'}}</span>
    </div>
  </h4>
</div>
<div class="modal-body" id="InterChangeSet">
  <form class="form-horizontal" id="editInterestForm"
    style="float: none;" edit-interest-form>
    <div class="dropdown right" ng-hide="surpassListFlag">
      <button class="btn btn-default dropdown-toggle" type="button"
        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a ng-click="updateInfo()" style="cursor: pointer;">Update</a></li>
         <button class='hide' ng-click="updateInfo()"></button>
        <li ng-if="page.id!=null&&page.id!=''"><a ng-click="delInfo()" style="cursor: pointer;">Delete</a></li>
        <li ><a ng-click="shareNewfeed()"
          data-toggle="modal" data-target="#post-newsfeed"
          style="cursor: pointer;">Save and Push to Newsfeed</a></li>
        <li ng-if="(functions | haveFunction:'task_obsoleteTask')"><a ng-click="obsolete(page.type)" style="cursor: pointer;">Obsolete</a></li>
      </ul>
    </div>
    <div class="form-horizontal task-form">
      <div class="avatar-wrap text-center">
        <span class="profileImage"> <img
          ng-if="condition.childInfo.avatar != null"
          ng-src="{{condition.childInfo.avatar}}"
          class="img-full img-circle">
        </span> <span ng-if=" condition.childInfo.avatar == null"
          class="name-short {{condition.childInfo.personColor}}">{{condition.childInfo.text
          | userNameUpperCase}}</span> <span class="name-full ">
          {{condition.childInfo.text}} </span>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Child</label>
        <div class="col-md-9">
          <select ng-disabled='isDisable' class="image-select form-control" name="childSelect"
            ng-model="page.childId" select2-model="condition.childInfo1" style="width:100%" 
            url="program/childList.do?roomId={{orgId}}"
            select-image-ajax>
            <option disabled value=""></option>
            <option></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Category</label>
        <div class="col-md-9">
          <select class="form-control" ng-model="page.category"
            ng-options="t.id as t.name for t in templates">
          </select>
        </div>
      </div>
      <div class="form-group"  ng-show="page.type==4" >
        <label class="col-md-3 control-label">Interest
          Name</label> 
        <div class="col-md-9">
          <input type="text" class="form-control" maxlength="6000"  
            name="interestName" ng-model="page.observation">
        </div>
      </div>
      
      <div class="form-group" ng-show="page.type==6 || page.type==8" >
        <label class="col-md-3 control-label">Observation</label>
        <div class="col-md-9">
          <textarea rows="10" class="form-control" ng-model="page.observation" maxlength="6000" name="observationName"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label ng-show="page.type==4" class="col-md-3 control-label">How
          Interest Evolved</label> <label ng-hide="page.type==4 "
          class="col-md-3 control-label">Interpretation of
          Learning</label>
        <div class="col-md-9">
          <input type="text" class="form-control" maxlength="2000"
            ng-model="page.learning">
        </div>
      </div>
      <div class="form-group">
        <label ng-show="page.type==4" class="col-md-3 control-label">Date
          of Planned Experience</label> <label ng-hide="page.type==4"
          class="col-md-3 control-label">Follow up Evaluation
          Date</label>
        <div class="col-md-9">
          <input type="text" class="form-control date-picker"
            my-date-picker ng-model="page.evaluationDate">
        </div>
      </div>
      <div class="form-group" ng-show="page.type==6 || page.type==8 ">
        <label class="col-md-3 control-label">Objective</label>
        <div class="col-md-9">
          <input type="text" class="form-control" maxlength="1000"
            ng-model="page.objective">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Educator's Planned
          Experience</label>
        <div class="col-md-9">
          <taginput ng-model="page.educatorExperience"></taginput>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Upload Photo</label>
        <div class="col-md-9" id="InObLeImage">
          <duv class="function imageUpload">
          <div class="full-width">
            <div class="thumb uploaded"
              ng-repeat="img in newsInfo.fileVoList">
              <img ng-src="{{img.visitedUrl}}" /> <a
                class="image-delete"
                ng-click="removeFile(img.relativePathName,newsInfo);"
                href="javascript:void(0);"> <i class="fa fa-times"></i></a>
            </div>
            <div class="thumb non-upload"
              ng-repeat="img in noFileVoList"></div>
          </div>
          </duv>
          <button ngf-multiple="true"
            ngf-select="upload($files,newsInfo)" type='button'
            class="btn btn-general pull-left margin-top-cus-10 toggleImageUpload">
            <i class="material-icons">camera_alt</i> Click to attach
            images
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--    </div>
  </div>
</div> -->