<div id="loadingMain">
  <div class="modal-header" ng-init="initLesson()">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Lesson
      <div class="task-basic-info">
        <span>{{condition.centerName}}</span><span>{{condition.roomName}}</span><span>{{condition.todayDate
          | date : 'dd/MM/yyyy'}}</span>
      </div>
    </h4>
  </div>
  <div class="modal-body" id="lessonChangeSet">
    <form class="form-horizontal" id="editLessonForm" style="float:none;" edit-lesson-form>
      <div class="dropdown right" ng-hide="surpassListFlag">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a ng-click="updateInfo(false)" style="cursor: pointer;">Update</a></li>
          <button class='hide' ng-click="updateInfo(false)"></button>
          <li><a ng-click="delInfo()" style="cursor: pointer;">Delete</a></li>
          <li><a ng-click="shareNewfeed(2)" data-toggle="modal" style="cursor: pointer;" data-target="#post-newsfeed">
              Save and Push to Newsfeed</a></li>
          <li ng-if="(functions | haveFunction:'task_obsoleteTask')"><a ng-click="obsolete()" style="cursor: pointer;">Obsolete</a></li>
        </ul>
      </div>
      <div class="task-form">
        <div class="form-group">
          <label class="col-md-3 control-label">Lesson Name</label>
          <div class="col-md-9">
            <input type="text" maxlength="255" class="form-control" name="lessonName" ng-model="page.lessonName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Tag Children</label>
          <div class="col-md-9">
            <div class="function">
              <select class="form-control privacy-select" ng-model="tagAccountIds" select2-model="chooseOrgs" multiple="multiple"
                ng-options="emp.id as emp.text for emp in selecterPos" style=" width: 100%;" select-ajax2 url="common/get.user.do?type=4">
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Curriculum</label>
          <div class="col-md-9">
            <input type="text" maxlength="255" class="form-control" ng-model="page.curriculum">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Unit Name</label>
          <div class="col-md-9">
            <input type="text" maxlength="255" class="form-control" ng-model="page.unitName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Instructed By</label>
          <div class="col-md-9">
            <input type="text" class="form-control" maxlength="255" ng-model="page.instrctedBy">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Resources /
            Materials Needed</label>
          <div class="col-md-9">
            <input type="text" maxlength="255" class="form-control" ng-model="page.resources">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Objectives and
            Implications for Learning</label>
          <div class="col-md-9">
            <input type="text" maxlength="255" class="form-control" ng-model="page.learning">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Extension</label>
          <div class="col-md-9">
            <input type="text" class="form-control" maxlength="1000" ng-model="page.extension">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">EYLF Reflection</label>
          <div class="col-md-9">
            <textarea class="form-control" maxlength="5000" rows="10" ng-model="page.reflection"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Upload Photos</label>
          <div class="col-md-9" id="lessonImage">
            <duv class="function imageUpload">
              <div class="thumb uploaded" ng-repeat="img in newsInfo.fileVoList">
                <img ng-src="{{img.visitedUrl}}" /> <a class="image-delete" ng-click="removeFile(img.relativePathName,newsInfo);"
                  href="javascript:void(0);"> <i class="fa fa-times"></i></a>
              </div>
              <div class="thumb non-upload" ng-repeat="img in noFileVoList"></div>
            </duv>
            <button ngf-multiple="true" type='button' ngf-select="upload($files,newsInfo)" class="btn btn-general pull-left margin-top-cus-10 toggleImageUpload">
              <i class="material-icons">camera_alt</i> Click to attach
              images
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">NQS</label>
          <div class="col-md-9">
            <div class="nqs-list tag-list">
              <a tooltip data-toggle="tooltip" ng-repeat="nqs in nqsVoList" class="{{nqs.version|nqsTipFilter:nqs.tag}}"
                title="{{nqs.content}}">{{nqs.version}}</a>
            </div>
            <button ng-click="openNqs(nqsVoList,saveNqsResult);" type="button" class="btn btn-general pull-left"
              data-toggle="modal" data-target="#nqs-modal">
              <i class="material-icons">more</i> Attach NQS
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>