<!--Child Sick Task-->
<!-- <div class="modal fade modal-grey" id="child-medication-modal"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div id=medicationId>
	<div class="modal-header" ng-init="initMedication()">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Administration of Medication</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="editMedicationForm" style="float: none;" edit-medication-form>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-4 control-label">Date</label>
					<div class="col-md-8">
						<input type="text" class="form-control date-picker" name="dateName" ng-model="pageInfo.programMedicationInfoWithBLOBs.day" ng-model="date" my-date-picker>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Child's Name</label>
					<div class="col-md-8">
						<select class="image-select form-control" name="childName" ng-model="pageInfo.programMedicationInfoWithBLOBs.childAccountId" select2-model="pageInfo.child" style="width: 100%"
							url="program/getRegisterChilds.do?type={{page.type}}&date={{todayDate}}&roomId={{room.orgId1}}" select-image-ajax>
							<option disabled value=""></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Medication Name</label>
					<div class="col-md-8">
						<input type="text" class="form-control" name="medicationName" maxlength="50" ng-model="pageInfo.programMedicationInfoWithBLOBs.medicationName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Medication Expiry Date</label>
					<div class="col-md-8">
						<input type="text" class="form-control date-picker" name="expiryDate" ng-model="pageInfo.programMedicationInfoWithBLOBs.expiryDate" ng-model="expiryDate" my-date-picker>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Reason for Medication</label>
					<div class="col-md-8">
						<input type="text" class="form-control" maxlength="50" ng-model="pageInfo.programMedicationInfoWithBLOBs.reasonMedication">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">The Dosage of Medication to be Administered</label>
					<div class="col-md-8">
						<input type="text" class="form-control" maxlength="50" ng-model="pageInfo.programMedicationInfoWithBLOBs.dosageMedication">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">
						Time of Medication<br /> (specifiy time of when medication should be given at service)
					</label>
					<div class="col-md-8">
						<div class="medication-time-list">
							<div class="input-group medication-time" ng-repeat="(itemIndex,item) in pageInfo.timeMedicationInfos">
								<input type="text"  class="form-control time-picker" ng-model="item.day" my-date-picker-timer>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="delTime(itemIndex)">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
								</span>
								<span class="input-group-btn"  style="font-size:12px;">
									<input style="margin-left: 20px; margin-right: 20px;" type="checkbox" ng-model="item.chooseFlag" ng-checked="item.chooseFlag">
								</span>
								<label class="input-group-btn" style="font-size:12px;">Please tick</label>
							</div>
							<button class="btn btn-general" type="button" ng-click="addTime()">Add Time</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">The Manner in which the medication is to be adminitered (eg. Orally by measuring cup)</label>
					<div class="col-md-8">
						<input type="text" class="form-control" maxlength="50" ng-model="pageInfo.programMedicationInfoWithBLOBs.medicationAdminitered">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Time & Date Medication was last administered</label>
					<div class="col-md-8">
						<input type="text" class="form-control" maxlength="50" ng-model="pageInfo.programMedicationInfoWithBLOBs.dateMedicationAdminitered">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-12">Parent Signature</label>
					<div class="col-md-12 signature-block">
						<div id="signature-pad-0" class="m-signature-pad">
							<div class="m-signature-pad--body">
								<canvas width="600" height="400"></canvas>
							</div>
							<div class="m-signature-pad--footer">
								<button type="button" class="button clear btn btn-default btn-sm" data-action="clear0">Clear</button>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<h4>Staff Section</h4>
				<div class="form-group">
					<label class="col-md-4 control-label">Staff Receiving Medication</label>
					<div class="col-md-8">
						<select class="image-select form-control" ng-model="pageInfo.programMedicationInfoWithBLOBs.staffReceivingAccountId" select2-model="pageInfo.staffReceiving" style="width: 100%"
							url="program/getSelectStaff.do?roomId={{room.orgId1}}" select-image-ajax>
							<option disabled value=""></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Must assign to staff member who will administer the medication</label>
					<div class="col-md-8">
						<select class="image-select form-control" multiple="multiple" maxsize="2" ng-model="pageInfo.twoAdminister" select2-model="pageInfo.assignToStaff"
							url="program/getSelectStaff.do?roomId={{room.orgId1}}" select-image-ajax>
							<option disabled value=""></option>
						</select>
					</div>
				</div>
				<div ng-repeat="item in pageInfo.timeMedicationInfos">
					<div class="form-group">
						<label class="col-md-12">
							Staff Administering Medication<br /> Name & Signature-{{item.day}}
						</label>
						<div class="col-md-12">
							<signature-pad ng-model="item.administeringValue"></signature-pad>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-12">
							Staff Checking Correct Dosage & Identity of child<br /> Name & Signature-{{item.day}}
						</label>
						<div class="col-md-12 signature-block">
							<signature-pad ng-model="item.checkingValue"></signature-pad>
						</div>
					</div>
				</div>


				<!--
      <div ng-repeat="item in pageInfo.timeMedicationInfos" repeat-done="initMedic()">
      <div class="form-group">
        <label class="col-md-12">Staff Administering Medication<br />
          Name & Signature-{{item.day}}
        </label>
        <div class="col-md-12">
          <div id="signature-pad-{{$index+1}}" class="m-signature-pad">
            <div class="m-signature-pad--body">
              <canvas width="600" height="400"></canvas>
            </div>
            <div class="m-signature-pad--footer">
              <button type="button"
                class="button clear btn btn-default btn-sm"
                data-action="AdministeringClear{{$index+1}}" id="sbutton{{$index+1}}">Clear</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-12">Staff Checking Correct Dosage &
          Identity of child<br /> Name & Signature-{{item.day}}
        </label>
        <div class="col-md-12 signature-block">
          <div id="signature-Checking-{{$index+1}}" class="m-signature-pad">
            <div class="m-signature-pad--body">
              <canvas width="600" height="400"></canvas>
            </div>
            <div class="m-signature-pad--footer">
              <button type="button"
                class="button clear btn btn-default btn-sm"
                data-action="CheckingClear{{$index+1}}" id="cbutton{{$index+1}}">Clear</button>
            </div>
          </div>
        </div>
      </div>
      </div>
        -->


			</div>
			<button ng-hide="true" class="btn btn-general" data-dismiss="modal" ng-click="updateInfo()">Submit</button>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-hide="surpassListFlag || isParent==true" type="button" class="btn btn-general" data-dismiss="modal" ng-click="updateInfo()">Submit</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="obsolete()" ng-hide='isParent==true'>Obsolete</button>
	</div>
</div>
<!--     </div>
  </div>
</div> -->