<div class="modal-content" id="main">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Other Task</h4>
	</div>
	<div class="modal-body" ng-init="initSelectData()">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label">Choose Task</label>
				<div class="col-md-9">
					<select class="form-control" select2 ng-model="choooseTaskId" ng-disabled=isIncRep style="width: 100%;">
						<option ng-repeat="task in taskList" value='{{task.id}}'>{{task.text}}</option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-show='!isRoomFlag'>
				<label class="col-md-3 control-label">Select</label>
				<div class="col-md-9">
					<select class="form-control" ng-model="mySelect" select2 multiple="multiple" ng-options="t.id as t.text for t in selectList" style="width: 100%;">
					</select>
				</div>
			</div>
			<div class="form-group" ng-show='isRoomFlag'>
				<label class="col-md-3 control-label">Select</label>
				<div class="col-md-9">
					<select class="form-control" ng-model="mySelect" select2 multiple="multiple" style="width: 100%;">
						<optgroup ng-repeat='item in selectList' label="{{item.text}}">
							<option ng-repeat='child in item.children' value='{{child.id}}'>{{child.text}}</option>
						</optgroup>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" data-dismiss="modal" ng-click="submit()">Submit</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
	</div>
</div>