<div id="mealRegisterId" go-top>
	<div class="modal-header" ng-init="initRegister()">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
			<span ng-if="condition.type == 11">Meal Register</span>
			<span ng-if="condition.type == 12">Sleep / Rest Register</span>
			<span ng-if="condition.type == 13">Nappy Change Register</span>
			<span ng-if="condition.type == 14">Toilet Training Register</span>
			<span ng-if="condition.type == 15">Sunscreen Application Register</span>
			<div class="task-basic-info">
				<span>{{nameInfo.centerName}}</span>
				<span>{{nameInfo.roomName}}</span>
				<span>{{nameInfo.todayDate | date : 'dd/MM/yyyy'}}</span>
				<span ng-if='condition.type == 13||condition.type == 14'>{{pageInfo.programRegisterTaskInfo.day|date:'hh:mm a'}}</span>
			</div>
		</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="editRegisterForm" style="float: none;" edit-register-form>
			<div class="dropdown right">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="fa fa-cog" aria-hidden="true"></i>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li>
						<a ng-click="updateInfo()" href="javascript:void(0);">Save in Progress</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-if="condition.type != 15" ng-click="updateInfo(true)">Save and Push to Newsfeed</a> <a href="javascript:void(0);" ng-if="condition.type == 15"
							ng-click="updateInfo(true)">Save and Submit</a>
					</li>
					<li ng-if="(functions | haveFunction:'task_obsoleteTask')">
						<a ng-click="obsolete()" style="cursor: pointer;">Obsolete</a>
					</li>
				</ul>
			</div>
			<div class="form-horizontal task-form" >
				<div class="well sleep-field expandable-block"  ng-repeat="(itemIndex,item) in pageInfo.registerItemList">
					<button class="btn btn-default" ng-click="delItem(itemIndex)">
						<i class="fa fa-minus" aria-hidden="true"></i>
						Delete
					</button>
					<div class="form-group">
						<label class="col-md-3 control-label">Child</label>
						<div class="col-md-9">
							<select class="image-select form-control" name="childSelect" ng-model="item.programRegisterItemInfo.childId" select2-model="item.programRegisterItemUsers" style="width: 100%"
								url="program/getRegisterChilds.do?type={{condition.type}}&roomId={{orgId}}&date={{nameInfo.todayDate}}" select-image-ajax>
								<option disabled value=""></option>
							</select>
						</div>
					</div>
					<div class="form-group" ng-show="condition.type== 11">
						<label class="col-md-3 control-label">Servings</label>
						<div class="col-md-9">
							<div class="radio">
								<label>
									<input type="radio" name="servingRadios+{{itemIndex}}" ng-model="item.programRegisterItemInfo.servings" id="" value="0">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									A tasting
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="servingRadios+{{itemIndex}}" ng-model="item.programRegisterItemInfo.servings" id="" value="1">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									A half serving
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="servingRadios+{{itemIndex}}" ng-model="item.programRegisterItemInfo.servings" id="" value="2">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									One serving
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="servingRadios+{{itemIndex}}" ng-model="item.programRegisterItemInfo.servings" id="" value="3">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									More than one serving
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="servingRadios+{{itemIndex}}" ng-model="item.programRegisterItemInfo.servings" id="" value="4">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Absent
								</label>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="condition.type == 12">
						<label class="col-md-3 control-label">Status</label>
						<div class="col-md-9">
							<div class="radio">
								<label>
									<input type="radio" class="sleep-radios" name="sleepRadios+{{itemIndex}}" id="sleepRadios1_1" value="5" ng-model="item.programRegisterItemInfo.servings" sleep-time>
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Sleep
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" class="sleep-radios" name="sleepRadios+{{itemIndex}}" id="sleepRadios1_2" value="6" ng-model="item.programRegisterItemInfo.servings" ng-click="changeStatus(1)">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Rest
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" class="sleep-radios" name="sleepRadios+{{itemIndex}}" id="sleepRadios1_3" value="7" ng-model="item.programRegisterItemInfo.servings" ng-click="changeStatus(2)">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Absent
								</label>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="condition.type == 13">
						<label class="col-md-3 control-label">Status</label>
						<div class="col-md-9">
							<div class="radio">
								<label>
									<input type="radio" name="nappyRadios+{{itemIndex}}" id="nappyRadios1_1" value="8" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Nappy Wet
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="nappyRadios+{{itemIndex}}" id="nappyRadios1_2" value="9" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Nappy Soiled
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="nappyRadios+{{itemIndex}}" id="nappyRadios1_3" value="10" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Nappy Dry
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="nappyRadios+{{itemIndex}}" id="nappyRadios1_4" value="11" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Absent
								</label>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="condition.type == 14">
						<label class="col-md-3 control-label">Status</label>
						<div class="col-md-9">
							<div class="radio">
								<label>
									<input type="radio" name="toiletRadios+{{itemIndex}}" id="toiletRadios1_1" value="12" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Wee
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="toiletRadios+{{itemIndex}}" id="toiletRadios1_2" value="13" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Poo
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="toiletRadios+{{itemIndex}}" id="toiletRadios1_3" value="14" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									No Wee or Poo
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="toiletRadios+{{itemIndex}}" id="toiletRadios1_4" value="15" ng-model="item.programRegisterItemInfo.servings" ng-change="updateTime({{item.programRegisterItemInfo}})">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Absent
								</label>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="condition.type == 15">
						<label class="col-md-3 control-label">Applied?</label>
						<div class="col-md-9">
							<div class="radio">
								<label>
									<input type="radio" name="sunscreenRadios+{{itemIndex}}" id="sunscreenRadios1_1" value="16" ng-model="item.programRegisterItemInfo.servings">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Yes
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="sunscreenRadios+{{itemIndex}}" id="sunscreenRadios1_2" value="17" ng-model="item.programRegisterItemInfo.servings">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									No, due to wet weather
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="sunscreenRadios+{{itemIndex}}" id="sunscreenRadios1_3" value="18" ng-model="item.programRegisterItemInfo.servings">
									<span class="cr">
										<i class="cr-icon fa fa-circle"></i>
									</span>
									Absent
								</label>
							</div>
						</div>
					</div>
					<div class="sleepTime hidden">
						<div class="form-group">
							<label class="col-md-3 control-label"> Time Child went to sleep </label>
							<div class="col-md-9">
								<input type="text" ng-model="item.programRegisterSleepInfo.sleepTime" class="form-control time-picker" my-date-picker-timer>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"> Time Child woke up </label>
							<div class="col-md-9">
								<input type="text" ng-model="item.programRegisterSleepInfo.wokeupTime" class="form-control time-picker" my-date-picker-timer>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-general add-fields" ng-click="addItem()">
					<i class="fa fa-plus"></i>
					Add More
				</button>
			</div>
		</form>
	</div>
</div>
