<!--Share to Newsfeed-->
<!-- <div class="modal fade modal-grey" id="post-newsfeed" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div id="shareChangeSet">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
      aria-label="Close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Save and Push to Newsfeed</h4>
  </div>
  <div class="modal-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3 control-label">EYLF Reflection</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="10" maxlength="500"  
            ng-model="programNewsFeedVo.content"></textarea>
        </div>
      </div>
      <div class="form-group" ng-if='taskType!=10'>
        <label class="col-md-3 control-label">Tag Children</label>
        <div class="col-md-9">
          <div class="function">
            <select class="form-control privacy-select"
              ng-model="programNewsFeedVo.accounts"
              select2-model="condition" multiple="multiple"
              style="width: 100%;" select-ajax
              url="common/get.user.do?type=4">
            </select>
          </div>
        </div>
      </div> 
      <div class="form-group">
        <label class="col-md-3 control-label">NQS</label>
        <div class="col-md-9">
          <div class="nqs-list tag-list">
            <a tooltip data-toggle="tooltip"
              ng-repeat="nqs in nqsVoList" class="{{nqs.version|nqsTipFilter:nqs.tag}}" title="{{nqs.content}}">{{nqs.version}}</a>
          </div>
          <button ng-click="openNqs(nqsVoList,saveNqsResult);"
            type="button" class="btn btn-general pull-left"
            data-toggle="modal" data-target="#nqs-modal">
            <i class="material-icons">more</i> Attach NQS
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-general" ng-click="ok()">Share</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"
      ng-click="cancel()">Cancel</button>
  </div>
</div>
<!--    </div>
  </div>
</div> -->
