<div id="taskTableView" class="main" ng-controller="taskTableCtrl">

  <div class="container-fluid bg-season bg-autumn">
    <h1 class="module-title">Task Table View</h1>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#centre-create-modal" ng-click="export()">Export</button>
  </div>

  <div class="container-fluid" ng-init="initTaskTable()">
    <div class="row">
      <div class="col-lg-1 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">
            Filter
          </div>
          <button class="closeButton">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>

        <div class="menu-block">
          <div class="title">
            View
          </div>
          <ul>
            <li>
              <a href="#/task-view">Daily View</a>
            </li>
            <li class="active">
              <a href="#/task-table">Table View</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="filter-bottom">
        Filter
      </div>

      <div class="col-lg-11 col-md-9 col-sm-9 col-xs-12 content-area pull-right" id="taskTable">

        <div class="rosterWrap taskWrap">
          <div class="table-responsive table-nowrap">
            <table class="leave-table leave-list table table-bordered table-customize-general">
              <thead>
                <tr>
                  <th ng-click="sort.toggle('v.end_date')" style="cursor:pointer;">Dates
                    <i ng-if="sort.column == 'v.end_date'" class="fa pull-right {{sort.direction|orderClass}}"></i>
                  </th>
                  <th ng-click="sort.toggle('v.cName')" style="cursor:pointer;">Centre
                    <i ng-if="sort.column == 'v.cName'" class="fa pull-right {{sort.direction|orderClass}}"></i>
                  </th>
                  <th ng-click="sort.toggle('v.rName')" style="cursor:pointer;">Room
                    <i ng-if="sort.column == 'v.rName'" class="fa pull-right {{sort.direction|orderClass}}"></i>
                  </th>
                  <th ng-click="sort.toggle('v.task_name')" style="cursor:pointer;">Task Name
                    <i ng-if="sort.column == 'v.task_name'" class="fa pull-right {{sort.direction|orderClass}}"></i>
                  </th>
                  <th>Responsible Person </th>
                  <th>Task Implementers</th>
                  <th ng-click="sort.toggle('v.NAME')" style="cursor:pointer;">Subject Person
                    <i ng-if="sort.column == 'v.NAME'" class="fa pull-right {{sort.direction|orderClass}}"></i>
                  </th>
                  <th>NQS</th>
                  <th ng-click="sort.toggle('v.statu')" style="cursor:pointer;">Task Status
                    <i ng-if="sort.column == 'v.statu'" class="fa pull-right {{sort.direction|orderClass}}"></i>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="filter">
                  <td>
                    <input style="min-width:200px;max-width:200px;" type="text" class="form-control" time-range
                      starttime="condition.startDate" endtime="condition.endDate" callback='clearDate' ng-focus="setDefaultVal()">
                  </td>
                  <td>
                    <select style="min-width:150px;max-width:150px;" class="form-control select2" max='5' ng-model='condition.centreIds'
                      multiple="multiple" ng-options="center.id as center.name disable when center.status == 0 for center in centersList">
                    </select>
                  </td>
                  <td>
                    <select style="min-width:150px;max-width:150px;" class="form-control select2" max='5' ng-model='condition.roomIds'
                      multiple="multiple" ng-options="room.id as room.aliasName disable when room.status == 0 for room in roomList">
                    </select>
                  </td>
                  <td>
                    <select class="form-control" style="min-width:250px;max-width:250px;" max='10' ng-model='condition.taskName'
                      select-ajax-clear url="./task/taskName.do" select2-model='chooseOrgs'>
                    </select>
                  </td>
                  <td>
                    <select style="min-width:150px;max-width:150px;" class="form-control" max='10' ng-model='condition.responsibleIds'
                      multiple="multiple" select2-model='chooseOrgs' select-ajax url="./common/getStaff2.do?type=1">
                    </select>
                  </td>
                  <td>
                    <select style="min-width:150px;max-width:150px;" class="form-control" max='10' ng-model='condition.implementersIds'
                      multiple="multiple" select2-model='chooseOrgs' select-ajax url="./common/getStaff2.do?type=1">
                    </select>
                  </td>
                  <td>
                    <select style="min-width:150px;max-width:150px;" class="form-control" max='10' ng-model='condition.subjectIds'
                      multiple="multiple" select2-model='chooseOrgs' select-ajax url="./common/getStaffChild.do?type=1">
                    </select>
                  </td>
                  <td>
                    <select style="min-width:120px;max-width:120px;" class="form-control select2" max='5' ng-model='condition.nqs'
                      multiple="multiple" placeholder=''>
                      <option>QA1</option>
                      <option>QA2</option>
                      <option>QA3</option>
                      <option>QA4</option>
                      <option>QA5</option>
                      <option>QA6</option>
                      <option>QA7</option>
                    </select>
                  </td>
                  <td>
                    <select style="min-width:120px;max-width:120px;" class="form-control select2" max='5' ng-model='condition.taskStatus'
                      multiple="multiple">
                      <option>Overdue</option>
                      <option>Pending</option>
                      <option>Complete</option>
                      <option>Obsolete</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn btn-black" ng-click="search()">
                      <i class="fa fa-search"></i>
                    </button>
                  </td>
                </tr>

                <tr class="queue" ng-repeat="task in page.list">
                  <td style="min-width:200px;max-width:200px;">{{task.endDate | date : 'dd/MM/yyyy'}}</td>
                  <td style="min-width:100px;max-width:100px;">{{task.cName}}</td>
                  <td style="min-width:150px;max-width:150px;">{{task.rName}}</td>
                  <td ng-click="openModal(task.taskType,task.valueId,task)" title="{{task.taskName}}" style="min-width:250px;max-width:250px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;">
                    <a href="">{{task.taskName}}</a>
                  </td>
                  <td>
                    <div class="task-avatar">
                      <span class="element" ng-repeat="ava in task.avatar">
                        <span class="profileImage">
                          <img ng-if="ava.avatar != null" ng-src={{ava.avatar}} class="img-full img-circle">
                          <span ng-if="ava.avatar == null" title='{{ava.fullName}}' class="name-short {{ava.personColor}}">{{ava.fullName
                            | userNameUpperCase}} </span>
                        </span>
                      </span>
                      <span class="element more" ng-if="task.moreAva">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                      </span>
                    </div>
                  </td>
                  <td>
                    <div class="task-avatar">
                      <span class="element" ng-repeat="ava in task.implementersAvatar">
                        <span class="profileImage">
                          <img ng-if="ava.avatar != null" ng-src={{ava.avatar}} class="img-full img-circle">
                          <span ng-if="ava.avatar == null" title='{{ava.fullName}}' class="name-short {{ava.personColor}}">{{ava.fullName
                            | userNameUpperCase}} </span>
                        </span>
                      </span>
                      <span class="element more" ng-if="task.moreImplementersAva">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                      </span>
                    </div>
                  </td>
                  <td style="min-width:100px;max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{task.subPerson}}">{{task.subPerson}}</td>
                  <td title="{{task.nqsStr}}" style="min-width:100px;max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;">{{task.nqsStr}}</td>
                  <td colspan="2" style="min-width:100px;max-width:100px;">{{task.statu | programStatus}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pageResult">{{condition.totalSize}} results found</div>

          <div class="pagination-wrap text-center">
            <nav aria-label="Page navigation">
              <pagination ng-change="changePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize"
                total-items="condition.totalSize" ng-model="condition.pageIndex" max-size="condition.maxSize"
                previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
            </nav>
          </div>

        </div>
      </div>
      <!--.content-area-->

    </div>
  </div>

</div>
<!--.main-->