<div class="main withWeek" ng-controller="taskViewCtrl" >
<div ng-init="headtype='taskList';headName='Tasks'" ng-include="'head.html?res_v='+res_v" ></div>

<div class="container-fluid" id='mainLoad'>
	<div class="row" ng-init="initTaskView()">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
			<div class="menu-top visible-xs">
                    <div class="menu-top-title">
                      Filter
                    </div>
                    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
				 </div>
				<div class="menu-block">
					<div class="title">
						  View
					</div>
					<ul>
					  <li class="active"><a href="#/task-view">Daily View</a></li>
					  <li><a href="#/task-table">Table View</a></li>
					</ul>
				</div>  
			<div class="menu-block menu-block3 child-figure-list">
				<div class="title">Location</div>
				<ul>
					<li class="active">
						<a program-active value='' href="javascript:void(0);" type='1'>All Centres</a>
					</li>
					<li ng-repeat="center in  orgs.centersInfos">
						<a program-active value='{{center.id}}' href="javascript:void(0);" type='2'>{{center.name}}</a>
						<ul class="sub-filter">
							<li ng-repeat="room in orgs.roomInfos" ng-if="center.id == room.centersId">
								<a program-active value='{{room.id}}' href="javascript:void(0);" type='3'>{{room.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menu-block menu-block2">
				<div class="title">Task Status</div>
				<ul>
					<li program-status  value=''>
						<a href="javascript:void(0);">All Status</a>
					</li>
					<li program-status value='2'>
						<a href="javascript:void(0);">Overdue</a><span  class="label-figure" style='text-align:right;' ng-hide="taskCounts[1]==0">{{taskCounts[1]}}</span>
					</li>
					<li program-status class="active" value='0'>
						<a href="javascript:void(0);">Pending</a><span  class="label-figure" style='text-align:right;' ng-hide="taskCounts[0]==0" >{{taskCounts[0]}}</span>
					</li>
					<li program-status value='1'>
						<a href="javascript:void(0);">Complete</a>
					</li>
					<li program-status value='-1'>
						<a href="javascript:void(0);">Obsolete</a>
					</li>
				</ul>
			</div>
			
			<div class="menu-block menu-block1">
				<div class="title">Program Type</div>
				<ul>
					<li program-type class="active" value=''>
						<a href="javascript:void(0);">All Programs</a>
					</li>
					<li program-type value='0'>
						<a href="javascript:void(0);">Explore</a>
					</li>
					<li program-type value='1'>
						<a href="javascript:void(0);">Grow</a>
					</li>
					<li program-type value='2'>
						<a href="javascript:void(0);">Lesson</a>
					</li>
					<li program-type value='3'>
						<a href="javascript:void(0);">School Readiness</a>
					</li>
					<li program-type value='4'>
						<a href="javascript:void(0);">Interest</a>
					</li>
					<li program-type value='5'>
						<a href="javascript:void(0);">Interest Follow up</a>
					</li>
					<li program-type value='6'>
						<a href="javascript:void(0);">Observation</a>
					</li>
					<li program-type value='7'>
						<a href="javascript:void(0);">Observation Follow Up</a>
					</li>
					<li program-type value='8'>
						<a href="javascript:void(0);">Learning Story</a>
					</li>
					<li program-type value='9'>
						<a href="javascript:void(0);">Learning Story Follow up</a>
					</li>
					<li program-type value='10'>
						<a href="javascript:void(0);">Weekly Evaluation</a>
					</li>
					<li program-type value='11'>
						<a href="javascript:void(0);">Meal Register</a>
					</li>
					<li program-type value='12'>
						<a href="javascript:void(0);">Sleep / Rest Register</a>
					</li>
					<li program-type value='13'>
						<a href="javascript:void(0);">Nappy Change Register</a>
					</li>
					<li program-type value='14'>
						<a href="javascript:void(0);">Toilet Training Register</a>
					</li>
					<li program-type value='15'>
						<a href="javascript:void(0);">Sunscreen Application Register</a>
					</li>
					<li program-type value='17'>
						<a href="javascript:void(0);">Other Task</a>
					</li>
					<li program-type value='18'>
						<a href="javascript:void(0);">Administration of Medication</a>
					</li>
				</ul>
			</div>
			<div class="menu-block">
				<div class="title">NQS - Quality Areas</div>
					<div class="filter">
						<input type="text" class="form-control" ng-keyup="newsKeyup($event);" ng-model="page.condition.nqsVersion" />
					</div>
					<ul>
						<li ng-click="setNQS('');"
							ng-class="{true:'active',false:''}[page.condition.nqsVersion!='QA1' &&
                      page.condition.nqsVersion!='QA2' &&
                      page.condition.nqsVersion!='QA3' &&
                      page.condition.nqsVersion!='QA4' &&
                      page.condition.nqsVersion!='QA5' &&
                      page.condition.nqsVersion!='QA6' &&
                      page.condition.nqsVersion!='QA7']">
							<a href="javascript:void(0);">All</a>
						</li>
						<li ng-click="setNQS('QA1');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA1']">
							<a href="javascript:void(0);">QA1 - Educational program and practice</a>
						</li>
						<li ng-click="setNQS('QA2');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA2']">
							<a href="javascript:void(0);">QA2 - Children’s health and safety</a>
						</li>
						<li ng-click="setNQS('QA3');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA3']">
							<a href="javascript:void(0);">QA3 - Physical environment</a>
						</li>
						<li ng-click="setNQS('QA4');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA4']">
							<a href="javascript:void(0);">QA4 - Staffing arrangements</a>
						</li>
						<li ng-click="setNQS('QA5');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA5']">
							<a href="javascript:void(0);">QA5 - Relationships with children</a>
						</li>
						<li ng-click="setNQS('QA6');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA6']">
							<a href="javascript:void(0);">QA6 - Collaborative partnerships with families and communities</a>
						</li>
						<li ng-click="setNQS('QA7');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA7']">
							<a href="javascript:void(0);">QA7 - Governance and Leadership</a>
						</li>
					</ul>
			</div>
		</div>
		<div class="filter-bottom" ng-click="closeButton();">
                  Filter
        </div> 
		
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">
			
			<div class="row">
				<!--*******************
                      *******Task List*******
                      ********************-->
				<div class="col-lg-7 col-md-12 center" >
					<div class="alert alert-info alert-dismissible alert-centre" role="alert" ng-hide="showOutData.notes.length == 0 && showOutData.medicationInfos.length == 0 || (taskDate != page.condition.now)">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						<div class="notify-title"><strong>Today's Note</strong></div>
                          
                          <div class="notify-each" ng-repeat="item in showOutData">
                            <div class="notify-title"><strong>{{item.type}}</strong></div>
                            <ul class="notify-content">
                              <li ng-repeat="node in item.list"><div class="name" ng-show="node.key!=null&&node.key!=''">{{node.key}}</div><div load-html="{{node.value}}" class="content"></div></li>
                            </ul>
                          </div>
						<!-- <strong>Today's Note</strong>
						<ol>
							<li ng-repeat="item in showOutData.notes">{{item}}</li>
							<li ng-repeat="obj in showOutData.medicationInfos">
								{{obj.userName}} need to take medicine :
								<span ng-repeat="one in obj.timeMedicationInfos" ng-class="{ 'redColor' : !one.chooseFlag }"> {{one.day}} </span>
							</li>
						</ol> -->
					</div>
					<div class="task-overview-wrap mainList">
						<div class="task-overview-inner">
							
							<!--.task-list-header-->
							<div class="task-list">
								<div class="task" data-toggle="modal" data-target="#program-modal" ng-repeat="item in pageList.list" ng-click="openModal(item.taskType,item.valueId,item)">
									<div class="task-avatar">
										<span class="element" ng-repeat="avt in item.avatar">
											<span class="profileImage">
												<img ng-if="avt.avatar != null" ng-src={{avt.avatar}} class="img-full img-circle">
												<span ng-if=" avt.avatar == null" title='{{avt.fullName}}' class="name-short {{avt.personColor}}">{{avt.fullName | userNameUpperCase}} </span>
											</span>
										</span>
										<span class="element more" ng-if="item.moreAva">
											<span class="glyphicon glyphicon-option-horizontal"></span>
										</span>
									</div>
									<div class="task-name">
										<div title="{{item.taskName}} {{item.taskType | registerType}}">
											<span class="label-general">{{item.taskType | programType}}</span>
											<span ng-if="item.taskType == 17"> {{item.taskName}} </span>
											<span ng-if="item.taskType == 20"> {{item.taskName}} </span>
											<!-- <span ng-if="item.taskType != 17 && item.taskType != 20">Program Task</span> -->
											<span ng-if="item.taskType != 17 && item.taskType != 20">{{item.taskName}}</span>
											<span>{{item.taskType | registerType}}</span>
									
										</div>
										
										<!-- <div class="tipDiv">
											<div class="nqs-list tag-list" >
												<a style="cursor: default" ng-repeat="nqs in item.nqsVos" tooltip class="{{nqs.version|nqsTipFilter:nqs.tag}}" data-toggle="tooltip" title="{{nqs.content}}" >{{nqs.version}}</a>
											</div>
										
										</div> -->
									</div>
									
									<div class="date">{{item.endDate | date : 'dd/MM/yyyy'}}</div>
									<div class="divider">
										<span></span>
									</div>
								</div>
							</div>
							<div class="pagination-wrap text-center">
								<nav aria-label="Page navigation">
									<pagination ng-change="changeLeavePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalItems" ng-model="condition.pageIndex"
										max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
								</nav>
							</div>
							<!--.task-list-->
						</div>
						<!-- <div>
                <span class="label-general"
                  ng-click="registerModal(12,'21fd7399-c0d2-4bae-a2b5-72176f09db8f')">Observation
                  follow up</span> Lorem ipsum dolor sit ame
              </div> -->
						<!--.task-overview-inner-->
					</div>
					<!--.task-overview-wrap-->
				</div>
			</div>
		</div>
		<!--.content-area-->
	</div>
</div>
</div>