<div class="modal-content modal-checkbox-special" id='myForm' ng-init='initList()'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Form Edit</h4>
	</div>
	<div class="modal-body" id='myForm'>
		<div class=" myTaskForm" ng-controller='viewFormCtrl' ng-if="currtenIndex>=$index&&(task.type==0||(task.type==1&&task.statu!=-2))"
		    ng-repeat="task in list">
			<h4>{{task.taskName}}</h4>
			<div class="tipDiv">
				<div class="nqs-list tag-list">
					<a style="cursor: default" ng-repeat="nqs in task.nqsVos" tooltip class="{{nqs.version|nqsTipFilter:nqs.tag}}" data-toggle="tooltip"
					    title="{{nqs.content}}">{{nqs.version}}</a>
				</div>
			</div>
			<br/>
			<br/>
			<div ng-init="initForm(task.code,task.instanceId,task.childSave,isAfterToday)" ng-include="'./views/form-builder/view.html?res_v='+res_v"></div>
			<div class="modal-footer">
				<button type="button" ng-click='obsolete(task.taskId,task.type)' ng-if="task.operationFlag&&(functions | haveFunction:'task_obsoleteTask')"
				    class="btn btn-general" data-dismiss="modal" ng-hide='isParent==true'>Obsolete</button>
				<button ng-click="formSave(task.taskId,task.type,0,task.childSave)" ng-if='task.operationFlag&&!isAfterToday' class="btn btn-general"
				    ng-hide='isParent==true'>Save in Progress</button>
				<button ng-click="formSave(task.taskId,task.type,1,task.childSave)" ng-if='task.operationFlag&&!isAfterToday' class="btn btn-general"
				    ng-hide='isParent==true'>Save and Submit</button>
			</div>
		</div>
	</div>
</div>