<div class="modal-content" id='myForm' ng-init='initTable()'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Meeting Task</h4>
	</div>
	<div class="modal-body">
		<table class="table table-bordered table-agenda">
			<thead>
				<tr>
					<th ng-repeat='item in list'>{{item.colName}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-repeat='item in list'><input type="text" ng-model='item.rowValue' ng-disabled='true' ng-if='item.colType!=1&&item.colType!=2' class="form-control"> <select type="text"
							ng-model='item.rowValue' ng-disabled='true' select2-model='item.responsibility' ng-if='item.colType==1' style='width: 140px;' url='./common/getStaff.do?type=1' select-image-ajax class="form-control"></select>
						<input type="text" ng-model='item.rowValue' ng-disabled='true' ng-if='item.colType==2' my-date-picker class="form-control"></td>
				</tr>
			</tbody>
		</table>
		<div class="modal-footer">
			<button type="button" ng-click='obsolete()' ng-if="(functions | haveFunction:'task_obsoleteTask')" class="btn btn-general" data-dismiss="modal" >Obsolete</button>
			<button ng-click='submit()' ng-if='!isAfterToday' class="btn btn-general">Complete</button>
		</div>
	</div>
</div>