
<!--Weekly Evaluation-->
<!-- <div class="modal fade modal-grey task-popup"
  id="weekly-evaluation-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div id="weeklyEvaluationId">
	<div class="modal-header" ng-init="initWeekly()">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
			Weekly Evaluation
			<div class="task-basic-info">
				<span>{{nameInfo.centerName}}</span>
				<span>{{nameInfo.roomName}}</span>
				<span>{{nameInfo.todayDate | date : 'dd/MM/yyyy'}}</span>
			</div>
		</h4>
	</div>
	<div class="modal-body">
		<div class="dropdown right">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<i class="fa fa-cog" aria-hidden="true"></i>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li>
					<a ng-click="updateInfo()" style="cursor: pointer;">Update</a>
				</li>
				<!-- <li><a ng-click="delInfo()" style="cursor:pointer;">Delete</a></li> -->
				<li ng-if='!isAfterToday'>
					<a ng-click="shareNewfeed()" data-toggle="modal" data-target="#post-newsfeed" style="cursor: pointer;">Save and Push to Newsfeed</a>
				</li>
				<li ng-if="(functions | haveFunction:'task_obsoleteTask')">
					<a ng-click="obsolete()" style="cursor: pointer;">Obsolete</a>
				</li>
			</ul>
		</div>
		<div class="form-horizontal task-form">
			<div class="form-group">
				<label class="col-md-3 control-label">Weekly Evaluation</label>
				<div class="col-md-9">
					<textarea class="form-control" maxlength="3000" rows="10" ng-model="condition.weeklyEvalution"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div>
  </div>
</div> -->