<div class="main"  ng-controller="centerCtrl">
<div ng-init="headtype='center';headName='Centres'" ng-include="'head.html?res_v='+res_v" ></div>

<div class="container-fluid"  ng-init="getCenterMenuList()">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
			<div class="menu-top visible-xs">
			    <div class="menu-top-title">
			             Filter
			    </div>
			    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
			</div>

			<div class="menu-block child-figure-list">
				<div class="title">Setting</div>
				<ul>
						<ul class="sub-filter">
							<li  ng-repeat="center in menuList"  ng-class="{true:'active',false:''}[flag==center.id]"   >
							<a href="#/center_edit/{{center.id}} " ng-click="clink(center.id)" >{{center.name}}</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		 <div class="filter-bottom" ng-click="closeButton();">
                      Filter
         </div>  
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" ui-view></div>
	</div>
</div>
</div>