<div class="centre-manage-wrap" ng-init="getCenter()">
	<h2 class="page-title">{{centerInfoVo.center.name}}</h2>
	<ol class="breadcrumb">
		<li>
			<a href="#/center_list">Centre List</a>
		</li>
		<li class="active">
			<span>{{centerInfoVo.center.name}}</span>
		</li>
	</ol>
	<div class="centre-manage-block">
		<h4>Centre Room Management</h4>
		<div class="roomWrap">
			<div class="row">

				<div class="room col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-repeat="room in centerInfoVo.roomList">
					<div class="inner">
						<div class="dropdown right room-dropdown" ng-hide="centerInfoVo.center.status==0">
							<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-cog"></i>
							</button>
							<ul class="dropdown-menu">
								<li ng-show="room.status==1">
									<a class="room-edit" href="javascript:void(0);" data-toggle="modal" ng-click="editRoom(room,'Edit');"
									 data-target="#room-edit-modal">Edit</a>
								</li>
								<li ng-show="room.status==1">
									<a class="room-archive" ng-click="archiveRoom(room,0);" href="javascript:void(0);">Archive</a>
								</li>
								<li ng-show="room.status==0">
									<a class="room-archive" ng-click="archiveRoom(room,1);" href="javascript:void(0);">Unarchive</a>
								</li>
							</ul>
						</div>

						<div class="room-capacity">{{room.childCapacity}}</div>

						<div class="room-name">{{room.name}}</div>

						<div class="age-group">{{room.ageGroup}}</div>



						<div class="menu">
							<a href="" class="btn btn-default btn-sm btn-block" ng-click="chooseMenu(room,1);"><span>Week 1 Menu</span></a>
						</div>

						<div class="menu">
							<a href="" class="btn btn-default btn-sm btn-block" ng-click="chooseMenu(room,2);"><span>Week 2 Menu</span></a>
						</div>

						<div class="menu">
							<a href="" class="btn btn-default btn-sm btn-block" ng-click="chooseMenu(room,3);"><span>Week 3 Menu</span></a>
						</div>

						<div class="menu">
							<a href="" class="btn btn-default btn-sm btn-block" ng-click="chooseMenu(room,4);"><span>Week 4 Menu</span></a>
						</div>


						<div ng-repeat="check in room.checkList" style="cursor: pointer" class="text-left">
							<input type="checkbox" ng-model="check.checkFlag" ng-click="choose(check.id,check,0)">
							<lable ng-click="choose(check.id,check,1)">{{check.taskType | programType}}</lable>
						</div>
						<br>



						<div class="group-list">
							<ul id="myTab" class="nav nav-tabs" style="text-align:center;">
								<li class="active" style="float:none;display:inline-block;">
									<a href="/#active{{room.id}}" data-toggle="tab">Active</a>
								</li>
								<li style="float:none;display:inline-block;">
									<a href="/#archive{{room.id}}" data-toggle="tab">Archive</a>
								</li>
							</ul>
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane in active" id="active{{room.id}}">
									<br>
									<div class="group" ng-repeat="group in room.groupList" ng-show="group.status==1">
										<a href="javascript:void(0);" data-toggle="modal" data-target="#group-modal" ng-click="viewGroup(room,group);">
											{{group.name}}<span>View</span>
										</a>
									</div>
								</div>
								<div class="tab-pane" id="archive{{room.id}}">
									<br>
									<div class="group" ng-repeat="group in room.groupList" ng-show="group.status==0">
										<a href="javascript:void(0);" data-toggle="modal" data-target="#group-modal" ng-click="viewGroup(room,group);">
											{{group.name}}<span>View</span>
										</a>
									</div>
								</div>
							</div>
							<br /> <br />
							<div class="group group-add" ng-hide="room.status==0">
								<a href="" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#group-add-modal" ng-click="addGroup(room);">Add
									Group <i class="fa fa-plus" aria-hidden="true"></i></a>
							</div>
						</div>

					</div>
				</div>

				<div class="room room-create col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-hide="centerInfoVo.center.status==0">
					<div class="inner">
						<button type="button" class="btn-icon" data-toggle="modal" ng-click="editRoom(null,'Add')" data-target="#room-add-modal">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- <h4>Nutritional Menu</h4>

		<div class="nutriWrap">
			<div class="row">
				<div class="nutriWeek col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="menu in centerInfoVo.weekMenuList">
					<a href="javascript:void(0);" data-toggle="modal" ng-click="editMenu($index+1);" data-target="#nutri-modal">
						<div class="inner">
							<div class="nutriIcon">
								<i class="fa fa-cutlery" aria-hidden="true"></i>
							</div>

							<div class="nutriWeek">WEEK {{$index+1}}</div>
						</div>
					</a>
				</div>
			</div>
		</div> -->

		<h4>Centre Info</h4>

		<form id="addCenterForm" center-form class="form-horizontal centre-info-block" id="centerEdit">
			<div class="button-group text-right">
				<button ng-click="updateCenter();" class="btn btn-general centre-update hide">Update</button>
				<button type="button" ng-show="centerInfoVo.center.status==1" ng-click="updateCenter();" class="btn btn-general centre-update">Update</button>
				<button type="button" ng-if="!(currentUser.roleInfoVoList|haveRole:'1;5')" ng-click="archiveCenter(0);" ng-show="centerInfoVo.center.status==1"
				 class="btn btn-general centre-archive">Archive</button>
				<button type="button" ng-if="!(currentUser.roleInfoVoList|haveRole:'1;5')" ng-click="archiveCenter(1);" ng-show="centerInfoVo.center.status==0"
				 class="btn btn-general centre-archive">Unarchive</button>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Centre Name</label>
				<div class="col-md-9">
					<input type="text" ng-disabled="centerInfoVo.center.status==0" name="centerName" ng-model="centerInfoVo.center.name"
					 class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Centre Address</label>
				<div class="col-md-9">
					<input type="text" ng-disabled="centerInfoVo.center.status==0" name="centerAddress" ng-model="centerInfoVo.center.centreAddress"
					 class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Centre Image</label>
				<div class="col-md-9">
					<div class="avatar" ng-show="showAvatarImage">
						<div class="function imageUpload" ng-show="centerInfoVo.image.visitedUrl!=null && centerInfoVo.image.visitedUrl!=''">
							<div class="thumb uploaded">
								<img ng-src="{{centerInfoVo.image.visitedUrl}}">
								<a ng-hide="centerInfoVo.center.status==0" class="image-delete" ng-click="deleteImage(centerInfoVo.image);"
								 href="javascript:void(0);"><i class="fa fa-times"></i></a>
							</div>
						</div>
						</span>
						<div class="btn btn-general fileUpload" ng-show="(centerInfoVo.image.visitedUrl==null || centerInfoVo.image.visitedUrl=='')&&centerInfoVo.center.status==1">
							<i class="material-icons">camera_alt</i>
							<input type="file" ngf-multiple="true" ngf-select="uploadImage($file)" class="upload">
						</div>
					</div>
					<div class="text-center" ng-hide="showAvatarImage" id="childAvatar">
						<div class="cropArea">
							<img-crop image="myImage" result-image="avatarImage" result-image-size="128" result-image-format="png" class="ng-isolate-scope"></img-crop>
							<button class="btn btn-general saveAvatar" type="button" ng-click="saveAvatar(avatarImage,childInfo)">
								<i class="fa fa-floppy-o"></i>
							</button>
							<button class="btn btn-default cancelAvatar" ng-click="cancelAvatar()">
								<i class="fa fa-ban"></i>
							</button>
						</div>
					</div>

				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Centre Contact</label>
				<div class="col-md-9">
					<input type="text" ng-disabled="centerInfoVo.center.status==0" name="centerContact" ng-model="centerInfoVo.center.centreContact"
					 class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Email Address</label>
				<div class="col-md-9">
					<input type="email" ng-disabled="centerInfoVo.center.status==0" name="centerEmail" ng-model="centerInfoVo.center.emailAddress"
					 class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Centre Co-ordinators</label>
				<div class="col-md-2" ng-repeat="centerManager in centerInfoVo.list">
					<span class="profileImage staff-avatar-wrap" ng-if="centerManager.fullName!=null && centerManager.fullName!=''">
						<span ng-if="centerManager.avatar==null" class="name-short staff-name-short {{centerManager.personColor}}">{{centerManager.fullName|userNameUpperCase}}</span>
						<img ng-if="centerManager.avatar!=null" ng-src="{{centerManager.avatar}}" class="img-circle img-full" />
					</span>
					<span class="name-full"> {{centerManager.fullName}} </span>
				</div>
			</div>
		</form>
	</div>
</div>