<div class="centreWrap" id="centerList" ng-init="getCenterList()" infinite-scroll="getCenterList(true)" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
	<div class="row">
		
		<!--.centre-->

		<div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 centre" ng-repeat="data in page.list">
			<div class="inner" style="cursor: pointer;" ng-click="goEdit(data.center.id);">
				<div class="title">{{data.center.name}}</div>

				<div class="centreImage" ng-show="data.center.imageUrl">
					<img ng-src="{{data.center.imageUrl}}" err-src="./resource/images/empty.png" class="img-circle img-full">
				</div>

				<div class="room-list">
					<div class="room" ng-repeat="room in data.roomList">
						{{room.name}} <span class="badge">{{room.childCapacity}}</span>
					</div>
				</div>

				<div class="divider">
					<span></span>
				</div>
				<div class="link">
					<a>VIEW CENTRE</a>
				</div>
			</div>
		</div>
		<!--.centre-->
	</div>
	<div class="loading-bar bottom" ng-show="busy">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	</div>
</div>

<!--.content-area-->

