﻿<!-- <div id="absence-reason" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">-->
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Staff Absence</h4>
	</div>
	<div class="modal-body">
		<form class="form form-horizontal" id = "editLeaveForm" edit-leave-form>
			<div class="form-group" ng-show="itemInfo.isAdd">
				<label class="col-md-3 control-label">Staff </label>
				<div class="col-md-9">
					<select class="image-select form-control" name="staff" ng-model="itemInfo.accountId" select2-model="" style="width: 100%" url="program/getCasualStaff.do" select-image-ajax>
						<option disabled value=""></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Absence Date</label>
				<div class="col-md-9">
					<input type="text" class="form-control date-picker" name="dateName" ng-model="itemInfo.beginAbsenceDate" ng-model="date" my-date-picker>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Absence Reason</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="reason" ng-model="itemInfo.absenceReason">
				</div>														   
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
		<button type="button" class="btn btn-default" ng-click="del(itemInfo.id)" ng-show="!itemInfo.isAdd">Delete</button>
		<button type="button" class="btn btn-general" ng-click="save(itemInfo)">Save</button>
	</div>
</div>
<!-- 		
	</div>
</div> -->