﻿<div class="main withWeek" ng-controller='leaveAbsenceCtrl'>
	<div ng-init="headtype='leaveAbenceList';headName='Absence From Work Register'" ng-include="'head.html?res_v='+res_v"></div>
	<div class="container-fluid" ng-init="initRosterLeaveItemList()">
		<div class="row">
			<div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 content-area pull-right">
				<div class="rosterWrap">
					<h2 class="page-title">Full Time and / or Block or Trainee - Called in Absent & Reason</h2>
					<div class="table-responsive table-nowrap">
						<table class="leave-table leave-list table table-bordered table-customize-general table-absence-register">
							<tbody>
								<tr class="queue" ng-repeat="item in pageInfo.rosterLeaveInfos">
									<td class='col-sm-1'><span class="profileImage ">
											<span class="profileImage" ng-if="item.avatar!=null && item.avatar!=''">
												<img ng-src="{{item.avatar}}" class="img-circle img-full" />
											</span>
											<span ng-if="item.avatar==null || item.avatar==''" class="name-short staff-name-short {{item.personColor}}">{{item.userName|userNameUpperCase}}</span>
											<span class="name-full">{{item.userName}}</span>
										</span></td>
									<td class='col-sm-1' ng-repeat="leaveItem in item.itemList">
										<div class="td-absent">
											<div class="absent-time" ng-show="leaveItem.type == 0">{{leaveItem.beginAbsenceDate|date:'dd/MM/yyyy'}} - {{leaveItem.endAbsenceDate|date:'dd/MM/yyyy'}}</div>
											<div class="absent-time" ng-show="leaveItem.type != 0">{{leaveItem.beginAbsenceDate|date:'dd/MM/yyyy'}}</div>
											<div class="absent-reason">{{leaveItem.absenceReason}}</div>
											<button class="btn-icon btn-sm" data-toggle="modal" data-target="#absence-reason" ng-click="openModal(leaveItem, item.accountId)">
												<i class="fa fa-pencil" aria-hidden="true" ng-show="leaveItem.type != 0"></i>
											</button>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>


				</div>


			</div>
			<!--.content-area-->

		</div>
	</div>

</div>

