<div class="modal-content" id="mainDiv">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Create a Centre</h4>
	</div>
	<form id="addCenterForm" center-form class="form-horizontal">
		<div class="modal-body">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-3 control-label">Centre Name</label>
					<div class="col-md-9">

						<input type="text" ng-model="centerName" name="centerName" class="form-control">

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="hide" ng-click="saveCenter()"></button>
				<button type="button" class="btn btn-general" id="confirm" ng-click="saveCenter()">Confirm</button>
				<button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
			</div>
	</form>
</div>
