
<div class="modal-content" id="mainDiv">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel();" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Add Group</h4>
	</div>
	<form id="groupForm" group-form class="form-horizontal">
		<div class="modal-body">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-3 control-label">Group Name</label>
					<div class="col-md-9">
						<input type="text" name="groupName" ng-model="groupInfo.name" class="form-control" value="Group A">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button  class="hide" ng-click="editGroup();">Confirm</button>
			<button type="button" class="btn btn-general" ng-click="editGroup();">Confirm</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
		</div>
	</form>
</div>
