<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel();" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Edit Room</h4>
	</div>
	<form id="editRoomForm" room-form class="form-horizontal">
		<div class="modal-body">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-md-3 control-label">Room Name</label>
					<div class="col-md-9">
						<input type="text" ng-model="roomInfo.name" name="roomName" class="form-control" value="Nursery">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Age Group</label>
					<div class="col-md-9">
						<input type="text" ng-model="roomInfo.ageGroup" name="ageGroup" class="form-control" value="1-2">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3 control-label">Child Capacity</label>
					<div class="col-md-9">
						<input type="text" ng-model="roomInfo.childCapacity" name="childCapacity" class="form-control" value="15">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-general" ng-click="editRoom();">Confirm</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
		</div>
	</form>
</div>