    
<div class="modal-content" ng-init="initMenu()" id="menuMain">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">Nutritional Menu</h4>
	</div>

	<form class="form-horizontal">
		<div class="modal-body">

			<div class="form-horizontal nutri-weekly-menu">

				<div class="modal-control row">
					<div class="searchMenu form-group col-md-7 col-sm-7 col-xs-12"> 
						<label class="col-md-5 col-sm-5 col-xs-12 control-label"><p style="font-size: 16px;">Menu Name</p></label> 
						<div class="col-md-7 col-sm-7 col-xs-12 function">
							<select direselect2 ng-model="selectMenuId" class="form-control" url="" style="width: 100%;">
				                <option ng-repeat="menu in MenuList" value="{{menu.menuId}}">{{menu.menuName}}</option>
			              </select>
						</div>
					</div>

					<div class="dropdown right text-right col-md-5 col-sm-5 col-xs-12" ng-if="room.status == 1">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="room-edit" style="cursor: pointer;" ng-click="saveMenu()">Save</a></li>
                          <li ng-if="dbMenuId"><a class="room-archive" style="cursor: pointer;" ng-click="deleteMenu()">Delete</a></li>
                        </ul>
                    </div>
				</div>

				<div class="nutri-day-menu"  ng-repeat="menu in selectMenu.list">
					<div class="day" ng-show="menu.weekToday==1">MON</div>
					<div class="day" ng-show="menu.weekToday==2">TUE</div>
					<div class="day" ng-show="menu.weekToday==3">WED</div>
					<div class="day" ng-show="menu.weekToday==4">THU</div>
					<div class="day" ng-show="menu.weekToday==5">FRI</div>

					<div class="nutri-list">
						<div class="form-group">
							<label class="col-md-3 control-label">Breakfast</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="true" class="form-control" ng-model="menu.breakfast">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Morning Tea</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="true" class="form-control" ng-model="menu.morningTea">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Lunch</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="true" class="form-control" ng-model="menu.lunch">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Lunch Image</label>
							<div class="col-md-9">
								<!-- 图标 -->
								<!-- <div class="btn btn-general fileUpload" ng-show="menu.image.visitedUrl==null || menu.image.visitedUrl==''">
									<i class="material-icons">camera_alt</i> <input type="file" ngf-multiple="false" ngf-select="uploadImage($file,menu)" class="upload">
								</div> -->
								<!-- 图片 -->
								<div class="function imageUpload" ng-show="menu.image.visitedUrl!=null && menu.image.visitedUrl!=''">
									<div class="thumb uploaded">
										<img ng-src="{{menu.image.visitedUrl}}">
									</div>
								</div>

							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Dessert</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="true" class="form-control" ng-model="menu.dessert">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Afternoon Tea</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="true" class="form-control" ng-model="menu.afternoonTea">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Late Afternoon Tea</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="true" class="form-control" ng-model="menu.lateAfternoonTea">
							</div>
						</div>

					</div><!--.nutri-list-->
				</div><!--.nutri-day-menu-->

				<!-- 下拉框未选择时显示空模板 -->
				<div ng-if="!selectMenuId">
					
					<div class="nutri-day-menu">
				              <div class="day">MON</div>

				              <div class="nutri-list">
				                <div class="form-group">
				                  <label class="col-md-3 control-label">Breakfast</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Morning Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch Image</label>
				                  <div class="col-md-9">
				                    <!-- <div class="btn btn-general fileUpload">
				                      <i class="material-icons">camera_alt</i>
				                      <input type="file" class="upload">
				                    </div> -->
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Dessert</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Afternoon Team</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Late Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				              </div><!--.nutri-list-->
				            </div><!--.nutri-day-menu-->

				            <div class="nutri-day-menu">
				              <div class="day">TUE</div>

				              <div class="nutri-list">
				                <div class="form-group">
				                  <label class="col-md-3 control-label">Breakfast</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Morning Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch Image</label>
				                  <div class="col-md-9">
				                    <!-- <div class="btn btn-general fileUpload">
				                      <i class="material-icons">camera_alt</i>
				                      <input type="file" class="upload">
				                    </div> -->
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Dessert</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Afternoon Team</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Late Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				              </div><!--.nutri-list-->
				            </div><!--.nutri-day-menu-->

				            <div class="nutri-day-menu">
				              <div class="day">WED</div>

				              <div class="nutri-list">
				                <div class="form-group">
				                  <label class="col-md-3 control-label">Breakfast</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Morning Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch Image</label>
				                  <div class="col-md-9">
				                    <!-- <div class="btn btn-general fileUpload">
				                      <i class="material-icons">camera_alt</i>
				                      <input type="file" class="upload">
				                    </div> -->
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Dessert</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Afternoon Team</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Late Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				              </div><!--.nutri-list-->
				            </div><!--.nutri-day-menu-->

				            <div class="nutri-day-menu">
				              <div class="day">THU</div>

				              <div class="nutri-list">
				                <div class="form-group">
				                  <label class="col-md-3 control-label">Breakfast</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Morning Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch Image</label>
				                  <div class="col-md-9">
				                    <!-- <div class="btn btn-general fileUpload">
				                      <i class="material-icons">camera_alt</i>
				                      <input type="file" class="upload">
				                    </div> -->
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Dessert</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Afternoon Team</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Late Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				              </div><!--.nutri-list-->
				            </div><!--.nutri-day-menu-->

				            <div class="nutri-day-menu">
				              <div class="day">FRI</div>

				              <div class="nutri-list">
				                <div class="form-group">
				                  <label class="col-md-3 control-label">Breakfast</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Morning Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch Image</label>
				                  <div class="col-md-9">
				                    <!-- <div class="btn btn-general fileUpload">
				                      <i class="material-icons">camera_alt</i>
				                      <input type="file" class="upload">
				                    </div> -->
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Dessert</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Afternoon Team</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Late Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" class="form-control" ng-disabled="true">
				                  </div>
				                </div>

				              </div><!--.nutri-list-->
				            </div><!--.nutri-day-menu-->

				</div>

			</div><!--.content-area-->

		</div>
	</form>
</div>

