
<div class="modal-content" ng-init="getNutMenu();" id="menuMain">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel();" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Week {{menuIndex}} Nutrional Menu</h4>
	</div>

	<form form-menu id="menuFrom" class="form-horizontal">
		<div class="modal-body">
			<div class="form-horizontal nutri-weekly-menu">
				<div class="button-group text-right" ng-if="centerStatus==1">
					<button class="btn btn-general" ng-click="updateMenu();">Update</button>
				</div>
				<div class="nutri-day-menu" ng-repeat="menu in WeekNutrionalMenuList">
					<div class="day" ng-show="menu.weekToday==1">MON</div>
					<div class="day" ng-show="menu.weekToday==2">TUE</div>
					<div class="day" ng-show="menu.weekToday==3">WED</div>
					<div class="day" ng-show="menu.weekToday==4">THU</div>
					<div class="day" ng-show="menu.weekToday==5">FRI</div>
					<div class="nutri-list">
						<div class="form-group">
							<label class="col-md-3 control-label">Breakfast</label>
							<div class="col-md-9">
								<input type="text" name="breakfast" ng-disabled="centerStatus==0" class="form-control" ng-model="menu.breakfast">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Morning Tea</label>
							<div class="col-md-9">
								<input type="text" name="morningTea" ng-disabled="centerStatus==0" class="form-control" ng-model="menu.morningTea">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Lunch</label>
							<div class="col-md-9">
								<input type="text" name="lunch" ng-disabled="centerStatus==0" class="form-control" ng-model="menu.lunch">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Lunch Image</label>
							<div class="col-md-9">
								<div class="btn btn-general fileUpload"  ng-show="(menu.image.visitedUrl==null || menu.image.visitedUrl=='')&&centerStatus==1">
									<i class="material-icons">camera_alt</i> <input type="file" ngf-multiple="false"  ngf-select="uploadImage($file,menu)" class="upload">
								</div>
								<div class="function imageUpload" ng-show="menu.image.visitedUrl!=null && menu.image.visitedUrl!=''">
									<div class="thumb uploaded">
										<img ng-src="{{menu.image.visitedUrl}}"> <a ng-hide="centerStatus==0" class="image-delete"
											ng-click="deleteImage(menu.image);" href="javascript:void(0);"><i class="fa fa-times"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Dessert</label>
							<div class="col-md-9">
								<input type="text" name="dessert" ng-disabled="centerStatus==0" class="form-control" ng-model="menu.dessert">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Afternoon Tea</label>
							<div class="col-md-9">
								<input type="text" name="afternoonTeam" ng-disabled="centerStatus==0" class="form-control" ng-model="menu.afternoonTea">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Late Afternoon Tea</label>
							<div class="col-md-9">
								<input type="text" name="lateAfternoonTea" ng-disabled="centerStatus==0" class="form-control" ng-model="menu.lateAfternoonTea">
							</div>
						</div>

					</div>

					<!--.nutri-list-->
				</div>


				<!--.nutri-day-menu-->
			</div>

			<!--.nutri-day-menu-->
	</form>
</div>

</div>
