<div class="modal-content" id="mainDiv" ng-init="getGroupInfo();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel();" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">{{groupInfo.name}}</h4>
	</div>
	<form id="groupForm" group-form class="form-horizontal">
		<div class="modal-body">
			<div class="dropdown right group-action" ng-if="centerStatus==1&&roomStatus==1">
				<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog"></i>
				</button>
				<ul class="dropdown-menu">
					<li ng-show="groupInfoVo.status==1">
						<a class="group-update" ng-click="editGroup(groupInfoVo.id);" href="javascript:void(0);">Update</a>
					</li>
					<li ng-show="groupInfoVo.status==1">
						<a class="group-archive" ng-click="archiveGroup(groupInfoVo.id,0);" href="javascript:void(0);">Archive</a>
					</li>
					<li ng-show="groupInfoVo.status==0">
						<a class="group-archive" ng-click="archiveGroup(groupInfoVo.id,1);" href="javascript:void(0);">Unarchive</a>
					</li>
				</ul>
			</div>

			<div class="group-educator" ng-repeat="groupManager in groupInfoVo.list">
				<span class="profileImage">
					<span ng-if="groupManager.avatar==null||groupManager.avatar==''" class="name-short staff-name-short {{groupManager.personColor}}">{{groupManager.fullName|userNameUpperCase}}</span>
					<img ng-if="groupManager.avatar!=null&&groupManager.avatar!=''" ng-src="{{groupManager.avatar}}" err-src="./resource/images/empty.png"
					 class="img-circle img-full" />
					<!-- <img ng-if="groupInfoVo.educatorAvatar==null||groupInfoVo.educatorAvatar==''" src="./resources/images/empty.png" class="img-circle img-full" /> -->
				</span>
				<span class="name-full"> {{groupManager.fullName}} </span>
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-4 control-label">Change Group Name</label>
					<div class="col-sm-8">
						<input type="text" name="groupName" ng-disabled="groupInfoVo.status==0" class="form-control" ng-model="groupInfo.name">
					</div>
				</div>
			</div>
			<ul class="list-group list-group-children">
				<li class="list-group-item" ng-repeat="child in groupInfoVo.childList">
					<span class="profileImage" ng-if="child.avatar!=null&&child.avatar!=''">
						<img ng-src="{{child.avatar}}" class="img-circle img-full">
					</span>
					<span class="name-short my-child-short {{child.personColor}}" ng-if="child.avatar==null||child.avatar==''">
						{{child.firstName|userNameUpperCase}} </span>
					<span class="name-full">{{child.firstName}}</span>
				</li>
			</ul>
		</div>
	</form>
</div>