<div class="main" ng-controller="attendanceManagementCtrl">
  <div ng-init="headtype='attendanceManagement';headName='Attendance Management'" ng-include="'head.html?res_v='+res_v"></div>
  <div class="container-fluid" ng-init="initGetPagarList()">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">Filter</div>
          <button class="closeButton">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>

        <div class="menu-block">
          <div class="text-bold mtb10">Position types</div>
          <ul class="sub-filter">
            <li class="active">
              <a href="#/attendance_management">Enrolled children</a>
            </li>
            <li>
              <a href="#/application_list">Waiting list</a>
            </li>
            <li>
              <a href="#/email_list">Email list of planning positions</a>
            </li>
          </ul>
          <br />
          <div class="title">Attendance Type</div>
          <ul>
            <li ng-class="{true:'active',false:''}[condition.type==null]" ng-click="chooseType(null)">
              <a href="javascript:void(0);">All Type</a>
            </li>
            <li ng-class="{true:'active',false:''}[condition.type==0]" ng-click="chooseType(0)">
              <a href="javascript:void(0);">Giving Notice</a>
            </li>
            <li ng-class="{true:'active',false:''}[condition.type==1]" ng-click="chooseType(1)">
              <a href="javascript:void(0);">Absence Request</a>
            </li>
            <li ng-class="{true:'active',false:''}[condition.type==2]" ng-click="chooseType(2)">
              <a href="javascript:void(0);">Change of Room</a>
            </li>
            <li ng-class="{true:'active',false:''}[condition.type==3]" ng-click="chooseType(3)">
              <a href="javascript:void(0);">Change of Centre</a>
            </li>
            <li ng-class="{true:'active',false:''}[condition.type==4]" ng-click="chooseType(4)">
              <a href="javascript:void(0);">Change of Attendance</a>
            </li>
            <!-- <br>
            <li ng-if="isCeoRole" ng-class="{true:'active',false:''}[condition.type==5]">
              <a href="javascript:void(0);" ng-click="chooseType(5)">External</a>
            </li>
            <br>
            <li ng-if="showLiveAge">
              Live Age
              <input type="text" class="form-control" my-date-picker ng-model="condition2.age">
            </li> -->
          </ul>
        </div>
      </div>

      <div class="filter-bottom">Filter</div>

      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" id="mainList">
        <div class="rosterWrap">
          <h2 class="page-title">Attendance List</h2>
          <div class="table-responsive table-nowrap">
            <table ng-if="condition.type!=5" class="leave-table leave-list table table-bordered table-customize-general">
              <thead>
                <tr>
                  <th style="min-width:200px;max-width:200px">Children</th>
                  <th style="min-width:500px;max-width:500px;overflow:hidden;">Attendance description</th>
                  <th style="min-width:130px;max-width:130px;overflow:hidden;">Centre</th>
                  <th style="min-width:170px;max-width:170px">Type of attendance</th>
                  <th style="min-width:150px;max-width:150px">Date of application</th>
                  <th style="min-width:150px;max-width:150px">Date of operation</th>
                  <th style="min-width:100px;max-width:100px">Status</th>
                  <th class="">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="filter">
                  <td>
                    <input type="text" class="form-control" ng-model="condition.userName" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition.description" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition.centerName" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition.typeStr" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" my-date-picker ng-model="condition.appDate">
                  </td>
                  <td>
                    <input type="text" class="form-control" my-date-picker ng-model="condition.opeDate" ,>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition.status" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td></td>
                </tr>
                <tr class="queue" ng-repeat="model in list">
                  <td style="min-width:200px;max-width:200px;" title="{{model.name}}">
                    <button style="min-width:185px;max-width:185px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                      data-toggle="modal" data-target="#profile-modal" class="link no-style" ng-click="openProfile(model.familyId);">
                      <span ng-if="model.avatar" class="profileImage">
                        <img ng-src='{{model.avatar}}' class="img-circle img-full">
                      </span>
                      <span ng-if="!(model.avatar)" class="name-short name-image-short {{model.personColor!=null?model.personColor:'blue'}}">{{model.name
                        | userNameUpperCase}}</span>
                      <span class="name-full">{{model.name}}</span>
                    </button>
                  </td>
                  <td style="min-width:500px;max-width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"
                    title="{{model.msg}}" ng-if="model.type==0 || model.type==1 || model.type==2 || model.type==4 || model.type==5">
                    <a href="javascript:void(0);" ng-click="openRequest(model.objId,model.type,true);" ng-bind-unsafe="model.msgStr"></a>
                  </td>
                  <td style="min-width:500px;max-width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"
                    title="{{model.msg}}" ng-if="model.type==12 || model.type==13">
                    <a href="javascript:void(0);" ng-click="forwardOpt(model.childVo,model.objId,model.type);"
                      ng-bind-unsafe="model.msgStr"></a>
                  </td>
                  <td style="min-width:500px;max-width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"
                    title="{{model.msg}}" ng-if="model.type==10 || model.type==11" ng-bind-unsafe="model.msgStr"></td>
                  <td style="min-width:130px;max-width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"
                    title="{{model.centerName}}">{{model.centerName}}</td>
                  <td style="min-width:170px;max-width:170px">{{model.logType | typeOfAttendanceFilter}}</td>
                  <td style="min-width:150px;max-width:140px">{{model.createTime | date:"dd/MM/yyyy"}}</td>
                  <td style="min-width:150px;max-width:140px">{{model.updateTime | date:"dd/MM/yyyy"}}</td>
                  <td style="min-width:120px;max-width:120px">{{model.state | statusOfRequestLog}}</td>
                  <td class="text-center leave-action">
                    <div class="dropdown right" ng-click="openRequestLog(model,model.childVo,$index);">
                      <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>


            <table ng-if="isCeoRole&&condition.type==5" class="leave-table leave-list table table-bordered table-customize-general">
              <thead>
                <tr>
                  <th style="min-width:170px;max-width:170px;cursor: pointer;" class="txt2long" title="Children Name"
                    ng-click="sortByColumn.fun('aa.name')">Children Name</th>
                  <th style="min-width:100px;max-width:100px;cursor: pointer;" class="txt2long" title="Live Age"
                    ng-click="sortByColumn.fun('aa.birthday')">Live Age</th>
                  <th style="min-width:80px;max-width:80px;cursor: pointer;" class="txt2long" title="Type" ng-click="sortByColumn.fun('')">Type</th>
                  <th style="min-width:180px;max-width:180px;cursor: pointer;" class="txt2long" title="Days Requested"
                    ng-click="sortByColumn.fun('aa.reqDateSort')">Days Requested</th>
                  <th style="min-width:140px;max-width:140px;cursor: pointer;" class="txt2long" title="Date of application"
                    ng-click="sortByColumn.fun('aa.appDate')">Date of application</th>
                  <th style="min-width:155px;max-width:155px;cursor: pointer;" class="txt2long" title="Requested Start Date"
                    ng-click="sortByColumn.fun('aa.reqStartDate')">Requested Start Date</th>
                  <th style="min-width:125px;max-width:125px;cursor: pointer;" class="txt2long" title="Parent 1 Name"
                    ng-click="sortByColumn.fun('aa.parent_name1')">Parent 1 Name</th>
                  <th style="min-width:118px;max-width:118px;cursor: pointer;" class="txt2long" title="Parent 1 Mobile"
                    ng-click="sortByColumn.fun('aa.mobile_number1')">Parent 1 Mobile</th>
                  <th style="min-width:125px;max-width:125px;cursor: pointer;" class="txt2long" title="Parent 2 Name"
                    ng-click="sortByColumn.fun('aa.parent_name2')">Parent 2 Name</th>
                  <th style="min-width:118px;max-width:118px;cursor: pointer;" class="txt2long" title="Parent 2 Mobile"
                    ng-click="sortByColumn.fun('aa.mobile_number2')">Parent 2 Mobile</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="filter">
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.childName" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.liveAge" ng-disabled="true">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.type" ng-disabled="true">
                  </td>
                  <td>
                    <select style='width: 100%' class="form-control select2" max='5' ng-model='condition2.reqDates'
                      multiple="multiple" id="objectId">
                      <option>Mon</option>
                      <option>Tue</option>
                      <option>Wed</option>
                      <option>Thu</option>
                      <option>Fri</option>
                    </select>
                  <td>
                    <input type="text" class="form-control" time-range starttime="condition2.appStartDate" endtime="condition2.appEndDate"
                      callback='clearAppDate'>
                  </td>
                  <td>
                    <input type="text" class="form-control" time-range starttime="condition2.reqStartDate" endtime="condition2.reqEndDate"
                      callback='clearReqDate'>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.p1Name" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.p1Mobile" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.p2Name" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="condition2.p2Mobile" ng-blur="changePage(1)"
                      ng-keypress="keyEvent($event)">
                  </td>
                  <td></td>
                </tr>
                <tr class="queue" ng-repeat="child in listExternal">
                  <td title="{{child.childName}}">
                    <button style="min-width:170px;max-width:170px;text-align:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"
                      data-toggle="modal" data-target="#profile-modal" class="link no-style txt2long" ng-click="openProfile(child.familyId);">
                      <span ng-if="child.avatar!=null && child.avata!=''" class="profileImage">
                        <img ng-src='{{child.avatar}}' class="img-circle img-full">
                      </span>
                      <span ng-if="child.avatar==null ||child.avata=='' " class="name-short name-image-short {{child.personColor!=null?child.personColor:'blue'}}">{{child.childName
                        | userNameUpperCase}}</span>
                      <span class="name-full">{{child.childName}}</span>
                    </button>
                  </td>
                  <td style="min-width:100px;max-width:100px;" title="{{child.liveAge[0]}}Y {{child.liveAge[1]}}M {{child.liveAge[2]}}D">{{child.liveAge[0]}}Y
                    {{child.liveAge[1]}}M {{child.liveAge[2]}}D</td>
                  <td style="min-width:80px;max-width:80px;">External</td>
                  <td style="min-width:180px;max-width:180px" title="{{child.reqDate}}" class="txt2long">{{child.reqDate}}</td>
                  <td style="min-width:140px;max-width:140px">{{child.appDate | date:"dd/MM/yyyy"}}</td>
                  <td style="min-width:155px;max-width:155px">{{child.reqStartDate | date:"dd/MM/yyyy"}}</td>
                  <td style="min-width:125px;max-width:125px" class="txt2long" title="{{child.p1Name}}">{{child.p1Name}}</td>
                  <td style="min-width:118px;max-width:118px" class="txt2long" title="{{child.p1Mobile}}">{{child.p1Mobile}}</td>
                  <td style="min-width:125px;max-width:125px" class="txt2long" title="{{child.p2Name}}">{{child.p2Name}}</td>
                  <td style="min-width:118px;max-width:118px" class="txt2long" title="{{child.p2Mobile}}">{{child.p2Mobile}}</td>
                  <td class="text-center leave-action" ng-if="child.childVo.attendance.attendFlag">
                    <button type="button" ng-click="openWin('',child.id,6,child.childVo,false);" class="btn btn-general btn-block">Enrol
                      Child</button>
                  </td>
                  <td class="text-center leave-action" title="Removed From The Queue" ng-if="!child.childVo.attendance.attendFlag">
                    <button type="button" ng-disabled="!child.childVo.attendance.attendFlag" class="btn btn-general btn-block">Enrol
                      Child</button>

                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="pagination-wrap text-center" ng-if="condition.type!=5">
            <nav aria-label="Page navigation">
              <pagination ng-change="changePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize"
                total-items="condition.totalSize" ng-model="condition.pageIndex" max-size="condition.maxSize"
                previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
            </nav>
          </div>
          <div class="pagination-wrap text-center" ng-if="condition.type==5">
            <nav aria-label="Page navigation">
              <pagination ng-change="changePage(condition2.pageIndex)" uib-pagination items-per-page="condition2.pageSize"
                total-items="condition2.totalSize" ng-model="condition2.pageIndex" max-size="condition2.maxSize"
                previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
            </nav>
          </div>
        </div>


      </div>
      <!--.content-area-->

    </div>
  </div>
</div>