<div ng-init="initAttendanceChange()" ng-if="modalType==1"></div>
<div ng-init="initAttendanceAdd()" ng-if="modalType==0"></div>
<div ng-if="modalType==1 && currentChildRequest!=''" class="">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close();" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">We've found a match!</h4>
    <p>{{info.absenteeChild.fristName}} is taking short leave between
      {{info.absenteeRequestInfo.beginDate | commotDate:'DD MMM YYYY'}} and
      {{info.absenteeRequestInfo.endDate | commotDate:'DD MMM YYYY'}}, and {{currentChildRequest.fristName}} would like
      to attend {{week}}'s.</p>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 childInfo childLeave">
          <div class="childName">
            {{info.absenteeChild.name}}
          </div>
          <div class="childRequest">
            {{info.absenteeChild.fristName}}'s request was made<br /> on
            {{info.absenteeChild.date | commotDate:'DD MMM YYYY'}}.
          </div>
          <div class="childContact">
            <p>
              <strong>Call {{info.absenteeChild.parentName}} to confirm</strong><br />
              <span class="telphone">{{info.absenteeChild.parentPhone}}</span><br />
              <span class="mobile">{{info.absenteeChild.parentMobile}}</span>
            </p>
          </div>
        </div>
        <!--.childInfo-->

        <div class="col-sm-4 childImageChange">

          <div class="innerGraph">
            <div class="row childLeave">
              <div class="col-xs-12">
                <div class="profileImageContainer pull-left">
                  <span class="name-short {{info.absenteeChild.personColor}}"
                    ng-if="info.absenteeChild.avatar=='' || info.absenteeChild.avatar==null">
                    {{info.absenteeChild.name | userNameUpperCase}}
                  </span>
                  <div class="profileImage" ng-if="info.absenteeChild.avatar!='' && info.absenteeChild.avatar!=null">
                    <img ng-src="{{info.absenteeChild.avatar}}" class="img-circle img-full">
                  </div>
                </div>
              </div>
            </div>

            <div class="row childJoin">
              <div class="col-xs-12">
                <div class="profileImageContainer pull-right">
                  <span class="name-short {{currentChildRequest.personColor}}"
                    ng-if="currentChildRequest.avatar=='' || currentChildRequest.avatar==null">
                    {{currentChildRequest.name | userNameUpperCase}}
                  </span>
                  <div class="profileImage" ng-if="currentChildRequest.avatar!='' && currentChildRequest.avatar!=null">
                    <img ng-src="{{currentChildRequest.avatar}}" class="img-circle img-full">
                  </div>
                </div>
              </div>
            </div>

            <div class="changeArrow redArrow"><i class="fa fa-share"></i></div>
            <div class="changeArrow greenArrow"><i class="fa fa-reply"></i></div>
          </div>

        </div>

        <div class="col-sm-4 childInfo childJoin">
          <div class="childName">
            {{currentChildRequest.name}}
          </div>
          <div class="childRequest">
            {{currentChildRequest.fristName}}'s request was made<br /> on
            {{currentChildRequest.date | commotDate:'DD MMM YYYY'}}.
          </div>
          <div class="childContact">
            <p>
              <strong>Call {{currentChildRequest.parentName}} to confirm</strong><br />
              <span class="telphone">{{currentChildRequest.parentPhone}}</span><br />
              <span class="mobile">{{currentChildRequest.parentMobile}}</span>
            </p>
          </div>
        </div>
        <!--.childInfo-->
      </div>
      <!--.row-->

      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 moreAttend">
          <button class="no-style" data-toggle="modal" data-target="#waiting-list-modal" ng-click="openChoose(0);">
            See who else would like to attend
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-show="currentChildRequest.requestId!=''">
    <button class="btn btn-general" ng-show="currentChildRequest.weekInstances>=2"
      ng-click="approveReplace(1,currentChildRequest.weekInstances)">Approve for {{currentChildRequest.weekInstances}}
      instances</button>
    <button class="btn btn-general" ng-click="approveReplace(0,1)">Approve for today</button>
    <button class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Not Now</button>
  </div>
</div>

<div class="" ng-if="modalType==0 && currentChildRequest!=''">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();"><span
        aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Please select a child</h4>
    <p>{{currentChildRequest.fristName}} would like to attend {{week}}'s.</p>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 childInfo center text-center">
          <div class="profileImageContainer">
            <span class="name-short {{currentChildRequest.personColor}}"
              ng-if="currentChildRequest.avatar=='' || currentChildRequest.avatar==null">
              {{currentChildRequest.name | userNameUpperCase}}
            </span>
            <div class="profileImage" ng-if="currentChildRequest.avatar!='' && currentChildRequest.avatar!=null">
              <img ng-src="{{currentChildRequest.avatar}}" class="img-circle img-full">
            </div>
          </div>
          <div class="childName">
            {{currentChildRequest.name}}
          </div>
          <div class="childRequest">
            {{currentChildRequest.fristName}}'s request was made<br /> on
            {{currentChildRequest.date | commotDate:'DD MMM YYYY'}}.
          </div>
          <div class="childContact">
            <p>
              <strong>Call {{currentChildRequest.parentName}} to confirm</strong><br />
              <span class="telphone">{{currentChildRequest.parentPhone}}</span><br />
              <span class="mobile">{{currentChildRequest.parentMobile}}</span>
            </p>
          </div>
        </div>
        <!--.childInfo-->

      </div>
      <!--.row-->

      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 moreAttend">
          <button class="no-style" data-toggle="modal" ng-click="openChoose(1);" data-target="#waiting-list-modal">
            See who else would like to attend
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-general" ng-click="approveAdd();">Approve</button>
    <button class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Not Now</button>
  </div>
</div><!-- /.modal-content -->

<div class="" ng-if="modalType==2">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <p>{{currentChooseUser.name}} would like to cancel {{week}}</p>
    {{currentChildRequest}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-general" ng-click="approveDel(0);">Approve forever</button>
    <button class="btn btn-general" ng-click="approveDel(1);">Approve for today</button>
    <button class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Not Now</button>
  </div>
</div><!-- /.modal-content -->

<div class="" ng-if="modalType!=2 && currentChildRequest==''">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();"><span
        aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">No Child</h4>
  </div>
  <div class="modal-body">
    <p>There are no children waiting to attend on this day.</p>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 moreAttend">
      <button class="no-style" data-toggle="modal" ng-click="openChoose(1);" data-target="#waiting-list-modal">
        See who else would like to attend
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" ng-click="close();">Cancel</button>
  </div>
</div><!-- /.modal-content -->