<div >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="cancel();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">See who else would like to attend</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group" ng-if="chooseType==1 || chooseType==0">
              <label class="col-md-3 control-label">Internal</label>
              <div class="col-md-9">
              <select imageselect class="image-select form-control" select2-model="internal"  ng-model="$parent.chooseId">
                  <!-- <option data-img-src="{{obj.avatar}}"  value="{{obj.id}}" ng-repeat="obj in internal">{{obj.text}}</option> -->
              </select>               
              </div>
            </div>

            <div class="form-group" ng-if="chooseType==1">
              <label class="col-md-3 control-label">Siblings</label>
              <div class="col-md-9">
                <select imageselect class="image-select form-control" select2-model="siblings" ng-model="$parent.chooseId">
                  <!-- <option data-img-src="{{obj.avatar}}"  value="{{obj.id}}" ng-repeat="obj in siblings">{{obj.text}}</option> -->
               </select>  
              </div>
            </div>

            <div class="form-group" ng-if="chooseType==1">
              <label class="col-md-3 control-label">External</label>
              <div class="col-md-9">
                <select imageselect class="image-select form-control" select2-model="external" ng-model="$parent.chooseId">
                   <!--  <option data-img-src="{{obj.avatar}}"  value="{{obj.id}}" ng-repeat="obj in external">{{obj.text}}</option> -->
                </select>  
              </div>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="confirm();" class="btn btn-general">Confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
          
        </div>
      </div>