<div class="modal-content" ng-init="initAbsentee()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Absentee Form</h4>
	</div>
	<form form id="absenteeForm" absentee-form>
		<div class="modal-body">
			<div class="form-horizontal">
				<!-- <div class="well">
					<h4>NQS</h4>
					<p>7.3 Administrative systems enable the effective management of a quality services</p>
					<p>7.3.2 Administrative systems are established and maintained to ensure the effective operation of the services</p>
				</div> -->

				<p>This form is to be completed when a parent advises the centre of a period of absence (e.g Holidays, Scheduled
					Hospital Procedure etc.)</p>

				<div class="form-group">
					<label class="col-md-4 control-label"> Child's Name </label>
					<div class="col-md-8">
						<input type="text" ng-disabled="true" name="childName" class="form-control" ng-model="absenteeRequestInfo.childName" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"> Parent's Name </label>
					<div class="col-md-8">
						<input type="text" ng-disabled="true" name="parentName" class="form-control" ng-model="absenteeRequestInfo.parentName" />
					</div>
				</div>

				<hr>

				<h4>Period of Absence</h4>

				<div class="form-group">
					<label class="col-md-4 control-label"> Last day at Centre </label>
					<div class="col-md-8">
						<input type="text" ng-disabled="isReadOnly" id="lastDayAtCentre" name="lastDayAtCentre" my-date-picker class="form-control"
						 ng-model="absenteeRequestInfo.beginDate">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"> Date Returning to the Centre </label>
					<div class="col-md-8">
						<input type="text" ng-disabled="isReadOnly" id="deturningCentre" name="deturningCentre" class="form-control"
						 my-date-picker ng-model="absenteeRequestInfo.endDate">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Reason for Absence</label>
					<div class="col-md-8">
						<input type="text" ng-disabled="isReadOnly" name="reasonAbsence" class="form-control" ng-model="absenteeRequestInfo.reason">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">No. of Weeks Child Absent</label>
					<div class="col-md-8">
						<input type="text" ng-disabled="isReadOnly" name="weeksAbsent" class="form-control" ng-model="absenteeRequestInfo.weeksNo">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label">Fees Calculated for the Absent Period</label>
					<div class="col-md-8">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.fees01">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								I will ensure that I have sufficient funds in my nominated account to be processed fornightly while my child is
								absent from the service.
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.fees02">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								I wish to pay my account in full, prior to leaving, inclusive of the period of absence.
							</label>
						</div>
					</div>
				</div>

				<!-- <div class="form-group">
					<label class="col-md-4 control-label"> Medthod of Payment </label>
					<div class="col-md-8">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.fees03">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								iDebit
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.fees04">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Cash
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.fees05">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Eftpos
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.fees06">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Cheque
							</label>
						</div>
					</div>
				</div> -->

				<hr>

				<p>Please note that a maximum of 42 absent days are allowed by Centrelink each financial year.</p>

				<div class="form-group">
					<label class="col-md-4 control-label"> Number of absent days at the time of child's last day </label>
					<div class="col-md-8">
						<input type="text" ng-disabled="true" ng-model="absenteeRequestInfo.absentNum" name="absentNum" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"> Total number of absent days inclusive of the period of absence </label>
					<div class="col-md-8">
						<input type="text" ng-disabled="true" ng-model="absenteeRequestInfo.absentTotalNum" name="totalNumber" class="form-control">
					</div>
				</div>

				<hr>

				<p>During the period of absence, please provide a contact number and/or email address to authorise Management to
					discuss any details in regards to your account and fees.</p>

				<div class="form-group">
					<label class="col-md-4 control-label"> Email </label>
					<div class="col-md-8">
						<input type="email" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.email" name="email" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label"> Contact Number </label>
					<div class="col-md-8">
						<input type="tel" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.contactNumber" name="contactNumber"
						 class="form-control">
					</div>
				</div>

				<hr>

				<p>Please note that full fees will apply if absent days exceed the Centrelink requirement of 42 per financial year.</p>

				<p>If you have indicated that you wish to pay your account in full, and fees have not been paid on your child's
					last day of attendance prior to leaving. Management will proceed to process fees
					from your nominated bank account via Direct Debit.</p>

				<div class="form-group">
					<div class="col-md-12">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isReadOnly" ng-model="absenteeRequestInfo.checkParentRead" name="checkParentRead">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								I have read and accept the terms and coditions outlined on the Absentee Procedure Form
							</label>
						</div>
					</div>
				</div>

				<div class="signature-block">
					<div id="signature-pad-3" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas ng-show="absenteeStatus!=1&&!isReadOnly"></canvas>
							<img class="signatureShow" ng-show="absenteeRequestInfo.parentSignatureId!=null||isReadOnly" ng-src="{{absenteeRequestInfo.parentSignatureId}}">
						</div>
						<div class="m-signature-pad--footer">
							<div class="description">Parent Signature</div>
							<button type="button" ng-show="absenteeStatus!=1&&!isReadOnly" class="button clear btn btn-default btn-sm"
							 data-action="parentSign">Clear</button>
						</div>
					</div>

					<div id="signature-pad-4" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas ng-show="!isParent&&(absenteeStatus==-1||absenteeStatus==3)&&!isReadOnly"></canvas>
							<img class="signatureShow" ng-show="(isParent&&givingNoticeInfo.chargeSignatureId!=null&&(absenteeStatus==-1||absenteeStatus==3))||isReadOnly"
							 ng-src="{{absenteeRequestInfo.chargeSignatureId}}">
						</div>
						<div class="m-signature-pad--footer">
							<div class="description">Centre Manager/Second in Charge Signature</div>
							<button type="button" ng-show="!isParent&&(absenteeStatus==-1||absenteeStatus==3)&&!isReadOnly" class="button clear btn btn-default btn-sm"
							 data-action="managerSign">Clear</button>
						</div>
					</div>
				</div>

				<hr>
				<div ng-show="!isParent">
					<h4>Office Use Only</h4>

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="absenteeRequestInfo.only01" name="only01">
									<span class="cr">
										<i class="cr-icon fa fa-check"></i>
									</span>
									Fees are calculated and paid by parent including full fees if child will exceed the allowable 42 days.
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="absenteeRequestInfo.only02" name="only02">
									<span class="cr">
										<i class="cr-icon fa fa-check"></i>
									</span>
									Primary Caregiver advised of child's absence & individual programming re-scheduled
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="absenteeRequestInfo.only03" name="only03">
									<span class="cr">
										<i class="cr-icon fa fa-check"></i>
									</span>
									Date of return entered into diary
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="absenteeRequestInfo.only04" name="only04">
									<span class="cr">
										<i class="cr-icon fa fa-check"></i>
									</span>
									Parent contacted if child does not return on scheduled day
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="absenteeRequestInfo.only05" name="only05">
									<span class="cr">
										<i class="cr-icon fa fa-check"></i>
									</span>
									If child is scheduled for a medical procedure, date entered into diary & parent contacted the day after to
									check on how the child is feeling
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="absenteeRequestInfo.only06" name="only06">
									<span class="cr">
										<i class="cr-icon fa fa-check"></i>
									</span>
									Form filed in child's file in office.
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button ng-show="false" ng-click="save();"></button>
		</div>
	</form>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-if="!isReadOnly&&absenteeStatus==-1" ng-click="save(false)">Apply</button>
		<button type="button" class="btn btn-general" ng-if="!isReadOnly&&absenteeStatus==3" ng-click="save(true)">Approve</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
	</div>