<div ng-init="">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request Logs</h4>
    </div>
    <div class="modal-body">
    	<table class="table table-bordered" ng-if="attendanceHistoryInfos.futureAttendance!=null">
	        <tbody>
	          <tr ng-repeat="item in attendanceHistoryInfos.futureAttendance">
	          	<th align="center" colspan="3">{{item.beginTime | date:"dd/MM/yyyy"}} into {{item.centerName}} {{item.roomName}}</th>
	          </tr>
	        </tbody>
	    </table>
	    <table class="table table-bordered" ng-repeat="objs in attendanceHistoryInfos.attendanceHistoryGroupVos">
	        <tbody>
	          <tr>
	          	<th align="center" colspan="3">{{objs.groupName}}</th>
	          </tr>
	          <tr ng-repeat="obj in objs.attendanceHistoryVos">
	            <td>{{obj.beginTime | date:"dd/MM/yyyy"}} - {{obj.endTime | date:"dd/MM/yyyy"}}</td>
	            <td>{{obj.centerName}} {{obj.roomName}}</td>
	            <td>{{obj | attendanceHistoryFilter}}</td>
	          </tr>	          
	        </tbody>
	    </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Close</button>
    </div>	
</div>