<div class="main withWeek" ng-controller="attendanceCtrl">
 
<div ng-init="headtype='attendanceList';headName='Attendance'" ng-include="'head.html?res_v='+res_v" ></div>
<div class="container-fluid" ng-init="getWattingListFun();">
	 <div class="row" ng-init="getYearList();">
              <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
                  <div class="menu-top visible-xs">
                    <div class="menu-top-title">
                      Filter
                    </div>
                    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
                  </div>
                   <div class="menu-block child-figure-list Location" ng-init="getMenuOrgs();">
                    <div class="title">
                      Location
                    </div>
                    <ul clickFun="scope.getAttendanceList();">
                      <li ng-if="centreAndCasual||isCeoRole"><a href="javascript:void(0);"  mtype="0" org-active>All Centres</a></li>
                      <li ng-repeat="centerobj in orgList.centersInfos" >
                        <a href="javascript:void(0);" mtype="1"  org-active value="{{centerobj.id}}" >{{centerobj.name}}</a>
                        <span class="label-figure" tooltip data-toggle="tooltip" data-placement="right" data-html="true" title="Children Currently Present : {{centerobj.realCome}}<br />Children scheduled to attend : {{centerobj.shouldCome}}">{{centerobj.realCome}}/{{centerobj.shouldCome}}</span>
                        <ul class="sub-filter">
                          <li ng-repeat="roomobj in orgList.roomInfos"   ng-if="roomobj.centersId==centerobj.id">
                          <a  href="javascript:void(0);"  mtype="2" value="{{roomobj.id}}" org-active>{{roomobj.name}}</a>
                           <span class="label-figure" tooltip  data-toggle="tooltip" data-placement="right" data-html="true" title="Children Currently Present : {{roomobj.realCome}}<br />Children scheduled to attend : {{roomobj.shouldCome}}">{{roomobj.realCome}}/{{roomobj.shouldCome}}</span>
                          </li>
                        </ul>
                      </li>                     
                    </ul>
                  </div> 
              </div>
               <div class="filter-bottom" ng-click="closeButton();">
                      Filter
                  </div>   
				 
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right"  style="min-height:1200px;"id="mainList">

			<div class="attWrap clearfix">

				<!--***********************
                        ***** Attendance Sheet *****
                        *************************-->
				<div class="attSheet attChildSheet" ng-class="{true: '', false: 'attCentreManagerSheet'}[isOrganisation()]">
					<div class="attTable attSheetWrap">
						<!--.attRow-->
						<div class="attRow" ng-init="maxRowListIndex=$index" ng-repeat="obj in maxRowList track by obj.id">
							<div class="attCol att-col-7" ng-repeat="week in weekRowList track by week.id">
								<div class="attColInnerWrap" ng-class="{'status-absent':currentRepeadChildList.sgin==false,'status-at-service':currentRepeadChildList.sgin&&!currentRepeadChildList.signOut,'status-left-service':currentRepeadChildList.signOut}" ng-if="page.weekDays[$index].attendanceChilds.length>0 && page.weekDays[$index].attendanceChilds.length>maxRowListIndex"
									ng-init="currentRepeadChildList=page.weekDays[$index].attendanceChilds[maxRowListIndex];currentRepeadChildDate = page.weekDays[$index]">
									<div class="occupant" ng-if="currentRepeadChildList.childId==null">
										<span class="empty">
											<span></span>
										</span>
									</div>
									<div class="occupant" ng-if="currentRepeadChildList.childId!=null" title="{{currentRepeadChildList.name}}, {{currentRepeadChildList.age[0]}}Y {{currentRepeadChildList.age[1]}}M {{currentRepeadChildList.age[2]}}D">
										<span ng-click="openEditSign(currentRepeadChildList.childId,currentRepeadChildDate.date,currentRepeadChildList.interim)" class="name-short {{currentRepeadChildList.personColor}}"
											ng-if="currentRepeadChildList.img==null ||  currentRepeadChildList.img==''"> {{currentRepeadChildList.name | userNameUpperCase}} </span>
										<span ng-click="openEditSign(currentRepeadChildList.childId,currentRepeadChildDate.date,currentRepeadChildList.interim)" class="profileImage" ng-if="currentRepeadChildList.img!=null && currentRepeadChildList.img!=''">
											<img ng-src="{{currentRepeadChildList.img}}" class="img-circle img-full">
										</span>

										<!-- 未签到标识 begin -->
										<span class="icon-cus icon-cus-absent" ng-if="currentRepeadChildList.sgin==false">
											<i class="fa fa-exclamation" aria-hidden="true"></i>
										</span>
										<!-- 未签到标识 end -->

										<span class="icon-cus icon-cus-sign-out" ng-if="currentRepeadChildList.signOut">
											<span class="glyphicon glyphicon-log-out"></span>
										</span>

										<span class="icon-cus icon-cus-confirmed" ng-if="currentRepeadChildList.sgin&&!currentRepeadChildList.signOut">
											<span class="glyphicon glyphicon-ok"></span>
										</span>
										<span class="icon-cus icon-cus-remove child-remove" ng-click="openChange(currentRepeadChildList,page.weekDays[$index].date,2)"
											ng-if="(page.weekDays[$index].date | compareDate) && !currentRepeadChildList.sgin && !(currentRepeadChildList.childId!=null && currentRepeadChildList.leave) && (functions | haveFunction:'attendance_replace_child') ">
											<span class="glyphicon glyphicon-minus"></span>
										</span>
									</div>
									<div class="waiting-list"
										ng-if="(currentRepeadChildList.childId==null || (currentRepeadChildList.childId!=null && currentRepeadChildList.leave) || !currentRepeadChildList.sgin) && !currentRepeadChildList.sgin ">
										<button class="no-style element" ng-click="openChange(currentRepeadChildList,page.weekDays[$index].date,0)" ng-if="currentRepeadChildList.childId==null  && page.condition.roomId!='' &&  (functions | haveFunction:'attendance_replace_child')"
											type="button" data-toggle="modal" data-target="#att-modal">
											<span class="icon-cus icon-cus-add">
												<span class="glyphicon glyphicon-plus"></span>
											</span>
										</button>
										<button class="no-style element" ng-if="currentRepeadChildList.childId!=null && currentRepeadChildList.leave" ng-click="openChange(currentRepeadChildList,page.weekDays[$index].date,1)"
											type="button" data-toggle="modal" data-target="#att-modal">
											<span class="icon-cus icon-cus-change">
												<i class="fa fa-share"></i>
												<i class="fa fa-reply"></i>
											</span>
										</button>
									</div>
								</div>
							</div>
							<!--.attRow-->
						</div>
					</div>
					<!--.attSheetWrap-->
				</div>
				<!--.attSheet-->
				<div class="attSheet attStaffSheet " ng-hide="isOrganisation()" ng-if="!(currentUser.roleInfoVoList|haveRole:'10')">
					<h4>Leave</h4>
					<div class="attSheet attChildSheet">
						<div class="attTable attSheetWrap">
							<!--.attRow-->
							<div class="attRow" ng-init="maxRowListIndex=$index" ng-repeat="obj in maxRowList track by obj.id">
								<div class="attCol att-col-7" ng-repeat="week in weekRowList track by week.id">
									<div class="attColInnerWrap" ng-if="page.weekDays[$index].leaves.length>0 && page.weekDays[$index].leaves.length>maxRowListIndex"
										ng-init="currentRepeadChildList=page.weekDays[$index].leaves[maxRowListIndex];currentRepeadChildDate = page.weekDays[$index]">
										<div class="occupant" title="{{currentRepeadChildList.userName}}">
											<span style="cursor:default;" class="name-short {{currentRepeadChildList.personColor}}"
												ng-if="currentRepeadChildList.avatar==null ||  currentRepeadChildList.avatar==''"> {{currentRepeadChildList.userName | userNameUpperCase}} </span>
											<span style="cursor:default;" class="profileImage" ng-if="currentRepeadChildList.avatar!=null && currentRepeadChildList.avatar!=''">
												<img ng-src="{{currentRepeadChildList.avatar}}" class="img-circle img-full">
											</span>
										</div>
									</div>
								</div>
								<!--.attRow-->
							</div>
						</div>
						<!--.attSheetWrap-->
					</div>
				</div>
				<!--***********************
                        *** Attendance Sheet End***
                        *************************-->
			</div>
			<!--attWrap-->
		</div>
		<!--.content-area-->
	</div>
</div>
</div>