<!--*********************************
    *******Change Attendance Modal*******
    *************************************-->
<div ng-init="changeAttendanceCtrlInit();" id="changeAttendanceDiv">
    <form changeattendance-form  id="changeattendanceForm" method="post" class="form-horizontal">
  <div class="modal-header" >
    <button type="button" class="close" ng-click="cancel1();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Request to Change Attendance</h4>
  </div>
  <div class="modal-body">
    <div class="form-horizontal" ng-init="getOrgInfo();">
      <div class="form-group" ng-if="type==1 || type==2 || type==3 || type==4 || type==5 || type==6">
        <label class="col-md-3 control-label">Centre</label>
      		<div class="col-md-9">
            <!--CEO可以修改或者新增时园长可以填写或者同意某园长申请时，不容许填写，或者是园长申请change attendance是不容许填写，或者是只读的-->
      			<select class="form-control" id="mycenter" name="childCenters" ng-disabled="(!isCEO && !(type==1 && changeAttendanceRequest.id=='' && isAdmin) && (type==3 && isAdmin) ) || isRead || (type==2  && !isCEO) ||  type==4 || type==5 " ng-model="changeAttendanceRequest.newCentreId" style="width: 100%;"
      				ng-options="center.id as center.name disable when center.status == 0 for center in centersList | centerInfoFilter:undefined:undefined">
      				<option disabled value="">Choose Centres</option>
      			</select>
      		</div>
      </div>
      <div class="form-group" ng-if="type==2 || type==3 ||  type==6 ||  type==4 || type==5">
        <label class="col-md-3 control-label">Room</label>
        <div class="col-md-9">
    			<select ng-disabled="!isAdmin || isRead || type==5" class="form-control room-selection" name="childRooms" style="width: 100%;" ng-model="changeAttendanceRequest.newRoomId"
    				ng-options="room.id as room.name disable when room.status == 0 for room in roomList | filter:{centersId:changeAttendanceRequest.newCentreId} | centerInfoFilter:undefined:undefined">

    				<option disabled value="">Choose Room</option>
    			</select>
    		</div>
      </div>

      <div class="form-group" ng-if="type==2 || type==3 || type==6 ||  type==4 || type==5">
        <label class="col-md-3 control-label">Group</label>
       	<div class="col-md-9">
    			<select ng-disabled="!isAdmin || isRead || type==5" class="form-control" style="width: 100%;" name="childGroup" ng-model="changeAttendanceRequest.newGroupId"
    				ng-options="group.id as group.name disable when group.status == 0 for group in groupList | filter:{roomId:changeAttendanceRequest.newRoomId} | centerInfoFilter:undefined:undefined">
    				<option disabled value="">Choose Group</option>
    			</select>
    		</div>
      </div>

      <div class="form-group" ng-if="type==0 || type==2 || type==3 || type==6 ||  type==4 || type==5">
        <label class="col-md-3 control-label">Schedule Change</label>
        <div class="col-md-9">
          <div class="checkbox checkbox-inline" ng-disabled="isRead">
            <label>
              <input ng-disabled="isRead" type="checkbox" name="attendanceLesson" ng-checked="changeAttendanceRequest.mondayBool" ng-model="changeAttendanceRequest.mondayBool">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Monday
            </label>
          </div>
          <div class="checkbox checkbox-inline" ng-disabled="isRead">
            <label>
              <input ng-disabled="isRead" type="checkbox" name="attendanceLesson" ng-model="changeAttendanceRequest.tuesdayBool" ng-checked="changeAttendanceRequest.tuesdayBool">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Tuesday
            </label>
          </div>
          <div class="checkbox checkbox-inline" ng-disabled="isRead">
            <label>
              <input  ng-disabled="isRead" type="checkbox" name="attendanceLesson" ng-model="changeAttendanceRequest.wednesdayBool" ng-checked="changeAttendanceRequest.wednesdayBool">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Wednesday
            </label>
          </div>
          <div class="checkbox checkbox-inline" ng-disabled="isRead">
            <label>
              <input ng-disabled="isRead" type="checkbox" name="attendanceLesson" ng-model="changeAttendanceRequest.thursdayBool" ng-checked="changeAttendanceRequest.thursdayBool">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Thursday
            </label>
          </div>
          <div class="checkbox checkbox-inline" ng-disabled="isRead">
            <label>
              <input ng-disabled="isRead" type="checkbox" name="attendanceLesson" ng-model="changeAttendanceRequest.fridayBool" ng-checked="changeAttendanceRequest.fridayBool">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              Friday
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="type==6">
		<label class="col-md-3 control-label">Orientation date</label>
			<div class="col-md-9">
				<input name="orientation" type="text" class="form-control" my-date-picker ng-model="changeAttendanceRequest.orientation">
			</div>
	  </div>
	  <div class="form-group" ng-if="type==6">
		<label class="col-md-3 control-label">Orientation time</label>
			<div class="col-md-9">
				<input name="orientationTime" type="text" class="form-control" my-date-picker-timer ng-model="changeAttendanceRequest.orientationTime">
			</div>
		</div>
      <div class="form-group" ng-if="type==6">
        <label class="col-md-3 control-label">First day at Kindikids</label>
        <div class="col-md-9">        
         	<input type="text" ng-disabled="isRead" name="changeDate" class="form-control date-picker" my-date-picker ng-model="changeAttendanceRequest.changeDate">
        </div>
      </div>
      <div class="form-group" ng-if="type!=6">
        <label class="col-md-3 control-label">Date of Change</label>
        <div class="col-md-9">        
         	<input type="text" ng-disabled="isRead" name="changeDate" class="form-control date-picker" my-date-picker ng-model="changeAttendanceRequest.changeDate">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-if="!isRead">
    <button  class="btn btn-general child-attendance-request" ng-click="planConfirm();">Confirm</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel1();">Cancel</button>
  </div>
  </form>
</div>