<div class="main" ng-controller="emailListCtrl">
  <div ng-init="headtype='emailList';headName='Email List of Planning Positions'" ng-include="'head.html?res_v='+res_v"></div>
  <div class="container-fluid">
    <div class="row" ng-init="getList();">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">
            Filter
          </div>
          <button class="closeButton"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <div class="menu-block">
          <div class="text-bold mtb10">Position types</div>
          <ul class="sub-filter">
            <li>
              <a href="#/attendance_management">Enrolled children</a>
            </li>
            <li>
              <a href="#/application_list">Waiting list</a>
            </li>
            <li class="active">
              <a href="#/email_list">Email list of planning positions</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="filter-bottom">
        Filter
      </div>

      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" id="mainList">

        <div class="rosterWrap">
          <h2 class="page-title">Email List</h2>
          <div class="table-responsive table-nowrap">
            <table class="leave-table leave-list table table-position-manager">
              <thead>
                <tr>
                  <th style="min-width:120px;max-width:120px;">Child Name</th>
                  <th style="min-width:150px;max-width:150px;">Email </th>
                  <th style="min-width:150px;max-width:150px;">Centre </th>
                  <th style="min-width:150px;max-width:150px;">Room </th>
                  <th style="min-width:100px;max-width:100px;">Family Name</th>
                  <th style="min-width:200px;max-width:200px;">Receiver Email</th>
                  <th style="min-width:150px;max-width:150px;">Receiver Name</th>
                  <th style="min-width:120px;max-width:120px;">Create Time</th>
                  <th style="min-width:110px;max-width:110px;">Status</th>
                  <th class="text-center">
                    <div class="checkbox checkbox-dark">
                      <label class="text-left">
                        <input type="checkbox" ng-model="checkAll"><span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="filter">
                  <td><input type="text" class="form-control" style="min-width:120px;max-width:120px;" ng-model="condition.childName"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td><input type="text" class="form-control" style="min-width:150px;max-width:150px;" ng-model="condition.email"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td><input type="text" class="form-control" style="min-width:150px;max-width:150px;" ng-model="condition.centre"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td><input type="text" class="form-control" style="min-width:150px;max-width:150px;" ng-model="condition.room"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td><input type="text" class="form-control" style="min-width:100px;max-width:100px;" ng-model="condition.familyName"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td><input type="text" class="form-control" style="min-width:200px;max-width:200px;" ng-model="condition.receiverEmail"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td><input type="text" class="form-control" style="min-width:150px;max-width:150px;" ng-model="condition.receiverName"
                      ng-blur="changePage(1)" ng-keypress="keyEvent($event)"></td>
                  <td style="min-width:120px;max-width:120px;"><input type="text" class="form-control" my-date-picker
                      callback="getList" ng-model="condition.createTime"></td>
                  <td style="min-width:110px;max-width:110px;">
                    <select class="form-control select2-single" ng-model="condition.status" ng-options="op.value as op.text for op in statuseOption">
                    </select>
                  </td>

                  <td class="text-center">
                  </td>
                </tr>
                <tr class="queue" ng-repeat="item in list">
                  <td style="min-width:120px;max-width:120px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.childName}}">
                    <a href="javascript:void(0)" ng-click="openProfile(item.familyId)">{{item.childName}}</a>
                  </td>
                  <td style="min-width:150px;max-width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.email}}">{{item.email}}</td>
                  <td style="min-width:150px;max-width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.centre}}">{{item.centre}}</td>
                  <td style="min-width:150px;max-width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.room}}">{{item.room}}</td>
                  <td style="min-width:100px;max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.familyName}}">{{item.familyName}}</td>
                  <td style="min-width:200px;max-width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.receiverEmail}}">{{item.receiverEmail}}</td>
                  <td style="min-width:150px;max-width:150px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.receiverName}}">{{item.receiverName}}</td>
                  <td style="min-width:120px;max-width:120px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"
                    title="{{item.createTime | date : 'dd/MM/yyyy'}}">{{item.createTime | date : 'dd/MM/yyyy'}}</td>
                  <td ng-if="item.status" style="min-width:100px;max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"><label
                      class="pbadge pbadge-green">Sent</label></td>
                  <td ng-if="!item.status" style="min-width:100px;max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;"><label
                      class="pbadge pbadge-gray">Unsent</label></td>
                  <td class="text-center">
                    <div class="checkbox checkbox-dark">
                      <label class="text-left">
                        <input type="checkbox" ng-click="checkFun(item.id,$event)" ng-checked="checkAll"><span class="cr"><i
                            class="cr-icon fa fa-check"></i></span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pagination-wrap text-center">
            <nav aria-label="Page navigation">
              <pagination ng-change="changePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize"
                total-items="condition.totalSize" ng-model="condition.pageIndex" max-size="condition.maxSize"
                previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>