<div ng-init="initGivingNotice()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Giving Notice Form</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" giving-notice-form id="givingNoticeForm">
			<!-- <div class="well">
				<h4>NQS</h4>
				<p>7.3 Administrative systems enable the effective management of a quality service.</p>
				<p>7.3.1 Records and information are stored appropriately to ensure confidentiality, are available from the service
					and are maintained in accordance with legislative requirements.</p>
				<p>7.3.2 Administrative systems are established and maintained to ensure the effective operation of the service.</p>
			</div> -->
			<p>The three (3) weeks notice period will commence once the Giving Notice form has been completed in the office,
				sighted and signed by the Centre Manager or Second in Charge.</p>
			<div class="form-group">
				<label class="col-md-4 control-label"> Child's Name </label>
				<div class="col-md-8">
					<input name="childName" ng-disabled="true" ng-model="givingNoticeInfo.childName" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"> Parent's Name </label>
				<div class="col-md-8">
					<input name="parentName" ng-disabled="true" ng-model="givingNoticeInfo.parentName" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"> Days of Attendance </label>
				<div class="col-md-8">
					<div class="checkbox checkbox-inline">
						<label>
							<input type="checkbox" name="attendanceLesson" ng-checked="givingNoticeInfo.monday" ng-model="givingNoticeInfo.monday"
							 ng-disabled="true">
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
							Monday
						</label>
					</div>
					<br>
					<div class="checkbox checkbox-inline">
						<label>
							<input type="checkbox" name="attendanceLesson" ng-checked="givingNoticeInfo.tuesday" ng-model="givingNoticeInfo.tuesday"
							 ng-disabled="true">
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
							Tuesday
						</label>
					</div>
					<br>
					<div class="checkbox checkbox-inline">
						<label>
							<input type="checkbox" name="attendanceLesson" ng-checked="givingNoticeInfo.wednesday" ng-model="givingNoticeInfo.wednesday"
							 ng-disabled="true">
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
							Wednesday
						</label>
					</div>
					<br>
					<div class="checkbox checkbox-inline">
						<label>
							<input type="checkbox" name="attendanceLesson" ng-model="givingNoticeInfo.thursday" ng-checked="childInfo.attendance.thursday"
							 ng-disabled="true">
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
							Thursday
						</label>
					</div>
					<br>
					<div class="checkbox checkbox-inline">
						<label>
							<input type="checkbox" name="attendanceLesson" ng-model="givingNoticeInfo.friday" ng-checked="givingNoticeInfo.friday"
							 ng-disabled="true">
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
							Friday
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"> Reason for Giving Notice </label>
				<div class="col-md-8">
					<!-- <input name="reson" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.reson" type="text" class="form-control"> -->
					<textarea class="form-control" rows="6" name="reson" ng-model="givingNoticeInfo.reson" ng-disabled="isApprove||isReadOnly"></textarea>
				</div>
			</div>
			<hr>
			<p>
				When withdrawing your child from January to the 31<sup>st</sup> October, 3 weeks notice is required.
			</p>
			<p>
				Any notice given on or after the 1<sup>st</sup> of November, will result in the loss of bond placed.
			</p>
			<div class="form-group">
				<label class="col-md-4 control-label"> Date Form is Lodged </label>
				<div class="col-md-8">
					<input ng-disabled="true" name="lodgedDate" my-date-picker ng-model="givingNoticeInfo.lodgedDate" type="text"
					 class="form-control date-picker">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label"> Last Day after 3 Full Weeks </label>
				<div class="col-md-8">
					<input ng-disabled="!isEdit||isReadOnly" name="lastDay" my-date-picker ng-model="givingNoticeInfo.lastDate" type="text"
					 class="form-control date-picker">
				</div>
			</div>
			<hr>
			<p>If your child does not attend the centre during their last three weeks the Family Assistance Office will not
				cover the Child Care Subsidy, therefore full fees will apply for your child's
				last three weeks.</p>
			<div class="form-group">
				<label class="col-md-4 control-label">My child will be attending his/her last three (3) weeks</label>
				<div class="col-md-8">
					<div class="radio">
						<label>
							<input type="radio" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.attendingLastWeeks" value="1"
							 name="attendLast2Radios" id="attendLast2Radios_1">
							<span class="cr">
								<i class="cr-icon fa fa-circle"></i>
							</span>
							Yes
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.attendingLastWeeks" value="0"
							 name="attendLast2Radios" id="attendLast2Radios_2">
							<span class="cr">
								<i class="cr-icon fa fa-circle"></i>
							</span>
							No
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">My fees are paid covering the (3) weeks notice period including full fees if
					my child will not be attending</label>
				<div class="col-md-8">
					<div class="radio">
						<label>
							<input type="radio" ng-disabled="isApprove||isReadOnly" name="attendFullFeesRadios" value="1" ng-model="givingNoticeInfo.covering"
							 value="true" id="attendFullFeesRadios_1">
							<span class="cr">
								<i class="cr-icon fa fa-circle"></i>
							</span>
							Yes
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-disabled="isApprove||isReadOnly" name="attendFullFeesRadios" value="0" ng-model="givingNoticeInfo.covering"
							 value="false" id="attendFullFeesRadios_2">
							<span class="cr">
								<i class="cr-icon fa fa-circle"></i>
							</span>
							No
						</label>
					</div>
				</div>
			</div>
			<hr>
			<h4>Bank Details</h4>
			<div class="form-group">
				<label class="col-md-4 control-label">Account Name</label>
				<div class="col-md-8">
					<input name="accountName" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.accountName" type="text"
					 class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">BSB</label>
				<div class="col-md-8">
					<input name="bsb" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.bsb" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label">Account Number</label>
				<div class="col-md-8">
					<input name="accountNum" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.accountNumber" type="text"
					 class="form-control">
				</div>
			</div>
			<h5>Acknowledgement</h5>
			<p>Please ensure you provide the service with the correct Account details. Once the bond has been reimbursed via EFT
				we are unable to stop or cancel the transaction. A fee may be applied to
				trace and recover payments due to incorrect details provided.</p>
			<hr>
			<p>
				Please note that your account will be finalised 1 week <u>after</u> your child has left the Education and Care
				Service and once Centrelink has processed your last 3 weeks. This will ensure that
				the correct Child Care Subsidy percentage and absences are processed.
			</p>
			<div class="form-group">
				<div class="col-md-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-disabled="isApprove||isReadOnly" ng-model="givingNoticeInfo.checkedParentSignature"
							 name="acceptAnswer">
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
							I have read and accept the terms and conditions of the Giving Notice Policy and Procedure.
						</label>
					</div>
				</div>
			</div>
			<div class="signature-block">
				<div class="form-group">
					<div id="signature-pad-5" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas ng-show="!isApprove&&givingNoticeStatus!=1&&!isReadOnly" name="parentPad"></canvas>
							<img class="signatureShow" ng-show="(givingNoticeInfo.parentSignatureId!=null)||isReadOnly" ng-src="{{givingNoticeInfo.parentSignatureId}}">
						</div>
						<div class="m-signature-pad--footer">
							<div class="description">Parent Signature</div>
							<button type="button" ng-show="!isApprove&&givingNoticeStatus!=1&&!isReadOnly" class="button clear btn btn-default btn-sm"
							 data-action="clear5">Clear</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div class="checkbox">
							<label>
								<!-- 这里使用了被删除模块Office Use Only - Immediately中的 givingNoticeInfo.immediately01字段作为该字段-->
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately01" name="acceptAnswer1">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								All giving notice office use requirements will be completed.Please refer to the orientation tab.
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div id="signature-pad-6" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas ng-show="!isParent&&(givingNoticeStatus==-1||givingNoticeStatus==3)&&!isReadOnly" name="staffSign"></canvas>
							<img class="signatureShow" ng-show="(isParent&&givingNoticeInfo.staffSignatureId!=null&&(givingNoticeStatus==-1||givingNoticeStatus==3))||isReadOnly"
							 ng-src="{{givingNoticeInfo.staffSignatureId}}">
						</div>
						<div class="m-signature-pad--footer">
							<div class="description">Staff Signature</div>
							<button type="button" ng-show="!isParent&&(givingNoticeStatus==-1||givingNoticeStatus==3)&&!isReadOnly" class="button clear btn btn-default btn-sm"
							 data-action="clear6">Clear</button>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div ng-show="false">
				<h4>Office Use Only - Immediately</h4>
				<div class="form-group">
					<div class="col-md-12">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately01" disabled>
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Fees are calculated and paid by parent including full fees if child does not attend
								<strong>
									<i>(this will have to be worked out manually as Hubworks will estimate the last two weeks with CCB)</i>
								</strong>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately02" disabled>
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Parting Questionaire given to parent
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately03">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								End date entered into Hubworks and written in the diary
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately04">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Notification Slip completed and displayed for staff
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately05">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Bond Reimbursement Slip stapled onto Giving Notice Form
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately06">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Form placed in Giving Notice tray
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.immediately07">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Position filled with new child. Please record the family/child's details including name and days enrolled to
								start at the service for week beginning
								<input my-date-picker ng-model="givingNoticeInfo.Immediately08" ng-disabled="isParent||isReadOnly" type="text"
								 class="form-control date-picker">
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Nominated Supervisor must initial when all above steps are completed</label>
					<div class="col-md-8">
						<input name="nominate" ng-disabled="isParent||isReadOnly" type="text" ng-model="givingNoticeInfo.immediately09"
						 class="form-control">
					</div>
				</div>
				<hr>
				<h4>In the Fourth Week of the Giving Notice Period</h4>
				<div class="form-group">
					<div class="col-md-8">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.period01">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Complete the Bond Reimbursement Slip
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.period02">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Co-ordinator to ensure all sections of the Giving Notice Form and Bond Reimbursement from are completed
								accurately.
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.period03">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Form to be given to the Operations Manager
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label"> Nominated Supervisor to initial when above steps are completed </label>
					<div class="col-md-8">
						<input type="text" name="supervisor" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.period04"
						 class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.period05">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Operations Manager to cross check that all steps on the Bond Reibusement have been completed correctly
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-disabled="isParent||isReadOnly" ng-model="givingNoticeInfo.period06">
								<span class="cr">
									<i class="cr-icon fa fa-check"></i>
								</span>
								Approved Providers/Directors to deposit bond into the nominated bank account
							</label>
						</div>
					</div>
				</div>
			</div>
			<button ng-show="false" ng-click="save();"></button>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-if="!isReadOnly&&givingNoticeStatus==-1" ng-click="save(false)">Apply</button>
		<button type="button" class="btn btn-general" ng-if="!isReadOnly&&givingNoticeStatus==3" ng-click="save(true)">Approve</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
</div>