<div class="main" ng-controller="userFamilyCtrl">
	<div ng-init="headtype='family';headName='Families'" ng-include="'head.html?res_v='+res_v"></div>

	<div class="container-fluid">
		<div class="row" ng-init='reloadPage()'>
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
				<div class="menu-top visible-xs">
					<div class="menu-top-title">
						Filter
					</div>
					<button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
				</div>


				<div class="menu-block">
					<div class="title">Search</div>
					<div class="filter">
						<input type="text" ng-model="page.condition.keyWords" class="form-control" ng-keyup="enterSearch($event);" />
					</div>
				</div>
				<div class="menu-block child-figure-list" id="orgMenu" ng-init="getOrgs()" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;2;5;9;10')">
					<div class="title">Region</div>
					<ul>
						<li class="active">
							<a mtype="0" value="" my-active href="javascript:void(0);" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')||isOnlyCasual">All</a>
						</li>
						<li ng-repeat="center in orgs.centersInfos" ng-if="center.ryde">
							<a my-active mtype="1" index={{$index}} value="{{center.id}}" href="javascript:void(0);">Ryde</a>
							<ul class="sub-filter">
								<li ng-repeat="room in orgs.roomInfos" ng-if="center.id == room.centersId">
									<a my-active mtype="2" value="{{room.id}}" href="javascript:void(0);">{{room.name}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a my-active mtype="1" value="EdensorPark" href="javascript:void(0);">Edensor Park</a>
							<ul>
								<li ng-repeat="center in orgs.centersInfos" ng-if="!center.ryde">
									<a my-active mtype="1" index={{$index}} value="{{center.id}}" href="javascript:void(0);">{{center.name}}</a>
									<ul class="sub-filter">
										<li ng-repeat="room in orgs.roomInfos" ng-if="center.id == room.centersId">
											<a my-active mtype="2" value="{{room.id}}" href="javascript:void(0);">{{room.name}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="menu-block" id="otherMenu">
					<div class="title">Other</div>
					<ul>
						<li class="active">
							<a href="javascript:void(0);" my-other-active mystatus='5'>All</a>
						</li>
						<li>
							<a href="javascript:void(0);" my-other-active mystatus='0'>Active</a>
						</li>
						<li>
							<a href="javascript:void(0);" my-other-active mystatus='1'>Future Enrolled</a>
						</li>
						<li>
							<a href="javascript:void(0);" my-other-active mystatus='4'>Sibling</a>
						</li>
						<li>
							<a href="javascript:void(0);" my-other-active mystatus='2'>External</a>
						</li>
						<li>
							<a href="javascript:void(0);" my-other-active mystatus='3'>Archived</a>
						</li>

					</ul>
				</div>
			</div>

			<div class="filter-bottom" ng-click="closeButton();search()">
				Filter
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" ng-init="getList();" infinite-scroll="getList(true)"
			 infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
				<div class="profile-wrap profile-family" id="family_list" style="min-height: 500px;">
					<div class="row">
						<!-- <div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 profile profile-create" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')&&page.condition.myStatus!=2">
						<div class="inner">
							<button type="button" class="btn-icon" data-toggle="modal" ng-click="openProfile();" data-target="#profile-modal">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div> -->
						<!--.profile-->
						<div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 profile" ng-repeat="family in page.list">
							<div class="inner" style="cursor: pointer;" ng-click="openProfile(family.id);">
								<div class="title">{{family.familyName}} Family</div>
								<div class="main-profile children">
									<div class="main-descri child-name">
										<span ng-repeat="child in family.users|filter:{userType:2}">
											{{child.firstName}} <span ng-show="!$last">,</span>
										</span>
									</div>
									<div class="main-images">
										<span ng-repeat="child in family.users|filter:{userType:2}">
											<span class="profileImage avatar-wrap" ng-show="child.avatar!=null &&child.avatar!=''"> <img ng-src="{{child.avatar}}"
												 class="img-circle img-full" />
											</span> <span class="name-short {{child.personColor}} avatar-wrap" ng-show="child.avatar==null||child.avatar==''">
												{{child.firstName|userNameUpperCase}} </span>
										</span>
									</div>
								</div>
								<div class="parents">
									<span class="name-short {{parent.personColor}} avatar-wrap" ng-repeat="parent in family.users|filter:{userType:1}">{{parent.firstName|userNameUpperCase}}
									</span>
								</div>

								<div class="divider">
									<span></span>
								</div>
								<button data-toggle="modal" data-target="#profile-modal" class="link no-style">VIEW PROFILE</button>
							</div>
						</div>
						<!--.profile-->
					</div>
				</div>
				<div class="loading-bar bottom" ng-show="busy">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				</div>
			</div>
			<!--.content-area-->
		</div>
	</div>
</div>
<!--.main-->