<div>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request Logs</h4>
    </div>
	<div class="modal-body">
	    <div class="form-horizontal">
	    	  <div ng-include="'views/user/family/request_log.html?res_v='+res_v" ng-init="childId=childInfo.userInfo.id"></div>         
		</div>	
	</div>
	<div class="modal-footer">
        <!-- <button type="button" class="btn btn-general">Confirm</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Close</button>
    </div>
</div>
  		 