<div class="requestList currentStatus" ng-controller="requestlogCtr" ng-init="initPermiss();">
	<div class="requestEach form-group"  ng-repeat="requestlog in requestLogVos.obj | requestLogFilter:loadAll">
		
		<div class="col-sm-3">
			<div  ng-if="requestlog.logType==0">Giving Notice</div>
			<div  ng-if="requestlog.logType==1">Absence Request</div>
			<div  ng-if="requestlog.logType==2">Change of Room</div>
			<div  ng-if="requestlog.logType==3">Change of Centre</div>
			<div  ng-if="requestlog.logType==4">Change of Attendance</div>
		</div>
		<div class="col-sm-5 requestListText" ng-if="requestlog.type==0 || requestlog.type==1 || requestlog.type==2 || requestlog.type==4 || requestlog.type==5"><a href="javascript:void(0);" ng-click="openRequest(requestlog.objId,requestlog.type,true);" ng-bind-unsafe="requestlog.msg"></a></div>
		<div class="col-sm-5 requestListText" ng-if="requestlog.type==12 || requestlog.type==13"  ><a href="javascript:void(0);" ng-click="forwardOpt(childInfo,requestlog.objId,requestlog.type);" ng-bind-unsafe="requestlog.msg"></a></div>
		<!-- add by big 如果是waitlist安排不能点击查看 -->
		<div class="col-sm-5 requestListText" ng-if="requestlog.type==10 || requestlog.type==11" ng-bind-unsafe="requestlog.msg"></div>
		<!-- add by big 如果是waitlist安排不能点击查看 -->
		
		<!--requestlog.state 0:申请状态 1：取消 2：处理部分 3：已处理 4：丢弃 5：等待定时处理 -->
		<!--requestlog.type 0:家长申请上课 1：园长申请转园 2：CEO园长直接转园  4：离园申请 5：请假申请 -->
		
		<!--上课申请 begin -->
		<div class="col-sm-4 currentStatusBtn" ng-if="requestlog.type==0">
			<!-- 判断该请求是否是管理员能操作，并且是否是我园区的 -->
			<!--当前小孩未归档，是家长操作，并且状态为请求或者部分通过-->
			<div class="dropdown" ng-if="requestlog.operaFlag&&childInfo.accountInfo.status==1 && isParent && (requestlog.state==0 || requestlog.state==2)">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span ng-if="requestlog.state==2 && requestlog.type==0">(Partial Approved)</span>I want to...
					<span class="caret"></span>
				</button>
				<!-- 家长申请 -->
				<ul class="dropdown-menu" aria-labelledby="requestSelection" ng-if="isParent && (requestlog.state==0 || requestlog.state==2)">	
					<!-- 是不是自己 切状态为0 begin -->
					<li>
						<a href="javascript:void(0);"  ng-click="operateState(requestlog.objId,1,requestlog);">Cancel Request</a>
					</li>
					<!-- 是不是自己 切状态为0 end-->	
				</ul>
			</div>			
			<!--0:申请状态 1：取消 2：处理部分 3：已处理 4：丢弃 5：等待定时处理 -->
			<!--.dropdown-->
			<!--当前小孩是归档，并且状态为请求，或者不是家长,并且状态为请求-->
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==0) || (requestlog.state==0 && childInfo.accountInfo.status==0) || (!isParent && requestlog.state==0)" class="btn btn-general btn-block" disabled>Requested</button>
			
			
			<!--可以操作 可以取消 不是家长-------------add by big-------------->
			<div class="dropdown" ng-if="requestlog.state!=1&&requestlog.operaFlag&&requestlog.cancelFlag&&!isParent">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span>(Approved)</span> I want to...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="requestSelection">	
					<li>
						<a href="javascript:void(0);"  ng-click="operateState(requestlog.objId,1,requestlog);">Cancel Request</a>
					</li>
				</ul>
			</div>
			<button ng-if="(requestlog.state==3 || requestlog.state==5) && !(requestlog.operaFlag&&requestlog.cancelFlag&&!isParent)" class="btn btn-general btn-block" disabled>Approved</button>
			<!--可以操作 可以取消 不是家长------------add by big------------->
			
			<!--当前小孩是归档，并且状态为请求，或者不是家长,并且状态为approve-->
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==2) || (requestlog.state==2 && childInfo.accountInfo.status==0) || (!isParent && requestlog.state==2)" class="btn btn-general btn-block" disabled>Partial Approved</button>
			<button ng-if="requestlog.state==1" class="btn btn-general btn-block" disabled>Cancelled</button>
		</div>
		<!--上课申请 end -->
		
		<!--转园 begin -->
		<div class="col-sm-4 currentStatusBtn" ng-if="requestlog.type==1||requestlog.type==2">
			<!-- 判断该请求是否是管理员能操作，并且是否是我园区的 -->
			<!--当前小孩未归档，并且状态为请求，并且如果是CEO或者当前园区的园长和二级园长或者是被申请园的园长和二级园长-->
			<!--TODO 被申请园的园长和二级园长判断-->
			<div class="dropdown" ng-if="requestlog.operaFlag&&childInfo.accountInfo.status==1 && requestlog.state==0 && (isCEO || (isCenterManager && isCurrentCenterManager && requestlog.createAccountId==currentUser.accountInfo.id) || (isCenterManager && requestlog.aboutUserId==currentUser.userInfo.centersId) || (requestlog.createAccountId==currentUser.accountInfo.id && isParent))">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					I want to...
					<span class="caret"></span>
				</button>
				<!-- 园长转园申请 -->
				<ul class="dropdown-menu" aria-labelledby="requestSelection" ng-if="requestlog.type==1">
					<!-- 被申请园长可以同意 begin -->
					<!--当前状态为请求，并且如果是CEO或者是被申请园的园长和二级园长-->
					<li>
						<a href="javascript:void(0);" ng-if="(isCEO || (requestlog.aboutUserId==currentUser.userInfo.centersId))&&requestlog.state==0" ng-click="openRequest(requestlog.objId,3,false);">Approve Request</a>
					</li>
					<!-- 被申请园长可以同意 end -->
					
					<!-- 自己申请的自己可以取消 begin -->
					<!--当前状态为请求，并且如果是CEO或者当前园区的园长和二级园长或者是被申请园的园长和二级园长-->
					<li>
						<a href="javascript:void(0);" ng-if="((requestlog.createAccountId==currentUser.accountInfo.id)&&requestlog.state==0)" ng-click="operateState(requestlog.objId,1,requestlog);">Cancel Request</a>
					</li>
					<!-- 被申请园长可以同意 end-->
					
					<!-- 管理园切状态为0 begin -->
					<!--当前状态为请求，并且如果是CEO或者是被申请园的园长和二级园长-->
					<li>
						<a href="javascript:void(0);" ng-if="(isCEO || (requestlog.aboutUserId==currentUser.userInfo.centersId))&&requestlog.state==0" ng-click="operateState(requestlog.objId,4,requestlog);">Decline Request</a>
					</li>
					<!-- 管理园切状态为0 begin -->
				</ul>
			</div>
			<!--.dropdown-->
			<!--当前小孩未归档，并且状态为请求，或者是状态为请求并且如果不是CEO或者不是当前园区或者不是被申请园的园长和二级园长-->
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==0) ||(childInfo.accountInfo.status==0 && requestlog.state==0) ||(requestlog.state==0 && !(isCEO || (isCenterManager && isCurrentCenterManager && requestlog.createAccountId==currentUser.accountInfo.id) || (isCenterManager && requestlog.aboutUserId==currentUser.userInfo.centersId ) || (requestlog.createAccountId==currentUser.accountInfo.id && isParent)))" class="btn btn-general btn-block" disabled>Requested</button>
			

			<!--可以操作 可以取消 不是家长-------------add by big-------------->
			<div class="dropdown" ng-if="requestlog.state!=1&&requestlog.operaFlag&&requestlog.cancelFlag&&(isCEO || (isCenterManager && requestlog.aboutUserId==currentUser.userInfo.centersId))">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span>(Approved)</span> I want to...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="requestSelection">	
					<li>
						<a href="javascript:void(0);"  ng-click="operateState(requestlog.objId,1,requestlog);">Cancel Request</a>
					</li>
				</ul>
			</div>	
			
			<button ng-if="(requestlog.state==3 || requestlog.state==5) && !(requestlog.operaFlag&&requestlog.cancelFlag&&(isCEO  || (isCenterManager && requestlog.aboutUserId==currentUser.userInfo.centersId)))" class="btn btn-general btn-block" disabled>Approved</button>
			<!--可以操作 可以取消 不是家长------------add by big------------->
			<!-- <button ng-if="requestlog.state==3 || requestlog.state==5" class="btn btn-general btn-block" disabled>Approved</button> -->
			
			
			<button ng-if="requestlog.state==1" class="btn btn-general btn-block" disabled>Cancelled</button>
			<button ng-if="requestlog.state==4" class="btn btn-general btn-block" disabled>Declined</button>
		
		</div>
		<!--转园 end -->
		
		<!--ChangeRoom ChangeAttendance add begin ------------------------------------>
		<div class="col-sm-4 currentStatusBtn" ng-if="requestlog.type==4 || requestlog.type==5">
			<div class="dropdown" ng-if="requestlog.cancelFlag && requestlog.state==5 &&  (isCEO ||(isCenterManager && isCurrentCenterManager))">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span>(Approved)</span> I want to...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="requestSelection">	
					<li>
						<a href="javascript:void(0);"  ng-click="operateState(requestlog.objId,1,requestlog);">Cancel Request</a>
					</li>
				</ul>
			</div>
			<!-- （家长 状态 3 5）or（非家长  状态3 5 不可取消） -->
			<button ng-if="(!(requestlog.cancelFlag && (isCEO ||(isCenterManager && isCurrentCenterManager))) && (requestlog.state==3 || requestlog.state==5) && !isParent) || ((requestlog.state==3 || requestlog.state==5) && isParent)" class="btn btn-general btn-block" disabled>Approved</button>
		
			<button ng-if="requestlog.state==1" class="btn btn-general btn-block" disabled>Cancelled</button>
		</div>
		<!--ChangeRoom ChangeAttendance add end ------------------------------------>
		
		<!--临时安排add begin ------------------------------------>
		<div class="col-sm-4 currentStatusBtn" ng-if="requestlog.type==10 || requestlog.type==11">
			<div class="dropdown" ng-if="requestlog.state==5 && requestlog.operaFlag  && (isCEO || (isCenterManager && isCurrentCenterManager))">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span>(Approved)</span> I want to...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="requestSelection">	
					<li>
						<a href="javascript:void(0);"  ng-click="operateStateTemporary(requestlog.type,requestlog.id,1,requestlog);">Cancel Request</a>
					</li>
				</ul>
			</div>
			<button ng-if="requestlog.state==5 && !(requestlog.state==5 && requestlog.operaFlag && (isCEO ||(isCenterManager && isCurrentCenterManager)))" class="btn btn-general btn-block" disabled>Approved</button>
			<button ng-if="requestlog.state==1" class="btn btn-general btn-block" disabled>Cancelled</button>
		</div>
		<!--临时安排add end --------------------------------------->
		
		<!-- 申请离园 -->
		<!--requestlog.operaFlag 如果有归档，所有之前的申请全部不能操作-->
		<!--当前小孩未归档，并且状态为请求或者未通过状态，并且如果是CEO或者当前园区园长和二级园长或者是(当前家长,并且是非通过状态-->
		<div class="col-sm-4 currentStatusBtn" ng-if="requestlog.type==12" >
			<div class="dropdown" ng-if="requestlog.operaFlag && childInfo.accountInfo.status==1 && (requestlog.state==0||requestlog.state==3)&& (isCEO || (isCenterManager && isCurrentCenterManager) || (isParent && requestlog.state!=3))">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span ng-if="requestlog.state==3">(Approved)</span>I want to...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="requestSelection">
					<li>
					<!--状态为请求，并且如果是CEO或者当前园区园长和二级园长-->
						<a href="javascript:void(0);" ng-if="(isCEO || (isCenterManager && isCurrentCenterManager))&&requestlog.state==0" ng-click="givingNoticeLog(childInfo,requestlog.objId,3);">Approve Request</a>
					</li>
					<li>
					<!--家长并且状态为请求或者是通过，或者是CEO或者当前园区园长和二级园长状态为请求或者是通过-->
						<a href="javascript:void(0);" ng-if="(isParent&&requestlog.state==0)||((isCEO || (isCenterManager && isCurrentCenterManager))&&(requestlog.state==0 || requestlog.state==3))" ng-click="declineOrCancleGivNotice(requestlog.objId,1);">Cancel Request</a>
					</li>
					<li>
					<!--状态为请求，并且如果是CEO或者当前园区园长和二级园长-->
						<a href="javascript:void(0);" ng-if="(isCEO || (isCenterManager && isCurrentCenterManager))&&requestlog.state==0" ng-click="declineOrCancleGivNotice(requestlog.objId,4);">Decline Request</a>
					</li>
				</ul>
			</div>
			<button ng-if="requestlog.state==6" class="btn btn-general btn-block" disabled>Lapsed</button>
			<!--.dropdown-->
			<!--当前小孩归档，并且状态为请求,或者是状态为请求，并不是当前园的园长和二级园长或者不是CEO或者不是家长-->
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==0) || (childInfo.accountInfo.status==0 && requestlog.state==0) || (!(isCEO || (isCenterManager && isCurrentCenterManager) || (isParent && requestlog.state!=3)) && requestlog.state==0)" class="btn btn-general btn-block" disabled>Requested</button>
			<!--当前小孩归档，并且状态为通过,或者是状态为通过，并不是当前园的园长和二级园长或者不是CEO或者不是家长-->
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==3) || (childInfo.accountInfo.status==0&&requestlog.state==3) || (!(isCEO || (isCenterManager && isCurrentCenterManager)  || (isParent && requestlog.state!=3)) && requestlog.state==3)" class="btn btn-general btn-block" disabled>Approved</button>
			<button ng-if="requestlog.state==1" class="btn btn-general btn-block" disabled>Cancelled</button>
			<button ng-if="requestlog.state==4" class="btn btn-general btn-block" disabled>Declined</button>
		</div>

		<!-- 小孩请假-->
		<div class="col-sm-4 currentStatusBtn" ng-if="requestlog.type==13">	
		<!--当前小孩未归档，并且状态为请求或者未通过状态，并且如果是CEO或者当前园区园长和二级园长或者是当前家长-->
			<div class="dropdown" ng-if="requestlog.operaFlag&&childInfo.accountInfo.status==1&&(requestlog.state==0||requestlog.state==3)&& (isCEO || (isCenterManager && isCurrentCenterManager) || isParent)">
				<button id="requestSelection" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-general btn-block">
					<span ng-if="requestlog.state==3">(Approved)</span>I want to...
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="requestSelection">
					<li>
						<a href="javascript:void(0);" ng-if="(isCEO || (isCenterManager && isCurrentCenterManager))&&requestlog.state==0" ng-click="childAbsenteeLog(childInfo,requestlog.objId,3);">Approve Request</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-if="(isCEO || (isCenterManager && isCurrentCenterManager) || isParent) && (requestlog.state==0 || requestlog.state==3)" ng-click="declineOrCancleAbsentee(requestlog.objId,1);">Cancel Request</a>
					
					</li>
					<li>
						<a href="javascript:void(0);" ng-if="(isCEO || (isCenterManager && isCurrentCenterManager))&&requestlog.state==0" ng-click="declineOrCancleAbsentee(requestlog.objId,4);">Decline Request</a>
					</li>
				</ul>
			</div>
			<button ng-if="requestlog.state==6" class="btn btn-general btn-block" disabled>Lapsed</button>
			<!--当前小孩归档，并且状态为请求,或者是状态为请求，并不是当前园的园长和二级园长或者不是CEO或者不是家长-->
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==0) ||(childInfo.accountInfo.status==0 && requestlog.state==0) || (!(isCEO || (isCenterManager && isCurrentCenterManager) || isParent) && requestlog.state==0)" class="btn btn-general btn-block" disabled>Requested</button>
			<button ng-if="(!requestlog.operaFlag  &&  requestlog.state==3) ||(childInfo.accountInfo.status==0 && requestlog.state==3) || (!(isCEO || (isCenterManager && isCurrentCenterManager) || isParent) && requestlog.state==3)" class="btn btn-general btn-block" disabled>Approved</button>
			<button ng-if="requestlog.state==1" class="btn btn-general btn-block" disabled>Cancelled</button>
			<button ng-if="requestlog.state==4" class="btn btn-general btn-block" disabled>Declined</button>
		</div>
		<div class="form-group" ng-repeat="emailMsg in emailMsgList" ng-if="emailMsg.type==4 && requestlog.logType==1">
			<label class="col-md-3 control-label"></label>
			<div class="col-sm-9 requestListText" ng-bind-unsafe="emailMsg.msg"></div>
		</div>
	</div>
</div>

