<div>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"> Move to Another Family</h4>
        </div>
        <div class="modal-body">
            <div class="form form-horizontal form-move">
                <div class="form-group select-family">
                    <label class="col-md-3 control-label">Select a Family</label>
                    <div class="col-md-9">
                        <select class="form-control" style="width: 100%;" max='10' ng-model="model.familyId" select-ajax url="./waiting/familySelect.do"
                            select2-model='chooseOrgs'>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-general" ng-click="submit()">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->