<div class="main"  ng-controller='profileCtrl'>
<div ng-init="headtype='';headName='Orientation'" ng-if="baseName=='Orientation'" ng-include="'head.html?res_v='+res_v" ></div>
<div ng-init="headtype='';headName='Induction'" ng-if="baseName=='Induction'" ng-include="'head.html?res_v='+res_v" ></div>
<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
          <div class="menu-top visible-xs">
    <div class="menu-top-title">
             Filter
    </div>
    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
</div>


			<div class="menu-block">
				<div class="title">Search Task</div>
				<div class="filter">
					<input type="text" ng-model='condition.keyWord' ng-keyup="enterSearch($event);" class="form-control">
				</div>
			</div>

		</div>
 <div class="filter-bottom" ng-click="closeButton();search()">
                      Filter
         </div>  
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">

			<div class="wrap-nofull center">
				<div class="row">

					<!--*******************
                    *******Task List*******
                    ********************-->

					<div class="col-md-6" id='myProfile' ng-init='initList()'>
						<div class="task-overview-wrap">
							<div class="task-overview-inner">
								<div class="task-list-header">
									<button class="btn btn-general" ng-click='initModel();'>Create {{baseName}} Template</button>
								</div>
								<!--.task-list-header-->

								<div class="task-list">

									<div class="task" do-active ng-repeat='profile in profileList' ng-click='initModel(profile.id)'>
										<span class="active-point">
											<i class="fa fa-circle" aria-hidden="true"></i>
										</span>
										<div class="task-name">
											<div>{{profile.templateName}}</div>
										</div>
										<div class="date">{{profile.createTime|date:'dd/MM/yyyy'}}</div>
										<div class="divider">
											<span></span>
										</div>
									</div>

									<div class="pagination-container text-center">
										<nav aria-label="Page navigation">
											<pagination ng-change="changeTemplateList(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalItems" ng-model="condition.pageIndex"
												max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
										</nav>
									</div>
								</div>
								<!--.task-list-->

							</div>
							<!--.task-overview-inner-->
						</div>
						<!--.task-overview-wrap-->
					</div>

					<!--*******************
                    *******Task Setting****
                    ********************-->
					<div class="col-md-6" id='profileSave' ng-init='initModel()'>
						<div class="task-setting-wrap">
							<div class="task-setting-inner">
								<div class="form-task form-horizontal">
									<div class="task-divider">
										<span class="title">{{baseName}} Detail Setting - {{profileTemplate.templateName}}</span>

										<div class="dropdown right">
											<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fa fa-cog" aria-hidden="true"></i>
											</button>
											<ul class="dropdown-menu">
												<li>
													<a href="javascript:void(0);" ng-if='profileTemplate.state==null||profileTemplate.state==1' ng-click="save();">Save</a>
												</li>
												<li>
													<a href="javascript:void(0);" ng-if="profileTemplate.state==0" ng-click="enableOrDisable(1)">Enable</a>
												</li>
												<li>
													<a href="javascript:void(0);" ng-if="profileTemplate.state==1" ng-click="enableOrDisable(0)">Disable</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-lg-3 control-label">{{baseName}} Name</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" ng-disabled='profileTemplate.state==0' ng-model='profileTemplate.templateName'>
										</div>
									</div>


									<div class="task-setting-block">
										<h4 class="task-title">{{baseName}} Template</h4>

										<label>
											Building the <a href="javascript:void(0);" ng-click="settingForm()">template</a> for this {{baseName}}
										</label>
									</div>


								</div>

							</div>
							<!--.task-setting-inner-->
						</div>
						<!--.task-setting-wrap-->
					</div>

				</div>
			</div>


		</div>
		<!--.content-area-->

	</div>
</div>
</div>
