<div id="editEvent" ng-init="getEventInfo();">
	<form event-form id="eventForm">
		<div class="row" ng-if="functions | haveFunction:'event_edit'">
			<div class="col-sm-12">

				<div class="button-group text-right">
					<button type="button" class="btn btn-general" ng-click="saveEvent();">Save/Update</button>
					<button ng-if="isCeoRole&&eventInfo.id" type="button" class="btn btn-general" ng-click="deleteEvent();">Delete</button>
				</div>
			</div>
		</div>


		<!-- ********************************* -->
		<!-- Select Sub-Galleries View Details -->
		<!-- ********************************* -->
		<div class="row gallery-content" ng-init="getChildId();">
			<div class="col-sm-12" ng-init="getCenterList();">

				<div class="form-horizontal timelines">
					<h4>Event Setting</h4>
					<div class="form-group">
						<label class="col-md-3 control-label">Title</label>
						<div class="col-md-9">
							<input name="title" type="text" class="form-control" ng-model="eventInfo.title" ng-disabled="!(functions | haveFunction:'event_edit')">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">Date Range</label>
						<div class="col-md-9">
							<input name="dateRange" callback="editRangeCallback" type="text" ng-disabled="!(functions | haveFunction:'event_edit')" ng-model="eventInfo.date" class="form-control time-range"
								starttime="eventInfo.startTime" endtime="eventInfo.endTime" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">Description</label>
						<div class="col-md-9">
							<textarea name="description" class="form-control" rows="10" maxlength="500" ng-model="eventInfo.description" ng-disabled="!(functions | haveFunction:'event_edit')"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">NQS</label>
						<div class="col-md-9">
							<div class="nqs-list tag-list">
								<a class="{{nqs.version|nqsTipFilter:nqs.tag}}" href="javascript:void(0);" data-toggle="tooltip" tooltip title="{{nqs.content}}" ng-repeat="nqs in eventInfo.nqsInfo | orderBy:'version'">{{nqs.version}}</a>
							</div>
							<button ng-if="functions | haveFunction:'event_edit'" type="button" class="btn btn-general pull-left" ng-click="openNqs(eventInfo.nqsInfo,saveNqsResult,eventInfo.createTime);">
								<i class="material-icons">more</i>
								Attach NQS
							</button>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label">Visibility</label>
						<div class="col-md-9">
							<div class="function">
								<select name="visibility" class="form-control privacy-select" ng-disabled="!(functions | haveFunction:'event_edit')" ng-model="eventInfo.visibility" style="width: 100%;"
									ng-options="op.value as op.text for op in visibilityOption">
									<option value="" disabled="disabled">-- Select Visibility --</option>

								</select>
							</div>
						</div>
					</div>

					<div class="form-group" id="center">
						<label class="col-md-3 control-label">Please select centre</label>
						<div class="col-md-9">
							<select name="centerId" ng-change='validateEmployment()' class="form-control" ng-model="eventInfo.centerId" ng-disabled="!(functions | haveFunction:'event_edit')"
								ng-options="center.id as center.name for center in centerList | filter:centerFilter">
								<option disabled value="">-- Choose Centre --</option>
							</select>
						</div>
					</div>
				</div>

				<div class="gallery-inner">

					<div class="timelines">

						<div ng-if="functions | haveFunction:'event_edit'">
							<div class="timeline-item image-setting">

								<div class="tl-inner">
									<div class="tl-content">
										<div class="row">
											<div class="col-md-6">
												<button class="btn btn-general" ngf-multiple="true" href="javascript:void(0);" ngf-select="upload($files)">
													<i class="material-icons">camera_alt</i>
													Upload Image / Take a Photo
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tl-divider">
								<span></span>
							</div>
						</div>
						<!-- .gallery-item -->


						<div class="timeline-item event-images">
							<div class="tl-inner">
								<div class="tl-content">
									<div class="tl-full-width">
										<div class="tl-image-container" data-toggle="modal" ng-repeat="img in eventInfo.eventDocumentVoList| filter:{deleteFlag:0}"
											data-target="#gallery-child-modal-1">
											<a data-slide-to="0" ng-click="openImageEdit(eventInfo.eventDocumentVoList,$index)">
												<div class="gallery-image" style="background-image: url({{img.visitUrl}});"></div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</form>
</div>


