
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close1();">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
	<div id="gallery-1" class="carousel slide carousel-fit" uib-carousel  no-transition=false active="initIndex"  no-wrap="false">
		<div class="carousel-inner">
			<div class="item" uib-slide ng-repeat="img in imageList | filter:{deleteFlag:0}" index="$index">
				 <img ng-src="{{img.visitUrl}}" style="margin:auto;">
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" ng-if="functions | haveFunction:'event_edit'">
		 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="form-group text-left">
				<label class="text-white">Tag Children</label>
				 <div class="function tagChild" ng-repeat="img in imageList | filter:{deleteFlag:0}" ng-show="$index==initIndex">
					<select select-ajax-event select2-model="img.childSelectList" url="common/get.user.do?type=4" class="form-control" style="width:100%;" multiple="multiple">
				</select>
				</div> 
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 gallery-buttons">
			<button type="button" class="btn btn-general" ng-click="save();">Update</button>
			<button type="button" class="btn btn-default" ng-click="deleteImage();">Delete</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close1();">Cancel</button>
		</div>
	</div>
</div>
