<div ng-controller="eventChildrenCtrl">
<!-- ******************** -->
<!-- Select Sub-Galleries -->
<!-- ******************** -->
<div class="row gallery-header" ng-init="initCondition();" >
  <div class="col-md-8 col-md-11 col-sm-12 center" >
    <div class="form-group">
      <div class="input-group">
        <select name="childrenId" class="image-select form-control"
          ng-model="childId" style="width: 100%"
          select2-model="selectModel" url="./common/get.user.do?type=1"
          select-image-ajax>
          <option disabled value=""></option>
        </select> <span class="input-group-btn">
          <button class="btn btn-general" type="button"
            ng-click="search()">Search</button>
        </span>
      </div>
        <!-- <h4 class="tl-title">{{testTime | date:'dd MMMM, yyyy'}}</h4> -->
    </div>
  </div>
</div>

<!-- ********************************* -->
<!-- Select Sub-Galleries View Details -->
<!-- ********************************* -->
<div class="row gallery-content" ng-if="page.condition.childId!=null"  infinite-scroll="search(true)" id="eventList" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
  <div class="col-sm-12">
    <div class="gallery-inner">
      <div class="gallery-header">
        <div class="header-inner" >
          <span  ng-if="page.condition.avatar==null" 
            class="name-short {{page.condition.personColor!=null?page.condition.personColor:'blue'}}"
            ng-if="page.avatar==null"> {{page.condition.name |
            userNameUpperCase}} </span> <span class="profileImage"
            ng-if="page.condition.avatar!=null"> <img
            ng-src="{{page.condition.avatar}}" class="img-circle img-full">
          </span> <span class="name-full">{{page.condition.name}} </span>
        </div>
      </div>
      <div class="timelines" ng-if="page.list">
        <div ng-repeat="(objIndex,obj) in page.list">
          <div class="timeline-item">
            <div class="tl-inner">
              <div class="tl-header">
                <h4 class="tl-title">{{obj.createTime | date:'dd MMMM yyyy'}}</h4>
              </div>
              <div class="tl-content">
                <div class="tl-full-width">
                  <div class="tl-image-container"
                    ng-repeat="image in obj.images" style="cursor:pointer" ng-click="showImage(obj,$index)">
                    <img ng-src="{{image.visitedUrl}}" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tl-divider">
            <span></span>
          </div>
        </div>
        <!-- .gallery-item -->
      </div>
    </div>
  </div>
</div>
<div class="loading-bar bottom" ng-show="busy">
       <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>
  <div class="row" ng-if="page.condition.childId==null">
    <div class="empty-icon-container text-center">
      <i class="material-icons">create_new_folder</i>

      <p>Search your child's name to browse photo gallery.</p>
    </div>
</div>
</div>