<!-- ********************************* -->
<!-- Select Sub-Galleries View Details -->
<!-- ********************************* -->
<div class="row gallery-content" ng-init="getEventList();" infinite-scroll="getEventList(true)" id="eventList" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
    <div class="col-sm-12">

        <div class="gallery-inner">

            <div class="timelines">
            <div ng-if="functions | haveFunction:'event_edit'">
                <div class="timeline-item">

                    <div class="tl-inner">
                        <div class="tl-content">
                            <div class="tl-full-width">
                                <div class="tl-image-container">
                                    <a class="event-edit-container" href="javascript:void(0);"  ng-click="goEdit(0);">
                                        <i class="material-icons">add</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-divider"><span></span></div>
                </div>
                <!-- .gallery-item -->
                <div ng-repeat="event in page.list">
                <div class="timeline-item" >
                    <div class="tl-inner">
                        <div class="tl-header">
                            <h3 class="gallery-event-name"><a href="javascript:void(0);"  ng-click="goEdit(event.id);">{{event.title}}</a></h3>
                            <h4 class="tl-title">{{event.startTime | date:'dd MMM yyyy'}} - {{event.endTime | date:'dd MMM yyyy'}}</h4>
                        </div>
                        <div class="tl-content" ng-if="event.eventDocumentVoList.length==0">
                            <div class="tl-full-width">
                                <div class="tl-image-container" >                               
                                    <a class="event-edit-container" href="javascript:void(0);"  ng-click="goEdit(event.id);">
                                        <i class="material-icons">more_horiz</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                         <div class="tl-content"  ng-if="event.eventDocumentVoList.length!=0">
                            <div class="tl-full-width">
                                <div class="tl-image-container" style="cursor:pointer" ng-repeat="img in event.eventDocumentVoList" ng-click="showImage(event,$index)">
                                     <!-- <img ng-src="{{img.visitUrl}}" alt="{{img.fileName}}"/>      -->
                                     <div class="gallery-image" style="background-image: url({{img.visitUrl}});"></div>                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-divider" ><span></span></div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="loading-bar bottom" ng-show="busy">
       <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>



