<div class="main" ng-controller="eventCtrl">
	<div ng-init="headtype='';headName=' Photo Gallery'" ng-if="isGallery" ng-include="'head.html?res_v='+res_v"></div>
	<div ng-init="headtype='';headName='Events'" ng-if="!isGallery" ng-include="'head.html?res_v='+res_v"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner" ng-init="getEventFun();">
				<div class="menu-top visible-xs">
					<div class="menu-top-title">Filter</div>
					<button class="closeButton">
						<i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i>
					</button>
				</div>

				<div class="menu-block">
					<div class="title">Category</div>
					<ul>
						<li ng-class="{true: 'active', false: ''}[isGallery]" ng-click="goGallery();">
							<a href="javascript:void(0);">Children</a>
						</li>
						<li ng-class="{false: 'active', true: ''}[isGallery]">
							<a href="javascript:void(0);" ng-click="goList();">Events</a>
						</li>
					</ul>
				</div>

				<div class="menu-block" ng-if="!isGallery">
					<div class="title">Search by Event</div>
					<div class="filter">
						<input type="text" class="form-control" ng-keyup="enterSearch($event);" ng-model="page.condition.keyword">
					</div>
				</div>

				<div class="menu-block" ng-if="!isGallery">
					<div class="title">Search by Date Range</div>
					<div class="filter">
						<input type="text" class="form-control time-range" callback="rangeCallback" starttime="page.condition.startTime" endtime="page.condition.endTime" ng-keyup="enterSearch($event);"
							ng-model="page.condition.date">
					</div>
				</div>
				<div class="menu-block" ng-if="!isGallery">
					<div class="title">NQS - Quality Areas</div>
					<div class="filter">
						<input type="text" class="form-control" ng-keyup="newsKeyup($event);" ng-model="page.condition.nqsVersion" />
					</div>
					<ul>
						<li ng-click="setNQS('');"
							ng-class="{true:'active',false:''}[page.condition.nqsVersion!='QA1' &&
                      page.condition.nqsVersion!='QA2' &&
                      page.condition.nqsVersion!='QA3' &&
                      page.condition.nqsVersion!='QA4' &&
                      page.condition.nqsVersion!='QA5' &&
                      page.condition.nqsVersion!='QA6' &&
                      page.condition.nqsVersion!='QA7']">
							<a href="javascript:void(0);">All</a>
						</li>
						<li ng-click="setNQS('QA1');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA1']">
							<a href="javascript:void(0);">QA1 - Educational program and practice</a>
						</li>
						<li ng-click="setNQS('QA2');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA2']">
							<a href="javascript:void(0);">QA2 - Children’s health and safety</a>
						</li>
						<li ng-click="setNQS('QA3');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA3']">
							<a href="javascript:void(0);">QA3 - Physical environment</a>
						</li>
						<li ng-click="setNQS('QA4');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA4']">
							<a href="javascript:void(0);">QA4 - Staffing arrangements</a>
						</li>
						<li ng-click="setNQS('QA5');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA5']">
							<a href="javascript:void(0);">QA5 - Relationships with children</a>
						</li>
						<li ng-click="setNQS('QA6');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA6']">
							<a href="javascript:void(0);">QA6 - Collaborative partnerships with families and communities</a>
						</li>
						<li ng-click="setNQS('QA7');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA7']">
							<a href="javascript:void(0);">QA7 - Governance and Leadership</a>
						</li>
					</ul>
				</div>
				
			</div>
			<!-- Search Content -->

			<div class="filter-bottom" ng-if="isGallery" ng-click="closeButton();">Filter</div>
			<div class="filter-bottom" ng-if="!isGallery" ng-click="closeButton();search()">Filter</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" ui-view></div>
		</div>
	</div>
</div>