<!-- menu Create Modal -->

      <div class="modal-content" id="mainDiv">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a Menu</h4>
        </div>
        <form id="addMenuForm" menu-form class="form-horizontal">
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-md-3 control-label">Menu Name</label>
                <div class="col-md-9">
                <input type="text" class="form-control" ng-model="menuName" name="menuName">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="hide" ng-click="saveMenu()"></button>
            <button type="button" class="btn btn-general" id="confirm" ng-click="saveMenu()">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
          </div>
        </form>
      </div>

