                   <!-- Nutriontal Menu -->
				 <!--  <div class="modal fade modal-align-top" id="nutri-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				    <div class="modal-dialog modal-lg" role="document"> -->
				      <div class="modal-content" ng-init="getMenuInfo()" id="menuMain">
				        <div class="modal-header">
				          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				          <h4 class="modal-title" id="myModalLabel">Nutritional Menu</h4>
				        </div>

				        <form form-menu id="menuForm" class="form-horizontal">
				        <div class="modal-body">

				          <div class="form-horizontal nutri-weekly-menu">

				          	<div class="modal-control row">
				          		<div class="searchMenu form-group col-md-7 col-sm-7 col-xs-12"> 
									 <label class="col-md-5 col-sm-5 col-xs-12 control-label"><p style="font-size: 16px;">Menu Name</p></label> 
									 <div class="col-md-7 col-sm-7 col-xs-12">
									 	<input class="form-control" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="menuName" type="text" ng-model="menu.name"/>
									 </div>
								</div>

				          		<div class="button-group text-right col-md-5 col-sm-5 col-xs-12" ng-if="currentUser.roleInfoVoList|haveRole:'0;1;5;'"> 
				          			<button class="hide" ng-click="updateMenu()"></button>
					              <button type="button" class="btn btn-general" ng-click="updateMenu()" ng-disabled="updateFlag">Update</button>
					            </div>
				          	</div>

				            <div class="nutri-day-menu"  ng-repeat="menu in WeekNutrionalMenuList">
				                <div class="day" ng-show="menu.weekToday==1">MON</div>
								<div class="day" ng-show="menu.weekToday==2">TUE</div>
								<div class="day" ng-show="menu.weekToday==3">WED</div>
								<div class="day" ng-show="menu.weekToday==4">THU</div>
								<div class="day" ng-show="menu.weekToday==5">FRI</div>

				              <div class="nutri-list">
				                <div class="form-group">
				                  <label class="col-md-3 control-label">Breakfast</label>
				                  <div class="col-md-9">
				                  	<input type="text" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="breakfast" class="form-control" title="{{menu.breakfast}}" ng-model="menu.breakfast">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Morning Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="morningTea" class="form-control" title="{{menu.morningTea}}" ng-model="menu.morningTea">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch</label>
				                  <div class="col-md-9">
				                    <input type="text" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="lunch" class="form-control" title="{{menu.lunch}}" ng-model="menu.lunch">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Lunch Image</label>
				                  <div class="col-md-9">
				                  	<!-- 图标 -->
				                  	<div class="btn btn-general fileUpload" ng-show="(currentUser.roleInfoVoList|haveRole:'0;1;5;') && (menu.image.visitedUrl==null || menu.image.visitedUrl=='')">
				                  	<i class="material-icons">camera_alt</i> <input type="file" ngf-multiple="false" ngf-select="uploadImage($file,menu)" class="upload">
				                  	</div>
				                  	<!-- 图片 -->
				                  	<div class="function imageUpload" ng-show="menu.image.visitedUrl!=null && menu.image.visitedUrl!=''">
				                  		<div class="thumb uploaded">
				                  			<img ng-src="{{menu.image.visitedUrl}}"> <a ng-if="currentUser.roleInfoVoList|haveRole:'0;1;5;'" class="image-delete"
				                  			ng-click="deleteImage(menu.image);" href="javascript:void(0);"><i class="fa fa-times"></i></a>
				                  		</div>
				                  	</div>

				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Dessert</label>
				                  <div class="col-md-9">
				                    <input type="text" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="dessert" class="form-control" title="{{menu.dessert}}" ng-model="menu.dessert">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="afternoonTeam" class="form-control" title="{{menu.afternoonTea}}" ng-model="menu.afternoonTea">
				                  </div>
				                </div>

				                <div class="form-group">
				                  <label class="col-md-3 control-label">Late Afternoon Tea</label>
				                  <div class="col-md-9">
				                    <input type="text" ng-disabled="!(currentUser.roleInfoVoList|haveRole:'0;1;5;')" name="lateAfternoonTea" class="form-control" title="{{menu.lateAfternoonTea}}" ng-model="menu.lateAfternoonTea">
				                  </div>
				                </div>

				              </div><!--.nutri-list-->
				            </div><!--.nutri-day-menu-->

              </div><!--.content-area-->

            </div>
            </form>
        </div>
       
 <!--      </div>
   
  </div> -->