	<style>
  .centre .inner
  {
  	position:relative;
  }

   .centre .inner .link
  {
  	padding-top:15px;
  }

  .centre .room-dropdown
  {
  	position:absolute;
  	top:5px;
  	right:20px;
  }

  /*model search_name style*/
  #nutri-modal .modal-control
  {
  	position:relative;
  	margin-top:20px;
  }

  #nutri-modal .searchMenu
  {
  	margin-left:40px;
  }

  #nutri-modal .searchMenu input
  {
  	min-width:200px;
  	height:30px;
  	border-radius:5px;
  	border:1px solid #cccccc;
  	padding:5px;
  	margin-left:10px;
  }

  #nutri-modal .modal-control .button-group
  {
  	position:absolute;
  	top:0;
  	right:5px;
  }
  /*model search_name style*/
 </style>


<div class="main" id="menu_list" ng-controller="nutritionalMenuCtrl">
  <div ng-init="headtype='menu';headName='Nutritional Menus'" ng-include="'head.html?res_v='+res_v"></div>

  <div class="container-fluid" infinite-scroll="getMenuList(true)" style="min-height:500px;" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
    <div class="row" ng-init="initPager()">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
                  <div class="menu-top visible-xs">
                    <div class="menu-top-title">
                      Filter
                    </div>
                    <button class="closeButton"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </div>

                  <div class="menu-block">
                    <div class="title">
                      Search Menu
                    </div>
                    
                    <div class="filter">
                      <input type="text" ng-model="page.condition.keyWords" ng-keyup="enterSearch($event);" class="form-control" placeholder="Search">
                    </div>

                  </div>

              </div>

              <div class="filter-bottom">
                      Filter
              </div>  

              <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">

                <div class="centreWrap">
                  <div class="row">

                    <div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 centre" ng-repeat="menu in page.list">
                    <div class="nutriWeek inner" style="cursor: pointer;"  ng-click="openProfile(menu)">

                        <div class="title">
                          {{menu.name}}
                        </div>

                        <div class="nutriIcon">
                         <i class="fa fa-cutlery" aria-hidden="true"></i>
                       </div>

                       <div class="room-list">
                        <div class="room" ng-repeat="name in menu.names">{{name.centerName}} - {{name.roomName}} </div>
                      </div>

                      <div class="divider">
                        <span></span>
                      </div>

                      <div class="link">
                        <a href=""  data-toggle="modal" data-target="#nutri-modal" ng-click="">VIEW MENU</a>
                      </div>
                    </div>

                    <div class="dropdown right room-dropdown" ng-if="currentUser.roleInfoVoList|haveRole:'0;1;5;'">
                      <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="room-edit" style="cursor: pointer;" ng-click="openProfile(menu)" data-toggle="modal" data-target="#room-edit-modal">Edit</a></li>
                        <li><a class="room-archive" style="cursor: pointer;" ng-click="deleteMenu(menu)">Delete</a></li>
                      </ul>
                    </div>


                  </div>

                </div>
              </div>
            </div>

<!--        <div class="filter-bottom" ng-click="closeButton();search()">
                        Filter
           </div>   -->
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" ui-view></div>
      <!--.content-area-->
    </div>
  
  <!-- loading -->
    <div class="loading-bar bottom" ng-show="busy">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>

  </div>
</div>






     

      <!-- <div class="main">

        <div class="container-fluid bg-season bg-summer">
          <h1 class="module-title">Nutritional menu</h1>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#centre-create-modal">Create menu</button>
        </div>

        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
                  <div class="menu-top visible-xs">
                    <div class="menu-top-title">
                      Filter
                    </div>
                    <button class="closeButton"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </div>

                  <div class="menu-block">
                    <div class="title">
                      Search menu
                    </div>
                    
                    <div class="filter">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>

                  </div>
              </div>

              <div class="filter-bottom">
                      Filter
              </div>  

              

              <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">

                  <div class="centreWrap">
                      <div class="row">

                          <div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 centre">
                              <div class="nutriWeek inner">
	                          		<div class="dropdown right room-dropdown">
	                                  <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                                    <i class="fa fa-cog"></i>
	                                  </button>
	                                  <ul class="dropdown-menu">
	                                    <li><a class="room-edit" href="#" data-toggle="modal" data-target="#room-edit-modal">Edit</a></li>
	                                    <li><a class="room-archive" href="#">Archive</a></li>
	                                    <li><a class="room-archive" href="#">Delete</a></li>
	                                  </ul>
	                                </div>

                                  <div class="title">
                                      Menu Name
                                  </div>

                                  <div class="nutriIcon">
                                     <i class="fa fa-cutlery" aria-hidden="true"></i>
                                  </div>
          
                                  <div class="room-list">
                                    <div class="room">centre - Breakfast </div>
                                    <div class="room">centre - centre </div>
                                    <div class="room">centre - centre </div>
                                    <div class="room">centre - centre </div>
                                    <div class="room">centre - Breakfast </div>
                                  </div>

                                  <div class="link">
                                      <a href=""  data-toggle="modal" data-target="#nutri-modal">VIEW MENU</a>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
                  </div>

                  </div>
                  </div>
  
                  </div> -->



