
@mmWhite: #f5f5f5;
@mmdf: #dfdfdf;
@mmBorder: #cccccc;
@mmDes: #999;

@dim: 20px;
@dim-half: @dim / 2;            // 10
@dim-quarter: @dim / 4;          // 5

@dim-2: @dim * 2;
@dim-15: @dim * 15;
@dim-25: @dim * 25;

.mm-red{color: lighten(@red,10%,relative);}