// ADD "POINTER" WHEN HOVER.
.mm-cursor{
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}

// INN ITEM
.mm-g-divider{
  width:100%;
  padding: 0 @dim-half;
  position: absolute;
  bottom:(-1 * @dim-quarter);
  left:0;
  span{
    .mm-border-bottom;
    width:100%;
    display: block;
    margin-bottom:@dim-quarter;
  }
}

// BORDER
.mm-border-bottom{  border-bottom: 1px dashed @mmBorder;}
.mm-border-right{  .mm-table-border(0,1px,0,0);}


// ELEMENT ACTS AS TABLE
.mm-act-table{
  //.mm-table-border;
  display: table;
  width:100%;
  position: relative;
  .mm-act-tRow{
    //.mm-table-border(0,0,1px,0);
    display: table-row;
    margin-bottom:5px;
    border-bottom: 1px dotted @mmBorder;
    &:not(:last-child){
      .mm-act-tCell{
        .mm-table-border(0,0,1px,0);
      }
    }
    .mm-act-tCell{
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      padding: @dim-quarter;
      margin:0;
      &:not(:last-child){
        //.mm-table-border(0,1px,0,0);
      }
      &:last-child{
        //.mm-table-border(0,0,1px,0);
      }
      &:first-child{
        span{
          line-height: @dim;
          margin:@dim-quarter auto;
          display:inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

// IMAGES
.mm-img-container{
  width:35px;
  vertical-align: middle;
  display: inline-block;
  img{
    width: 100%;
    display: block;
  }
}

// HELPER

.mm-bold{font-weight:bold;}
.mm-big-number{font-size: 1.5em;}

.mm-col-half{position: relative;float:left;}

.mm-center{text-align:center;}
.mm-col-half{width:50%;}

.mm-custom-display{
  .mm-center;
  .mm-big-number{
    display:block;
    width:100%;
    margin-bottom:3px;
  }
  .mm-sm-description{
    position:absolute;
    bottom:3px;
    left:0;
    right:0;
    margin: auto;
  }
}

.mm-m-0{margin:0;}

.mm-icon-control{.mm-cursor;}


.mm-right{text-align:right;}