// LIST MEETING MINUTES
.mminutes-overview-wrap{
  margin-bottom:@dim;
  padding:0 0 0 @dim*2;
  .box-shadow-general;
}
.mminutes-overview-inner{
  background-color: @white;
}
.mminutes-header{  padding: @dim;}
.mminutes-content{
  width:100%;
  min-height: @dim-15;
}
.mm-item{
  display: table;
  position: relative;
  table-layout: fixed;
  padding: @dim-half @dim;
  width:96%;
  margin:0 2%;
  .mm-cursor;
  &.active{
    background-color: @mmDes;
  }
  .mm-img-container,
  .mm-item-title,
  .mm-item-creation,
  .mm-item-nqs-list{
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: @dim-half;
  }
  .mm-img-container{
    width:@dim-2;
    margin-right: @dim-quarter;
  }
  .mm-item-title{
    width:100%;
  }
  .mm-item-creation,
  .mm-item-nqs-list{
    width:100%;
    p{
      margin:0;
      text-align: right;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

// CONTAIN DETAIL WRAPPER
.mm-content-wrapper{
  background-color:@white;
  margin-bottom: @dim-2;
  .box-shadow-general;
  .mm-wrapper-inner{
    .mm-d-header{
      padding:(@dim+ @dim-half) @dim (@dim + @dim-half);
      text-align:center;
      position: relative;
      .mm-img-container > img{
        border:3px solid @mmBorder;
      }
      .mm-custom-display{
        margin-top: @dim + @dim-half;
        .mm-big-number{
          margin:0;
          color: @red;
        }
        .mm-sm-description{
          color: @mmDes;
          bottom: @dim-half;
        }
      }
    }
    > .mm-custom-display{
      display: inline-block;
      width:100%;
      background-color: @mmdf;
      > *{
        padding: (@dim-quarter) (@dim-half + @dim-quarter);
        margin-top: @dim;
        margin-bottom: @dim;
      }
      .mm-big-number{
        font-size:2.5em;
        line-height: @dim-2;
        font-weight: bold;
      }
      .mm-sm-description{
        color: @mmDes;
        bottom: (-1 * @dim-quarter);
      }
    }
    .mm-d-content{
      padding: @dim @dim-2;
    }
  }
  .mm-img-container{
    width:auto;
  }
}

// MEETING MINUTES VIEW
.mm-group{
  position: relative;
  button{
    position: absolute;
    top:0;
    right:0;
  }
}

// MODAL
.mm-table-modal{
  .mm-act-table;
  .mm-act-tCell{
    height:44px;
  }
  .mm-sm-description{
    color: @mmDes;
  }
  .mm-img-container{
    width:@dim + @dim-half;
    margin-right:@dim-quarter;
    float:left;
  }
  .mm-act-tRow{
    .mm-cursor;
    &:hover, &:active{
      > *{
        background-color: @mmBorder;
      }
    }
  }
}

#mmTypeModal{
  .mm-custom-display{
    .mm-sm-description{
      position:absolute;
      bottom:3px;
      left:0;
      right:0;
      margin: auto;
    }
  }
}

#mmTemplateModal{
  .select2-container .select2-selection--single{
    height:33px;
    border-color: @mmBorder;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 33px;
  }
}