.mm-grid-dim(@var,@maxValue,  @index:1) when (@index <= @maxValue){
  .mm-dim-@{index}{
    width: (@var * @index);
  }
  .mm-grid-dim(@var, @maxValue, (@index+1));
}
.mm-grid-dim(@dim, 4);

.mm-table-border(@dim:1px){
  border: @dim dotted @mmBorder;
}

.mm-table-border(@top, @right, @bottom, @left){
  border-top: @top dotted @mmBorder;
  border-right: @right dotted @mmBorder;
  border-bottom: @bottom dotted @mmBorder;
  border-left: @left dotted @mmBorder;
}