<div id="editInfo">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close();"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Choose Colour</h4>
  </div>
  <div class="modal-body">

    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3 control-label">Colour</label>
        <div class="col-md-4">
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="3">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-3" style="width:120px;float:right;">

                <!-- #74bfd7;#74afd7 #749ed7 #748ed7 #747dd7#7b74d7#7b74d7  #9c74d7 #ad74d7  #bd74d7 -->
                &nbsp;<strong ng-if="isLeave" style="color:white">Parent Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="9">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-9" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Change of RDO</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="8">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-8" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Change of Shift</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="6">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-6" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">RDO</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="1">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-1" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Annual Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="10">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-10" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Casual Unavailability</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="11">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-11" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Practicum (Uni/TAFE leave)</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="12">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-12" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Jury Duty</strong>
              </div>
            </label>
          </div>

        </div>
        <div class="col-md-5">
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="0">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-0" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Personal Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="2">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-2" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Long Service Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="4">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-4" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Professional Development Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="5">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-5" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Compassionate Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="6">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-6" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Other Leave</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="13">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-13" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Workers Compensation</strong>
              </div>
            </label>
          </div>
          <div class="radio" style="min-height: 50px;">
            <label>
              <input type="radio" name="cgender" ng-model="objColor" value="14">
              <span class="cr">
                <i class="cr-icon fa fa-circle"></i>
              </span>
              <div class="cal-event-color-14" style="width:120px;float:right;">
                &nbsp;<strong ng-if="isLeave" style="color:white">Time in Lieu</strong>
              </div>
            </label>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-general" ng-click="saveChoose();">Save</button>
    <button type="button" class="btn btn-default" ng-click="close();">Cancel</button>
  </div>
</div>