<div class="main withWeek" ng-controller="calendarCtrl">
  <div ng-init="headtype='calendar';headName='Calendar'" ng-include="'head.html?res_v='+res_v"></div>


  <div class="container-fluid">
    <div class="row" ng-init="getYearList();">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner" ng-init="getCalendarList();">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">
            Filter
          </div>
          <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
        </div>
        <div class="menu-block Location child-figure-list" ng-init="getMenuOrgs();">
          <div class="title">
            Region
          </div>
          <ul clickFun="scope.search();">
            <li class="active" ng-if="isCeoOrCasual"><a href="javascript:void(0);" mtype="0" org-active>All</a></li>
            <li ng-repeat="centerobj in orgList.centersInfos" ng-if="centerobj.ryde">
              <a href="javascript:void(0);" mtype="1" org-active value="{{centerobj.id}}">Ryde</a>
            </li>
            <li>
              <a href="javascript:void(0);" mtype="1" org-active value="EdensorPark">Edensor Park</a>
              <ul>
                <li ng-repeat="centerobj in orgList.centersInfos" ng-if="!centerobj.ryde">
                  <a href="javascript:void(0);" mtype="1" org-active value="{{centerobj.id}}">{{centerobj.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="filter-bottom" ng-click="closeButton();">
        Filter
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">
        <div class="button-group text-right top-button">
          <!-- <div class="dropdown right">
          <button id="roster-dropdown" class="btn btn-default"
            type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-cog""=""></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="roster-dropdown">
            <li><a href="javascript:void(0);" ng-click="setType(2);">Today</a></li>                         
          </ul>
        </div> -->
        </div>


        <!-- --------------------------------- -->
        <!-- Select Sub-Galleries View Details -->
        <!-- --------------------------------- -->
        <div class="row calendar-content-view">
          <div class="content-top">
            <!-- Leave -->
            <div ng-show="currentUser.userInfo.userType != 1" class="cal-week-information" ng-repeat="leaveRow in leaveList">
              <div class="cal-datepart cal-col-{{obj.range}}" ng-repeat="obj in leaveRow">
                <span style="margin-top: 0px;font-size:14px;font-weight:normal;white-space:normal;overflow:visible;"
                  ng-click="openChooseLeaveColor(obj,true);" class="leave cal-event-color-{{obj.leaveColor}}" title="{{obj.userName}} 's {{obj.leaveType | leaveTypeFilter}}"
                  ng-if="obj.userName!=''">
                  {{obj.userName}} 's {{obj.leaveType | leaveTypeFilter}}
                </span>
              </div>
            </div>
          </div>
          <div class="content-bottom">
            <div class="cal-weekday-details">
              <!-- 周的天开始 -->
              <div class="cal-dateColumn today" ng-repeat="week in page.weekDays">
                <!-- Event开始 -->
                <div class="col-inner">
                  <div class="date-events">
                    <div ng-repeat="event in week.eventList" ng-click="openChooseEventColor(event,false);" class="event-item  cal-event-color-{{event.eventColor==null?1:event.eventColor}}"
                      style="float: left;width: 98%;">
                      <div style="cursor:pointer;">
                        <h4 class="event-title" style="margin-top: 0px;font-size:14px;font-weight:bold;word-wrap: break-word;overflow:visible;">{{event.title}}
                        </h4>
                      </div>
                      <div style="float: right;" onClick="event.cancelBubble = true;">
                        <i ng-show="currentUser.userInfo.userType != 1" class="fa fa-pencil" ng-click="goEventEidt(event.id);"
                          aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Event开始 -->
              </div>
              <!-- 周的天结束 -->
            </div>
          </div>
        </div>
      </div>
      <!--attWrap-->
    </div>
    <!--.content-area-->
  </div>