<div id="editInfo">
        <div class="modal-header" ng-init="getEditInfo();">
          <button type="button" class="close" ng-click="close();"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Manage Policy Categories</h4>
        </div>
        <div class="modal-body">

          <div class="form-horizontal">

            <h4>Policy Categories</h4>

            <div class="form-group" ng-repeat="category in policyCategoriesSrcList | filter:{deleteFlag:0}">
              <div class="col-md-9">
                <input type="text" class="form-control" ng-model="category.name">
              </div>
              <div class="col-md-3">
                <button class="btn btn-default btn-block" ng-click="existDeleteCategory(category.name,category.id)">Delete</button>
              </div>
            </div>

            

            <div class="form-group">
              <div class="col-md-9">
                <input type="text" class="form-control" ng-model="addCategoryInfo.name" placeholder="Fill in Category Name" ng-keyup="enterAddCategory($event);">
              </div>
              <div class="col-md-3">
                <button class="btn btn-general btn-block" ng-click="addCategory();">Add</button>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-general" ng-click="saveCategory();">Save/Update</button>
          <button type="button" class="btn btn-default" ng-click="close();">Cancel</button>
        </div>
      </div><!-- /.modal-content -->