<div id="editInfo">
<div class="modal-header" ng-init="getEditInfo();" >
      <button type="button" class="close" ng-click="close();"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Upload  Policy</h4>
</div>
<div class="modal-body" >

<div class="form-horizontal">
        <div class="form-group">
              <label class="col-md-3 control-label">Policy Name</label>
              <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="policyInfo.policyName">
              </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Category</label>
          <div class="col-md-9">
            <select class="form-control"  ng-model="policyInfo.categoryId"   style="width:100%;">
                    <option ng-repeat="category in policyInfo.policyCategoriesSrcList" ng-disabled="category.deleteFlag==1" value='{{category.id}}'>{{category.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Policy Documents</label>
          <div class="col-md-9" id="uploadFile">
            <table class="table table-striped policy-table">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Version</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in policyInfo.policyDocList | filter:{deleteFlag:0} | orderBy:'-version'">
                  <td><a class="label-general" title='{{file.fileName}}' ng-click="download(file);">{{file.fileName|fileNameSplitFilter}}</a></td>
                  <td>{{file.version}}</td>
                  <td><button class="btn btn-default btn-sm btn-block" ng-click="deleteFile(file.attachId);">Delete</button></td>
                </tr>   
            
                <tr>
                  <td>   
                  <div class="fileDownLoad" ng-if="addFileInfo.fileName!=''"><a href="javascript:void(0);" title='{{addFileInfo.fileName}}' ng-click="download(addFileInfo);" class="file">{{addFileInfo.fileName|fileNameSplitFilter}}</a></div>
                  <div class="btn btn-general btn-sm fileUpload">                     
                    <i class="material-icons">file_upload</i> Click to Upload<input ngf-select="upload($files)" type="file" class="upload"></div></td>
                  <td><input type="text" class="form-control input-sm" ng-model="addFileInfo.version"></td>
                  <td><button class="btn btn-general btn-sm btn-block" ng-click="addFile();">Add</button></td>   
                </tr>
                  
              </tbody>
            </table>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-3 control-label">NQS</label>
          <div class="col-md-9">
            <div class="nqs-list tag-list">
              <a class="{{nqs.version|nqsTipFilter:nqs.tag}}" href="javascript:void(0);" data-toggle="tooltip" tooltip title="{{nqs.content}}" ng-repeat="nqs in policyInfo.nqsInfo | orderBy:'version'">{{nqs.version}}</a>           
            </div>
            <button type="button" class="btn btn-general pull-left" ng-click="openNqs(policyInfo.nqsInfo,saveNqsResult,policyInfo.createTime);"><i class="material-icons">more</i>  Attach NQS</button>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Visibility</label>
          <div class="col-md-9">
            <div class="function">
              <select select2 ng-model="policyVisibilityView" class="form-control privacy-select" multiple="multiple" style="width:100%;">      
                <option value="51c32196-49a3-11e6-b19e-00e0703507b4">Educator</option>
                <option value="8090ce81-49a3-11e6-b19e-00e0703507b4">Parents</option>
                <option value="74ba21a6-49a3-11e6-b19e-00e0703507b4">Cooks</option>
                <option value="5bce6bab-49a3-11e6-b19e-00e0703507b4">Casual</option>
              </select>
            </div>
          </div>
        </div>

</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-general" ng-click="savePolicy();">Save/Update</button>
<button type="button" class="btn btn-default" ng-click="close();">Cancel</button>
</div>
</div>