<div class="main" ng-controller="policyCtrl">
  <div ng-init="headtype='policy';headName='Policies & Other'" ng-include="'head.html?res_v='+res_v"></div>


  <div class="container-fluid">
    <div class="row" ng-init="getPolicyList();">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner" ng-init="getPolicyFun();">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">
            Filter
          </div>
          <button class="closeButton">
            <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i>
          </button>
        </div>

        <div class="menu-block">
          <div class="title">
            Search Policy Name
          </div>
          <div class="filter">
            <input type="text" class="form-control" ng-model="page.condition.keyword" ng-keyup="enterSearch($event);">
          </div>
        </div>

        <div class="menu-block" id="category" ng-init="getCategoriesSrcList();">
          <div class="title">
            Policy Category
          </div>
          <ul clickFun="scope.search();">
            <li class="active">
              <a href="javascript:void(0);" value="null" mtype="0" policy-active>All</a>
            </li>
            <li ng-repeat="category in policyCategoriesSrcList">
              <a policy-active value="{{category.id}}" href="javascript:void(0);">{{category.name}}</a>
            </li>

          </ul>
        </div>
        <div class="menu-block">
          <div class="title">NQS - Quality Areas</div>
          <div class="filter">
            <input type="text" class="form-control" ng-keyup="newsKeyup($event);" ng-model="page.condition.nqsVersion" />
          </div>
          <ul>
            <li ng-click="setNQS('');" ng-class="{true:'active',false:''}[page.condition.nqsVersion!='QA1' &&
                      page.condition.nqsVersion!='QA2' &&
                      page.condition.nqsVersion!='QA3' &&
                      page.condition.nqsVersion!='QA4' &&
                      page.condition.nqsVersion!='QA5' &&
                      page.condition.nqsVersion!='QA6' &&
                      page.condition.nqsVersion!='QA7']">
              <a href="javascript:void(0);">All</a>
            </li>
            <li ng-click="setNQS('QA1');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA1']">
              <a href="javascript:void(0);">QA1 - Educational program and practice</a>
            </li>
            <li ng-click="setNQS('QA2');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA2']">
              <a href="javascript:void(0);">QA2 - Children’s health and safety</a>
            </li>
            <li ng-click="setNQS('QA3');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA3']">
              <a href="javascript:void(0);">QA3 - Physical environment</a>
            </li>
            <li ng-click="setNQS('QA4');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA4']">
              <a href="javascript:void(0);">QA4 - Staffing arrangements</a>
            </li>
            <li ng-click="setNQS('QA5');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA5']">
              <a href="javascript:void(0);">QA5 - Relationships with children</a>
            </li>
            <li ng-click="setNQS('QA6');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA6']">
              <a href="javascript:void(0);">QA6 - Collaborative partnerships with families and communities</a>
            </li>
            <li ng-click="setNQS('QA7');" ng-class="{true:'active',false:''}[page.condition.nqsVersion=='QA7']">
              <a href="javascript:void(0);">QA7 - Governance and Leadership</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="filter-bottom" ng-click="closeButton();search()">
        Filter
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">



        <div class="policyWrap">
          <div class="row policy-container" ng-repeat="policyInfo in page.list">
            <div class="col-md-12">
              <div class="policy-inner">
                <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="policy-file-type">
                      <i class="fa fa-file-word-o word" ng-if="(policyInfo.policyDocList[0].fileName | fileExtension)=='word'" aria-hidden="true"></i>
                      <i class="fa fa-file-pdf-o pdf" ng-if="(policyInfo.policyDocList[0].fileName | fileExtension)=='pdf'" aria-hidden="true"></i>
                    </div>
                    <div class="policy-detail">
                      <h4>{{policyInfo.policyName}}
                        <span class="version" ng-if="policyInfo.policyDocList.length>0">{{policyInfo.policyDocList[0].version}}</span>
                      </h4>
                      <div class="upload-by">{{policyInfo.updateName}}
                        <span class="date">{{policyInfo.updateTime | date: 'dd/MM/yyyy'}}</span>
                      </div>
                      <div class="nqs-list tag-list">
                        <a class="title category">NQS</a>
                        <a class="{{nqs.version|nqsTipFilter:nqs.tag}}" href="javascript:void(0);" tooltip data-toggle="tooltip" title="{{nqs.content}}" ng-repeat="nqs in policyInfo.nqsInfo">{{nqs.version}}</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12 text-right policy-actions">
                    <a href="javascript:void(0);" type="button" class="btn btn-general" ng-if="policyInfo.policyDocList.length>0" ng-click="download(policyInfo.policyDocList[0])">Download</a>
                    <a href="javascript:void(0);" type="button" ng-if="functions | haveFunction:'policy_view'" class="btn btn-general" ng-click="openEdit(policyInfo.id)">View</a>
                    <a href="javascript:void(0);" type="button" ng-if="functions | haveFunction:'policy_delete'" class="btn btn-general" ng-click="deletePolicy(policyInfo.id)">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="pagination-container text-center">
            <nav aria-label="Page navigation">
              <pagination ng-change="getPolicyListPageIndex(page.condition.pageIndex)" uib-pagination items-per-page="page.condition.pageSize"
                total-items="page.condition.totalSize" ng-model="page.condition.pageIndex" max-size="page.condition.maxSize"
                previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
            </nav>
          </div>

        </div>
      </div>
      <!--.content-area-->

    </div>
  </div>
</div>