<div id="allocate-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel('allocate-modal')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{moveModel.childName}} Move To</h4>
        </div>
        <div class="modal-body">
            <div class="form form-horizontal form-move">
                <div class="form-group form-border">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="radio">
                            <div class="col-md-3" ng-if="listType != 1">
                                <label ng-class="{'checked': moveType == 1}" ng-click="changeMoveTo(1)">
                                    <input type="radio" name="Radios1" class="radio-class" id="Radios1_1">
                                    <span class="cr">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    External
                                </label>
                            </div>

                            <div class="col-md-3" ng-if="listType != 2">
                                <label ng-class="{'checked': moveType == 2}" ng-click="changeMoveTo(2)">
                                    <input type="radio" name="Radios1" class="radio-class" id="Radios1_2">
                                    <span class="cr">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    Sibling
                                </label>
                            </div>

                            <div class="col-md-3" ng-if="listType != 0 && !moveModel.enrolledFlag">
                                <label ng-class="{'checked': moveType == 0}" ng-click="changeMoveTo(0)">
                                    <input type="radio" name="Radios1" class="radio-class" id="Radios1_1" ng-disabled="moveModel.enrolled">
                                    <span class="cr">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    Application
                                </label>
                            </div>
                            <div class="col-md-3" ng-if="listType != 0 && moveModel.enrolledFlag">
                                <label class="check-disabled" style="cursor:default">
                                    <input type="radio" name="Radios1" class="radio-class" id="Radios1_1">
                                    <span class="cr">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    Application
                                </label>
                            </div>

                            <div class="col-md-5" ng-if="listType != 3 && !moveModel.enrolledFlag">
                                <label ng-class="{'checked': moveType == 3}" ng-click="changeMoveTo(3)">
                                    <input type="radio" name="Radios1" class="radio-class" id="Radios1_3">
                                    <span class="cr">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    Archived Application
                                </label>
                            </div>
                            <div class="col-md-5" ng-if="listType != 3 && moveModel.enrolledFlag">
                                <label class="check-disabled" style="cursor:default">
                                    <input type="radio" name="Radios1" class="radio-class" id="Radios1_3">
                                    <span class="cr">
                                        <i class="cr-icon fa fa-circle"></i>
                                    </span>
                                    Archived Application
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="aboutFamily" ng-hide="moveType == 3 || moveType == 0">
                    <div class="form-group" style="margin-bottom:20px;">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="radio">
                                <div class="col-md-4" ng-hide="listType == 1 || listType == 2">
                                    <label ng-class="{'checked' : familyToType == 0}" ng-click="changeFamily(0)">
                                        <input type="radio" name="actionRadios" id="actionRadios1" value="option1">
                                        <span class="cr">
                                            <i class="cr-icon fa fa-circle"></i>
                                        </span>
                                        Create Family
                                    </label>
                                </div>

                                <div class="col-md-6">
                                    <label ng-class="{'checked' : familyToType == 1}" ng-click="changeFamily(1)">
                                        <input type="radio" name="actionRadios" id="actionRadios2" value="option1">
                                        <span class="cr">
                                            <i class="cr-icon fa fa-circle"></i>
                                        </span>
                                        Merge to a Family
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="familyToType == 1">
                        <label class="col-md-3 control-label">Select a Family</label>
                        <div class="col-md-9">
                            <select class="form-control" style="width: 100%;" max='10' ng-model='moveModel.chooseFamilyId' select-ajax url="./waiting/familySelect.do"
                                select2-model='chooseOrgs'>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-general" ng-click="planConfirm()">Confirm</button>
                <button type="button" class="btn btn-default" ng-click="cancel('allocate-modal')">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>