<div class="main" ng-controller="waitingCtrl">
  <div ng-init="headtype='positionManager';headName='Position Manager'" ng-include="'head.html?res_v='+res_v"></div>

  <div class="container-fluid wait-list" ng-init="waitingList()">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 sidebar-inner sidebar-inner-position">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">
            Filter
          </div>
          <button class="closeButton">
            <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i>
          </button>
        </div>
        <div class="menu-block">
          <ul>
            <li>
              <div class="text-bold mtb10">Position types</div>
              <ul class="sub-filter">
                <li ng-if="!countResult.parent">
                  <a href="#/attendance_management">Enrolled children</a>
                </li>
                <li class="active">
                  <a href="#/application_list">Waiting list</a>
                </li>
              </ul>
            </li>

            <li ng-if="!countResult.parent">
              <div class="text-bold mtb10">Wait lists</div>
              <ul class="sub-filter">
                <li ng-class="{'active':condition.listType.length == 0}">
                  <a href="javascript:void(0);" class="text-bold" ng-click="selectList(-1)">All lists</a>
                </li>
                <li ng-class="{'active':condition.listType.indexOf(0) != -1}">
                  <a href="javascript:void(0);" ng-click="selectList(0)">Application list
                    <strong>{{countResult.counts[0]}}</strong>
                  </a>
                </li>
                <li ng-class="{'active':condition.listType.indexOf(2) != -1}">
                  <a href="javascript:void(0);" ng-click="selectList(2)">Sibling list
                    <strong>{{countResult.counts[3]}}</strong>
                  </a>
                </li>
                <li ng-class="{'active':condition.listType.indexOf(1) != -1}">
                  <a href="javascript:void(0);" ng-click="selectList(1)">External list
                    <strong>{{countResult.counts[2]}}</strong>
                  </a>
                </li>
                <li ng-class="{'active':condition.listType.indexOf(3) != -1}">
                  <a href="javascript:void(0);" ng-click="selectList(3)">Archived list
                    <strong>{{countResult.counts[1]}}</strong>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <div class="text-bold mtb10">Region</div>
              <ul class="sub-filter">
                <li ng-class="{'active':condition.centerTypes.length==0}">
                  <a href="javascript:void(0);" class="text-bold" ng-click="selectCenterFun(-1)">All</a>
                </li>
                <li ng-class="{'active':condition.centerTypes.indexOf(center.id) != -1}" ng-repeat="center in condition.allCenters track by $index" ng-if="center.ryde">
                  <a href="javascript:void(0);" class="text-bold" ng-click="selectCenterFun(center.id)">Ryde</a>
                </li>
                <li ng-class="{'active':condition.centerTypes.indexOf(1) != -1}">
                  <a href="javascript:void(0);" class="text-bold" ng-click="selectCenterFun(1)">Edensor Park</a>
                  <ul class="three-filter">
                    <li ng-class="{'active':condition.centerTypes.indexOf(center.id) != -1}" ng-repeat="center in condition.allCenters track by $index" ng-if="!center.ryde">
                      <a href="javascript:void(0);" ng-click="selectCenterFun(center.id)">{{center.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              <div class="text-bold mtb10">Requested Days</div>
              <ul class="sub-filter">
                <li ng-class="{'active':!condition.monday && !condition.tuesday && !condition.wednesday && !condition.thursday && !condition.friday}">
                  <a href="javascript:void(0);" class="text-bold" ng-click="selectRequestedDays(0)">All</a>
                </li>
                <li ng-class="{'active':condition.monday}">
                  <a href="javascript:void(0);" ng-click="selectRequestedDays(1)">Monday</a>
                </li>
                <li ng-class="{'active':condition.tuesday}">
                  <a href="javascript:void(0);" ng-click="selectRequestedDays(2)">Tuesday</a>
                </li>
                <li ng-class="{'active':condition.wednesday}">
                  <a href="javascript:void(0);" ng-click="selectRequestedDays(3)">Wednesday</a>
                </li>
                <li ng-class="{'active':condition.thursday}">
                  <a href="javascript:void(0);" ng-click="selectRequestedDays(4)">Thursday</a>
                </li>
                <li ng-class="{'active':condition.friday}">
                  <a href="javascript:void(0);" ng-click="selectRequestedDays(5)">Friday</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="menu-block">
          <div class="title">
            Search People
          </div>
          <div class="filter">
            <input type="text" class="form-control" ng-model="condition.param">
          </div>
        </div>

        <div class="menu-block">
          <div class="title">
            Application Date
          </div>
          <div class="filter">
            <input type="text" class="form-control" time-range starttime="condition.appStartDate" endtime="condition.appEndDate" callback="appDateCallback">
          </div>
        </div>

        <div class="menu-block">
          <div class="title">
            Requested Start Date
          </div>
          <div class="filter">
            <input type="text" class="form-control" time-range starttime="condition.requestStartDate" endtime="condition.requestEndDate"
              callback="requestedDateCallback">
          </div>
        </div>

        <div class="menu-block">
          <div class="title">
            Age
          </div>
          <div class="filter">
            <input id="age" name="age" type="text" class="form-control my-date-picker" ng-model="condition.liveAge">
          </div>
        </div>

        <div class="menu-block">
          <div class="filter">
            <button class="btn btn-update-search hidden-xs" style="width:100%;" ng-click="search()">Update Search</button>
          </div>
        </div>
      </div>

      <div class="filter-bottom" ng-click="closeButton();search();">
        Filter
      </div>

      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 content-area pull-right" id="waitinglistId">

        <div class="rosterWrap taskWrap">

          <div class="table-responsive table-nowrap">
            <table class="leave-table leave-list table table-position-manager">
              <thead>
                <tr>
                  <th>Position</th>
                  <th>List</th>
                  <th>Region</th>
                  <th>Child</th>
                  <th>Age</th>
                  <th>Requested Days</th>
                  <th>Application</br> Date</th>
                  <th>Editable </br>Application Date</th>
                  <th>Requested </br>Start Date</th>
                  <th ng-if="!countResult.parent">Actions</th>
                </tr>
              </thead>

              <tbody ng-repeat="model in waitingListResult.list">
                <tr ng-if="$index==0 || ($index!=0 && waitingListResult.list[$index].listType != waitingListResult.list[$index-1].listType)">
                  <td colspan="10" style="padding:10px 0;"></td>
                </tr>
                <tr class="queue" ng-class="{'tbody-disabled':model.listType==3}">
                  <td class="font0">
                    <label ng-if="model.listType==0" class="pbadge pbadge-green">{{model.queue}}</label>
                    <label ng-if="model.listType==2" class="pbadge pbadge-blue">{{model.queue}}</label>
                    <label ng-if="model.listType==1" class="pbadge pbadge-orange">{{model.queue}}</label>
                    <label ng-if="model.listType==3" class="pbadge pbadge-gray">{{model.archivedFrom | waitinglistType}}</label>
                  </td>
                  <td class="font0">
                    <label ng-if="model.listType==0" class="pbadge pbadge-green">{{model.listType | waitinglistType}}</label>
                    <label ng-if="model.listType==2" class="pbadge pbadge-blue">{{model.listType | waitinglistType}}</label>
                    <label ng-if="model.listType==1" class="pbadge pbadge-orange">{{model.listType | waitinglistType}}</label>
                    <label ng-if="model.listType==3" class="pbadge pbadge-gray">{{model.listType | waitinglistType}}</label>
                  </td>
                  <td class="font0">
                    <label class="pbadge" ng-class="dealClass(center,model.listType)" ng-repeat="center in model.centers">
                      {{center | isRyde}}</label>
                  </td>
                  <td>
                    <button ng-if="model.listType==0 || (model.listType==3 && model.archivedFrom==0)" data-toggle="modal" data-target="#profile-modal"
                      class="link no-style" ng-click="openAppProfile(model.id)">
                      {{model.childName}}
                    </button>
                    <button ng-if="model.listType==3 && model.archivedFrom!=0" class="link no-style" ng-click="openProfile(model.id)">
                      {{model.childName}}
                    </button>
                    <button ng-if="model.listType==1 || model.listType==2" class="link no-style" ng-click="openProfile(model.familyId)">
                      {{model.childName}}
                    </button>
                  </td>
                  <td>{{model.liveAge[0]}}Y {{model.liveAge[1]}}M {{model.liveAge[2]}}D</td>
                  <td ng-if="model.listType!=3" class="font0">
                    <label class="pbadge" ng-class="{true:'pbadge-black',false:'pbadge-gray'}[model.monday]">MON</label>
                    <label class="pbadge" ng-class="{true:'pbadge-black',false:'pbadge-gray'}[model.tuesday]">TUE</label>
                    <label class="pbadge" ng-class="{true:'pbadge-black',false:'pbadge-gray'}[model.wednesday]">WED</label>
                    <label class="pbadge" ng-class="{true:'pbadge-black',false:'pbadge-gray'}[model.thursday]">THU</label>
                    <label class="pbadge" ng-class="{true:'pbadge-black',false:'pbadge-gray'}[model.friday]">FRI</label>
                  </td>
                  <td ng-if="model.listType==3" class="font0">
                    <label class="pbadge" ng-class="{true:'pbadge-darken-gray',false:'pbadge-gray'}[model.monday]">MON</label>
                    <label class="pbadge" ng-class="{true:'pbadge-darken-gray',false:'pbadge-gray'}[model.tuesday]">TUE</label>
                    <label class="pbadge" ng-class="{true:'pbadge-darken-gray',false:'pbadge-gray'}[model.wednesday]">WED</label>
                    <label class="pbadge" ng-class="{true:'pbadge-darken-gray',false:'pbadge-gray'}[model.thursday]">THU</label>
                    <label class="pbadge" ng-class="{true:'pbadge-darken-gray',false:'pbadge-gray'}[model.friday]">FRI</label>
                  </td>
                  <td>{{model.applicationDate | date : 'dd/MM/yyyy'}}</td>
                  <td>
                    <input style="min-width:120px;max-width:120px;" type="text" class="form-control no-style my-date-picker2 edit-date" obj="model"
                      func="changeModel" ng-model="model.applicationDatePosition" ng-disabled="model.listType==3 || countResult.parent">
                  </td>
                  <td>{{model.requestedStartDate | date : 'dd/MM/yyyy'}}</td>
                  <td ng-if="!countResult.parent">
                    <button type="button" class="btn btn-white" ng-click="openAllocateModel(model)">ALLOCATE</button>
                    <button ng-if="model.listType==1 || model.listType==2" type="button" class="btn btn-white" ng-disabled="!model.childVo.attendance.attendFlag"
                      ng-click="openWin('',model.id,6,model.childVo,false);">ENROL</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pagination-wrap text-center">
            <nav aria-label="Page navigation">
              <pagination ng-change="changePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalSize"
                ng-model="condition.pageIndex" max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm"
                boundary-links="false" rotate="false"></pagination>
            </nav>
          </div>

        </div>


      </div>
      <!--.content-area-->

    </div>
  </div>
</div>
<!--.main-->