<!-- Profile Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="profile-box">
            <form class="text-center form-email">
                <h4 class="uppercase mt48 mt-xs-0">WAITLIST APPLICATION</h4>
                <p class="lead mb64 mb-xs-24">
                    Submit your application by completing the details below
                </p>
                <div class="overflow-hidden" id="centreList">
                    <hr>
                    <h6 class="uppercase">Choose a Service</h6>
                    <div class="col-sm-4" ng-repeat="centre in details.centersInfos">
                        <p class="mb16" style="font-size:13px;">Kindikids Early Learning {{centre.name}}
                            <br>{{centre.centreAddress}}
                            <br>
                        </p>
                        <div class="checkbox-option text-left realcentre" ng-class="{'checked':centre.choose}">
                            <div class="inner"></div>
                            <input type="checkbox" class="centre" name="centreList" value="">
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden">
                    <hr>
                    <h6 class="uppercase">
                        Parent / Guardian Details 1
                    </h6>

                    <div class="row">
                        <div class="col-sm-6">
                            <div></div>
                            <input type="text" name="firstname1" class="col-md-12 validate-required " placeholder="First Name*"
                                disabled ng-model="details.parents[0].firstName">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="lastname1" class="col-md-12 validate-required " placeholder="Last Name*"
                                disabled ng-model="details.parents[0].lastName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="relationship1" class="col-md-12" placeholder="Relationship to child"
                                disabled ng-model="details.outRelevantInfo.relationship1">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="address1" class="col-md-12" placeholder="Street Address" disabled
                                ng-model="details.parents[0].address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="suburb1" class="col-md-12" placeholder="Suburb" disabled ng-model="details.parents[0].suburb">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="postcode1" class="col-md-12" placeholder="Postcode" disabled
                                ng-model="details.parents[0].postcode">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="homephone1" class="col-md-12" placeholder="Home Phone" disabled
                                ng-model="details.parents[0].homePhone">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="workphone1" class="col-md-12" placeholder="Work Phone" disabled
                                ng-model="details.parents[0].workPhone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="mobile1" class="col-md-12" placeholder="Mobile" disabled ng-model="details.parents[0].mobile">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="email1" class="col-md-12 " placeholder="Your Email Address*"
                                disabled ng-model="details.parents[0].email">
                        </div>
                    </div>
                </div>

                <div class="overflow-hidden">
                    <h6 class="uppercase">
                        Parent / Guardian Details 2
                    </h6>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="firstname2" class="col-md-12 parent2input" placeholder="First Name*"
                                disabled ng-model="details.parents[1].firstName">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="lastname2" class="col-md-12 parent2input" placeholder="Last Name*"
                                disabled ng-model="details.parents[1].lastName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="relationship2" class="col-md-12" placeholder="Relationship to child"
                                disabled ng-model="details.outRelevantInfo.relationship2">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="address2" class="col-md-12" placeholder="Street Address" disabled
                                ng-model="details.parents[1].address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="suburb2" class="col-md-12" placeholder="Suburb" disabled ng-model="details.parents[1].suburb">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="postcode2" class="col-md-12" placeholder="Postcode" disabled
                                ng-model="details.parents[1].postcode">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="homephone2" class="col-md-12" placeholder="Home Phone" disabled
                                ng-model="details.parents[1].homePhone">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="workphone2" class="col-md-12" placeholder="Work Phone" disabled
                                ng-model="details.parents[1].workPhone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="mobile2" class="col-md-12" placeholder="Mobile" disabled ng-model="details.parents[1].mobile">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="email2" class="col-md-12 parent2input parent2inputEmail"
                                placeholder="Your Email Address*" disabled ng-model="details.parents[1].email">
                        </div>
                    </div>

                    <hr>
                </div>

                <div class="overflow-hidden">
                    <h6 class="uppercase">
                        Child Details
                    </h6>


                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="childFirstname" class="col-md-12 validate-required " placeholder="First Name*"
                                disabled ng-model="details.child.firstName">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="childLastname" class="col-md-12 validate-required " placeholder="Last Name*"
                                disabled ng-model="details.child.lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="select-option">
                                <i class="ti-angle-down"></i>
                                <select name="childSex" aria-invalid="false" disabled>
                                    <option>Gender</option>
                                    <option value="1" ng-selected="details.child.gender == 1">Male</option>
                                    <option value="0" ng-selected="details.child.gender == 0">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="dobChild" class="col-md-12 validate-required validate-date" id="dobChild"
                                placeholder="Date of Birth DD/MM/YYYY" maxlength="10" autocomplete="off" disabled
                                ng-model="details.child.birthdayStr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="nationality" class="col-md-12" placeholder="Nationality" disabled
                                ng-model="details.outRelevantInfo.nationality">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="languages" class="col-md-12" placeholder="Language Spoken"
                                disabled ng-model="details.outRelevantInfo.language">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="religion" class="col-md-12" placeholder="Religion" disabled
                                ng-model="details.outRelevantInfo.religion">
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="overflow-hidden">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="uppercase">
                                Has your child
                                <br> been immunised?
                            </h6>
                            <div class="checkbox-option text-left" ng-class="{'checked':details.outRelevantInfo.hasImmunised}">
                                <div class="inner"></div>
                                <input type="checkbox" name="hasImmunised" value="1">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <h6 class="uppercase">
                                Has your child been diagnosed or at risk of anaphylaxis?
                            </h6>
                            <div class="checkbox-option text-left" ng-class="{'checked':details.outRelevantInfo.hasAnaphylaxis}">
                                <div class="inner"></div>
                                <input type="checkbox" name="hasAnaphylaxis" value="1">
                            </div>
                        </div>

                    </div>
                </div>


                <div class="overflow-hidden">
                    <div class="col-sm-12">
                        <h6 class="uppercase">
                            Does your child have any learning difficulties?
                        </h6>

                        <input type="text" name="learningDifficulties" disabled ng-model="details.outRelevantInfo.learningDifficulties">

                    </div>

                    <div class="col-sm-12">
                        <h6 class="uppercase">
                            Does your child have any medical conditions?
                        </h6>

                        <input type="text" name="medicalConditions" disabled ng-model="details.outRelevantInfo.medicalConditions">
                    </div>
                    <div class="col-sm-12">
                        <h6 class="uppercase">
                            Does your child have any dietary requirements?
                        </h6>

                        <input type="text" name="dietaryRequipments" disabled ng-model="details.outRelevantInfo.dietaryRequipments">

                    </div>


                    <div class="col-sm-12">
                        <h6 class="uppercase">
                            Does your child have any allergies eg. Food, medication, animals, insects?
                        </h6>

                        <input type="text" name="allergies" disabled ng-model="details.outRelevantInfo.allergies">

                    </div>
                </div>



                <div class="overflow-hidden">
                    <h6 class="uppercase">
                        Days Requested (A minimum of 2 days is required)
                    </h6>
                    <div class="col-sm-2 col-sm-offset-1">
                        <p class="mb16">
                            Monday
                        </p>
                        <div class="checkbox-option text-left" ng-class="{'checked':details.child.monday}">
                            <div class="inner"></div>
                            <input type="checkbox" name="monday">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="mb16">
                            Tuesday
                        </p>
                        <div class="checkbox-option text-left" ng-class="{'checked':details.child.tuesday}">
                            <div class="inner"></div>
                            <input type="checkbox" name="tuesday">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="mb16">
                            Wednesday
                        </p>
                        <div class="checkbox-option text-left" ng-class="{'checked':details.child.wednesday}">
                            <div class="inner"></div>
                            <input type="checkbox" name="wednesday">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="mb16">
                            Thursday
                        </p>
                        <div class="checkbox-option text-left" ng-class="{'checked':details.child.thursday}">
                            <div class="inner"></div>
                            <input type="checkbox" name="thursday">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="mb16">
                            Friday
                        </p>
                        <div class="checkbox-option text-left" ng-class="{'checked':details.child.friday}">
                            <div class="inner"></div>
                            <input type="checkbox" name="friday">
                        </div>
                    </div>


                    <hr>

                    <h6 class="uppercase">REQUESTED DATE TO START </h6>
                    <div class="row">
                    <input id="changeDate" type="text" name="changeDate" placeholder=" DD/MM/YYYY" class="col-md-12 validate-required validate-date"
                            my-date-picker ng-model="details.child.requestedStartDate">
                    </div>
                    <p>The Service must comply with the following enrolment priority of access guidelines set by the
                        Department
                        of Social Services:
                    </p>
                    <ul>
                        <li>Age</li>
                        <li>Priority of Access</li>
                        <li>Date of Application</li>
                        <li>Current siblings attending </li>
                        <li>Days Requested</li>
                    </ul>
                    <p></p>

                    <h4>
                    </h4>
                </div>

                <h6 class="uppercase"> Do you have any further information regarding this application?</h6>
                <textarea name="proposal" placeholder="Additional information" rows="2" disabled ng-model="details.outRelevantInfo.proposal"></textarea>
                <hr>

                <div class="overflow-hidden">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h6 class="uppercase">
                            Lastly, how did you hear about us?
                        </h6>
                        <div class="select-option">
                            <i class="ti-angle-down"></i>
                            <select name="channel" id="channel" disabled>
                                <option selected="" value="Default">Select An Option</option>
                                <option ng-selected="details.outRelevantInfo.channel==4">Facebook</option>
                                <option ng-selected="details.outRelevantInfo.channel==5">Instagram</option>
                                <option ng-selected="details.outRelevantInfo.channel==6">Drove Past</option>
                                <option ng-selected="details.outRelevantInfo.channel==0">Google</option>
                                <option ng-selected="details.outRelevantInfo.channel==1">Website</option>
                                <option ng-selected="details.outRelevantInfo.channel==2">Friend</option>
                                <option ng-selected="details.outRelevantInfo.channel==3">Other</option>
                            </select>
                        </div>
                        <textarea name="channelOther" id="channelOther" class="hide" rows="2"></textarea>
                        <p style="font-size:10px;">All information provided is as accurate as possible and I understand
                            that I need to inform the service
                            of any changes. I will contact the service to remove my child's name off the waitlist if I
                            no
                            longer require care. I also understand that the submission of this electronic form does not
                            guarantee
                            a position for my child for when I require it. By clicking on the "Submit Application"
                            button
                            you are acknowledging your acceptance of this agreement.</p>
                        <input type="submit" value="Submit Application" ng-click="save(details)" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>