<div class="main"  ng-controller='meetingTemplateCtrl'>
<div ng-init="headtype='meetingTemplate';headName='Meeting Minutes'" ng-include="'head.html?res_v='+res_v" ></div>

<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
           <div class="filter-title">Filters</div>  
			<div class="menu-block">
				<div class="title">Search Meeting</div>
				<div class="filter">
					<input type="text" ng-model='condition.name' ng-keyup="enterSearch($event);" class="form-control">
				</div>
			</div>

		</div>

		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">

			

			<div class="wrap-nofull center">
				<div class="row">

					<!--*******************
                    *******Task List*******
                    ********************-->

					<div class="col-md-6">
						<div class="task-overview-wrap">
							<div class="task-overview-inner" id='templateList' ng-init='initTemplateList();'>
								<div class="task-list-header">
									<button class="btn btn-general" ng-click='initModel();'>Create Meeting Template</button>
								</div>
								<!--.task-list-header-->

								<div class="task-list">
									<div class="task" do-active ng-repeat='template in templateList' ng-click="initModel(template.id)";>
										<span class="active-point"> <i class="fa fa-circle" aria-hidden="true"></i>
										</span>
										<div class="task-name">
											<div>{{template.templateName}}</div>
										</div>
										<div class="date">{{template.createTime|date:'dd/MM/yyyy'}}</div>
										<div class="divider">
											<span></span>
										</div>
									</div>
									<!--.task-->
									<div class="pagination-container text-center">
										<nav aria-label="Page navigation">
											<pagination ng-change="changeTemplateList(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalItems" ng-model="condition.pageIndex"
												max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
										</nav>
									</div>

								</div>
								<!--.task-list-->

							</div>
							<!--.task-overview-inner-->
						</div>
						<!--.task-overview-wrap-->
					</div>

					<!--*******************
                    *******Task Setting****
                    ********************-->
					<div class="col-md-6" id='myTemplate'>
						<div class="task-setting-wrap">
							<div class="task-setting-inner">
								<form id='templateForm' template-form class="form-horizontal">
									<div class="task-divider">
										<span class="title">Template Detail - {{meeting.meetingTemplateInfo.templateName}}</span>
										<div class="dropdown right">
											<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fa fa-cog" aria-hidden="true"></i>
											</button>
											<ul class="dropdown-menu">
												<li><a href="javascript:void(0);" ng-if='meeting.meetingTemplateInfo.state==null||meeting.meetingTemplateInfo.state==1' ng-click='save()'>Save</a></li>
												<li><a href="javascript:void(0);" ng-if="meeting.meetingTemplateInfo.state==0" ng-click="enableOrDisable(1)">Enable</a></li>
												<li><a href="javascript:void(0);" ng-if="meeting.meetingTemplateInfo.state==1" ng-click="enableOrDisable(0)">Disable</a></li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-lg-3 control-label">Meeting Template Name</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" ng-disabled='meeting.meetingTemplateInfo.state==0' name='templateName' ng-model='meeting.meetingTemplateInfo.templateName'>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">NQS</label>
										<div class="col-md-9">
											<div class="nqs-list tag-list">
												<a class="btn-icon {{nqs.version|nqsTipFilter:nqs.tag}}" ng-repeat="nqs in chooseNqs | orderBy:'version'" href="javascript:void(0);" tooltip data-toggle="tooltip" title="{{nqs.content}}">{{nqs.version}}</a>
											</div>
											<button type="button" ng-hide='meeting.meetingTemplateInfo.state==0' class="btn btn-general pull-left" data-toggle="modal" ng-click="openNqs(chooseNqs,saveNqsResult,meeting.meetingTemplateInfo.createTime)"
												data-target="#nqs-modal">
												<i class="material-icons">more</i> Attach NQS
											</button>
										</div>
									</div>

									<div class="task-setting-block frequency-block">
										<button type="button" class="btn-icon frequency" ng-click='openFrequency();' data-toggle="modal" data-target="#frequency-modal">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</button>
										<h4 class="task-title">Frequency</h4>
										<div class="form-group">
											<label class="col-lg-3 control-label">Frequency</label>
											<div class="col-lg-9">
												<p class="form-control-static">{{meeting.frequency.repeats|getRepeatMsg:meeting.frequency.weekdayStart:meeting.frequency.weekdayDue}}</p>
											</div>
										</div>
										<div class="form-group">
											<label class="col-lg-3 control-label">Start Date</label>
											<div class="col-lg-9">
												<p class="form-control-static">{{meeting.frequency.startsOnDate|date:'dd/MM/yyyy'}}</p>
											</div>
										</div>
										<div class="form-group">
											<label class="col-lg-3 control-label">Duration for this Template</label>
											<div class="col-lg-9">
												<p class="form-control-static">{{meeting.frequency.endOnDate|date:'dd/MM/yyyy'}}</p>
											</div>
										</div>
									</div>
									<h4>Column</h4>
									<div class="form-group mycolumn"  ng-repeat="column in meeting.columnList" repeat-done='repeatDone()'>
										<div class="col-md-9">
											<input type="text" class="form-control" ng-disabled='meeting.meetingTemplateInfo.state==0||column.columnType!=null' name='columnName' ng-model="column.columnName">
										</div>
										<div class="col-md-3" ng-hide='meeting.meetingTemplateInfo.state==0'>
											<button class="btn btn-default btn-block" ng-hide='column.columnType!=null' type='button' ng-click="removeColumn($index);">Delete</button>
										</div>
									</div>

									<div class="form-group" ng-hide='meeting.meetingTemplateInfo.state==0'>
										<div class="col-md-9">
											<input type="text" class="form-control" name='tmpColumnName' ng-model='addData' placeholder="Column Name"  ng-keyup="enterAddColumn($event)" >
										</div>
										<div class="col-md-3">
											<button class="btn btn-general btn-block" type='button' ng-click="addColumn();">Add</button>
										</div>
									</div>
								</form>

							</div>
							<!--.task-setting-inner-->
						</div>
						<!--.task-setting-wrap-->
					</div>

				</div>
			</div>


		</div>
		<!--.content-area-->

	</div>
</div>
</div>