<div class="main"  ng-controller="meetingAgendaCtrl">
<div ng-init="headtype='agenda';headName='Meeting Minutes'" ng-include="'head.html?res_v='+res_v" ></div>

<div class="container-fluid" >
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
            <div class="filter-title">Filters</div>
			<div class="menu-block">
				<div class="title">Search by Name</div>
				<div class="filter">
					<input type="text" ng-model='condition.meetingAgendaName' ng-keyup="enterSearch($event);" class="form-control">
				</div>
			</div>

			<div class="menu-block">
				<div class="title">Search by date range</div>
				<div class="filter">
					<input type="text" time-range starttime="condition.startTime" endtime="condition.endTime" callback='getAgendaList' class="form-control">
				</div>
			</div>

			<div class="menu-block" ng-init='initMeetingType()'>
				<div class="title">Agenda Type</div>
				<ul>
					<li class="active">
						<a href="javascript:void(0);" type-choose>All Meeting</a>
					</li>
					<li ng-repeat='type in typeList|filter:{deleteFlag:0}'>
						<a href="javascript:void(0);" type-choose value='{{type.id}}'>{{type.typeName}}</a>
					</li>
				</ul>
			</div>

		</div>

		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">
			

			<div class="wrap-nofull center">
				<div class="row">
					<!--*******************
                      *******Task List*******
                      ********************-->

					<div class="col-md-6">
						<div class="task-overview-wrap" id='agendaList' ng-init='initAgendaList();'>
							<div class="task-overview-inner">
								<div class="task-list-header clearfix">
									<button class="btn btn-general pull-left" data-toggle="modal" ng-click='initAgeModel()' data-target="#agenda-setting-modal">Create Meeting Agenda</button>
									<button class="btn btn-general pull-right" ng-click="openType();" data-toggle="modal" data-target="#agenda-add-modal">Add Agenda Type</button>
								</div>
								<!--.task-list-header-->

								<div class="task-list">

									<div class="task" do-active ng-repeat='agenada in agendaList' ng-click='initAgeModel(agenada.id)'>
										<span class="active-point">
											<i class="fa fa-circle" aria-hidden="true"></i>
										</span>
										<div class="task-name">
											<div>{{agenada.agendaName}}</div>
										</div>
										<div class="date">{{agenada.createTime|date:'dd/MM/yyyy'}}</div>
										<div class="divider">
											<span></span>
										</div>
									</div>
									<div class="pagination-container text-center">
										<nav aria-label="Page navigation">
											<pagination ng-change="changeAgendaList(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalItems" ng-model="condition.pageIndex"
												max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
										</nav>
									</div>

								</div>
								<!--.task-list-->

							</div>
							<!--.task-overview-inner-->
						</div>
						<!--.task-overview-wrap-->
					</div>

					<div class="col-md-6" id='myAgenda' ng-init='initAgeModel()'>
						<div class="task-setting-wrap">
							<div class="task-setting-inner">
								<form class="form-horizontal" agenda-form id='agendaForm'>
									<div class="task-divider">
										<span class="title">Agenda Detail - {{meetingAgendaInfo.agendaName}}</span>

										<div class="dropdown right">
											<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fa fa-cog" aria-hidden="true"></i>
											</button>
											<ul class="dropdown-menu">
												<li>
													<a href="javascript:void(0);" ng-if='meetingAgendaInfo.state==null||meetingAgendaInfo.state==1' ng-click="save();">Save</a>
												</li>
												<li>
													<a href="javascript:void(0);" ng-if="meetingAgendaInfo.state==0" ng-click="enableOrDisable(1)">Enable</a>
												</li>
												<li>
													<a href="javascript:void(0);" ng-if="meetingAgendaInfo.state==1" ng-click="enableOrDisable(0)">Disable</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Agenda Name</label>
										<div class="col-md-9">
											<input type="text" name='agendaName' ng-disabled='meetingAgendaInfo.state==0' ng-model="meetingAgendaInfo.agendaName" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Agenda Type</label>
										<div class="col-md-9">
											<select class="form-control" ng-disabled='meetingAgendaInfo.state==0' name='agendaType' ng-model="meetingAgendaInfo.agendaTypeId">
												<option  value=""  ng-disabled='true'>Choose Type</option>
												<option ng-repeat='type in typeList' value="{{type.id}}"  ng-disabled='type.deleteFlag==1'>{{type.typeName}}</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">NQS</label>
										<div class="col-md-9">
											<div class="nqs-list tag-list">
												<a class="btn-icon {{nqs.version|nqsTipFilter:nqs.tag}}" ng-repeat="nqs in chooseNqs | orderBy:'version'" href="javascript:void(0);" tooltip data-toggle="tooltip" title="{{nqs.content}}">{{nqs.version}}</a>
											</div>
											<button type="button" ng-hide='meetingAgendaInfo.state==0' class="btn btn-general pull-left" data-toggle="modal" ng-click="openNqs(chooseNqs,saveNqsResult,meetingAgendaInfo.createTime)" data-target="#nqs-modal">
												<i class="material-icons">more</i>
												Attach NQS
											</button>
										</div>
										<!-- <div class="col-md-offset-3">
										 	&nbsp;<input type='hidden' ng-model='chooseNqs' name='nqs'>
										</div> -->
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Paragraph</label>
										<div class="col-md-9">
											<textarea class="form-control" ng-disabled='meetingAgendaInfo.state==0' rows="10" maxlength="500" name='paragraph' ng-model="meetingAgendaInfo.paragraph"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-12">Table</label>
										<div class="col-md-12 table-container">
											<table class="table table-bordered table-agenda">
												<thead>
													<tr>
														<th style='width: 22%;'>Item</th>
														<th style='width: 28%;'>Presented By</th>
														<th style='width: 20%;'>Time</th>
														<th style='width: 20%;'>Minutes</th>
														<th ng-hide='meetingAgendaInfo.state==0' style='width: 10%;'></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in meetingAgendaInfo.agendaItems">
														<td><input type="text" ng-disabled='meetingAgendaInfo.state==0' onkeydown='if(event.keyCode==13) return false;' class="form-control" name='itemName' ng-model='item.itemName'></td>
														<td><select class="form-control" ng-disabled='meetingAgendaInfo.state==0' style='width: 100%;' select2-model='item.presenter' select-image-ajax url='./common/getStaff.do?type=1'
																ng-model='item.presentedAccountId'>
															</select></td>
														<td><input type="text" onkeyup="value=value.replace(/[^\d]/g,'')" onkeydown='if(event.keyCode==13) return false;' ng-disabled='meetingAgendaInfo.state==0' class="form-control" name='itemTime' ng-model='item.itemTime'></td>
														<td><input type="text" ng-disabled='meetingAgendaInfo.state==0' class="form-control" my-minutes name='itemMinutes' ng-model='item.itemMinutes'></td>
														<td ng-hide='meetingAgendaInfo.state==0'><button class="btn btn-default btn-block" ng-click='removeItem($index);'>Delete</button></td>
													</tr>
												</tbody>
											</table>
										</div>
										<button class="btn btn-general btn-sm cloneRow" type='button' ng-hide='meetingAgendaInfo.state==0' ng-click='addItem()'>Add Row</button>
									</div>



								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
