<div class="main withWeek" ng-controller='meetingManagerCtrl'>
<div ng-init="headtype='meeting';headName='Meeting Minutes'" ng-include="'head.html?res_v='+res_v"></div>


<div class="container-fluid"  ng-init='initTaskView()'>
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
            <div class="menu-top visible-xs">
    <div class="menu-top-title">
             Filter
    </div>
    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
</div>


			<div class="menu-block">
				<div class="title">Search by Name</div>
				<div class="filter">
					<input type="text" ng-model='condition.name' ng-keyup="enterSearch($event);" class="form-control" >
				</div>
			</div>

		</div>

 <div class="filter-bottom" ng-click="closeButton();search()">
                      Filter
         </div>  
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">
			<div class="row">
				<!--*******************
                      *******Task List*******
                      ********************-->

				<div class="col-lg-7 col-md-12 center">

					<div class="task-overview-wrap">
						<div class="task-overview-inner">
							<div class="task-list-header clearfix">
								<button class="btn btn-general"  data-toggle="modal" ng-click='initModalData(createMeeting)' data-target="#meeting-creation-modal">Create Meeting</button>
							</div>
							<!--.task-list-header-->

							<div class="task-list">

								<div class="task" data-toggle="modal" ng-repeat='meetingInfo in  pageList.list' ng-click='initModalData(editMeeting,meetingInfo.id,meetingInfo.templateId)' data-target="#meeting-manage-modal">
									<div class="task-name">
										<div>{{meetingInfo.meetingName}}</div>
									</div>
									<div class="date">{{meetingInfo.createTime|date:'dd/MM/yyyy'}}</div>
									<div class="divider">
										<span></span>
									</div>
								</div>
								
								<div class="pagination-wrap text-center">
									<nav aria-label="Page navigation">
										<pagination ng-change="changeLeavePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalItems" ng-model="condition.pageIndex"
											max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
									</nav>
								</div>

							</div>
							<!--.task-list-->

						</div>
						<!--.task-overview-inner-->
					</div>
					<!--.task-overview-wrap-->
				</div>
			</div>


		</div>
		<!--.content-area-->

	</div>
</div>

</div>
