<div class="modal-header" ng-init="initChildSearch()">
  <button type="button" class="close"  ng-click="close()"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 ng-if="inType == 0"  class="modal-title" id="myModalLabel">Sign In Child</h4>
  <h4 ng-if="inType == 1" class="modal-title" id="myModalLabel">Sign In Staff</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label ng-if="inType == 0" class="col-md-3 control-label">Select a child</label>
      <label ng-if="inType == 1" class="col-md-3 control-label">Select a staff</label>
       <div class="col-md-9">
        <select name="childId" class="image-select form-control"
          ng-model="childId"  select2-model="condition"  style="width:100%" 
          url="{{url}}" select-image-ajax ></select>
          <option disabled value=""></option>
       </div>
    </div>
    </form>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
    <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
  </div>