<div class="modal-header" ng-init="childExportInit()">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close" ng-click="close();">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Export</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-md-3 control-label">Export by</label>
      <div class="col-md-9">
        <div class="radio">
          <label> <input type="radio" name="exportChildSign"
            id="exportChildSign_1" value="bydate" checked ng-click="dateChange(0)"> <span
            class="cr"><i class="cr-icon fa fa-circle"></i></span> Date
          </label>
        </div>
        <div class="radio">
          <label> <input type="radio" name="exportChildSign"  ng-click="dateChange(1)" 
            id="exportChildSign_2" value="bychild"> <span
            class="cr"><i class="cr-icon fa fa-circle"></i></span> Child
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="exportData.flag == 1">
      <label class="col-md-3 control-label">Select a Child</label>
      <div class="col-md-9">
        <select name="childId" class="image-select form-control" 
          ng-model="exportData.id" select2-model="condition"  style="width:100%" 
          url="sign/getAllChilds.do?type=2&orgId={{orgId}}" select-image-ajax >
          <option disabled value=""></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Select Time Range</label>
      <div class="col-md-9">
        <input type="text" class="form-control" time-range callback="clearTime"  starttime="exportData.startDate" endtime="exportData.endDate">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Export</button>
  <button type="button" class="btn btn-default" ng-click="close();">Cancel</button>
</div>
