<!--     <div class="modal fade" id="export-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content"> -->
          <div class="modal-header" ng-init="visitorExportInit()">
            <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Export</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-md-3 control-label">Select Time Range</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" callback="clearTime"  time-range starttime="dateInfo.startDate" endtime="dateInfo.endDate">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-general" ng-click="ok()">Export</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>    
          </div>
<!--         </div>
      </div>
    </div> -->