<div class="pageWrapTable" ng-controller="landSignCtrl">
  <div class="wrapCell" ng-init="initLand()">
    <div class="logo-kk-red" >
      <span>K</span>
    </div>
    <input type="hidden" id="errorMsg" value="errorMsg">
    <div class="landing-title text-center">Sign in/Sign out</div>
    <!--     <div class="sign-list">
      <div class="sign-block">
        <a ng-click="personSign(0)" style="cursor:pointer;">Children Sign In</a>
      </div>
      <div class="sign-block">
        <a ng-click="personSign(1)" style="cursor:pointer;">Children Sign Out</a>
      </div>
      <div class="sign-block">
        <a ng-click="personSign(2)" style="cursor:pointer;">Staff Sign In</a>
      </div>
      <div class="sign-block">
        <a ng-click="personSign(3)" style="cursor:pointer;">Staff Sign Out</a>
      </div>
      <div class="sign-block">
        <a ng-click="signin()" style="cursor:pointer;">Visitor Sign In</a>
      </div>
      <div class="sign-block">
        <a ng-click="signout()" style="cursor:pointer;">Visitor Sign Out</a>
      </div>   
      </div> -->
    <div class="sign-list">
      <div class="sign-block text-center">Children</div>
      <div class="sign-block">
        <div class="row">
          <div class="col-md-6 sign-border">
            <a ng-click="personSign(0)" style="cursor:pointer;">Sign In</a>
          </div>
          <div class="col-md-6">
            <a ng-click="personSign(1)" style="cursor:pointer;">Sign Out</a>
          </div>
        </div>
      </div>
      <div class="sign-block text-center" >Staff</div>
      <div class="sign-block">
        <div class="row">
          <div class="col-md-6 sign-border">
            <a ng-click="personSign(2)" style="cursor:pointer;">Sign In</a>
          </div>
          <div class="col-md-6">
            <a ng-click="personSign(3)" style="cursor:pointer;">Sign Out</a>
          </div>
        </div>
      </div>
      <div class="sign-block text-center">Visitor</div>
      <div class="sign-block">
        <div class="row">
          <div class="col-md-6 sign-border">
            <a ng-click="signin()" style="cursor:pointer;">Sign In</a>
          </div>
          <div class="col-md-6">
            <a ng-click="signout()" style="cursor:pointer;">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>