<!-- <div class="modal fade modal-grey" id="children-sign-in-modal" role="dialog">
    <div class="modal-dialog" role="document">-->
<div id="childOrStaffSign">
	<div class="modal-header" ng-init="initPersonSignInfo()">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<!-- <h4 class="modal-title" id="myModalLabel">Please fill in your information</h4> -->
	</div>
	<div class="modal-body">
		<form id="childSigninSignForm" child-signin-sign-form>
			<div class="form-group">
				<div class="avatar-wrap text-center">
					<span ng-if=" (inFlag == 2 || inFlag == 3) && inPersonInfo.avatar == null" class="name-short {{inPersonInfo.personColor}}">{{inPersonInfo.fullName
						| userNameUpperCase}}</span>
					<span ng-if=" (inFlag == 0 || inFlag == 1) && inPersonInfo.img == null" class="name-short {{inPersonInfo.personColor}}">{{inPersonInfo.name
						| userNameUpperCase}}</span>
					<span ng-if="inPersonInfo.avatar != null" class="profileImage">
						<img src="{{inPersonInfo.avatar}}" class="img-circle img-full">
					</span>
					<span ng-if="inPersonInfo.img != null" class="profileImage">
						<img src="{{inPersonInfo.img}}" class="img-circle img-full">
					</span>
					<span ng-if=" inFlag == 2 || inFlag == 3" class="name-full">{{inPersonInfo.fullName}}</span>
					<span ng-if=" inFlag == 0 || inFlag == 1" class="name-full">{{inPersonInfo.name}}</span>
				</div>
			</div>
			<div class="form-group" ng-hide="inFlag == 2 || inFlag == 3 || inFlag == 1">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="sunscreen" ng-checked="inPersonInfo.sunscreen" ng-model="inPersonInfo.sunscreen">
						<span class="cr">
							<i class="cr-icon fa fa-check"></i>
						</span>
						Sunscreen Applied?
					</label>
				</div>
			</div>
			<div class="form-group" ng-hide="inFlag == 2 || inFlag == 3">
				<label class="control-label">Signature of Authorised Person</label>
				<div class="signature-block">
					<div id="signature-pad-11" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas width="600" height="400" name="childSigninSignature"></canvas>
						</div>
						<div class="m-signature-pad--footer">
							<!-- <div class="description">Signature of Authorised Person</div> -->
							<button type="button" class="button clear btn btn-default btn-sm" data-action="clear11">Clear</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-9 center" ng-hide="inFlag == 0 || inFlag == 1">
					<label class="control-label">Your Password</label>
					<input type="password" class="form-control" ng-model="personPwd" name="personPassword">
				</div>
			</div>
			<div class="form-group" ng-show="isCMEdu">
				<div class="col-md-9 center">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="policy" name="policy1">
							<span class="cr"><i class="cr-icon fa fa-check"></i></span>
							I will adhere to all Children's Dietary Requirements, Medical Conditions and Custody Arrangements as outlined in
							Today's Notes
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="isCook && !isCMEdu">
				<div class="col-md-9 center">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="policy" name="policy2">
							<span class="cr"><i class="cr-icon fa fa-check"></i></span>
							I will adhere to all Children's Dietary Requirements as outlined in Today's Notes
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-if=" inFlag == 0 || inFlag == 2" type="button" class="btn btn-general" ng-click="ok()">Sign In</button>
		<button ng-if=" inFlag == 1 || inFlag == 3" type="button" class="btn btn-general" ng-click="ok()">Sign out</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
	</div>
</div>