<div class="pageWrapTable" ng-controller="personSignListCtrl">
  <div class="wrapCell wrapCellTop" ng-init="initChildInfo()">
    <div class="logo-kk-red">
      <span>K</span>
    </div>
    <div ng-if="flag == 0" class="landing-title text-center">Children Sign In</div>
    <div ng-if="flag == 1" class="landing-title text-center">Children Sign Out</div>
    <div ng-if="flag == 2" class="landing-title text-center">Staff Sign In</div>
    <div ng-if="flag == 3" class="landing-title text-center">Staff Sign Out</div>
    <div class="content-sign">
      <a href="#/landing_signin/{{centerName}}"  class="btn btn-default backLading"><i
        class="fa fa-chevron-left" aria-hidden="true"></i></a>
      <div class="landing-title text-center">Click your name
        below:</div>
      <div class="form-group">
        <div class="col-md-9 center">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="params" 
              placeholder="Type in Your Name.." ng-keypress="keyEvent($event)"> <span
              class="input-group-btn">
              <button class="btn btn-general" type="button" ng-click="search()">Search</button>
            </span>
          </div>
          <!-- /input-group -->
        </div>
      </div>
      <div class="result-visitor">
        <div class="col-md-9 center">
          <div class="row" ng-repeat="one in pageList">
            <div class="col-md-3" ng-repeat="item in one">
              <div class="avatar-wrap text-center">
                <a data-toggle="modal" style="cursor:pointer;" ng-click="childSigninModal(item)" > 
                  <span ng-if=" (flag == 2 || flag == 3) && item.avatar == null" class="name-short {{item.personColor}}">{{item.fullName | userNameUpperCase}}</span>
                  <span ng-if=" (flag == 0 || flag == 1) && item.img == null" class="name-short {{item.personColor}}">{{item.name | userNameUpperCase}}</span> 
                  <span ng-if="item.avatar != null" class="profileImage"> <img
                    src="{{item.avatar}}"
                    class="img-circle img-full">
                  </span>
                  <span ng-if="item.img != null" class="profileImage"> <img
                    src="{{item.img}}"
                    class="img-circle img-full">
                  </span>
                  <br/>
                  <span ng-if=" flag == 2 || flag == 3" class="name-full">{{item.fullName}}</span>
                  <span ng-if=" flag == 0 || flag == 1" class="name-full">{{item.name}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>