<div class="main withWeek" ng-controller="signListCtrl">
<div ng-init="headtype='visitorList';headName='Visitors'" ng-include="'head.html?res_v='+res_v" ></div>

<div class="container-fluid" >
  <div class="row" ng-init="getYearList()" style="min-height:1200px;" id="mainList">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner"
      ng-init="getSignList();">
     <div class="menu-top visible-xs">
    <div class="menu-top-title">
             Filter
    </div>
    <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
</div>

      <div class="menu-block child-figure-list Location" ng-init="getMenuOrgs();">
        <div class="title">Location</div>
        <ul clickFun="scope.search();">
          <li class="active" ng-if="centreAndCasual||isCeoRole"><a href="javascript:void(0);"
            mtype="0" org-active>All Centres</a></li>
          <li ng-repeat="centerobj in orgList.centersInfos"><a
            href="javascript:void(0);" mtype="1" org-active
            value="{{centerobj.id}}">{{centerobj.name}}</a>
              <!-- <ul class="sub-filter">
                <li ng-repeat="roomobj in orgList.roomInfos"
                  ng-if="roomobj.centersId==centerobj.id"><a
                  href="javascript:void(0);" mtype="2"
                  value="{{roomobj.id}}" org-active>{{roomobj.name}}</a></li>
              </ul> -->
            </li>
        </ul>
      </div>
    </div>
    
 <div class="filter-bottom" ng-click="closeButton();">
                      Filter
         </div>  
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">
      <div class="attWrap">
    
      

          <!--***********************
            ***** Attendance Sheet *****
            *************************-->
            <div class="attSheet attChildSheet">
              <div class="attTable attSheetWrap">
               <!--.attRow-->
                <div class="attRow" ng-init="maxRowListIndex=$index" ng-repeat="obj in maxRowList track by obj.id" >
                  <div class="attCol att-col-7"   ng-repeat="week in weekRowList track by week.id">
                     <div class="attColInnerWrap" ng-class="{'status-at-service':currentRepeadobj.sigin&&!currentRepeadobj.sigout,'status-left-service':currentRepeadobj.sigin&&currentRepeadobj.sigout}" ng-if="page.weekDays[$index].signs.length>0 && page.weekDays[$index].signs.length>maxRowListIndex" ng-init="currentRepeadobj=page.weekDays[$index].signs[maxRowListIndex]">                        
                        <div  class="occupant"  title="{{currentRepeadobj.name}}">
                          <span ng-click="openEditSign(currentRepeadobj.id)" class="name-short {{currentRepeadobj.personColor!=null?currentRepeadobj.personColor:'red'}}"  ng-if="currentRepeadobj.img==null">
                            {{currentRepeadobj.name | userNameUpperCase}}  
                          </span>
                          <span class="profileImage" ng-if="currentRepeadobj.img!=null">
                            <img  ng-src="{{currentRepeadobj.img}}" class="img-circle img-full">
                          </span>   
                          <a href="javascript:void(0);" class="link-mask" data-toggle="modal" ng-click="openEditSign(currentRepeadobj.id);" data-target="#visitor-modal"></a>                                         
                       		<span class="icon-cus icon-cus-sign-out" ng-if='currentRepeadobj.sigin&&currentRepeadobj.sigout'>
										<span class="glyphicon glyphicon-log-out"></span>
									</span>
								
                                      <span class="icon-cus icon-cus-confirmed"  ng-if='currentRepeadobj.sigin&&!currentRepeadobj.sigout'>
                                      			<span class="glyphicon glyphicon-ok"></span>
                                      </span>
                        </div>                                      
                       
                     </div>
                  </div>                    
                   <!--.attRow-->                            
                </div>   
              </div><!--.attSheetWrap-->
            </div><!--.attSheet-->
            <!--***********************
            *** Attendance Sheet End***
            *************************-->
      </div>
      <!--attWrap-->
    </div>
    <!--.content-area-->
  </div>
</div>
</div>