
<!-- Staff Sign In Management -->
<!--  <div class="modal fade modal-grey" id="staff-sign-in-management-modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content"> -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Staff Sign In / Sign Out</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <div class="avatar-wrap text-center">
        <span class="name-short blue"> FL </span> <span
          class="name-full"> Firstname Lastname </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Date</label>
      <div class="col-md-9">
        <input type="text" class="form-control date-picker"
          value="01/01/2016">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Signed In</label>
      <div class="col-md-9">
        <!-- <p class="form-control-static">08:25 AM</p> -->
        <input type="text" class="form-control time-picker"
          value="08:25 AM">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Signed Out</label>
      <div class="col-md-9">
        <input type="text" class="form-control time-picker"
          value="08:25 PM">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general">Sign out</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
<!--       </div>/.modal-content
    </div>/.modal-dialog
  </div>/.modal -->