<!-- <div class="modal fade visitor-sign-out-popup modal-align-top"
  id="visitor-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div id="showLoading">
	<div class="modal-header" ng-init="initVisitorEditSign()">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 ng-if="flag == 1" class="modal-title">Visitor Sign In / Sign Out</h4>
		<h4 ng-if="flag == 0" class="modal-title">Children Sign In / Sign Out</h4>
		<h4 ng-if="flag == 2" class="modal-title">Staff Sign In / Sign Out</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="editSignForm" edit-sign-form>
			<div class="avatar-wrap">
				<span ng-if="condition.avatar == null" class="name-short {{condition.personColor}}"> {{condition.fullName | userNameUpperCase}}</span>
				<span ng-if="condition.avatar != null" class="profileImage">
					<img ng-src="{{condition.avatar}}" class="img-circle img-full">
				</span>
				<span class="name-full">{{condition.fullName}}</span>
			</div>
			<div class="form-group" ng-hide="flag == 0 || flag == 2">
				<label class="col-md-3 control-label">Reason of Visit</label>
				<div class="col-md-9">
					<textarea ng-model="condition.reason" name="reason" class="form-control" rows="10" maxlength="500"></textarea>
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 0 || flag == 2">
				<label class="col-md-3 control-label">Centre</label>
				<div class="col-md-9">
					<select class="form-control" name="centerName" ng-disabled="(currentUser.roleInfoVoList|haveRole:'1;5')" ng-model="condition.centreId" ng-options="o.id as o.text for o in centerList">
						<option disabled value="">Choose Centre</option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 0 || flag == 2 ">
				<label class="col-md-3 control-label">Organisation</label>
				<div class="col-md-9">
					<input ng-model="condition.organisation" type="text" class="form-control" name="organisation">
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 0 || flag == 2 ">
				<label class="col-md-3 control-label">Contact Number</label>
				<div class="col-md-9">
					<input ng-model="condition.contactNum" type="text" class="form-control" value="0412223333" name="ContactNum">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Date</label>
				<div class="col-md-9">
					<input type="text" class="form-control date-picker" my-date-picker ng-model="condition.inTimeAll" name="inTime">
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 1 || flag == 2">
				<label class="col-md-3 control-label">Select if Nominated Supervisor or Educator Signing in Child</label>
				<div class="col-md-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model='condition.generationSign'>
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="condition.generationSign == true">
				<label class="col-md-3 control-label">Select a staff</label>
				<div class="col-md-9">
					<select name="childId" class="form-control" ng-model="condition.generationSignAccountId" select2-model="condition.selecterPos" style="width: 100%"
						url="rosterstaff/getRosterStaffForToday.do?accountId={{accountId}}&today={{today}}" select-image-ajax></select>
					<option disabled value=""></option>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Sign In Time</label>
				<div class="col-md-9">
					<!-- <p class="form-control-static">08:25 AM</p> -->
					<input type="text" class="form-control time-picker" name="signinTime" my-date-picker-timer value="{{condition.signInTime}}" ng-model="condition.signInTime">
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 2">
				<label class="col-md-3 control-label">Signature (signed in)</label>
				<div class="col-md-9">
					<!--  <img src="../images/sample-signature.png" class="img-full">-->
					<div id="signature-pad-7" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas ng-show="true" name="signinNature"></canvas>
							<!-- <img ng-show="true"
              ng-src="{{givingNoticeInfo.parentSignatureId}}"> -->
						</div>
						<div class="m-signature-pad--footer">
							<div class="description">Sign in Signature</div>
							<button type="button" ng-show="true" class="button clear btn btn-default btn-sm" data-action="clear7">Clear</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 1 || flag == 2">
				<label class="col-md-3 control-label">Select if Nominated Supervisor or Educator Signing Out Child</label>
				<div class="col-md-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model='condition.generationSignOut'>
							<span class="cr">
								<i class="cr-icon fa fa-check"></i>
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group" ng-show="condition.generationSignOut == true">
				<label class="col-md-3 control-label">Select a staff</label>
				<div class="col-md-9">
					<select name="childId" class="form-control" ng-model="condition.generationSignOutAccountId" select2-model="condition.selecterPosOut" style="width: 100%"
						url="rosterstaff/getRosterStaffForToday.do?accountId={{accountId}}&today={{today}}" select-image-ajax></select>
					<option disabled value=""></option>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Sign Out Time</label>
				<div class="col-md-9">
					<input type="text" class="form-control time-picker" name="condition.signoutTime" my-date-picker-timer value="{{condition.signOutTime}}" ng-model="condition.signOutTime">
				</div>
			</div>
			<div class="form-group" ng-hide="flag == 2">
				<label class="col-md-3 control-label">Signature (signed out)</label>
				<div class="col-md-9">
					<!--  <img src="../images/sample-signature.png" class="img-full">-->
					<div id="signature-pad-6" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<canvas ng-show="true" name="signoutNature"></canvas>
							<!-- <img ng-show="true"
              ng-src="{{givingNoticeInfo.parentSignatureId}}"> -->
						</div>
						<div class="m-signature-pad--footer">
							<div class="description">Sign out Signature</div>
							<button type="button" ng-show="true" class="button clear btn btn-default btn-sm" data-action="clear6">Clear</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-click="submitSignInfo()">Submit</button>
		<button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
	</div>
</div>
<!--     </div>
    /.modal-content
  </div>
  /.modal-dialog
</div>
/.modal -->