<div class="pageWrapTable" ng-controller="visitorSignoutCtrl">
	<div class="wrapCell" ng-init="initVisitorSignout()">
		<div class="logo-kk-red">
			<span>K</span>
		</div>
		<div class="landing-title text-center">Visitor Sign Out</div>
		<div class="content-sign">
			<a href="#/landing_signin/{{centerName}}" class="btn btn-default backLading"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<!--  <div class="form-group">
          <div class="col-md-9 center text-center">
            <strong>Find your name below:</strong>
          </div>
        </div> -->
			<div class="landing-title text-center">Find your name below:</div>
			<div class="form-group">
				<div class="col-md-9 center">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="params" placeholder="Type in Your Name.." ng-keypress="keyEvent($event)">
						<span class="input-group-btn">
							<button class="btn btn-general" type="button" ng-click="search()">Search</button>
						</span>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<!--  <div class="result-visitor">
        <div class="col-md-9 center">
          <div class="avatar-wrap" ng-repeat="item in signinList">
            <a href="#/visitor_signoutSign/{{item.id}}/{{centerName}}/{{item.firstName}} {{item.surname}}"> <span
              class="name-short {{item.personColor}}"> {{(item.firstName+' '+item.surname) | userNameUpperCase}}</span> <span
              class="name-full"> {{item.firstName}} {{item.surname}}</span>
            </a>
          </div>
        </div>
      </div> -->


			<div class="result-visitor">
				<div class="col-md-9 center">
					<div class="row">
						<div class="col-md-3" ng-repeat="item in signinList">

							<div class="avatar-wrap  text-center">
								<a href="#/visitor_signoutSign/{{item.id}}/{{centerName}}/{{item.firstName}} {{item.surname}}"> <span class="name-short {{item.personColor}}"> {{(item.firstName+' '+item.surname) |
										userNameUpperCase}}</span><br/><span class="name-full"> {{item.firstName}} {{item.surname}}</span>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!--.pageWrap-->