<div class="pageWrapTable" ng-controller="visitorMessageCtrl">
  <div class="wrapCell">
    <div class="logo-kk-red" >
      <span>K</span>
    </div>
    <div class="content-sign">
      <h1 ng-if="flag == 1" class="text-center">Welcome, {{name}}</h1>
      <h1 ng-if="flag == 2" class="text-center">Goodbye, {{name}}</h1>
    </div>
  </div>
</div>
