<div class="pageWrapTable" ng-controller="visitorSignCtrl" id="visitorSignin">
  <div class="wrapCell" ng-init="initVisitorSign()">
  <form class="form-horizontal"  id="visitorSigninForm" visitor-signin-form>
    <div class="logo-kk-red" >
      <span>K</span>
    </div>
    <div class="landing-title text-center">Visitor Sign In</div>
    <div class="content-sign">
      <a href="#/landing_signin/{{centerName}}" class="btn btn-default backLading"><i
        class="fa fa-chevron-left" aria-hidden="true"></i></a>
      <div class="form-horizontal">
        <div class="landing-title text-center">Please enter your
          information below:</div>
        <div class="form-group">
          <label class="col-md-3 control-label">First Name</label>
          <div class="col-md-9">
            <input name="firstName" ng-model="condition.firstName" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Surname</label>
          <div class="col-md-9">
            <input name="Surname" ng-model="condition.surname" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Reason of Visit</label>
          <div class="col-md-9">
            <textarea name="ReasonForVisit"  ng-model="condition.visitReason" class="form-control" rows="10" maxlength="500"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Location</label>
          <div class="col-md-9">
            <select class="form-control" name="centreName" ng-disabled="true"  ng-model="condition.centerId" ng-options="o.id as o.text for o in centerList">
              <option selected disabled value="">Choose Centre</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Organisation</label>
          <div class="col-md-9">
            <input name="organisation" ng-model="condition.organisation"  type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Contact Number</label>
          <div class="col-md-9">
            <input name="ContactNum" ng-model="condition.contactNumber" type="tel" class="form-control">
          </div>
        </div>
        <div class="form-group" >
          <label class="col-md-3 control-label">Signature</label>
          <div class="col-md-9">
            <div class="signature-block">
              <div id="signature-pad-1" class="m-signature-pad">
                <div class="m-signature-pad--body">
                  <canvas name="signatrue" width="600" height="400"></canvas>
                </div>
                <div class="m-signature-pad--footer">
                  <div class="description">Visitor Signature</div>
                  <button type="button"
                    class="button clear btn btn-default btn-sm"
                    data-action="clear1" >Clear</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6 center">
            <button ng-click="submitSignin()" class="btn btn-general btn-block">Sign In</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
<!--.pageWrap-->