
<div class="pageWrapTable" ng-controller="visitSignoutSignCtrl" id="visitorSignout">
  <div class="wrapCell" ng-init="initSign()">
    <form class="form-horizontal" id="visitorSignoutSignForm" visitor-signout-sign-form>
      <div class="logo-kk-red" >
        <span>K</span>
      </div>
      <div class="content-sign">
        <a href="#/landing_signin/{{centerName}}"
          class="btn btn-default backLading"><i
          class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <div class="form-horizontal">
          <div class="landing-title text-center">Sign Out</div>
          <div class="form-group">
            <label class="col-md-3 control-label">Signature</label>
            <div class="col-md-9">
              <div class="signature-block">
                <div id="signature-pad-2" class="m-signature-pad">
                  <div class="m-signature-pad--body">
                    <canvas name="signoutSignature" width="600" height="400"></canvas>
                  </div>
                  <div class="m-signature-pad--footer">
                    <div class="description">Visitor Signature</div>
                    <button type="button"
                      class="button clear btn btn-default btn-sm"
                      data-action="clear1">Clear</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-6 center">
              <button ng-click="submitSign()" class="btn btn-general btn-block">Sign
                Out</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--.pageWrap-->