* {
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

.ps-container {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px;
}

.ps-container > .ps-scrollbar-x-rail {
    background: none !important;
    margin: 4px 0;
    height: 4px;
    z-index: 49;
}

.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6;
}

.ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 3px;
    width: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
    background: none !important;
    margin: 4px 0;
    width: 4px;
    z-index: 49;
}

.layout-align-center, .layout-align-center-start, .layout-align-center-center, .layout-align-center-end, .layout-align-center-stretch {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.layout-align-start-center, .layout-align-center-center, .layout-align-end-center, .layout-align-space-between-center, .layout-align-space-around-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    max-width: 100%;
}

.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-scrollable {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.ms-scroll {
    overflow: hidden !important;
}

[layout] > * {
    min-height: auto;
    min-height: initial;
}

.md-whiteframe-8dp {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


#main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#layout-content-only {
    position: relative;
    height: 100%;
    max-height: 100%;
}

#layout-content-only #content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.md-content.md-default-theme.md-hue-1, .md-content.md-hue-1 {
    color: rgba(0,0,0,0.87);
    background-color: rgb(245,245,245);
}

#admin {
    height: 100%;
    // background: url("../img/march.jpg") no-repeat;
    // background-size: cover;
    position: relative;
}

#admin #admin-form-wrapper #admin-form .logo {
    width: 128px;
    height: 128px;
    line-height: 128px;
    font-size: 86px;
    font-weight: 500;
    margin: 32px auto;
    color: #FFFFFF;
    border-radius: 2px;
}

#admin #admin-form-wrapper #admin-form .logo.md-accent-bg {
    background-color: rgb(3,155,229);
    color: rgba(255,255,255,1);
}

#admin #admin-form-wrapper #admin-form .title {
    font-size: 17px;
    margin: 16px 0 32px 0;
}

#admin #admin-form-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 32px;
}

#admin #admin-form-wrapper #admin-form {
    width: 384px;
    max-width: 384px;
    padding: 32px;
    background: #FFFFFF;
    text-align: center;
}

/*INPUT*/
.md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}

.md-input-container.md-block {
    display: block;
}

.md-input-container .md-input {
    color: rgba(0,0,0,0.87);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    text-shadow: ;
    width: 100%;
    margin-bottom: 18px;
    padding:5px;
}

.md-input-container .md-input:focus{
	outline:0;
	border-bottom:1px solid #000;
}

.md-input-container:after {
    content: '';
    display: table;
    clear: both;
}

#admin #admin-form-wrapper #admin-form form .remember-forgot-password .forgot-password {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 8px;
    color: rgb(3,155,229);
}

.md-button{
	border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: transparent;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    letter-spacing: 0.010em;
}

#admin #admin-form-wrapper #admin-form form .submit-button {

    width: 220px;
    margin: 16px auto;
    display: block;
    background-color: rgb(3,155,229);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
}

.linkToLogin{
	margin: 32px auto 24px auto;
}

.linkToLogin a{
	font-size: 13px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 8px;
    color: rgb(3,155,229);
}