
/*Attendance Sheet*/

//Elements: small icons for attendance sheet
.circle{
	.round;
	width: 15px;
	height: 15px;
	display: block;
	background-color: @red;
}

.icon-cus{
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	text-align: center;
	display: inline-block;
}

.icon-cus-confirmed,
.icon-cus-sign-out{
	color: @white;
	.round;
}

.icon-cus-confirmed{
  background-color: @attendance-yellow;
  border:1px solid @attendance-yellow;
}

.icon-cus-sign-out{
	background:@attendance-green;
	border: 1px solid @attendance-green;
	.glyphicon{
		left: 1px;
		top: 0px;
	}
}

.icon-cus-absent{
	background: @attendance-red;
	color: @white;
	.round;
	border:1px solid @attendance-red;
}


.icon-cus-add,
.icon-cus-remove{
   color: @green;
   font-size: 10px;
   .round;
   background: #fff;
   border:1px solid #d8d8d8;
}

.icon-cus-remove{
	color: @red;
}

.icon-cus-change{
	background: #fff;
    .round;
    border: 1px solid #d8d8d8;
    position: relative;
	.fa{
		position: absolute;
	}

	.fa-share {
	    transform: rotate(75deg);
	    top: 2px;
	    right: 2px;
	    color: rgb(255, 95, 99);
	}

	.fa-reply {
	    transform: scale(1, -1) rotate(-75deg);
	    bottom: 2px;
	    left: 2px;
	    color: rgb(46, 204, 113);
	}
}

@media (max-width:767px){
	.icon-cus-confirmed,
	.icon-cus-absent,
	.icon-cus-sign-out,
	.icon-cus-add,
	.icon-cus-change{
		display: none;
	}
}


//Top Week Bar
// .attWrap{
// 	.full-width;
// 	overflow-x: hidden;
// }

// .attWrap {
// 	@media (min-width:768px){
// 		margin-top: -183px;
// 	}
// }

.attTopWrap{
	margin-bottom: -65px;
}

.attHeader{
	// .full-width;
	text-align: center;
	color: @black;
	font-size: 32px;
	.dropdown{
		display: inline-block;
	}


	@media (max-width:767px){
		font-size: 18px;
	}
}

//Week Slide
.day-of-week{
	padding-top: 15px;
	padding-bottom: 15px;
	color: @font-grey;

	// @media (max-width:767px){
	// 	padding-top: 35px;
	// }

	.week,
	.date,
	.event{
		display: block;
		text-align: center;
		font-weight: 400;
		margin-bottom: 5px;
		width: 100%;
	
	}

	.week,
	.event{
		font-size: 10px;

		@media (max-width:767px){
			font-size: 9px;
		}
	}

	.date{
		margin: 0 auto;
	    line-height: 42px;
	    font-size: 32px;
	    color: @black;

	    @media (max-width:991px){
	    	font-size: 18px;
	    }

	    @media (max-width:767px){
	    	font-size: 14px;
	    	line-height: 36px;
	    }
	}

	.event{
		position: absolute;
		bottom: 70px;
		

		.event-name{
			display: block;
		}
		.event-more{
			cursor: pointer;
			color: #333;
			font-size: 18px;
		}

		@media (max-width:767px){
			position: relative;
			bottom: 0;
		}
	}

	&.current{
		// color: @black;
		.circle{
			position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    bottom: -8px;
		}
	}
}


//Calendar Like Table
.attTable{
	width: 80%;
	margin:0 auto;
	display: table;

	@media (max-width:991px){
		width: 95%;
	}

	&.full-table{
		width: 100%;
	}
}

.attRow{
	display: table-row;
}

.attCol{
	display: table-cell;
	position: relative;

	&.att-col-7{
		width: 100%*(1/7);
	}

	&.att-col-8{
		width: 100%*(1/8);
	}

	&.att-col-9{
		width: 100%*(1/9);
	}

	&.att-col-10{
		width: 100%*(1/10);
	}
}

.attWeekSlide{
	// .full-width;
	// border-bottom: 1px solid #d8d8d8;
	margin:15px auto;
	position: relative;

	.slideLeft,
	.slideRight{
		position: absolute;
		top: 25px;
		cursor: pointer;
	}

	.slideLeft{
		left: 15px;
		@media (max-width:767px){
			left: 0;
		}
	}

	.slideRight{
		right: 15px;
		@media (max-width:767px){
			right: 0;
		}
	}

	.attCol{
		vertical-align: bottom;
	}


}


//Attandance Sheet General Layout Setting
.attSheet{
	h4{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		@media (max-width:991px){
			width: 95%;
		}
	}
	.full-width;
	.attSheetWrap{
		.attCol{
			text-align: center;
			vertical-align: top;

			.attColInnerWrap{
				.full-width;
				position: relative;
				margin-bottom: 20px;
			}

		}
	}
}

//Each occupant -staff & child
.occupant{
	width: 70px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	cursor: pointer;

	//Occupant Status: Image/Nanme Only/Empty
	.profileImage,
	.name-short,
	.empty{
		width: 100%;
		height: 100%;
	}

	.profileImage{
		border:1px solid #d8d8d8;
		background: #fff;
		padding:1px;
		.round;
	}

	.name-short{
		// .name-short-mixins(70px,24px);
		font-size: 24px;
		line-height: 70px;
	}

	.empty{
		// width: 70px;
		// height: 70px;
		border:1px solid #d8d8d8;
		background: #fff;
		display: inline-block;
		padding: 3px;
		.round;
		span{
			background-color: #d8d8d8;
			width: 100%;
			height: 100%;
			display: block;
			.round;

			span.glyphicon{
				color: @white;
				
			    top: 0;
			    width: auto!important;
			    height: auto!important;
			    left: 1px;
			    background-color: transparent!important;

			    @media (max-width:480px){
			    	line-height: 21px;
    				font-size: 12px;
			    }

			    @media (min-width:481px){
			    	line-height: 37px;
			    	font-size: 18px;
			    }

			    @media (min-width:1200px){
			    	line-height: 62px;
			    	font-size: 24px;
			    }


			}
		}
	}

	//Elements
	.icon-cus-confirmed,
	.icon-cus-sign-out,
	.icon-cus-absent,
	.icon-cus-remove{
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.icon-cus-remove{
		display: none;

		@media (max-width:767px){
			display: none!important;
		}

		@media (min-width:768px) and (max-width:1024px){
			display: block;
		}
	}

	.link-mask {
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    outline: 0;
	}

	&:hover{
		.icon-cus-remove{
			display: inline-block;
		}
	}


	@media (max-width:1199px){
		width: 45px;
		height: 45px;

		.name-short{
			line-height: 45px;
			font-size: 16px;
		}
	}

	@media (max-width:480px){
		width: 30px;
		height: 30px;

		.name-short{
			line-height: 30px;
			font-size: 12px;
		}
	}
}

.waiting-list{
	text-align: left;
	position: absolute;
	left: 60%;
	bottom: 0;
    .element{
    	margin-left: -6px;
    	margin-right: -6px;
    	vertical-align: top;
    	width: 20px;
    	height: 20px;
    }
	.profileImage{
		// width:20px;
		border:1px solid #d8d8d8;
		padding: 2px;
		.round;
		background-color: @white;
	}
	.name-short{
		.name-short-mixins(20px,10px);
	}

	@media (max-width:1199px){
		.profileImage,
		.name-short{
			display: none;
		}
	}
}

//Occupant border for button status - left, at service, absent

.status-at-service,
.status-left-service,
.status-absent{

	@media (max-width:767px){
		.occupant{
		.profileImage,
		.name-short{
				line-height: 41px;
			}

		}
	}

	@media (max-width:480px){
		.occupant{
		.profileImage,
		.name-short{
				line-height: 26px;
			}

		}
	}	
}

.status-at-service{
	@media (max-width:767px){
		.occupant{
		.profileImage,
		.name-short{
				border:2px solid @attendance-yellow;
			}

		}
	}

}

.status-left-service{
	@media (max-width:767px){
		.occupant{
		.profileImage,
		.name-short{
				border:2px solid @attendance-green;
			}

		}
	}

}

.status-absent{
	@media (max-width:767px){
		.occupant{
		.profileImage,
		.name-short{
				border:2px solid @attendance-red;
			}

		}
	}

}

//Schedule Time for Staff Roster Shift
.schedule-time,
.schedule-cat,
.schedule-leave{
	width: 100%;
    display: block;
    font-size: 12px;
    padding-top: 20px;
    text-align: left;

    @media (max-width:767px){
    	padding-top: 0;
    	font-size: 10px;
    }
}
.schedule-time{
    min-height: 70px;

}

.schedule-leave,
.staff-list{
	min-height: 50px;
}

//Staff List: leave & extral staff
.staff-list{
	display: inline-block;
	margin-left: -20px;

	@media (max-width:1199px){
		margin-left: 0;
	}
	.element{
		width: 45px;
		height: 45px;
		padding:2px;
		border:1px solid #d8d8d3;
		float: right;
		margin-right: -20px;
		background: @white;
		.round;
		display: inline-block;

		@media (max-width:1199px){
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		@media (max-width:480px){
			width: 30px;
			height: 30px;
		}
		
	}

	.name-short,
	.profileImage{
		width: 100%;
		height: 100%;
	}

	.name-short{
		font-size: 14px;
		line-height: 39px;

		@media(max-width:480px){
			line-height: 24px;
    		font-size: 12px;
		}
	}
}

//Staff Leave & Centre Manager 
.attStaffLeave {
    border-top: 2px dashed #d8d8d8;
    h4{
    	 margin-top: 20px;
    }
}

.attCentreManagerSheet,
.attEducatorSheet{
	border-bottom: 2px dashed #d8d8d8;
	margin-bottom: 20px;
}



//Children Attendance Popup
.popup-att{


	h4{
		text-align: center;
		color: @font-grey;
    	margin-bottom: 20px;
    	font-size: 32px;
	}

	.childInfo {
	    padding-top: 45px;

	    &.childLeave{
	    	text-align: right;
	    }
	    &.childJoin{	
	    	text-align: left;
	    }

	    .childName {
		    color: @blue;
		    font-size: 16px;
		    font-weight: 600;
		}

		.childRequest,
		.childContact{
			font-size: 12px;
		}

		@media (max-width:767px){
			padding-top: 0;
			&.childLeave,
		    &.childJoin{	
		    	text-align: center;
		    }
		}
	}
	
	.childImageChange{
		.profileImage{
			border:1px solid #d8d8d8;
			background: #fff;
			padding:3px;
			.round;
		}
	}

	.innerGraph{
		position: relative;
		width: 159px;
		margin: 0 auto;

		.childLeave{
			margin-bottom: 20px;
		}

	}


	.changeArrow {
	    font-size: 60px;
	    position: absolute;

	    &.redArrow{
	    	color: @red;
		    top: 20px;
		    right: 25px;
	    	.fa-share {
	    		.transform(rotate(90deg));

			}
	    }

	    &.greenArrow {
		    color: #2ecc71;
		    bottom: 20px;
		    left: 25px;
		    .fa-reply {
		    	.transform(scale(1,-1) rotate(-90deg));
			}
		}
	}

	.moreAttend {
	    color: @blue;
	    text-align: center;
	    margin-bottom: 20px;
	    font-size: 12px;
	}

	@media (max-width:767px){
		.modal-footer{
			button{
				display: block;
	    		margin-top: 5px;
	    		margin-left: auto!important;
			}
		}
	}

	&.popup-att-single{
		.childInfo{
			padding-top: 0;
		}

		.profileImageContainer{
			margin-bottom: 15px;
		}

	}
	

}





//Visitor Attendance
.table-list-wrap{
	padding:15px 20px;
	.box-shadow-general;
	.border-radius(5px);
	background: @white;
}

.table-list{
	@media (max-width:1199px){
		font-size: 12px;
	}

	.profileImage,
	.name-short{
		width: 35px;
		height: 35px;
	}

	&.table > thead > tr > th{
		border-bottom: none;
	}

	&.table > thead > tr > th,
	&.table > tbody > tr > td{
		border-top: none;
		vertical-align: middle!important;
	}

	&.table > tbody > tr > td{
		border-bottom: 1px dashed #d8d8d8;
	}
}

.visitor-sign-out-popup{
	.avatar-wrap{
		margin-bottom: 20px;
		text-align: center;
	}
}

//Visitor Sign In Page

.logo-kk-red{
	background-color: @red;
    color: @white;
    .square(57px);
    line-height: 57px;
    font-size: 34px;
    font-weight: 500;
    margin: 20px auto;
    .border-radius(2px);
    text-align: center;
}

.backLading{
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 1000;
}

.landing-title {
    font-size: 18px;
    margin-bottom: 20px;
}	

.content-sign{
    .box-shadow-general;
    background-color: @white;
    padding: 20px;
    max-width: 800px;
    margin:0 auto;
    .border-radius(5px);
    position: relative;

    .avatar-wrap{
    	margin-bottom: 20px;
    	a{
    		text-decoration: none;
    		color: #333;
    	}
    }

    // .sign-block{
    // 	color: @white;
    // 	text-decoration: none;
    // 	display: inline-block;
    // 	.square(128px);
    // 	// line-height: 128px;
	   //  text-align: center;
	   //  // .round;
	   //  .colorSelection;
	   //  font-size: 24px;
	   //  margin-top: 45px;
	   //  margin-bottom: 45px;
	   //  position: relative;
	   //  cursor: pointer;

	   //  &.sign-children{
	   //  	background-image:url(../images/children-icon.svg);
	   //  	background-repeat: no-repeat;
		  //   background-position: center 60%;
		  //   background-size: 400px;
	   //  }

	   //  &.sign-staff{
	   //  	background-image: url(../images/staff-icon.svg);
	   //  	background-repeat: no-repeat;
		  //   background-position: center 60%;
		  //   background-size: 400px;
	   //  }

	   //  &.sign-visitor{
	   //  	background-image: url(../images/visitor-icon.svg);
	   //  	background-repeat: no-repeat;
		  //   background-position: center 60%;
		  //   background-size: 400px;
	   //  }


	   //  a{
	   //  	color: @white;
	   //  	display: block;
	   //  	text-decoration: none;
	   //  	width: 100%;
	   //  	height: 100%;
	   //  	padding-top: 90px;
	   //  }

	   //  &.green{
	   //  	.box-shadow(0 0 1px @green);
	   //  }

	   //  &.blue{
	   //  	.box-shadow(0 0 1px @blue);
	   //  }

	   //  &.yellowDark{
	   //  	.box-shadow(0 0 1px @yellowDark);
	   //  }

	   //  &.purple{
	   //  	.box-shadow(0 0 1px @purple);
	   //  }
    // }

    // .sign-menu{
    // 	list-style: none;
    // 	li{
    // 		position: absolute;
    // 		top: 45px;
    // 		left: 45px;
    // 		.transition(all 0.2s ease-in-out);
    // 		.opacity(0);
    // 		// height: 0;
    // 		width: 0;
    // 		height: 0;
    // 		overflow: hidden;
    // 		background-color: @greyBlack;
    // 		.box-shadow(0 0 3px @greyBlack);
    // 		border: 1px solid @greyBlack;
    // 		.round;

    // 		&:first-child{
    // 			&.show{
    // 				top: -65px;
    // 			}
    			
    // 		}

    // 		&:nth-child(2){
    // 			&.show{
    // 				top: -40px;
    // 				left: 105px;
    // 			}
    // 		}

    // 		&.show{
    // 			width: 62px;
    // 			height: 62px;
    // 			.opacity(1);
    // 			.transition(all 0.2s ease-in-out);
    // 			// height: 60px;
    // 			a{
    // 				.transition(all 0.2s ease-in-out);
    // 			}
    // 		}

    // 		a{
    			
			 //    width: 100%;
			 //    height: 100%;
			 //    display: block;
			 //    line-height: 60px;
			 //    font-size: 12px;
			 //    padding-top:0;
			 //    .transition(all 0.2s ease-in-out);
    // 		}
    // 	}
    // }

 }

 .sign-list{
 	width: 800px;
 	margin: 0 auto;
 	.box-shadow-general;
 	.border-radiuses(5px,5px,5px,5px);
 	background-color: @white;

 	.sign-block{
 		border-left:1px solid #d8d8d8;
 		border-right:1px solid #d8d8d8;
 		border-bottom:1px solid #d8d8d8;
 		padding:10px 20px;

 		&:first-child{
 			border-top: 1px solid #d8d8d8;
 			.border-radiuses(5px, 0, 0, 5px);
 		}

 		// &:last-child{
 		// 	.border-radiuses(0, 5px, 5px, 0);
 		// }

 		a{
 			display: block;
 			padding: 10px 20px;
 			color: #333;
 			text-decoration: none;
 			text-align: center;
 			&:hover{
 				background: @greyLightWhite;
 			}
 		}
 	}

 	.sign-border{
 		border-right:2px solid #d8d8d8;
 	}
 }


//Empty Template
.empty-icon-container{
	display: block;
	color: @blueLight;
	margin-top: 40px;
	i{
		font-size: 200px;
	}
}

//Figures List
.child-figure-list{
	ul{
		li{
			font-weight: 600;
			.sub-filter{
				li{
					font-weight: 400;
				}
			}
		}
	}
}