/*
 * Base structure
 */


body {
  background-color:#f7f7f7;
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0!important;
  overflow-x: hidden;
  font-family: @avenir-book;
}


.full-width{
  width: 100%;
  float: left;
}

.pageWrap{
  .full-width;
}

.sidebar-inner,
.content-area{
  padding-top: 30px;
}

.center{
  float: none;
  margin-left: auto;
  margin-right: auto;
  clear: both;

  &:before,
  &:after{
    content: " ";
    display: table;
  }
}

h1{
  font-size: 32px;
}

p{
  margin:0 0 20px 0;
}

.text-left{
  text-align: left!important;
}

.text-white{
  color: @white;
}

.remove-margin-bottom{
  margin-bottom: 0!important;
}


ul,ol{
  margin:0;
  padding:0;
}

img.img-full{
  width: 100%;
  display: block;
}

button:focus{
  outline: 0;
}

textarea.clean-style{
      -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        resize:none;
        -webkit-box-shadow: none;
        box-shadow: none;

      &:focus{
            border-color: none;
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
      }
}

button{
  &.no-style{
    background:none;
    border: none;
    padding:0;
  }
}

.btn-add{
	border-radius: 50px;
    padding: 5px;
    display: inline-block!important;
    color: #fff;
    font-size: 11px;
    display: inline-block;
    margin: 5px 5px 5px 0;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 14px;
    background-color: #000;

    &:hover{
    	color: #fff;
    }
}

// .btn{
//   padding:10px 12px;
//   line-height: 1.0;
// }

.btn-general{
  background: @greyBlack;
  color: #fff;
  &:hover,
  &:active,
  &:focus,
  &.active{
      background-color: #30343b;
      color: #fff;
  }

}



.btn-light{
  background: @greyDark;
  color: @font-grey;
}

.btn-icon{
    border: 0;
    background: 0;
    padding: 10px 3px;
    margin-right: 5px;
  
  i.fa{
    font-size: 20px;
    color: @greyBlack;
    vertical-align: middle;
  }

  .btn-icon-text{
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.0;
    margin-right: 3px;
  }
}

.btn-white{
  background: @white;
  color: @font-grey;
  border:1px solid #ccc;
  &:hover,
  &:active,
  &:focus,
  &.active{
      background-color: #f4f4f4;
      color: @font-grey;
  }

}


//File upload button
.fileUpload{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 200px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*color*/
.font-red{color:@red;}

/*
 * Main content
 */

.main {
    // background: #eff0f1;
    position: inherit;
    // padding: 150px 0 0 70px;
    padding:50px 0 0 70px;
    width: 100%;
    float: left;

    // &.withWeek {

    //   @media (min-width:768px){
    //     padding: 272px 0 0 70px;
    //   }
    // }  

    @media (max-width:767px){
      padding:50px 0 0 0;
    }

}

.contentWrap{
  padding:0 25px 40px 25px;
  .content{
    .full-width;
    padding:40px;
    background: #fff;
    margin-bottom: 40px;
  }
}

.wrap-nofull{
  @media (min-width:992px){
    width: 100%;
  }
  @media (min-width:1200px){
    width: 95%;
  }

  @media (min-width:1700px){
    width: 90%;
  }
}

.pageWrapTable{
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  .wrapCell{
    display: table-cell;
    vertical-align: top;
    padding-top: 240px;
    padding-bottom: 40px;

    // &.wrapCellTop{
    //   vertical-align: top;
    // }
  }


}

/*Cotent Menu - Sub Menu*/
.contentSubMenu{
  ul{
    li{
      display: inline-block;
      a{
        padding:20px 40px;
        display: block;
        color:@font-grey;
        &:hover{
          color:@blueLight;
          text-decoration: none;

        }

      }

      &.active{
        a{
          color:@blueLight;
        }
      }
    }
  }
}

//Time slide - week, month
.slideBar{
  color:@black;
  position: relative;
  font-size: 22px;
  margin-bottom: 40px;
  .full-width;
  .timeRange{
    text-align: center;
  }

  .slideArrow{
    position: absolute;
    &.left{left:0;}
    &.right{right:0;}

    a{color:@black;}
  }

}

//General Wrap
.center-wrap{
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width:767px){
    width: 100%;
  }

  &::before,
  &::after{
    content: " ";
    display: table;
    clear: both;
  }

  padding-bottom: 20px;
}

//Page Title Block
.module-title{
  color: @greyBlack;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: @avenir-black;
}

.bg-season{
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 222px;

  .module-title,
  .btn,
  .btn-group{
    margin-left: 15px;
  }

  
  // &.withWeek {
  //   @media (min-width:768px){
  //     position: fixed;
  //     width: auto;
  //     top: 52px;
  //     right: 0;
  //     left: 70px;
  //     z-index: 1005;
  //   }
  // }

  @media (max-width:767px){
    padding-top: 0;
    text-align: center;
    min-height: 1em;

    .module-title{
      margin-left: 0;
      font-size: 18px;
      margin-top: 25px;
      margin-bottom: 15px;
    }

    .btn{
      font-size: 12px;
    }

    .dropdown{
      display: inline-block;
    }

    .dropdown-menu > li > a{
      font-size: 12px;
    }

    .attHeader{
      margin-top: 15px;
    }

  }
}

.bg-spring {
  background: url(../images/spring.png) center left no-repeat;
  background-size: cover;
}

.bg-summer {
  background: url(../images/summer.png) center left no-repeat;
  background-size: cover;
}

.bg-autumn {
  background: url(../images/autumn.png) center left no-repeat;
  background-size: cover;
}

.bg-winter {
  background: url(../images/winter.png) center left no-repeat;
  background-size: cover;
}


//tags
.tag-nqs{
  color: @white;
  background-color: @blue;
  display: inline-block;
  padding:3px 5px;
  font-weight: 600;
}

.tags-recipient{
  padding:0 3px;
  display: inline-block;
  &.read{
    background-color: @green;
    color: @white;
  }
}



//Plugin customization
.select2-container{
  // z-index: 2000;
  min-height: 34px;
}

.select2-container--open .select2-dropdown--below{
  z-index: 2000;
}

.post-create .select2-container,
.message-create .select2-container{
  z-index: auto!important;
}


.select2-hidden-accessible{
  width: 0!important;
  height: 0!important;
}


//Modal customization
.modal-open{
  position: fixed!important;
}

.modal{
  padding-left: 0!important;
  padding-right: 0!important;
  font-size: 12px;

  &.modal-grey{
    .modal-content{
      background: @greyLightWhite;
    }
  }

}

.modal-header{
  border-bottom: none;
}

.modal-body{
  // .full-width;
  form{
    .full-width;
  }
}

.modal-footer{
  border-top: none;

}

.modal.modal.msg-popup{
 background-color: @black;
 background-color: rgba(0,0,0,0.5);
 z-index: 1200;
 .modal-body{
  color: @black;
 }
}

@media screen and (max-width:767px){
    .modal-footer button{
      font-size: 12px;
      padding:5px;
      display: inline-block;
    }

}

@media screen and (min-width: 992px) { 
  .modal {
    text-align: center;
  }

  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-align-top{
    .modal-dialog{
      vertical-align: top;
    }
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .modal-align-top{
    vertical-align: top;
  }

  .modal.notify-modal{
    .modal-dialog{
      width: 300px;
    }
  }


}



//Jquery Read mroe
.shotern{
  display: none;
}


//Date picker
.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: @red;
}

.daterangepicker .btn-success,
.daterangepicker .btn-success:hover{
  background-color:  @red;
  border-color:  @red;
}


//Bootstrap label customize
.label{
  &.label-purple{background-color:@purple;}
  &.label-green{background-color:@greenLight;}
  &.label-red{background-color:@red;}
  &.label-orange{background-color:@orange;}
  &.label-blue{background-color:@blue;}
  &.label-lightWhiteGrey{background-color:@greyLightWhite;}

  &.label-category {
    margin-bottom: 10px;
    display: inline-block;
  }

  &.label-forward{
    background-color: @blue;
    position: absolute;
    left: 20px;
    top: 8px;
  }
}

.label-area{
  position: absolute;
  top: -20px;
  right: 0;
}

// Added by Shayne
.text-black{
  color: @greyBlack;
}

//Bootstrap column 
.col-lg-20{
  @media (min-width:1400px){
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

//Tags general
.tag-customize{
    border: 1px solid #d8d8d8;
    background-color: #fff;
    color: #009ddb;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 5px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;

    &:hover{
      text-decoration: none;
    }

}
.tag-list{
  a{
    .tag-customize;
    &.title{
      color: @blue;
      display: inline-block;
      border:none;
      background:transparent;
    }
  }
}

.mynqs{
  .tag-customize;
}
.label-general{
  .tag-customize;
}

//Notify Message
.notify{
  position: fixed;
  top: -70px;
  left: 50%;
  .box-shadow-general;
  border: none;
  padding:20px;
  text-align: center;
  min-width: 200px;
  margin-left: -100px;
  .border-radius;
  .transition (all 200ms ease-in);

  &.notify-default{
    background: #000;
    color: #fff;
  }

  &.show{
    top: 70px;
  }
}

//Loading bar
.loading-bar {
    text-align: center;
    color: @black;
    margin-bottom: 20px;
    width: 100%;
}

.loading-bar-white {
    text-align: center;
    color: @white;
}

//Selection
.showSelect_1,
.showSelect_2{
  display: none;
}

//Table position relative setting
// .table tr td{
//   position: relative;
//   z-index: 1;
// }

.table-customize-general{
    thead{
    th{
      background-color: @red;
      color: @white;
    }
  }

  tbody{
    td{
      background-color: @white;
      vertical-align: middle!important;
    }
  }

}

.table-nowrap{
  .table > thead > tr > th, 
  .table > tbody > tr > th, 
  .table > tfoot > tr > th, 
  .table > thead > tr > td, 
  .table > tbody > tr > td, 
  .table > tfoot > tr > td{
    white-space: nowrap;
  }
}

.td-container{
  position: relative;
}



//Buttons & Dropdowns
// .top-button{
//   @media (min-width:768px){
//     position: absolute;
//     top: -45px;
//     right: 15px;
//   }
// }

.dropdown{
  &.right{
    .dropdown-menu{
      right: 0;
      left:auto;
    }
  }

  &.dropdown-general{
    display: inline-block;
    .dropdown-menu{
      width: 100%;
      background-color: @greyBlack;
      li{
        a{
          color: @white;
          &:hover,
          &:focus,{
            color: @font-grey;
          }
        }

        &.active{
          a{
            background-color:@greyLightWhite;
            color: @font-grey;
          }
        }
      }
    }
  }
}

//Titles
.page-title{
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

//Tabs
.kkTabs{

  .nav-tabs{
    border-bottom: none;
  }

  .nav-tabs > li > a{
    border:none;
    color: @font-grey;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
      color: @black;
      background-color: @white;
      border: none;
  }

  .nav-tabs > li > a:hover{
    border:none;
  }

  .nav > li > a:hover,
  .nav > li > a:focus{
    background-color: @white;
  }

}

//Bread Crumb
.breadcrumb{
  padding: 0;
  background: none;
}

//Tooltip
.tooltip-inner {
  width: 350px;
  text-align: left;
}

.tooltip.tooltip-auto{
  .tooltip-inner{
    width: auto!important;
    text-align: center;
  }
}

.tooltip.tooltip-menu{
  .tooltip-inner{
    min-width: 200px;
    width: auto!important;
    text-align: left;
  }
}


//NQS Accordion
.panel-group{
  .panel-heading{
    padding: 0;
  }

  .panel-title > a{
    padding: 10px 15px;
    display: block;
    text-decoration: none;
  }
}

//Normal Input customize
.input-inline{
  display: inline-block;
  width: auto;
}

//Bootstrap tag input customize
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px 0 6px;
  // margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  // line-height: 22px;
  min-height: 34px;
  cursor: text;
  line-height: 23px;

  input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .tag {
   .tag-customize;
   // margin-bottom: 0;
   line-height: 17px;

    [data-role="remove"] {
      // margin-left:8px;
      cursor:pointer;
      &:after{
        content: "x";
        // padding:0px 2px;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        margin-right: 2px;
        color: #d8d8d8;
      }
      &:hover {
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        &:active {
          box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
        }
      }
    }
  }
}


//Margin & Padding in case customization
.margin-top-cus-10{
  margin-top: 10px;
}

//HR
hr{
  border-top: 1px solid #d8d8d8;
}


//Logs
.logs-block{

  background-color: @white;
  .border-radius(4px);

  a{
    text-decoration: none;
  }

  .logs-header,
  .logs-block-inner{
    padding: 15px;
  }
}

//Input Group
.input-group{
  .select2-container{
    min-height: 30px;
    display: table-cell;
  }

  .select2-container--default .select2-selection--single{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

//Notes for task view
.notify-each{
    margin-top: 20px;

    @media (max-width:767px){
      font-size: 12px;
    }
  

    .notify-content {
        list-style: none;
        margin-top: 10px;
        display: table; 
        width: 100%;

        li {
            display: table-row;

            .name,
            .content{
              display: table-cell;
              padding-right: 20px;
            }

            .name{

              @media (min-width:768px){
                width: 25%;
              }

              @media (max-width:767px){
                 width: 45%;
              }
             
            }

        }
    }
}

//Clearfix Minxins
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


//Pagination
.pagination > li > a, .pagination > li > span{
  color: #888;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #337ab7;
    background-color: #fff;
    border-color: #ddd;
    cursor: default;
}
