@import "calendar/cal-colors";

@import 'calendar/calendar-variable';
@import "calendar/calendar-helper";
@import "calendar/calendar-mixin";
@import "calendar/calendar-module";


// -------------------------------- //
// ----- Calendar Header View ----- //
// -------------------------------- //
.calendar-header-view{
  @media @min-768{
    margin-bottom:50px;
  }
  .header-top{
    display:block;
    width:100%;
    font-size:20px;
    padding:0 20px;
    .dropdown{
      display:inline-block;
      text-align: center;
      position: relative;
      button{
        color:@blueLight;
      }
    }
    .btn-group{}
  }
  .header-bottom{
    width:100%;
    float:left;
    border-bottom:1px solid @calColor;
    margin:15px auto;
    position:relative;
  }
}

// --------------------------------- //
// ----- Calendar Content View ----- //
// --------------------------------- //
.calendar-content-view{
  //> div{
  //  > div{
  //    .cal-table;
  //  }
  //}
  .content-top{
    .cal-week-information{
      .cal-table;
      .cal-datepart{
        .cal-padding(0,5px,0,5px);
        @media @max-768{
          .cal-padding(0,2px,2px,2px)
        }
        .leave{
          .cal-round-borders(2px);
          .cal-content-top-tags;
          cursor:pointer;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 3px;
          // background-color: @blueLight;
          .rdo-leave,
          .o-leave{
            margin-right:3px;
            width:48%;
          }
          .o-leave{
            &:before{
              @media @min-point-1200{
                content: '&';
                font-family:inherit;
                margin-right:3px;
              }
            }
          }
        }
      }
      .cal-event-wrapper{
        display: table-row;
        width:100%;
        position: relative;
        .event-item{

          .cal-round-borders(3px);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .cal-content-top-tags;
          margin-top:2px;
          height:20px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
  .content-bottom{
    margin:40px auto 0;
    width:95%;
    position: relative;
    .clearfix;
    @media @min-992{
      width:80%;
    }
    // WEEKDAY DETAILS
    .cal-weekday-details{
      position: relative;
      @media @min-768{
        display:flex;
      }
      .cal-dateColumn{
        position: relative;
        width: 100%;
        float: left;
        @media @min-768{
          .cal-col-1;
          display:flex;
          height:100%;
          padding:3px 0;
          &:not(:first-child){
            border-left:1px dashed @calColor;
          }
        }
        @media @max-768{
          margin:10px 20px;
          min-height: 70px;
          //padding-bottom:20px;
          &:not(:last-child){
            border-bottom: 1px dashed @calColor;
          }
        }
        .col-inner-on-mobile{
          @media @min-768{
            display:none;
          }
          @media  @max-768{
            position: relative;
          }
        }
        .date-leave{
          @media @max-768 {}
        }
        .leave-inner{
          @media @max-768{
            height:50px;
            margin-top:10px;
            background-color: @blueLight;
            .border-radius(4px);
          }
        }
        .col-inner{
          width:100%;
          position: relative;
          &.collapse.in{
            display:inline-block;
            width:100%;
          }
          @media @min-768{
            display: inline-block;
          }
        }
        .date-datepart{
          .datepart-inner{
            .share-datepart;
          }
          @media @max-768{
            .cal-col-1;
            .cal-padding(10px,0,10px,0);
            margin-bottom:7px;
          }
        }
        .date-leave{
          @media @max-768{
            .cal-col-6;
          }
        }
        .events-collapse{
          display: block;
          &:hover,&:active{
            text-decoration: none;
          }
          > .cir-dot{
            width:7px;
            height:7px;
            @media @max-768 {
              display:inline-block;
            }
          }
        }
        .date-events{
          @media @min-768{
            .cal-col-7;
            min-height: @height-12;
          }
          @media @max-768{
            .cal-offset-1;
            .cal-col-6;
          }
        }
      }
      // COLUMN EVENTS
      .event-item{
        color:@white;
        margin:0 3px 5px;
        padding:5px;
        .border-radius(4px);
        @media @max-768{
          margin: 0 0 5px;
        }
        &:hover{
          cursor: pointer;
        }
        > *{
          opacity: 0.8;
        }
        .event-title{
          margin-bottom:0;
          font-weight:bold;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .event-time-range{
          font-size:11px;
        }
        //span{
        //  cursor: pointer;
        //}
      }
      // TODAY
      .today{
        .datepart-inner,
        .event-item{
          > *{
            opacity: 1;
          }
        }
        .datepart-inner{
          span{
            color: @black !important;
          }
        }
      }
    }
  }
}



// Modal Table
ul.modal-list-event{
  list-style: none;
  margin-left:0;
  width:100%;
  li{
    display:block;
    margin-bottom:5px;
  }
  .modal-inner{
    border-left:3px solid #eeeeee;
    padding:3px 10px;
    > *{
      margin:0
    }
  }
  .modal-event-title{

  }
  .modal-event-time{
    margin-bottom:0;
  }

  .modal-day-event{
    border-color: @greenLight;
    .modal-event-title{color: @greenLight;}
  }
  .modal-short-event{
    border-color: @yellowDark;
    .modal-event-title{color:@yellowDark;}
  }
  .modal-long-event{
    border-color: @red;
    .modal-event-title{color:@red;}
  }
}
.review-image-inner{
  position:relative;
  width:100%;
}
.single-image-container{
  text-align: center;
  overflow: hidden;
  border:15px solid @white;
  img{
    width:100%;
    display:block;
  }
}
.image-control{
  color: @white;
  position:absolute;
  background-color: transparent;
  border:1px solid transparent;
  border-radius: 50%;
  line-height:14px;
  width:16px;
  height:16px;
  display:inline-block;
  font-size:10px;
  text-align:center;
  &:hover, &:active{
    color:@white;
  }
}
.image-edit{
  background-color: @green;
  border-color:@green;
  right: 3px;
  top:3px;
  &:hover, &:focus{
    color:@white;
    text-decoration: none;
    outline:none;
  }
}
.function .thumb{
  .inner-last{
    text-align: center;
    &:hover{
      cursor: pointer;
    }
    span{
      font-size: 24px;
      font-weight: bold;
      color: #dddddd;
      line-height: 50px;
    }
  }
}
.btn-dotted-line{
  background-color: transparent;
  color: #cdcdcd;
  border: 1px dashed #cdcdcd;
  &:hover, &:active{
    color:@white;
    border-color:@white;
    background-color: #cdcdcd;
  }
}
.temporary-transparent{
  .bootstrap-tagsinput{
    border-color:transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.full-width{
  &:hover{
    .linkImglist{
      display:block;
    }
  }
}
.linkImglist{
  display:none;
  color:@black;
  &:hover{
    color:@black;
    text-decoration: none;
  }
}

// List Image Modal
#listImageModal{
  .manual-label{
    padding-bottom:10px;
    border-bottom:1px dashed #cdcdcd;
    margin-bottom:5px;
    width:100%;
  }
  .thumb{
    img{
      height:50px;
    }
  }
}

// Single Image Modal
.modal-slider{
  position: absolute;
  color: @white;
  background-color: rgba(238, 238, 238, 0.2);
  text-align: center;
  vertical-align: middle;
  display: inline;
  top:50%;
  padding:3px;
  &:hover{
    cursor: pointer;
  }
  i{
    font-size: 32px;
  }
}
.slide-prev{
  left:0;
}
.slide-next{
  right:0;
}

// View Event Modal
.event-gallery{
  display:block;
  list-style: none;
  margin: 5px auto;
  li{
    .cal-col-1;
    padding:2px;
    @media @min-768{
      height:80px;
    }
    @media @max-768{
      height:auto;
    }
  }
}
.child-profile-gallery{
  display:block;
  list-style: none;
  margin: 5px auto;
  li{
    .cal-col-1;
    height:auto;
    padding:3px;
  }
}
.vEvent-controller{
  display:block;
  position:relative;
  background-color:#eeeeee;
  height:100%;
  &:before{
    content:'';
    display:block;
    padding-top:100%;
  }
  a{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    &:hover{
      text-decoration: none;
    }
    i{
      color: @calColor;
      @media @min-768{
        font-size:48px;
      }
      @media @max-768{
        font-size:28px;
        font-weight:bold;
      }
    }
  }
  .progress{
    height:5px;
    position:absolute;
    top:50%;
    width:95%;
    margin:auto;
    left:0;
    right:0;
  }
}

.vEvent-image-container {
  position:relative;
  &:before{
    content:'';
    display:block;
    padding-top:100%;
  }
}
.cal-thumb{
  width:100%;
  overflow: hidden;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity: 1;

  &:hover{cursor:pointer;}
  .image-inner{
    position:absolute;
    top:0;
    left:0;
    margin: auto;
    width: 100%;
    height:100%;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
  }
  img{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100%;
    position:absolute;
  }
}