.centre{
	margin-bottom: 30px;

	&.centre-create{
		.inner{
			button{
					width: 100%;
					height: 100%;
				i{
					vertical-align: middle;
					line-height: 251px;
					color: #d8d8d8;
					font-size: 40px;

				}
				
			}
		}
	}

	.inner{
		.box-shadow-general;
		background-color: @white;
		padding:40px 10px;
		text-align: center;
		min-height: 380px;

		@media (max-width:767px){
			height: auto;
		}	
	}

	.title{
		color: @blueLight;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.divider{
		span{
			display: inline-block;
			height: 3px;
			width: 50px;
			background-color: #f3f6fb;
			margin-top: 20px;
			margin-bottom: 15px;
		}
	}

	.link{
		font-size: 12px;
		font-weight: 400;

		a{
			color: @font-grey;
			text-decoration: none;
			padding:10px;
			border:1px solid #d8d8d8;
			.border-radius(5px);
		}
	}

	.centreImage{
		width: 40%;
		max-width: 120px;
		margin: 10px auto 20px auto;
		.border-radius (50%); 
	}

	.room-list{
		font-size: 12px;
	    width: 50%;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: left;
	    border-top: 1px solid #d8d8d8;
	    padding-top: 5px;
	    min-height: 90px;

	    .room{
	    	margin-bottom: 2px;
    		padding-bottom: 2px;
	    }

	    .badge{
	    	background-color:@greyBlack;
	    	padding:3px;
	    	font-size: 10px;
	    	float: right;
	    }
	}
}

.centre-manage-wrap{
	@media (min-width:992px){
		width: 85%;
	}
	@media (min-width:1200px){
		width: 95%;
	}

	@media (min-width:1700px){
		width: 90%;
	}
	
}

// .centre-manage-block{
// 	background: #fff;
// 	padding: 15px 20px;
// }

.centre-info-block{
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	.button-group{
		margin-bottom: 20px;
	}
}

.centreTabs{
	.tab-content{
		padding: 20px;
		background: @white;
	}
}

.room-wrap,
.group-wrap{
	table{
		margin-top: 20px;
	}
}

.no-group-found{
	margin-top: 20px;
}

.roomWrap{

	.room{

		margin-bottom: 20px;

		&.room-create{
			.inner{
				button{
						width: 100%;
						height: 100%;
						position: absolute;
					    left: 0;
					    top: 0;
					i{
						color: #d8d8d8;
						font-size: 40px;
					}
					
				}
			}
		}

		.inner{
			.box-shadow-general;
			padding: 20px;
			text-align: center;
			background: @white;
			position: relative;
			min-height: 340px;
		}

		.room-dropdown{
			position: absolute;
			right: 5px;
			top: 5px;
		}

		.room-capacity{
			.round;
			border:1px solid #d8d8d8;
			.square(70px);
			line-height: 70px;
			font-size: 16px;
			font-weight: 600;
			margin-left: auto;
			margin-right: auto;
		}

		.room-name{
			color: #74d0d7;
		    font-size: 18px;
		    margin-top: 10px;
		    margin-bottom: 10px;
		}

		.age-group{
			margin-bottom: 10px;
		}

		.group-list{
			font-size: 12px;
			width: 50%;
			min-width: 100px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			padding-top: 5px;
			min-height: 145px;
			border-top: 1px solid #d8d8d8;
			position: relative;
		}

		.group{
			a{
				display: block;
				color: @font-grey;
				text-decoration: none;
			}

			span{
				float: right;
				color: @blue;
			}

			&.group-add{
				position: absolute;
			    bottom: 0;
			    left: 0;
			    right: 0;
			}
		}
	}
}

.list-group-children,
.group-wrap{
	span{
		display: inline-block;
		vertical-align: middle;
	}

	.profileImage{
		width: 35px;
	}
}

.group-educator{
	margin-bottom: 20px;
	span{
		vertical-align: middle;
	}
}

.group-action{
	position: absolute;
	top: 15px;
	right: 15px;
}

//Nutritional Menu
.nutriWeek{
	margin-bottom: 20px;
	a{
		color: @black;
		text-decoration: none;
	}
	.inner{
		.box-shadow-general;
		padding: 20px;
		text-align: center;
		background: @white;
	}
	.nutriIcon{
		font-size: 30px;
		border:1px solid #d8d8d8;
		.round;
		display: inline-block;
		padding: 20px;
		width: 85px;
		margin-bottom: 20px;
	}
}

//Nutritional Popup
.nutri-day-menu{
	// border:2px solid @red;
	.border-radius (10px); 
	padding: 40px 20px 20px 20px;
    position: relative;
    margin: 10px 20px 30px 20px;

    .day{

	    border-bottom: 1px solid #d8d8d8;
    	margin-bottom: 20px;
    	font-size: 18px;
    }
}

.number-of-children{
	font-size: 26px;
	font-family: @avenir-black;
	margin-top: 10px;
	margin-bottom: 10px;
}