//Quality Bar Chart
.qualityBarChart{
	width: 320px;
	.chart-each{
		width: 20%;
		padding-left: 7.5px;
		padding-right: 7.5px;
		float: left;

		.chart-wrap{
			width: 100%;
			height: 300px;
			position: relative;

			.chart{
				width: 100%;
				position: absolute;
				bottom: 0;
				background-color: @blueDark;
				overflow: hidden;
				.chart-figure{
					position: absolute;
					top: 5px;
					width: 100%;
					
					span,small{
						display: block;
						text-align: center;
						color:@white;
						line-height: 1.0;
					}
					span{
						font-size: 16px;
						font-weight: 600;
					}
					small{
						font-size: 10px;
					}
				}
			}
		}

		.chart-cat{margin-top:15px;}

		&.chart-most-dissatisfied{
			.chart{.opacity(0.2);}
		}
		&.chart-dissatisfied{
			.chart{.opacity(0.4);}
		}
		&.chart-nuetral{
			.chart{.opacity(0.6);}
		}
		&.chart-satisfied{
			.chart{.opacity(0.8);}
		}
		//&.chart-most-satisfied{}
	}
}

//Flot Chart Customization
#staffTaskBar{

}