// //Quality Bar Chart
// .qualityBarChart{
// 	width: 320px;
// 	.chart-each{
// 		width: 20%;
// 		padding-left: 7.5px;
// 		padding-right: 7.5px;
// 		float: left;

// 		.chart-wrap{
// 			width: 100%;
// 			height: 300px;
// 			position: relative;

// 			.chart{
// 				width: 100%;
// 				position: absolute;
// 				bottom: 0;
// 				background-color: @blueDark;
// 				overflow: hidden;
// 				.chart-figure{
// 					position: absolute;
// 					top: 5px;
// 					width: 100%;
					
// 					span,small{
// 						display: block;
// 						text-align: center;
// 						color:@white;
// 						line-height: 1.0;
// 					}
// 					span{
// 						font-size: 16px;
// 						font-weight: 600;
// 					}
// 					small{
// 						font-size: 10px;
// 					}
// 				}
// 			}
// 		}

// 		.chart-cat{margin-top:15px;}

// 		&.chart-most-dissatisfied{
// 			.chart{.opacity(0.2);}
// 		}
// 		&.chart-dissatisfied{
// 			.chart{.opacity(0.4);}
// 		}
// 		&.chart-nuetral{
// 			.chart{.opacity(0.6);}
// 		}
// 		&.chart-satisfied{
// 			.chart{.opacity(0.8);}
// 		}
// 		//&.chart-most-satisfied{}
// 	}
// }

// //Flot Chart Customization
// #staffTaskBar{

// }

.chartWrap{
	.box-shadow-general;
	background-color: @white;
	min-height: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.chart-color{
	&.color-qa1{background-color: #43B74F;}
	&.color-qa2{background-color: #FFD522;}
	&.color-qa3{background-color: #E991A5;}
	&.color-qa4{background-color: #ABD25F;}
	&.color-qa5{background-color: #FAA21B;}
	&.color-qa6{background-color: #E2178F;}
	&.color-qa7{background-color: #1595D3;}

	&.color-observations{background-color: #52ADDA; };
	&.color-observation-followup{background-color: #68B8DF;}
	&.color-interests{background-color: #C9C9C9;}
	&.color-interests-followup{background-color: #DBDBDB;}
	&.color-learning-story{background-color: #AACD4B;}
	&.color-learning-story-followup{background-color: #B5D954;}

	&.color-all-tasks{background-color: #001D29;}
	&.color-centre-tasks{background-color: #003A52;}
	&.color-room-tasks{background-color: #00587A;}
	&.color-other-tasks{background-color: #0075A3;}
	&.color-on-time-tasks{background-color: #0092CC;}
	&.color-late-completion-tasks{background-color:#00AFF5;}
	&.color-overdue-tasks{background-color:#1FBFFF;}

	&.color-very-hight-quality{background-color: #0B3954;}
	&.color-hight-quality{background-color:#087E8B;}
	&.color-neither-nor-low-quality{background-color:#BFD7EA;}
	&.color-low-quality{background-color:#FF5A5F;}
	&.color-very-low-quality{background-color: #C81D25;}
}

.chart-random-color{
	&.color-1{background-color:#ff5f63;}
	&.color-2{background-color:#129490;}
	&.color-3{background-color:#70B77E;}
	&.color-4{background-color:#DA4167;}
	&.color-5{background-color:#F4D35E;}
	&.color-6{background-color:#094D92;}
	&.color-7{background-color:#CE8964;}
	&.color-8{background-color:#6689A1;}
	&.color-9{background-color:#82ABA1;}
	&.color-10{background-color:#FE5E41;}
}

.chart-label-img{
	width: 20px;
	display: inline-block;
	vertical-align: -3px;
}

.chart-label-circle,
.chart-label-square{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.chart-label-circle{
	.round;
}

.chartRoleList {
    background: @white;
    .box-shadow-general;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    .chartLabel{
    	border: 1px solid #d8d8d8;
    	padding: 8px;
    	display: inline-block;
    	margin-right: 5px;
    	margin-bottom: 5px;
    }

    h4{
    	margin-top: 0;
    }
}

.bar-chart{
	width: 100%;
	
	.bar-each{
		// width: 100%;
		// display: table;
		// table-layout: fixed;
		margin-bottom: 8px;
		width: 100%;
		float: left;
		position: relative;
	}

	// .bar-each:last-child{
	// 	margin-bottom: 0;
	// }

	// .bar-label,
	// .bar{
	// 	display: table-cell;
	// }

	.bar{
		// width: 65%;
		// width: 100%;
		width:  ~"calc(100% - 100px)";
		background: #ebebeb;
		box-shadow: inset 0 0 5px rgba(0,0,0,.2);
		.bar-filler{
			text-align: center;
			color: @white;
			font-size: 0;
		}
	}

	.bar,
	.bar-filler{
		height: 20px;
	}

	.bar-figure{
		padding-left: 10px;
		width: 100px;
	}

	.bar,
	.bar-figure{
		float: left;
	}
}