@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('../fonts/AvenirLTStd-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src:  url('../fonts/AvenirLTStd-Black.otf')  format('opentype'),
	    url('../fonts/AvenirLTStd-Black.woff') format('woff'), 
		url('../fonts/AvenirLTStd-Black.ttf')  format('truetype'), 
		url('../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('../fonts/AvenirLTStd-Book.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src:  url('../fonts/AvenirLTStd-Book.otf')  format('opentype'),
	    url('../fonts/AvenirLTStd-Book.woff') format('woff'), 
 		url('../fonts/AvenirLTStd-Book.ttf')  format('truetype'), 
 		url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('../fonts/AvenirLTStd-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src:  url('../fonts/AvenirLTStd-Light.otf')  format('opentype'),
	    url('../fonts/AvenirLTStd-Light.woff') format('woff'), 
	    url('../fonts/AvenirLTStd-Light.ttf')  format('truetype'), 
	    url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../fonts/AvenirLTStd-Roman.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src:  url('../fonts/AvenirLTStd-Roman.otf') format('opentype'),
	    url('../fonts/AvenirLTStd-Roman.woff') format('woff'), 
	    url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'), 
	    url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}



@avenir-black:'AvenirLTStd-Black';
@avenir-book:'AvenirLTStd-Book';
@avenir-light:'AvenirLTStd-light';
@avenir-roman:'AvenirLTStd-Roman';