
// Galleries
.gallery-profile{
  .profile;
  .inner{
    height:250px;
  }
  &.gallery-register{
    .inner{
      button{
        width:100%;
        height:100%;
        i{
          vertical-align: middle;
          line-height: 150px;
          color:@greyLight;
          font-size:40px;
        }
      }
    }
  }
}

// TIMELINES
.gallery-inner{
  //background-color: rgba(116,208,215,0.2);
  margin-top: 20px;
  margin-bottom:20px;
  // .box-shadow-general;
}
.timelines{
  margin-top: 20px;
  // padding:20px;
  padding:20px 0;
  // background-color:@greyLighter;
  // margin-left:50px;
  .timeline-item{
    margin-bottom:10px;
    // overflow: auto;
    overflow: hidden;
    .tl-inner{
      margin-bottom:5px;
      > *{
        display:block;
      }
      .tl-header{
        > *{
          display:block;
          margin-left: 5px;
          margin-bottom:0;
          &:last-child{
            margin-bottom:5px;
          }
        }
        .gallery-event-name{
          color: @font-grey;
          margin-bottom: 0;
          margin-top: 0;
          // text-transform: uppercase;
          // font-style: italic;
        }
        .tl-title{
          // margin-bottom:0;
          // margin-top: 0;
          font-weight: 500;
        }
        .tl-description{
          font-size:12px;
          top:-3px;
          color:#979FA4;
        }
      }
      .tl-full-width{
        width:100%;
      }
      .tl-image-container{
        // width:20%;
        width: 33.333%;
        // height:171px;
        position:relative;
        display:block;
        // background-color:@white;
        overflow: hidden;
        // margin-bottom:3px;
        float: left;
        // border:2px solid @greyLighter;
        border:2px solid @white;
        // padding:2px;
        padding-bottom: 24%;
        // &:not(:nth-child(5n)){
        //   margin-right:3px;
        // }
        img{

          min-height: 100%;
          min-width: 100%;
          width: auto;
          height: auto;
          max-width: none;
          max-height: none;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }

        .gallery-image{
          position:absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
          margin:auto;
          -webkit-background-size: cover!important;
          -moz-background-size: cover!important;
          -o-background-size: cover!important;
          background-size: cover!important;
          background-position: 50%;
          background-repeat: no-repeat;
        }

        @media (max-width:991px){
          width: 33.3%;
        }
      }
    }
    .tl-content{}

  }
  .tl-divider{
    width: 100%;
    margin:30px 0;
    span{
      width:100%;
      border-bottom: 1px dashed #979FA4;
      margin-bottom:5px;
      display:block;
    }
  }
}

// Timeline
.timeline-container{
  width:100%;
  min-height:20px;
  .tl-item{
    display:block;
    position:relative;
    margin-bottom:3px;
    // background-color: rgba(216, 216, 216, 0.8);
    border:2px solid @greyLight;
    .tl-inner{
      padding:5px;
    }
    .tl-row{
      width:100%;
    }
  }
}

//Event Galleries
.event-edit-container{
  background: @greyLight;
  padding-bottom: 74.9%;
  display: block;
  width: 100%;
  position: absolute;

  &,
  &:hover,
  &:visited,
  &:focus{
    color: @white;
  }
  i{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    font-size: 40px;
  }
}


.timeline-item.event-images{
  .tl-image-container:hover,
  .tl-image-container.active{
    background-color: @font-grey;
  }
}



.modal.modal-fullscreen {

}


.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  // position: absolute;
  position: fixed;
  right: 0;
  top: 0;
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen {
  /* Remove the padding inside the body */
}
.modal.modal-fullscreen.force-fullscreen{

  .modal-header{
    @media (max-width:767px){
      h4{
        font-size: 14px;
      }
    }
  }

  .modal-body {
    padding: 0;
    top: 55px;
  }

    &.gallery-with-edit{

      .modal-body {
        @media (min-width:768px){
           height: ~"calc(100% - 160px)";
        }

        @media (max-width:767px){
           height: ~"calc(100% - 210px)";
        }
      }
      
    }
   

    &.gallery-without-edit{

      .modal-body {
         @media (min-width:768px){
          height: ~"calc(100% - 100px)";
        }

        @media (max-width:767px){
           height: ~"calc(100% - 100px)";
        }
      }
     
    }

} 

.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}


  .modal.modal-fullscreen .modal-content {
    background: rgba(0, 0, 0, .5);
  }
  .modal.modal-fullscreen .modal-header {
    border: 0;
    color: #fff;
  }
  .modal.modal-fullscreen .modal-footer {
    border-color: rgba(0, 0, 0, .5);
  }
  #myModal .carousel-caption {
    background-color: rgba(0, 0, 0, .5);
    bottom: -100%;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
  }
  #myModal .item.active >.carousel-caption {
    bottom: 0;
  }

.gallery-zoomin-modal {

  .close{
    opacity: 0.7;
    filter: alpha(opacity=70);
    &,
    &:hover,
    &:focus{
      color: @white;
    }
    
  }

  .carousel,
  .carousel-inner,
  .gallery-container,
  .item{
    height: 100%;
    width: 100%;
  }

  .carousel-inner{
    // height: 100%;
    // width: 100%;

    .gallery-container {
        // width: 100%;
        // height: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }

    .item{
        img{
            display: block;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
  }

  .carousel-inner > .item > img{
    margin:auto;
    height: 100%;
  }

  .carousel-control.left,
  .carousel-control.right{
    background: transparent!important;
  }
}

.gallery-buttons{
  margin-top: 20px;
  @media(max-width:767px){
    margin-top: 0;
  }
}

