



/*Attendance Sheet*/

.attendanceSheet{
	.full-width;
	table{
			border:none;

			.week,
			.date,
			.attendNumber{
				display: block;
				text-align: center;
				font-size: 22px;
				font-weight: 400;
				margin-bottom: 10px;
			}

			.week{
				color:@font-grey;
				letter-spacing: 0.1em;
				font-size: 16px;
			}

			.date{
				width: 65px;
			    height: 65px;
			    margin: 0 auto;
			    line-height: 50px;
			    border-radius: 50%;
			    position: relative;
			    border-radius: 50%;
			    .datePoint{
					.round;
					display: block;
					position: absolute;
					left:0;
					right:0;
					bottom:15px;
					margin-left: auto;
					margin-right: auto;
					width: 7px;
					height: 7px;
					&.red{
						background: @pointRed;
				  		border:1px solid @pointRed;
					}
				}
			}

			tr{
				th,td{
					border-top: none;
				}
				th{
					border-bottom: 2px solid @greyDark;
					&.active{
						background: none;
						.date{
							background: @greyDark;
						}
					}
				}
			}
		}

	//Attendance Cotent
	.attendList{
		img{width: 100%;display: block;}
		width: 60px;
		height: 60px;
		margin-left:auto;
		margin-right: auto;
		position: relative;
		.occupant{
				width: 60px;
				height: 60px;
				position: relative;
				.round;
				&.withPhoto,
				&.empty{
					background: #fff;
					border:2px solid @greyDark;
					padding:3px;
				}
				&.withoutPhoto{
					.nameShort{
						.nameShortBlock(60px,22px);
						.round;
					}
				}

				.status{
					&.confirmed{
						background:@green;
					    width: 20px;
					    height: 20px;
					    line-height: 20px;
					    color: #fff;
					    text-align: center;
					    .round;
					    font-size: 10px;
					    position: absolute;
						right: 0;
						bottom: -5px;
					}
				}
		}

		.profileImage{
			background: @greyDark;
			width: 100%;
			height: 100%;
			.round;
			overflow: hidden;
		}

		.waitingList{
			position: absolute;
			bottom: 5px;
			left: 40px;
			width: 120px;
			.each{
				width: 25px;
				height: 25px;
				border: 2px solid @greyDark;
				background: #fff;
				padding: 2px;
				.round;
				display: inline-block;
				float: left;
				margin-right: -10px;
				&:last-child{
					text-align: center;
					.add{
						color: @green;
						font-size: 10px;
						line-height: 20px;
					}
					.change{
						font-size: 10px;
						position: relative;
						width: 100%;
						height: 100%;
						.fa{position: absolute;}
						.fa-share{
							-webkit-transform: rotate(75deg);
						    -ms-transform: rotate(75deg);
						    transform: rotate(75deg);
						    top: 1px;
						    right: 0;
						    color: @red;
						}
						.fa-reply{
							-webkit-transform: scale(1,-1) rotate(-75deg);
						    -ms-transform: scale(1,-1) rotate(-75deg);
						    transform: scale(1,-1) rotate(-75deg);
						    bottom: 1px;
						    left: 0;
						    color: @green;
						}
					}
				}
			}
		}
	}


	//Specific for Staff Sheet
	&.staffSheet{
		.attendList{
			.occupant{
				&.withoutPhoto{
					background: #fff;
				    border: 2px solid #eff0f1;
				    padding: 3px;

				    .nameShort{
				    	width: 100%;
				    	height: 100%;
				    	line-height: 50px;
				    	background: @blue!important;
				    }
				}
			}
		}

		.leaveList{
			text-align: center;
			.each{
				border:2px solid @greyDark;
				padding:2px;
				.round;
				width: 45px;
				height: 45px;
				background: #fff;
				display: inline-block;
				margin-right: -20px;
				position: relative;

				&:first-child{
					z-index: 10;
				}
				&:nth-child(2){
					z-index: 9;
				}
				&:last-child{
					z-index: 0;
				}

				.nameShort{
					.nameShortBlock(35px,16px);
					background: @blue;
					.round;
				}
			}

		}
	}
}


//External Service Function
.externalService{
	div{
		padding: 8px;
		a{
			color: @font-grey;
			&:hover{
				text-decoration: none;
			}
		}
	}
}


//DashBoard
.overviewMain{
	h2{
		color: @blue;
	}

	.overallQuality{
		margin-top: 40px;
		img{
			margin-left: auto;
			margin-right: auto;
		}
	}
}

