//Messages


.message-panel{
	border-radius: 3px;
	background: @white;
	.box-shadow-general;
	.full-width;
	position: relative;
	margin-bottom: 40px;

	textarea{
		border: none;
		background:transparent;
		padding:0;
	}

	@media (max-width:991px){
		font-size: 12px;
	}

	.message-footer{
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}

.message{
	border-bottom: 1px solid #d8d7d7;

	&:last-child{
		border-bottom: none;
	}
}

.message-profile,
.message-subject,
.message-time,
.message-author-info{
	display: table-cell;
	vertical-align: middle;
	padding:10px 20px;

	@media (max-width:991px){
		// display: block;
		// text-align: left;
		padding: 10px 5px;
    	max-width: 0;
	}
}




.message-profile{
	width: 80px;
	.profileImage{
		max-width: 40px;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	@media (max-width:991px){
		width: 15%;
	}
}

@media (max-width:991px){
	.message-subject{
		width: 55%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.message-time{
		font-size: 10px;
	}
}



//Message Create
.message-create{

	.message-header{

		padding:0 3px;

		.function{
			padding:15px 17px;
			border-bottom:1px solid #d8d7d7;
			display: table;
			width: 100%;

			label,
			.inputbox{
				display: table-cell;
				vertical-align: middle;
			}

			label{
				width: 60px;
				padding:0!important;
				font-weight: normal;
			}
		}


		.form-control{
			border: none;
			-webkit-box-shadow: none;
	        box-shadow: none;
		}

		.select2-container--default.select2-container--focus .select2-selection--multiple,
		.select2-container--default .select2-selection--multiple{
			border: none!important;
		}

	}

	.message-body{
		padding:15px 20px;
	}

	.message-footer{
		.full-width;
		background-color: #f9f9f9;
		padding:10px 20px;
	}

}


//Message List

.messages-list{
	padding:0 3px;

	.message{

		text-decoration: none;

		.message-inner{
			display: table-row;
		}

		.full-width;
		display: table;
		color: @font-grey;

		&.unread{
			font-weight: 600;
			color: @black;
		}
	}
}


//Message Detail Display - Reply & forward page

.message-display{
	padding:0 3px;
	.message{
		padding:20px 0 0 0;
		position: relative;
		.message-header{
			display: table;
			width: 100%;
		}

		.message-author-info,
		.message-time{
			font-weight: 600;
		}

		.message-body{
			padding:20px 20px 20px 100px;
			@media (max-width:767px){
				padding:20px;
			}
		}

		.nqs-list{
			position: absolute;
			right: 20px;
			top: 8px;
		}
	}
}


.fileDownLoad {

	 .file{    
		// background: #777777;
		// color: #fff;
		// padding: 3px 5px;
		// border-radius: 5px;
		// display: inline-block;
		// text-decoration: none;
		    border: 1px solid #d8d8d8;
		    background-color: #fff;
		    color: #009ddb;
		    margin-right: 5px;
		    margin-bottom: 5px;
		    padding: 2px 5px;
		    border-radius: 4px;
		    text-decoration: none;
		    font-size: 12px;
		    display: inline-block;

		    .glyphicon{
		    	color: #d8d8d8;
		    	cursor: pointer;
		    }
	}
}

.message-switch{
	.full-width;
	text-align: right;
	margin-bottom: 10px;
	li{
		display: inline-block;
	}
}


//Recipient
.recipient-list{
	margin-bottom: 10px;
}

//New chatting view
.message-title{
	font-family: @avenir-black;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 10px;
}

.message-participants{
	color: @font-grey;
	font-weight: 600;
	margin-bottom: 10px;
}

.conversation{
	list-style: none;
	margin-top: 15px;
	margin-bottom: 15px;
	li{
		display: flex;
		 /* switch vertical layout */
  	    align-items: flex-end;
  	    margin-bottom: 30px;
	}
	.avatar {
	  width: 30px;
	  min-width: 30px;
	  .profileImage{
	  	width: 100%;
	  }
	  .name-short{
	  		width: 30px;
	    	height: 30px;
	    	font-size: 14px;
	    	line-height: 30px;
		}
	}

	.message-chat{
		position: relative;
	}
	.message-chat-time {
	    position: absolute;
	    bottom: -20px;
	    font-size: 10px;
	    color: @black;
	}

	.self{
		justify-content: flex-end;
	}

	.content{
		color: @white;
		padding:15px;
		.border-radius(5px);
		position: relative;
		p{
			margin-bottom: 5px;
		}
	}

	.other{
		.message-chat{
			padding-right: 10%;
		}
		.content{
			background: @greyBlack;
			margin-left: 10px;
			.arrow{
				width: 0; 
				height: 0; 
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent; 
				border-right:10px solid @greyBlack; 
				position: absolute;
				bottom: 10px;
				left: -10px;
			}
		}

		.message-chat-time{
			left: 10px;
		}
	}

	.self{
		.message-chat{
			padding-left: 10%;
		}

		.content{
			background: @red;
			margin-right: 10px;
			.arrow{
				width: 0; 
  				height: 0; 
  				border-top: 10px solid transparent;
  				border-bottom: 10px solid transparent;
  				border-left: 10px solid @red;
  				position: absolute;
				bottom: 10px;
				right: -10px;
			}
		}
	}

	

}
