.navbar-fixed-top{
  background:#fff;
  .box-shadow-general;
  //Navigation background color change for mobile view
  @media (max-width:767px){
    .colorSelection();
    color: #fff;
  }
}

.center-info{
  margin:0 0 0 70px;
  line-height: 50px;

  @media (max-width:767px){
  	margin:0 0 0 40px;
    font-size: 12px;
  }

  @media (max-width:359px){
    max-width: 200px;
    line-height: 1.2;
    padding-top: 10px;
  }
}

.navbar-toggle{
	margin-right: 0;
  position: absolute;
  right: 0;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

@media (max-width:767px){
  .navigation-top{

    .container-fluid{
      .navbar-collapse{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
      }
    }

}
}




.side-menu-main li{
	list-style: none;
  position: relative;
}


/*
 * Sidebar
 */

.sidebar-main{
  background-color: @red;

  li{
    a{

      &.icon-menu-newsfeed{
        background-image: url(../images/menu-icons/newsfeed.png);
      }
      &.icon-menu-tasks{
        background-image: url(../images/menu-icons/tasks.png);
      }
      &.icon-menu-messaging{
        background-image: url(../images/menu-icons/messaging.png);
      }
      &.icon-menu-rostering{
        background-image: url(../images/menu-icons/rostering.png);
      }
      &.icon-menu-calendar{
        background-image: url(../images/menu-icons/calendar.png);
      }
      &.icon-menu-everyone{
        background-image: url(../images/menu-icons/everyone.png);
      }
      &.icon-menu-reporting{
        background-image: url(../images/menu-icons/reporting.png);
      }
      &.icon-menu-settings{
        background-image: url(../images/menu-icons/settings.png);
      }
    }
  }
}

/* Hide for mobile, show later */
@media (min-width:768px){
    .sidebar-main{
      width: 70px;
      position: fixed;
      height: 100%;
      z-index: 1000;
      top: 0;
      left: 0;
      bottom: 0;

    }

    .logo-kk{
      color: #fff;
      font-size: 34px;
      line-height: 57px;
      .full-width;
      text-align: center;
    }

    .side-menu-main{
      width: 100%;
      // float: left;
      margin-top: 80px;
      height: 100%;
      li{
        margin-bottom: 20px;
        a{
          height: 36px;
          background-size:36px;
          background-repeat: no-repeat;
          background-position: center;
          display: block;

          .badge{
            position: absolute;
            bottom: -5px;
            right: 5px;
          }
        }

        &.last{
          position: absolute;
          bottom: 0;
          width: 100%;
            ul.sub-popup{
              top:auto;
              bottom: 0;

              &:before{
                top:auto;
                bottom:7px;
              }
            }
        }
      }
    }

     ul.sub-popup {
        border-radius: 5px;
        background: @white;
        position: absolute;
        right: -140px;
        top: 0;
        width: 125px;
        display: none;
        z-index: 3000;

        &:before{
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid @white;
          position: absolute;
          left: -7px;
          top: 10px;
        }

        &.show-popup{
          display: block;
        }

        li {
          margin-bottom: 0;
          padding: 15px!important;
          line-height: 1.0;

        a {
            height: auto;
            font-size: 12px;
            color: @font-grey;
            text-decoration: none;
        }
      }
    }

      .overlap-for-menu{
        position: fixed;
        top: 0;
        left: 70px;
        right: 0;
        bottom: 0;
        background-color:rgba(0,0,0,0.2);
        display: none;
        z-index: 2400;
        &.show{
          display: block;
        }
      }
}

@media (max-width:767px){
  .menu-main{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding:15px;
    background-color: @red;
    .transition (all 200ms ease-in);

    &.open{
      top: 0;
    }

    .navbar-nav{
      li{
        a{
          background-color: transparent;
          padding-left: 55px;
          font-size: 16px;
        }
      }
    }

     .menu-top{
      color: #000;
      font-size: 24px;
      .clearfix;

      .menu-top-title{
        float: left;
      }

      .closeMainMenuButton{
        background-color: transparent;
        border:none;
        float: right;
        width: 30px;
        height: 30px;
        line-height: 24px;
        padding: 0;
      }
    }

  }

 
  .side-menu-main{
    padding-top: 15px;
    li.side-item{
      display: table;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid darken(@red, 10%);
      a.sub-click{
        width: 26px;
        height: 26px;
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        display: table-cell;
        position: relative;

        .badge{
          position: absolute;
          right: -5px;
          bottom: 0;
          font-size: 10px;
          padding: 3px 5px;
        }
      }
    }
  }

  ul.sub-popup{
    display: table-cell;
    a{
      color: @white;
      padding:3px 15px;
      display: block;
      font-size: 16px;
    }
    
  }

  .nav{
    li{
      a{
        color: @white;
      }
    }
  }
}


//Sidebar Inner - Filter
.sidebar-inner {
     -webkit-overflow-scrolling: touch;
    .menu-block{
      float: left;
      margin-bottom: 20px;
      .full-width;
      
      .title{
        font-weight: 400;
        color: @blue;
      }

      ul{
        li{
          list-style: none;
          position: relative;

           .label-figure{
              display: inline-block;
              margin-right: 50px;
              cursor: pointer;
              float: right;
              color: #888;
              font-weight: 400;
            }
          
          a{
            color: @font-grey;
          }

          &.active{
            border-left:3px solid @red;
          }
          
        }
      }

      .title,
      .filter,
      ul li{
        border-left: 3px solid transparent;
        padding-left: 10px;
        margin-bottom: 5px;
      }
      
    }

    //Slide Left Side Menu Style
    @media (max-width:767px){
      height: 100%;
      position: fixed;
      width: 100%;
      bottom: -100%;
      left: 0;
      right: 0;
      z-index: 1050;
      background-color: @purpleLight;
      color: @black;
      overflow-y: scroll;
      overflow-x: hidden;
       -webkit-overflow-scrolling: touch;
      padding:0;
      .transition (all 200ms ease-in);
      padding-bottom: 30px;

      &.open{
        bottom: 0;
       
      }

     

      .menu-top{
        color: #000;
        font-size: 24px;
        padding:15px;
        .clearfix;
        .menu-top-title{
          float: left;
        }
        .closeButton{
          background-color: transparent;
          border:none;
          float: right;
          width: 30px;
          height: 30px;
          line-height: 24px;
          padding: 0;
        }
      }

      .menu-block{
        width: 100%;
        margin-bottom: 20px;

        .title,
        ul li{
          margin-bottom: 0;
          border-left:none;
        }

        .title{
          color: @white;
          font-size: 18px;
          padding: 10px 15px 0 15px;
        }

        ul{
          padding: 0 5px;
          li{
            padding:15px 10px;
          }
        }

        .filter{
          padding:15px 10px 0 10px;
          .form-control{
            width: 100%;
            border:none;
            border-radius: 0;
            background-color: lighten(@purpleLight, 10%);
          }

          input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #7e33c7;
          }
        }

        ul li{
          border-bottom:1px solid darken(@purpleLight, 5%);
          border-left: none;

          .label-figure{
            color: #7e33c7;
            margin-right: 0;
            float: none;
            position: absolute;
            top: 15px;
            right: 15px;
          }

          &.active{
            border-left:none;
            a{
              color: @white;
            }
            .label-figure{
              color: @white;
            }
          }
          &:last-child{
            border-bottom: none;
          }
          a{
            display: block;
            text-decoration: none;
            color: #7e33c7;
            font-size: 14px;
            font-weight: 600;
          }

          .sub-filter li{
            border-bottom: none;
            padding: 10px 10px 0 10px;
            a{
              font-weight: 400;
            }

            .label-figure{
              right: 0;
            }
          }

        }
      }
      

    }
    
}

//Sidebar Inner - Filter Push Left
  
  .pushButton{
    font-size: 25px;
    border: none;
    background: none;
    padding: 0px;

  }

	.pushButton{
		
    @media (min-width:768px){
      display: none;
    }

    position: absolute;
    top: 7px;
    left: 15px;
	}


  .filter-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: @greyBlack;
    color: @white;
    font-size: 18px;
    padding: 10px;
    height: 45px;
    -webkit-backface-visibility: hidden;
    z-index: 10000;
    display: none;
  }

  .push-open{
    @media (max-width:767px){
      overflow: hidden;
      position: fixed;

       &.push-open-filter{
          .filter-bottom{
            display: block;
          }
      }
    }
   
  }

  .filter-title{
    color: @font-grey;
    padding-left: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    float: left;
  }



      