

//News Feed

.post-wrap-container{
	@media (min-width:992px){
		width: 85%;
	}
	@media (min-width:1200px){
		width: 95%;
	}

	@media (min-width:1700px){
		width: 90%;
	}
	
	@media (max-width:767px){
		margin-left: -15px;
		margin-right: -15px;
	}
}

.post-wrap{
	width: 100%;
}


.post-each{

	// &.post-create{
	// 	display: none;
	//     height: 0;
	//     overflow: hidden;
	//     visibility: hidden;
	// }

	@media (max-width:767px){
		padding-left:5px;
		padding-right:5px;
	}

	margin-bottom: 30px;

	.inner{
		background: @white;
		.full-width;
		.box-shadow-general;
	}

	.name-short{
		.name-short-mixins(35px,14px);
	}

	.profileImage{
		width: 35px;
		vertical-align: middle;
	}

	.form-control{
		border:none;
		box-shadow: none;
	}


	textarea{
        padding: 0;
	}

	a{
		color:@blue;
	}

	.dropdown{
		display: inline-block;

		.btn{
			border: none;
			min-width: 0;
			padding:0;
			background: transparent;

			@media (max-width:767px){
				font-size: 12px;
			}
		}
	}

	.child-profile{
		margin-bottom: 20px;
		.profileImage,
		.child-name{
			vertical-align: middle;
		}
		.profileImage{
			width: 60px;
			display: inline-block;
		}
		.child-name{
			font-size: 18px;
			display: inline-block;
			margin-left: 10px;
		}
	}

	.post-header{
		padding: 20px 15px 20px 15px; 
		
		.name-full,
		.dropdown-post-status{
			// margin-left: 5px;
			.status-text{
				color: @blue;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    display: inline-block;
			    vertical-align: middle;

			     @media (min-width:768px){
			    	max-width: 80px;
			    }

			    @media (min-width:1200px){
			    	max-width: 40px;
			    }

			    @media (min-width:1500px){
			    	max-width: 120px;
			    }

			    @media (min-width:1800px){
			    	max-width: 150px;
			    }

			    @media (max-width:767px){
			    	max-width: 160px;
			    }

			    @media (max-width:480px){
			    	max-width: 80px;
			    }
			}
			.dropdown-menu{
				width: 240px;
				@media (max-width:480px){
					right:-65px;
					left: initial;
				}
				li{
					padding:3px 20px;
				}
			}


		}

		.post-header-right{
			padding-top: 8px;
			text-align: right;
			.date{
				margin-right: 10px;
			}

			@media (max-width:767px){
				position: absolute;
				right: 15px;
				top: 15px;
				width: auto;
				font-size: 12px;
			}

			@media (max-width:480px){
				top: 0;
			}
		}
	}

	.post-image{
		&.bg-only{
			.colorSelection();
			height: 200px;
		}
	}

	.post-body{
		padding: 10px 15px;
		position: relative;

		// .rating{
		// 	display: block;
		// 	width:25px;
		// 	float: right;
		// 	margin-top: 10px; 
		// }

		// .rating{
		// 	display: block;
		// 	width:30px;
		// 	float: right;
		// 	margin-top: 10px;
		//   	padding:0 5px 10px;
		// }

	 //  	.rating:hover{
		//   	width:56px;
		//   	margin-top:0;
		//   	padding:0 5px;
		// }

		.rating{
			display: block;
			width:45px;
			height: 45px;
			float: right;
		  	position: relative;
		  	img{
		  		position: absolute;
		  		width: 25px;
		  		top: 0;
		  		left: 0;
		  		right: 0;
		  		bottom:0;
		  		margin: auto;
		  		.transition (all 200ms ease-in);
		  	}
		}

	  	.rating:hover{
		  	img{
		  		width: 100%;
		  	}
		}

	  	.cPopover{
	  		.popover-content{
				overflow: hidden;
			}
		}
	  	.customPopover{
		    position: absolute;
		    right: 15px;
		    bottom: 10px;
		    width: 40px;
		}

		.customPopover{
			.popover-content{
				overflow: hidden;
			}
		}


		article{
			margin-bottom: 30px;
		}
	}

	.post-footer{
		padding:10px 15px;
		background-color: #f8f8f8;
		border-top:1px solid #d8d8d8;
		.full-width;
		
		.form-control{
			background-color: #f9f9f9;
			&.message-editing{
				background:#fff;
			}
		}
		.post-footer-inner{
			.full-width;
		}

		.dropdown-post-status{
			margin-right: 10px;
			margin-top: 5px;
		}

	}

	.function{
			height: 0;
			overflow: hidden;
			.full-width;
			.transition (all 200ms ease-in);
			&.slideDown{
				height: auto;
				margin-bottom: 10px;
			}
	}

	&.post-draft{
		.opacity (0.5);
		z-index: 1;
	}
}

.post-article{

	.post-experiences{
	  margin-bottom:10px;
	}

	.post-full-content{
		display: none;
		overflow: hidden;
	}

	 .post-content-title{
	  	color:@greyLight;
	  	margin:20px 0 0;
	  	font-weight:bold;
	}

}

.post-elements{
	position: relative;
}

.approval-info,
.delete-info{
	font-size: 12px;
	color: @red;
}

//Footer Comment
.comment-wrap {
	display: table;
	width: 100%;
	position: relative;

	.name-container,
	.input-container,
	.comment-sent,
	.message-container{
		display: table-cell;
	}

	.message-container{
		vertical-align: top;
		padding:0 12px;

		@media (max-width:767px){
			padding-top: 20px;
		}
	}

	.comment-sent{
		text-align: right;
		width: 26px;
		vertical-align: bottom;
	}

	.name-container{
		width: 50px;
	}

	.name-full,
	.comment-time{
		font-size: 12px;

		@media (max-width:991px){
			display: block;
		}
	}

	.name-full{
		font-weight: 600;
	}

	.comment-time{
		color: @font-grey;
		margin-left: 5px;

		@media(max-width:991px){
			margin-left: 0;
		}
	}

	.comment-actions  {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		a{
			color: @black;
		    display: inline-block;
		    margin-left: 5px;
		    font-size: 12px;
		    &:hover{
		    	text-decoration: none;
		    }
		    
		}

		@media (max-width:991px){
			display: block;
		}

		// .comment-save{
		// 	display: none;
		// }
	}

	&:hover{
		.comment-actions{
			display: block;
		}
	}

	 &.comment-display{
		margin-bottom: 10px;
		.comment-sent{
			min-width: 120px;
		}

		@media (max-width:991px){
			display: block;
			width: 100%;
			clear: both;
			.name-container,
			.message-container{
				display: inline-block;
				float: left;
			}

			.message-container{
				width:  ~"calc(100% - 50px)";
			}

			.comment-sent{
				width: 100%;
				display: block;
				text-align: right;
				float: left;
				padding:5px 12px;
				margin-top: 5px;
			}

			
		}
	}
}

.message-current{
	 /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

//Post Create
.function{

			.select2-container--default.select2-container--focus .select2-selection--multiple,
			.select2-container--default .select2-selection--multiple{
				border:1px solid #ccc!important;
			}

			.select2-container--default .select2-selection--multiple .select2-selection__choice{
				border:1px solid #d8d8d8;
				background-color: @white;
				color: @blue;
			}

			.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
				color: #d8d8d8;
			}

			.thumb {
			    width: 60px;
			    height: 60px;
			    position: relative;
			    display: inline-block;
			    float: left;
			    margin-right: 5px;
			    padding: 4px;
			    line-height: 1.42857143;
			    background-color: #fff;
			    border: 1px solid #ddd;
			    border-radius: 4px;
			    -webkit-transition: all 0.2s ease-in-out;
			    -o-transition: all 0.2s ease-in-out;
			    transition: all 0.2s ease-in-out;
			    overflow: hidden;
			    background:@greyDark;

			    img{
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	right: 0;
			    	bottom: 0;
			    	margin:auto;
			    	padding: 4px;
			    	max-width: 100%;
			    }

			    .image-delete{
			    	color: @white;
				    position: absolute;
				    right: 3px;
				    bottom: 3px;
				    background-color: @red;
				    border:1px solid @red;
				    border-radius: 50%;
				    line-height: 14px;
				    width: 16px;
				    height: 16px;
				    display: inline-block;
				    font-size: 10px;
				    text-align: center;
			    }
			}
		}


//Flexslider on Newsfeed customization
.post-image{
	.flex-control-nav{
		bottom: 20px;
	}

	.flex-control-paging li a{
		    -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,1);
		    -moz-box-shadow: inset 0 0 3px rgba(255,255,255,1);
		    -o-box-shadow: inset 0 0 3px rgba(255,255,255,1);
		    box-shadow: inset 0 0 3px rgba(255,255,255,1);

		    &.flex-active{
		    	background:#fff;
    			background: rgba(255,255,255,.9);	
		    }
	}

	.flex-direction-nav .flex-prev,
	.flexslider:hover .flex-direction-nav .flex-prev {
	    left: 15px!important;
	    opacity: 1;
	}

	.flex-direction-nav .flex-next,
	.flexslider:hover .flex-direction-nav .flex-next{
		right: 15px!important;
		opacity: 1;
	}

	.flex-direction-nav a{
		height: 50px;
	}

}


//Post Edit Model
#edit-post-modal{
	textarea{
		resize:none;
	}

	.function{
		margin-bottom: 20px;
		.full-width;

		&.imageUpload{
			button{
				margin-top: 10px;
			}
		}

		label{
			.full-width;
		}
	}
}