.policyWrap{
	margin-top: 20px;
}

.policy-container{
	margin-bottom: 20px;
	.policy-inner{
		background-color: @white;
		padding: 15px;
		.box-shadow-general;
	}

}

.policy-file-type{
	width: 80px;
	float: left;
	.fa{
		font-size: 80px;
	}

	.word{
		color: @blue;
	}

	.pdf{
		color: @red;
	}
}

.policy-detail{
	float: left;


	h4{
		color: @font-grey;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.upload-by{
		color: @font-grey;
		font-style: italic;
		margin-bottom: 5px;
	}
}

.version{
	color: @blueLight;
	margin-left: 20px;
}

.policy-actions{
	.btn{
		margin-top: 25px;
	}
}

.policy-table{
	&.table > thead > tr > th, 
	&.table > tbody > tr > th, 
	&.table > tfoot > tr > th, 
	&.table > thead > tr > td, 
	&.table > tbody > tr > td, 
	&.table > tfoot > tr > td{
		vertical-align: middle;
	}
}