/*Custombox Customize*/
// .popupbox{
//   background-color: #FFF;
//     width: 700px;
//     border: #000 solid 1px;
//     box-shadow: 0 8px 6px -6px black;
//     text-align: left;
//     display: none;
//     overflow: auto;

//     button{
//       &.close{
//         position: absolute;
//         top: 15px;
//         right: 15px;
//       }
//     }

//     .popupHeader{
//       padding:20px;
//       .full-width;

//       .profileImage{
//           width: 45px;
//           height: 45px;
//           float: left;
//           .nameShort{
//             .nameShortBlock(45px,22px);
//           }
//         }

//       .nameFull{
//             line-height: 45px;
//             margin-left: 20px;
//             font-size: 18px;
//             font-weight: 600;
//       }
//     }

//     .popupBody{
//       .full-width;
//       .navTab{
//         li{
//           display: inline-block;
//             a{
//               color: @font-grey;
//               font-weight: 600;
//               &:hover{
//                 color: @black;
//                 background-color:#fff;
//               }
//             }

//           &.active{
//               a{
//                 color: @black;
//                 background: #fff;
//               }
//           }
//         }
//       }

//       .tab-content{
//         width: 100%;
//         float: left;
//         min-height: 500px;
//         background-color: @greyDark;
//         padding:40px;
//       }
//     }


// }




// /*Child Change*/
// .changePopup{
//   padding:20px;
//   .matchChangeFound{
//     h2{
//       margin-top: 0;
//       margin-bottom: 20px;
//       color: @font-grey;
//     }
//     p{
//       font-size: 16px;
//     }
//   }

//   .childInfo{
//     padding-top: 45px;
//     padding-bottom: 45px;
//     .childName{
//       color: @blue;
//       font-size: 16px;
//       font-weight: 600;
//     }

//     .childRequest{
//       margin-top:10px;
//       margin-bottom: 10px;
//     }

//     .childRequest,
//     .childContact{
//       font-size: 12px;
//     }
//   }

//   .childImageChange{
//     .childJoin{
//       margin-top: 35px;
//     }
//     .profileImageContainer{
//       .profileImageMixin(80px);
//     }

//     .innerGraph,
//     .moreAttend{
//       .full-width;
//       position: relative;
//     }

//     .moreAttend{
//       color: @blue;
//       text-align: center;
//       margin-top: 50px;
//     }

//     .changeArrow{
//       font-size: 60px;
//       position: absolute;
//       &.redArrow{
//         color: @red;
//         top: 20px;
//         right: 50px;
//         .fa-share{
//           -webkit-transform: rotate(90deg);
//           -ms-transform: rotate(90deg);
//           transform: rotate(90deg);
//         }

//       }
//       &.greenArrow{
//         color: @green;
//         bottom: 20px;
//         left:50px;
//         .fa-reply{
//           -webkit-transform: scale(1,-1) rotate(-90deg);
//           -ms-transform: scale(1,-1) rotate(-90deg);
//           transform: scale(1,-1) rotate(-90deg);
//         }
//       }
//     }
//   }

//   .buttonGroup{
//     margin-top:40px;
//     margin-bottom: 20px;
//     button{
//       float: right;
//       margin-right: 3px;
//     }
//   }

// }