p {
  margin: 0 0 20px 0;
}
@media print {
  #printableArea,
  .pagebreak {
    page-break-after: always !important;
    display: block;
    position: relative;
  }
}
.printWrap {
  width: 100%;
  float: left;
  position: relative;
}
.finalPrint {
  padding: 20px;
  width: 100%;
}
.border-radius-for-print {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.post-header,
.post-image,
.post-body,
.post-footer {
  width: 100%;
  float: left;
}
#printableArea {
  display: block;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  padding: 0 !important;
  margin: 0 !important;
}
#printableArea .inner {
  padding: 0 !important;
  margin: 0 !important;
}
.pad-left-60 {
  padding-left: 60px !important;
}
.post-status {
  top: -5px;
  position: relative;
}
.post-status > * {
  display: inline;
  vertical-align: middle;
}
.post-status i {
  font-family: inherit !important;
  color: #444444 !important;
  font-size: 11px;
  margin-right: 5px;
}
.post-status i:before,
.post-status i:after {
  font-family: 'FontAwesome';
}
.post-status span {
  padding: 2px 5px;
  border: 1px solid #999999;
  color: #999999 !important;
  margin-bottom: 5px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.post-status span:not(:last-child) {
  margin-right: 7px;
}
.print-tags {
  font-size: 11px;
  border: 1px solid #999999 !important;
  color: #999999 !important;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.post-header .post-title {
  margin-top: 0;
}
.post-header .print-header > * {
  display: inline-block;
  vertical-align: middle;
}
.post-header .print-header .profileImage {
  width: 60px !important;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
}
.post-header .print-header .full-description > * {
  display: block;
}
.post-header .print-header .full-description .post-title {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.post-header .print-header .full-description .post-status {
  top: 0;
  margin-top: 0 !important;
}
.post-image {
  padding: 0 !important;
}
.post-image .post-inner-image {
  width: 100%;
}
.image-inner {
  padding: 3px;
}
.img-full {
  width: 100%;
  display: block;
}
.img-circle {
  border-radius: 50%;
}
.print-image {
  position: relative;
}
.print-full-width {
  width: 100%;
}
.print-half-width {
  width: 50%;
  float: left;
}
.print-one-third-width {
  width: 33%;
  border: 1px solid #fff;
  float: left;
}
.post-content-title {
  color: #888;
  margin: 20px 0 0;
  font-weight: bold;
}
.post-description {
  padding-top: 5mm !important;
  margin-bottom: 30px;
}
.print-break-page-after > :first-child {
  page-break-after: always;
}
.print-break-page-after .post-elements > div {
  padding-bottom: 10mm !important;
}
.print-list {
  list-style: none;
}
.print-list li {
  margin-bottom: 2mm;
  position: relative;
  margin-left: 15mm;
}
.print-list li span {
  position: absolute;
  left: -15mm;
  top: 3px;
  color: #999999 !important;
  border: 1px solid #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
}
.print-list li p.highlight {
  padding: 5px 10px 5px 0 !important;
  margin: 0 0 10px !important;
  display: inline;
}
.list-with-style {
  list-style: disc;
}
.nappy-list .print-list li,
.toilet-list .print-list li {
  margin-left: 25mm;
  position: relative;
}
.nappy-list .print-list li > *,
.toilet-list .print-list li > * {
  vertical-align: middle;
  display: inline-block;
}
.nappy-list .print-list li span,
.toilet-list .print-list li span {
  left: -25mm;
  padding: 2mm;
}
.nappy-list .print-list li p,
.toilet-list .print-list li p {
  padding-top: 5px;
}
.nappy-list .print-list li p i,
.toilet-list .print-list li p i {
  color: #999999 !important;
}
.tags-children-list > span {
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2px;
  background-color: #eeeeee;
  vertical-align: middle !important;
  text-align: center;
  display: inline-block;
}
.tags-children-list .rect-list-element {
  font-size: inherit !important;
  padding: 5px !important;
  margin: 0 7px 10px 0;
  font-size: 11px;
  border: 1px solid #999999 !important;
  color: #999999 !important;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tags-children-list .normal-list-element {
  width: 20mm;
  height: 20mm;
  margin-right: 15px;
  border-color: #999999 !important;
  background-color: transparent !important;
}
.tags-children-list .normal-list-element span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  color: #999999 !important;
  font-weight: 700;
  padding-top: 12px;
}
.tags-children-list .list-element {
  width: 10mm;
  height: 10mm;
  margin-right: -20px;
}
.tags-children-list .list-element .profileImage {
  width: 100%;
}
.tags-children-list .list-more {
  background-color: #d8d8d8 !important;
  color: #ffffff !important;
}
.tags-children-list .list-more span {
  vertical-align: middle;
  line-height: 29px;
  color: #ffffff !important;
}
