
@printBorder: #999999;
@printText: #999999;
@printBG: #eeeeee;
@printTransparent: transparent;

p{
  margin: 0 0 20px 0;
}

#printableArea,
.pagebreak{
  // display: none;
  @media print{
    page-break-after: always !important;
    display: block;
    position: relative;
  }
}

.printWrap{
  width: 100%;
  float: left;
  position: relative;
}

.finalPrint{
 padding:20px;
 width:100%;
}

.border-radius-for-print{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


  .pagebreak{
    // page-break-after works, as well
    // sources: http://stackoverflow.com/questions/1664049/can-i-force-a-page-jump-in-html-printing/1664058
  }

  .post-header,
  .post-image,
  .post-body,
  .post-footer{
    width:100%;
    float: left;
  }

  #printableArea{
    display:block;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    padding:0 !important;
    margin:0 !important;
    .inner{
      padding:0 !important;
      margin:0 !important;
    }
  }
  .pad-left-60{padding-left:60px !important;}
  .post-status{
    top: -5px;
    position: relative;
    > *{
      display: inline;
      vertical-align: middle;
    }
    i{
      font-family:inherit !important;
      color: #444444 !important;
      font-size:11px;
      margin-right:5px;
      &:before, &:after{
        font-family: 'FontAwesome';
      }
    }
    span{
      padding:2px 5px;
      border: 1px solid @printBorder;
      color:@printText !important;
      margin-bottom: 5px;
      display: inline-block;
      .border-radius-for-print;
      &:not(:last-child){
        margin-right: 7px;
      }
    }
  }
  .print-tags{
    font-size:11px;
    border: 1px solid @printBorder !important;
    color: @printText !important;
    padding:2px;
    .border-radius-for-print;
  }

  // PRINT POST-HEADER
  .post-header{
    .post-title{
      margin-top:0;
    }
    .print-header{
      > *{
        display: inline-block;
        vertical-align: middle;
      }
      .profileImage{
        width:60px !important;
        margin-right: 5px;
        border-radius: 50%;
        overflow: hidden;
      }
      .full-description{
        > *{
          display: block;
        }
        .post-title{
          margin-bottom:0 !important;
          padding-bottom:0 !important;
        }
        .post-status{
          top:0;
          margin-top:0 !important;
        }
      }
    }
  }

  // PRINT POST-IMAGE
  .post-image{
    padding:0 !important;
    .post-inner-image{
      width:100%;
    }
  }

  .image-inner{
    padding:3px;
  }

  .img-full{
    width: 100%;
    display: block;
    // border: 3px solid #fff;
  }

  .img-circle{
    border-radius: 50%;
  }

  .print-image{
    position:relative;

  }
  .print-full-width{
    width:100%;
  }
  .print-half-width{
    width: 50%;
    float: left;
  }
  .print-one-third-width{
    width: 33%;
    border:1px solid #fff;
    float: left;
  }

  .post-content-title {
    color: #888;
    margin: 20px 0 0;
    font-weight: bold;
  }

  // PRINT POST-BODY
  .post-description{
    padding-top: 5mm !important;
    margin-bottom: 30px;
  }
  .print-break-page-after{
    > :first-child{
      page-break-after: always;
    }
    .post-elements > div{
      padding-bottom: 10mm !important;
    }
  }
  .print-list{
    list-style: none;
    li{
      margin-bottom:2mm;
      position: relative;
      margin-left:15mm;
      span{
        position: absolute;
        left:-15mm;
        top:3px;
        color: @printText !important;
        border: 1px solid @printBorder;
        // padding:2mm;
        .border-radius-for-print;
        font-size: 12px;
        padding: 3px;
      }
      p.highlight{
        //background-color: #eeeeee !important;
        padding:5px 10px 5px 0 !important;
        margin:0 0 10px !important;
        display:inline;
        //color: #757575 !important;
      }
    }
  }
  .list-with-style{
    list-style: disc;
  }
  .nappy-list,
  .toilet-list{
    .print-list{
      li{
        margin-left:25mm;
        position: relative;
        > *{
          vertical-align: middle;
          display: inline-block;
        }
        span{
          left:-25mm;
          padding:2mm;
        }
        p{
          padding-top:5px;
          i{
            color: @printText !important;
          }
        }
      }
    }
  }

  // PRINT AVATAR LIST
  .tags-children-list{
    > span{
      border: 1px solid #d8d8d8;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding:2px;
      background-color: @printBG;
      vertical-align: middle !important;
      text-align: center;
      display:inline-block;
    }
    .rect-list-element{
      font-size:inherit !important;
      padding:5px !important;
      margin:0 7px 10px 0;
      .print-tags;
    }
    .normal-list-element{
      width:20mm;
      height:20mm;
      margin-right:15px;
      border-color: @printBorder !important;
      background-color: @printTransparent !important;
      span{
        vertical-align: middle;
        display: inline-block;
        line-height: 20px;
        color: @printText !important;
        font-weight: 700;
        padding-top:12px;
      }
    }
    .list-element{
      width:10mm;
      height:10mm;
      margin-right:-20px;
      .profileImage{
        width:100%;
      }
    }
    .list-more{
      background-color: #d8d8d8 !important;
      color: #ffffff !important;
      span{
        vertical-align: middle;
        line-height: 29px;
        color: #ffffff !important;
      }
    }
  }


