//Profile Page Specific
.profile{
	margin-bottom: 30px;

	&.profile-create{
		.inner{
			button{
					width: 100%;
					height: 100%;
				i{
					vertical-align: middle;
					line-height: 251px;
					color: #d8d8d8;
					font-size: 40px;

				}
				
			}
		}
	}

	.inner{
		.box-shadow-general;
		background-color: @white;
		padding:40px 10px;
		text-align: center;
		height: 335px;	
	}

	.title{
		color: @blueLight;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.main-profile{
		margin-bottom: 20px;
		.main-descri{
			font-size: 12px;
			color: @red;
			margin-bottom: 10px;
		}
		.main-images{
			.avatar-wrap{
				margin-left: -15px;
    			margin-right: -15px;
    			vertical-align: top;

	    			&.profileImage{
						background-color: @white;
						padding:3px;
						border:1px solid #d8d8d8;
						.round;
						width: 70px;
					}
					&.name-short{
						.name-short-mixins(70px,24px);
					}
				}
		}
	}

	.parents{
		.name-short{
			.name-short-mixins(40px,14px);
		}
	}

	.divider{
		span{
			display: inline-block;
			height: 3px;
			width: 50px;
			background-color: #f3f6fb;
			margin-top: 20px;
			margin-bottom: 15px;
		}
	}

	.link{
		font-size: 12px;
		color:@black;
		font-weight: 600;
	}
}

//Profile Popup
.profile-popup{

	
	.modal-content{
		background-color:#f5f5f5;
		font-size: 12px;
	}

	p{
		margin-bottom: 10px;
	}

	.well{
		p{
			margin-bottom: 0;
		}
	}

	ul.profile-list{
		margin-left: 20px;
		margin-bottom: 10px;
	}

	&.profile-popup-family{
		.modal-body{
			padding:0;
		}
	}

}

.inner-header{
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: relative;

	.dropdown{
		position: absolute;
	    right: 0;
	    top: 0;

	    .dropdown-menu{
	    	.fa{
	    		width: 18px;
	    	}
	    }
	}

	.avatar{
		span,
		.fileUpload{
			vertical-align: middle;
		}

		.name-full{
			margin-left: 10px;
		}


	}
}

//Crop Image Upload
.cropArea{
	width: 100%;
	height: 300px;
	background-color: #d8d8d8;
	position: relative;
	.saveAvatar,
	.cancelAvatar{
		position: absolute;
	}
	.saveAvatar{
		bottom: 5px;
    	right: 45px;
	}
	.cancelAvatar{
		bottom: 5px;
    	right: 5px;
	}
}

//Profile-tab
.profile-tab-selection{
	margin-top: 20px;
	margin-bottom: 20px;
	li{
		a{
			color:@font-grey;
			border:none!important;
			font-size: 11px;
			padding:10px!important;
			&:hover{
				border:none;
			}
		}

		&.active{
			a{
				color:@black;
				border:none;
			}
		}
	}
}


// Tabs
.multiple-tabs{
  display: table;
  width: 100%;

  	 .outer-tabs{
  	 	background: rgba(255, 95, 99, 0.75);
  	 }

	 .outer-tabs,
	 .outer-content{
	    display: table-cell;
	    vertical-align: top;
	 }

  	.outer-tabs{
	  	list-style: none;
	  	width: 75px;
	  	li{
	  		margin-bottom: 10px;
	  		padding:0 15px;
	  		text-align: center;
	  		position: relative;
	  		font-size: 10px;

	  		&.label-family{
	  			background-color: @blueLight;
	  			color: @white;
	  			padding:5px;

	  			.btn-icon{
	  				position: absolute;
	  				right: 0;
	  				padding: 0;
	  				top: 5px;
	  				i{
	  					color:@white;
	  					font-size: 12px;
	  				}
	  			}
	  		}

	  		// &.tab-child-last{
		  	// 	border-bottom:3px solid #f3f6fb;
		  	// 	padding-bottom: 10px;
		  	// }

		  	.profileImage{
		  		width: 35px;
		  	}

		  	small{
		  		display: block;
		  		margin-top: 5px;
		  	}

		  	.name-short{
				.name-short-mixins(35px,14px);
			}

			a{
				color: @black;
				display: block;
				&:hover{
					text-decoration: none;
				}
			}

  		}
	}

	.outer-content{
		padding: 20px;
	    border-left: 3px solid #f3f6fb;
	    margin-left: 150px;
	    height: 100%;
	}
}
// .multiple-tabs{
// 	.outer-tabs{
// 		list-style: none;
// 		width: 100%;
// 		border-bottom: 1px solid #d8d8d8;
// 		li{
// 			display: inline-block;
// 			vertical-align: top;
// 			&.label-family{
// 				background-color: @blue;
// 				color: @white;
// 			}

// 			span,
// 			small{
// 				display: block;
// 				text-align: center;
// 			}
// 		}
// 	}
// }




//Immunisations table
.table-immunisations-child{
	@media (max-width:991px){
		display: block;
		thead{
			display: none;
		}

		tbody{
			tr{
				td{
					width: 100%;
					float: left;
					position: relative;
    				padding-left: 50%;
    				display: block;
    				vertical-align: middle;

    				&.empty{
    					display: none!important;
    				}

					&:before{
						position: absolute;
					    top: 6px;
					    left: 6px;
					    width: 45%;
					    padding-right: 10px;
					    white-space: nowrap;
					}

					&:nth-of-type(1):before{
						content:"Immunisation";
					}
					&:nth-of-type(2):before{
						content:"Birth";
					}
					&:nth-of-type(3):before{
						content:"2mo";
					}
					&:nth-of-type(4):before{
						content:"4mo";
					}
					&:nth-of-type(5):before{
						content:"6mo";
					}
					&:nth-of-type(6):before{
						content:"12mo";
					}
					&:nth-of-type(7):before{
						content:"18mo";
					}
					&:nth-of-type(8):before{
						content:"4 yrs";
					}
				}
			}
			
		}
	}
}

.table-immunisations-staff{

	@media (max-width:991px){
		display: block;
		thead{
			display: none;
		}

		tbody{
			tr{
				td{
					width: 100%;
					float: left;
					position: relative;
    				padding-left: 50%;
    				display: block;
    				vertical-align: middle;

    				&:before{
						position: absolute;
					    top: 6px;
					    left: 6px;
					    width: 45%;
					    padding-right: 10px;
					    white-space: nowrap;
					}

    				&:nth-of-type(1):before{
						content:"Disease/Vaccine";
					}
					&:nth-of-type(2):before{
						content:"Had Vaccine";
					}
					&:nth-of-type(3):before{
						content:"Date of Vaccine";
					}
					&:nth-of-type(4):before{
						content:"Confirmed Infection";
					}
					&:nth-of-type(5):before{
						content:"Date of Confirmed Infection";
					}
    			  }
    		}
   		 }
   	}
}

//Expandable area
.expandable-area{
	display: none;
	&.show{
		display: block;
	}
}

.expandable-area-yes,
.expandable-area-no{
	display: none;
}

//File Upload Drag & Drop Style
.fileUpload-pack{
	max-width: 600px;

	.progress{
		position: relative;
		.progress-bar{
			text-align: left;
			padding-left: 5px;
			position: relative;
			z-index: 1;
		}

		.files-uploaded{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		}
	}
}
.fileUpload-drag-area{
	color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
    cursor:pointer;
    margin-bottom: 20px;
    position: relative;
    overflow:hidden;
    @media (max-width:480px){
    	line-height: 1.2;
    	padding:30px 15px;
    }
	input[type="file"]{
		position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    opacity: 0;
	    -ms-filter: 'alpha(opacity=0)';
	    font-size: 200px !important;
	    direction: ltr;
	    cursor: pointer;
	    display: block;
	}

	
}

.files-uploaded{
	.file{
		width: 100%;
		background-color:#777;
		padding:3px 5px;
		margin-bottom: 3px;
		a{
			color: #fff;
		}
		.file-link{
			border-bottom:1px solid #fff;
			text-decoration: none;
		}
		.file-delete{
			float:right;
		}
	}
}

//Children Attendance Specify
/*Attendance Tab*/
.currentStatus{

  .currentStatusText{
    font-weight: 600;
  }
  .dropdown{
    .dropdown-menu{
      background: @greyBlack;
      width: 100%;
      min-width: 0;
      li{
        a{
          color:#fff;
          font-size: 12px;
          &:hover{
            color:@font-grey;
          }
        }
      }
    }
  }
}

.requestList{
  margin-top: 40px;
  .requestEach{
    // display: table;
    margin-bottom: 10px;
    // width: 100%;

    // .requestListIcon,
    // .requestListText,
    // .requestListBtn{
    //   display: table-cell;
    //   float: none;
    //   vertical-align: middle;
    // }

    .requestListIcon{
        font-size: 18px;
        vertical-align: middle;
        top: 3px;
    }

    .requestListText{
      font-size: 12px;
    }
  }
}

.requestFooter{
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-info{
	.border-radius;
	background: @greyBlack;
	color: @white;
	padding: 10px;
}

//Child External
.external-child-log{
	tr{
		th,td{
			vertical-align: middle!important;
		}
	}
}

//Children Reports
.children-reports{
	.outcome-header{
		padding-bottom: 15px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    color: @font-grey;
	    border-bottom: 1px solid #d8d8d8;
	    font-style: italic;
	}

	.row{
		margin-bottom: 20px;
	}

	.bg-danger{
		padding:15px;
		margin-top: 10px;
	}

	.alert-info{
		margin-top: 20px;
		h4{
			margin-bottom: 0;
			text-align: center;
		}
	}
}