body{
	overflow: visible
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

img{
	width: 100%;
}

.heading{
	background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding:20px;
    font-size: 18px;
}

.sub-heading{
	padding-bottom: 15px;
    // margin-bottom: 20px;
    // margin-top: 20px;
    color: #888888;
    border-bottom: 1px solid #d8d8d8;
    font-style: italic;
    width: 100%;
}


/*Header*/
.print-header{
	margin-bottom: 20px;
}

.print-header span{
	vertical-align: middle;
	display: inline-block;
}

.print-header .profileImage {
    width: 60px !important;
    margin-right: 5px;
    border-radius: 50%;
    height: 60px;
}

/*Report Table*/
// .report-row,
// .report-text,
// .report-status,
// .report-reason{
// 	float: left;
// }

// .report-table{
// 	width: 100%;
// 	font-size: 12px;
// 	display: block;
// }

// .report-row{
// 	width: 100%;
// 	margin-bottom: 20px;
// 	display: block;
// }

// .report-text{
// 	width: 75%;
// 	display: inline-block;
// }

// .report-status{
// 	width: 25%;
// 	display: inline-block;
// }

.report-table{
	margin-bottom: 20px;
}

.report-table td{
	// padding:0 0 10px 0;
	font-size: 11px;
	vertical-align: middle;
}

.report-status span{
	display: inline-block;
    width: 100px;
    background: #49505b;
    color: #fff;
    padding: 3px 10px;
    font-size: 10px;
    text-align: center;
    border: 1px solid transparent;
    white-space: nowrap;
}

.report-status span.disabled{
	background:#868a92;
}

.report-reason{
	padding: 10px;
    background-color: #f2dede;
    display: inline-block;
}