
/*
 * Sidebar
 */

/* Hide for mobile, show later */
@media (min-width:768px){
    .sidebar-main{
      width: 70px;
      position: fixed;
      height: 100%;
      z-index: 2000;
      top: 0;
      left: 0;

      &.blue{
        background-color:@blue;
      }

    }

    .logo-kk{
      color: #fff;
      font-size: 34px;
      line-height: 57px;
      .full-width;
      text-align: center;
    }

    .side-menu-main{
      width: 100%;
      float: left;
      margin-top: 70px;
      li{
        margin-bottom: 15px;
        a{
          display: block;
          color: #fff;
          text-align: center;
          font-size: 34px;
        }
      }
    }
}


//Sidebar Inner
.sidebar-inner {
    // position: absolute;
    // top: 150px;
    // left: 70px;
    // height: 100%;

    .menu-block{

      width: 80%;
      float: left;
      margin-bottom: 20px;
      
      .title{
        font-weight: 400;
        color: @blue;
      }

      .filter{
        .form-control{
          width: 60%;
        }
      }

      ul{
        li{
          list-style: none;
          
          a{
            color: @font-grey;
          }

          &.active{
            border-left:3px solid @red;
          }
          
        }
      }

      .title,
      .filter,
      ul li{
        border-left: 3px solid transparent;
        padding-left: 10px;
        margin-bottom: 5px;
      }
      
    }
}

