//Staff Leave and Rostering Management

//Staff Leave
.leave-table{
	margin-bottom: 30px;

	.queue{
		span{
			vertical-align: middle;
		}
	}

	.profileImage{
		max-width: 35px;
	}

	.name-short{
		.name-short-mixins(35px,16px)
	}

    tbody{
    	tr:last-child{
    		td:last-child{
    			.dropdown-menu{
    				bottom: 100%;
    				top: auto;
    			}	
    		}
    	}
    }

}

.leave-approve-popup{
	.table{
		tr{
			td:last-child{
				width: 210px;
			}
		}
	}
}

.dateSlide {
    font-size: 24px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    .slideLeft,
    .slideRight{
    	position: absolute;
    	top: -2px;
    	cursor: pointer;
    }

    .slideLeft{
    	left: 0;
    }

    .slideRight{
    	right: 0;
    }
}

.mismatch{
	background-color: @yellowDark!important;
}

//Staff Shift
.shiftWeek{
    @media (max-width:1199px){
        display: none;
    }
}

.shiftWeek,
.shiftWrap{
    padding-left: 45px;
}

.shiftWrap{



 .attCol{
    vertical-align: top;
    padding: 8px;

    &:first-child{
        .shiftInnerWrap{
            padding:8px!important;
        }
    }

    &.att-col-9{
         @media (max-width:1199px){
            width: 100%;
            display: block;
        }
    }
   
 }

 .shiftInnerWrap{
 	width: 100%;
    background: #d8d8d8;
    padding: 8px 8px 60px 8px;
    position: relative;
    border-radius: 5px;
    min-height: 95px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width:1199px){
        margin-bottom: 25px;
    }
 }

 .shift-tagging,
 .shift-tasking{
 	position: absolute;
 	bottom: 8px;
    font-size: 10px;
    left: 8px;
    // width: 72px;
 }

 @media (max-width:1199px){

     .attTable,
     .attRow{
        display: block;
     }

     .attRow{
        border: 3px solid @blueLight;
        padding:20px 20px 0 20px;
        margin-bottom: 20px;
        .border-radius(5px);
     }
 }
}

.shift-title{
    display: none;
    @media (max-width:1199px){
        position: absolute;
        top: -18px;
        left: 0;
        display: block;
        font-size: 14px;
    }
}

//Tagging Selection
.role-tagging-inner {
    width: 155px;
    font-size: 12px;
}


//Add Shift Button
.shiftAdd{
    margin-left: 8px;
}

//Delete Shift Button
.shiftDelete{
    position: absolute;
    top: 35px;
    left: -45px;

    @media (max-width:1199px){
        top: -30px;
        right: -30px;
        left: auto;
    }
}

//Shift tags on rostering
.shift-tags{
    text-align: right;
    position: absolute;
    display: inline-block;
    bottom: -5px;
    right: 5px;

    .label-general{
        margin-right: 0;
        margin-bottom: 0;
    }
}

.shift-task-each{
    margin-bottom: 10px;
}

//Staff Roster Labels
.roster-status {
    position: absolute;
    top: 0;
    left: 15px;
}

.shift-tags-more{
    color: @white;
    background-color: @black;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    display: inline-block;  
    .round;

    &:hover{
        color: @white;
    }

    @media (max-width:767px){
        display: none;
    }
}

/*Absence from work register*/
.td-absent {
    position: relative;
    padding-right: 35px;
    min-height: 40px;
    button {
        position: absolute;
        right: 0;
        top: 0;
    }
}