//Task List
.task-overview-wrap{
	margin-bottom: 20px;
	// width: 50%;
	// float: left;
	background: #f5f5f5;
	padding:0 0 0 40px;
	.box-shadow-general;

	@media (max-width:767px){
		padding:0;
	}

	.task-list{
		width: 100%;
		min-height: 500px;
		padding-top: 10px;
	}

	.task{
		display: table;
		cursor: pointer;
		// margin-left: -30px;
		padding-bottom: 5px;
		width: 100%;
		position: relative;
		table-layout: fixed;
		@media (max-width:767px){
			font-size: 12px;
		}
		.task-number,
		.task-name,
		.date,
		.task-avatar{
			display: table-cell;
			vertical-align: middle;
			white-space: nowrap;
			padding:10px;
			width: 100%;
		}

		// .task-number{
		// 	width: 35px;
		// }

		.task-name{
			// padding-left: 20px;
			// max-width: 100%;
			div{
				max-width: 100%;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow:ellipsis;
				float: left;
			}
		}

		.date{
			// width: 50px;
			text-align: right;
			width: 100px;
		}

		.task-avatar{
			width: 120px;
			.element{
				display: inline-block;
				width: 35px;
				height: 35px;
				margin-right: -20px;
			    border: 1px solid #d8d8d8;
			   	.round;
			    padding: 2px;
			    background: @white;
			    vertical-align: middle;
			    text-align: center;
				.profileImage{
					width: 100%;
				}

				.name-short{
					width: 100%;
					height: 100%;
					line-height: 29px;
					font-size: 14px;
				}

				&.more{
					background-color: #d8d8d8;
					color: @white;
					span{
						line-height: 29px;
					}
				}
			}
		}

		.divider{
			width: 100%;
			padding:0 10px;
			position: absolute;
		    bottom: 0;
		    left: 0;
			span{
				width: 100%;
    			border-bottom: 1px dotted #ccc;
    			margin-bottom: 5px;
    			display: block;
			}
		}

		.active-point{
			display: none;
			color: @red;
			position: absolute;
			top: 10px;
			left: -25px;
		}

		&.active{
			color: @red;
			.active-point{
				display: block;
			}
		}
	}


}

.task-overview-inner{
	background-color: @white;
}

.task-list-header{
	padding:20px 10px;
}

.task-filter{
	border-bottom:1px dashed #d8d8d8;
}



//Task Detail Setting
.task-setting-wrap{
	background-color: @white;
	margin-bottom: 20px;
	.full-width;
	.box-shadow-general;
	.task-setting-inner{
		padding: 0 20px 20px 20px;
	}

	.select2-container{
		z-index: 0;
	}
}

.task-title{
	padding:10px 0;
	color: @font-grey;
	border-bottom:1px solid #d8d8d8;
	font-style: italic;
}

.task-divider{
	background: @greyBlack;
	color: #fff;
	padding: 10px 20px;
	margin:0 -20px 20px -20px;
	position: relative;

	.title{
		margin-right: 30px;
    	display: inline-block;
    	font-size: 18px;
	}

	.dropdown{
		position: absolute;
		right: 8px;
		top: 8px;
	}
}


.task-setting-block{
	position: relative;
	button.frequency{
		top: 0;
		right: 0;
		position: absolute;
	}
}



//Frequency Modal Settings
.weekly-field{
	.checkbox-inline{
		padding-left: 10px;
	}

	.checkbox-inline + .checkbox-inline{
		padding-left: 0;
	}
}

.form-frequency{
	min-height: 400px;
}

//Task View winthin centre
.alert-centre{
	ol{
		margin-left: 20px;
	}
}


// .task-view{

// 	.title{
// 		font-size: 18px;
// 		text-align: center;
// 		margin-bottom: 20px;
// 	}
// 	.taskWrap{
// 		.box-shadow-general;
// 		min-height: 0.01em;	
// 		background-color: @white;
// 		margin-bottom: 20px;

// 		a{
// 			text-decoration: none;
// 			color: #333;
// 		}

// 		.inner{
// 			padding:20px;
// 		}

// 		.task-name{
// 			font-weight: 600;
// 		}

// 		.room-name{
// 			font-size: 24px;
// 			padding-bottom: 10px;
// 			border-bottom:1px solid #d8d8d8;
// 		}

// 		.avatar-wrap{
// 			margin-top: 10px;
// 			border-top: 1px solid #d8d8d8;
//     		padding-top: 10px;
//     		.element{
//     			margin-right: -20px;
//     			border:2px solid #fff;
//     			.round;
//     		}
// 			.profileImage{
// 				width: 35px;
// 			}

// 			.name-short{
// 				.name-short-mixins(35px, 14px);
// 			}
// 		}
// 	}
// }

//Program Module & Task View & Specific Setting
.task-popup{
	// .modal-header{
	// 	background: @greyBlack;
	// 	color: @white;
	// 	.border-radiuses (6px, 0, 0, 6px);
	// }

	// .close{
	// 	color: @white;
	// 	.opacity(0.8);
	// }
	.modal-title{
		border-bottom: 1px solid #d8d8d8;
		color: @font-grey;
		padding-bottom: 15px;
	}

	.button-group{
		margin-bottom: 20px;
	}

	.task-basic-info{
		// position: absolute;
		// top: 0;
		// left: 15px;
		// .label{
		// 	font-size: 12px;
		// 	font-weight: 400;
		// }
		display: inline-block;
		span {
		    font-size: 12px;
		    margin-left: 3px;
		    padding-left: 3px;
		    font-weight: 600;
		}
	}

	.dropdown{
		position: absolute;
		top: -10px;
		right: 15px;
	}

	.task-form{
		padding-top: 20px;
	}

	.task-divide-title{
		font-size: 16px;
		border-bottom: 1px solid #d8d8d8;
		color: @font-grey;
		margin-top: 30px;
		margin-bottom: 10px;
		padding-bottom: 5px;
		font-style: italic;
	}

	.avatar-wrap{
		margin-bottom: 20px;
	}
}

.outcome-block{
	margin-bottom: 5px;
	.form-group{
		margin-bottom: 0;
	}
}

.function{
	&.activity-list{
		.activity-item{
			margin-bottom: 10px;
			.form-control{
				color: @blue;
			}

			.input-group{
				width: 100%;
			}
		}
	}
}

.medication-time{
	margin-bottom: 10px;
}

//Agenda List
.agenda-list{
	margin-left: 15px;
	li{
		border-bottom: 2px dashed #d8d8d8;
		padding: 10px;
	}
}