/*Colors*/
@font-grey:#888;
@black:#000;
@white:#fff;
@blueLight:#3f9fff;
@greyDark:#eff0f1;
@pointRed:#e04d4c;
@greyBlack:#49505b;
@greyLight:#b8b8b8;
@greyLighter:#d8d8d8;
@greyLightWhite:#f5f5f5;

@green:#2ecc71;
@greenLight:#00d96d;
@purple:#8000ff;
@purpleLight:#b469ff;
@orange:#ff9326;
@yellowDark:#efc52b;
@red:#ff5f63;
@redTypical:#FF0000;
@blue:#009ddb;
@blueDark:#0082ca;
@blueFeed:#2bb8ef;
@blueLight:#74d0d7;

@attendance-yellow:#ffc800;
@attendance-green:#36cc75;
@attendance-red:#fc0c1a;



