<div class="container-fluid bg-season {{''|getSeason}}" ng-if="headtype=='emailList'|| headtype=='attendanceManagement'||headtype=='positionManager'||headtype=='' || headtype=='newsfeed' || headtype=='message' || headtype=='agenda' || headtype=='meetingTemplate' || headtype=='center' || headtype=='policy'  || headtype=='staff' || headtype=='family' || headtype=='menu'">
	<h1 class="module-title">{{headName}}</h1>
	<!--Attendance Management-->
	<button ng-if="headtype=='attendanceManagement'" type="button" class="btn btn-default" data-toggle="modal" data-target="#centre-create-modal"
	 ng-click="attendanceManagementExport()">Export</button>
	<!--Email list of Planning Positions-->
	<!--positionManager-->
	<button ng-if="headtype=='emailList' && currentUser.roleInfoVoList|haveRole:'0;1;5' " ng-click="sendPlanEmail()" type="button"
	 class="btn btn-default">Send Email of Planning Postions</button>

	<!--positionManager-->
	<div class="btn-group">
		<button ng-if="headtype=='positionManager' && currentUser.roleInfoVoList|haveRole:'0;1;5' " ng-click="positionManagerExport()"
		 type="button" class="btn btn-default">Export</button>
	</div>

	<!--NewsFeed-->
	<button ng-if="headtype=='newsfeed' && functions | haveFunction:'news_create' " type="button" class="btn btn-default"
	 data-backdrop="static" data-toggle="modal" ng-click="getEditNewsInfo('');" data-target="#edit-post-modal">Create New
		Post</button>

	<!--Staff-->
	<button ng-if="headtype=='staff' && currUser.showAdd " type="button" class="btn btn-default" data-backdrop="static"
	 data-toggle="modal" ng-click="openProfile();">Create Staff</button>

	<!--faimily-->
	<button ng-if="headtype=='family' && ((currentUser.roleInfoVoList|haveRole:'0;1;5') && page.condition.myStatus!=2&&!centreAndCasual) "
	 type="button" class="btn btn-default" data-backdrop="static" data-toggle="modal" ng-click="openProfile();">Create
		Family</button>

	<!--Message-->
	<a href="javascript:void(0);" ng-if="headtype=='message'" class="btn btn-default" data-toggle="modal" data-target="#message-modal"
	 ng-click="openCreateMsg();">Create
		new message</a>

	<div class="btn-group" ng-if="headtype=='agenda' || headtype=='meetingTemplate'">
		<button class="btn btn-default dropdown-toggle my-toggle" type="button" data-toggle="dropdown">
			Meeting Settings <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li ng-if="(menus |haveMenu:'meeting_agenda')"><a href="#/meeting_agenda">Meeting Agenda</a></li>
			<li ng-if="(menus |haveMenu:'meeting_template')"><a href="#/meeting_template">Meeting Template</a></li>
			<li ng-if="(menus |haveMenu:'meeting_manager')"><a href="#/meeting_manager">Meeting Management</a></li>
		</ul>
	</div>
	<!--center-->
	<button ng-if="headtype=='center' && currentUser.roleInfoVoList|haveRole:'0;' " type="button" class="btn btn-default"
	 data-backdrop="static" data-toggle="modal" ng-click="addCenter();">Create</button>

	<!--Nutritional Menu-->
	<button ng-if="headtype=='menu' && currentUser.roleInfoVoList|haveRole:'0;1;5;' " type="button" class="btn btn-default"
	 data-backdrop="static" data-toggle="modal" ng-click="addMenu()">Create Menu</button>

	<!--policy-->
	<div class="btn-group" ng-if="headtype=='policy' && ((functions | haveFunction:'policy_editCategory') ||  (functions | haveFunction:'policy_view'))">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			Policy Settings <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li ng-if="functions | haveFunction:'policy_editCategory'"><a href="javascript:void(0);" ng-click="openEditCategories();">Manage
					Policy Categories</a></li>
			<li ng-if="functions | haveFunction:'policy_view'"><a href="javascript:void(0);" ng-click="openEdit('');">Upload New
					Policy</a></li>

		</ul>
	</div>


</div>

<!--有日历并且支持日历固话的-->
<div class="container-fluid bg-season withWeek {{''|getSeason}}" ng-if="headtype=='leaveAbenceList'||headtype=='attendanceList' || headtype=='taskList' || headtype=='rosterList' || headtype=='shiftList' ||  headtype=='leaveList' || headtype=='myleaveList' || headtype=='visitorList' || headtype=='calendar' || headtype=='meeting'">
	<!--attendanceList-->
	<div class="row" ng-if="headtype=='attendanceList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<div class="btn-group">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#sign-in-child-modal" ng-click="childSignin()">Sign
					in child</button>
				<button type="button" class="btn btn-default dropdown-toggle my-toggle" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<!-- <li>
						<a href="#/attendance_management" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')">Attendance Management</a>
					</li> -->
					<li><a href="javascript:void(0);" ng-click="setType(2);">Today</a>
					</li>
					<li><a style="cursor: pointer;" data-toggle="modal" ng-click="childExport()">Export</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div class="attTopWrap">
				<!--***********************
		                          ******** Month Select *****
		                          *************************-->
				<div class="attHeader">
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateM}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setTimeM('01')" href="javascript:void(0);">January</a>
							</li>
							<li><a ng-click="setTimeM('02')" href="javascript:void(0);">February</a>
							</li>
							<li><a ng-click="setTimeM('03')" href="javascript:void(0);">March</a>
							</li>
							<li><a ng-click="setTimeM('04')" href="javascript:void(0);">April</a>
							</li>
							<li><a ng-click="setTimeM('05')" href="javascript:void(0);">May</a>
							</li>
							<li><a ng-click="setTimeM('06')" href="javascript:void(0);">June</a>
							</li>
							<li><a ng-click="setTimeM('07')" href="javascript:void(0);">July</a>
							</li>
							<li><a ng-click="setTimeM('08')" href="javascript:void(0);">August</a>
							</li>
							<li><a ng-click="setTimeM('09')" href="javascript:void(0);">September</a>
							</li>
							<li><a ng-click="setTimeM('10')" href="javascript:void(0);">October</a>
							</li>
							<li><a ng-click="setTimeM('11')" href="javascript:void(0);">November</a>
							</li>
							<li><a ng-click="setTimeM('12')" href="javascript:void(0);">December</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateY}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="obj in yearList"><a ng-click="setTimeY(obj)" href="javascript:void(0);">{{obj}}</a></li>
						</ul>
					</div>
				</div>

				<!--***********************
		                        ******** Week Select ******
		                        *************************-->
				<div class="attWeekSlide">
					<div class="slideLeft" style="left: -12px;">
						<i class="material-icons" ng-click="setType(1);">chevron_left</i>
					</div>
					<div class="slideRight" style="right: -12px;">
						<i class="material-icons" ng-click="setType(3);">chevron_right</i>
					</div>
					<div class="attTable weekWrap">

						<div class="attCol day-of-week current att-col-7" ng-repeat="week in page.weekDays ">
							<!-- <span class="event">
								{{week.event | getFirstEvent}}
								<i ng-if="(week.event.indexOf('</br>')!=-1)" class="material-icons event-more" data-toggle="tooltip-cus" data-placement="bottom" data-html="true" tooltip title="{{week.event}}">arrow_drop_down_circle</i>
							</span> -->
							<span class="date"> {{week.day}} <span class="datePoint red"></span>
							</span> <span class="week">{{$index | weekStr}}</span> <span class="circle" ng-if="week.today"></span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!--taskView-->
	<div class="row" ng-if="headtype=='taskList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
					Create new task <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-hide="surpassListFlag"><a ng-click="interestModal(6)" data-toggle="modal" href="javascript:void(0);"
						 data-target="#observation-modal">Observation</a></li>

					<li ng-hide="surpassListFlag"><a ng-click="interestModal(4)" href="javascript:void(0);" data-toggle="modal"
						 data-target="#interest-modal">Interest</a></li>

					<li ng-hide="surpassListFlag"><a ng-click="interestModal(8)" data-toggle="modal" href="javascript:void(0);"
						 data-target="#learning-story-modal">Learning Story</a></li>

					<li ng-hide="surpassListFlag"><a ng-click="lessonModal(2)" href="javascript:void(0);" data-toggle="modal"
						 data-target="#lesson-modal">Lesson</a></li>

					<li ng-hide="surpassListFlag"><a ng-click="medicationModal(18)" href="javascript:void(0);" data-toggle="modal"
						 data-target="#sunscreen-modal">Administration
							of Medication</a></li>

					<li><a ng-click="incidentReportModal()" data-toggle="modal" href="javascript:void(0);" data-target="#other-task-modal">Child's
							Incident Report</a></li>

					<li><a ng-click="otherTaskModal(16)" data-toggle="modal" href="javascript:void(0);" data-target="#other-task-modal">Other
							Task</a></li>


					<li><a href="javascript:void(0);" ng-click="setType(2);">Today</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div class="attTopWrap">
				<div class="attHeader">

					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateM}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setTimeM('01')" href="javascript:void(0);">January</a>
							</li>
							<li><a ng-click="setTimeM('02')" href="javascript:void(0);">February</a>
							</li>
							<li><a ng-click="setTimeM('03')" href="javascript:void(0);">March</a>
							</li>
							<li><a ng-click="setTimeM('04')" href="javascript:void(0);">April</a>
							</li>
							<li><a ng-click="setTimeM('05')" href="javascript:void(0);">May</a>
							</li>
							<li><a ng-click="setTimeM('06')" href="javascript:void(0);">June</a>
							</li>
							<li><a ng-click="setTimeM('07')" href="javascript:void(0);">July</a>
							</li>
							<li><a ng-click="setTimeM('08')" href="javascript:void(0);">August</a>
							</li>
							<li><a ng-click="setTimeM('09')" href="javascript:void(0);">September</a>
							</li>
							<li><a ng-click="setTimeM('10')" href="javascript:void(0);">October</a>
							</li>
							<li><a ng-click="setTimeM('11')" href="javascript:void(0);">November</a>
							</li>
							<li><a ng-click="setTimeM('12')" href="javascript:void(0);">December</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateY}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="obj in yearList"><a ng-click="setTimeY(obj)" href="javascript:void(0);">{{obj}}</a></li>
						</ul>
					</div>
				</div>
				<!--***********************
                        			******** Week Select ******
                       			 *************************-->
				<div class="attWeekSlide">
					<div class="slideLeft" style="left: -12px;">
						<i class="material-icons" style="cursor: pointer;" ng-click="setType(1);">chevron_left</i>
					</div>
					<div class="slideRight" style="right: -12px;">
						<i class="material-icons" style="cursor: pointer;" ng-hide="iconShow" ng-click="setType(3);">chevron_right</i>
					</div>
					<div class="attTable weekWrap">
						<div class="attCol day-of-week current att-col-7" ng-repeat="week in page.weekDays ">
							<span class="event">{{week.event}}</span> <span class="date" style="cursor: pointer;" ng-click="toThisDay(week)">
								{{week.day}} <span class="datePoint red"></span>
							</span> <span class="week">{{$index | weekStr}}</span> <span class="circle" ng-if="week.today"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Roster View-->
	<div class="row" ng-if="headtype=='rosterList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<!--center-->
			<button ng-if="(currentUser.roleInfoVoList|haveRole:'10')" type="button" class="btn btn-default" data-backdrop="static"
			 data-toggle="modal" ng-click="todayList();">Today</button>
			<div class="btn-group" ng-if="!(currentUser.roleInfoVoList|haveRole:'10')">
				<button type="button" class="btn btn-default" data-toggle="modal" ng-click="todayList();">Today</button>
				<button ng-hide="rosteringHide" type="button" class="btn btn-default dropdown-toggle my-toggle" data-toggle="dropdown"
				 aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#/shiftManagement" ng-if="(currentUser.roleInfoVoList|haveRole:'0')">Shift
							Management</a></li>
					<li role="separator" class="divider" ng-if="(currentUser.roleInfoVoList|haveRole:'0')"></li>
					<li class="disabled" ng-if="!(currentUser.roleInfoVoList|haveRole:'10')"><a href="">Leave Management</a></li>
					<li ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')"><a href="#/leaveAbsence">Absence From Work Register</a></li>
					<li><a href="#/staffLeave" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')">Leave
							Management</a></li>
					<li ng-if="!(currentUser.roleInfoVoList|haveRole:'10')"><a href="#/myLeave">My Leave</a></li>
					<li ng-if="!(currentUser.roleInfoVoList|haveRole:'10')" role="separator" class="divider"></li>
					<li class="disabled" ng-if="currentUser.roleInfoVoList|haveRole:'0;1;5'"><a href="">Closure Periods</a></li>
					<li ng-click="openClosurePeriod(null,true)" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')"><a style="cursor: pointer;">Add
							Closure Period</a>
					<li ng-if="!(currentUser.roleInfoVoList|haveRole:'10')" role="separator" class="divider"></li>
					<li class="disabled" ng-if="currentUser.roleInfoVoList|haveRole:'0;1;5'"><a href="">Roster Management</a></li>
					<li ng-click="setRosterStatu(0)" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5') && rosterPageInfo.rosterInfo.state==0">
						<a style="cursor: pointer;">Save Roster as Draft</a>
					</li>
					<li ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5') && rosterPageInfo.rosterInfo.templateFlag == 0">
						<a style="cursor: pointer;" data-toggle="modal" ng-click="saveAsTemplate(0)" data-target="#save-roster-template-modal">Save
							Roster as
							Template</a>
					</li>
					<li ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')  && rosterPageInfo.rosterInfo.templateFlag == 1">
						<a style="cursor: pointer;" data-toggle="modal" ng-click="saveAsTemplate(1)" data-target="#save-roster-template-modal">Delete
							Roster
							Template</a>
					</li>
					<li><a style="cursor: pointer;" data-toggle="modal" ng-click="selectTemplate()" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')">Select
							a
							Template</a></li>
					<li ng-click="setRosterStatu(1,'Submit Roster?')" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5') && (rosterPageInfo.rosterInfo.state==0 || rosterPageInfo.rosterInfo.state==1 )">
						<a style="cursor: pointer;" data-toggle="modal" data-target="#submit-roster-modal">Submit Roster</a>
					</li>
					<li ng-click="setRosterStatu(2,'Approve Roster?')" ng-if="(currentUser.roleInfoVoList|haveRole:'0')"><a style="cursor: pointer;">Approve
							Roster</a></li>
					<li role="separator" class="divider" ng-if="currentUser.roleInfoVoList|haveRole:'0;1;5'"></li>
					<li><a data-toggle="modal" style="cursor: pointer;" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')&&!centreAndCasual"
						 ng-click="staffSignin()">Sign In Staff</a></li>
					<li ng-if="!(currentUser.roleInfoVoList|haveRole:'10')" ng-click="openPayroll()"><a a href="">Payroll</a>
					</li>
					<li><a style="cursor: pointer;" data-toggle="modal" ng-click="staffExport()" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')">Export
							Sign In Record</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div class="attTopWrap">
				<!--***********************
                       		 ******** Month Select *****
                        		*************************-->
				<div class="attHeader">

					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateM}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setTimeM('01')" href="javascript:void(0);">January</a>
							</li>
							<li><a ng-click="setTimeM('02')" href="javascript:void(0);">February</a>
							</li>
							<li><a ng-click="setTimeM('03')" href="javascript:void(0);">March</a>
							</li>
							<li><a ng-click="setTimeM('04')" href="javascript:void(0);">April</a>
							</li>
							<li><a ng-click="setTimeM('05')" href="javascript:void(0);">May</a>
							</li>
							<li><a ng-click="setTimeM('06')" href="javascript:void(0);">June</a>
							</li>
							<li><a ng-click="setTimeM('07')" href="javascript:void(0);">July</a>
							</li>
							<li><a ng-click="setTimeM('08')" href="javascript:void(0);">August</a>
							</li>
							<li><a ng-click="setTimeM('09')" href="javascript:void(0);">September</a>
							</li>
							<li><a ng-click="setTimeM('10')" href="javascript:void(0);">October</a>
							</li>
							<li><a ng-click="setTimeM('11')" href="javascript:void(0);">November</a>
							</li>
							<li><a ng-click="setTimeM('12')" href="javascript:void(0);">December</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateY}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="obj in yearList"><a ng-click="setTimeY(obj)" href="javascript:void(0);">{{obj}}</a></li>
						</ul>
					</div>
				</div>
				<!--***********************
		                        ******** Week Select ******
		                        *************************-->
				<div class="attWeekSlide">
					<div class="slideLeft" style="left: -12px;">
						<i class="material-icons" ng-click="setType(1);">chevron_left</i>
					</div>
					<div class="slideRight" style="right: -12px;">
						<i class="material-icons" ng-click="setType(3);">chevron_right</i>
					</div>
					<div class="attTable weekWrap">
						<div class="attRow attRowTop">
							<div class="attCol att-col-8"></div>
							<div class="attCol day-of-week current att-col-8" ng-repeat="week in page.weekDays">
								<!-- <span class="event">
								{{week.event | getFirstEvent}}
								<i ng-if="(week.event.indexOf('</br>')!=-1)" class="material-icons event-more" data-toggle="tooltip-cus" data-placement="bottom" data-html="true" tooltip title="{{week.event}}">arrow_drop_down_circle</i>
							    </span> -->
								<span class="date"> {{week.day}} <span class="datePoint red"></span>
								</span> <span class="week">{{$index | weekStr}}</span> <span class="circle" ng-if="week.today"></span>
							</div>
						</div>
						<div class="attRow attRowTop">
							<div class="attCol att-col-8"></div>
							<div class="attCol day-of-week att-col-8" ng-repeat="closurePeriodVo in rosterPageInfo.closurePeriodsVos">
								<div class="closure-period-edit text-center" ng-repeat="item in closurePeriodVo.closurePeriods">
									<label class="label label-info" ng-click="openClosurePeriod(item,false)">
										{{item.name}} <span><i class="fa fa-pencil"></i></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--shiftList View-->
	<div class="row" ng-if="headtype=='shiftList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<button class="btn btn-default shiftAdd" ng-click="addShift()" ng-show="operateFlag">Add New Shift</button>
			<button class="btn btn-default" ng-click="saveAllShift()" ng-show="operateFlag">Save Shift</button>
		</div>
	</div>

	<!--leave list-->
	<div class="row" ng-if="headtype=='leaveList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<button class="btn btn-default" data-toggle="modal" data-target="#staff-leave-modal" ng-click="addLeaveModal()">Add
				Leave</button>
		</div>
	</div>

	<!--leave list-->
	<div class="row" ng-if="headtype=='leaveAbenceList'">
		<div class="container-fluid">
			<h1 class="module-title">{{headName}}</h1>
			<a href="javascript:void(0);" ng-click="addColumn()" class="btn btn-default">Add More Column <i class="fa fa-plus"
				 aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<!--my leave list-->
	<div class="row" ng-if="headtype=='myleaveList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<button class="btn btn-default" data-toggle="modal" data-target="#apply-leave-modal" ng-click="applyLeaveModal(item)">Apply
				For Leave</button>
		</div>
	</div>

	<!--attendanceList-->
	<div class="row" ng-if="headtype=='visitorList'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>
			<div class="btn-group">

				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#sign-in-child-modal" ng-click="setType(2);">Today</button>
				<button type="button" class="btn btn-default dropdown-toggle my-toggle" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a style="cursor: pointer;" data-toggle="modal" ng-click="exportExcel()">Export</a></li>
				</ul>
			</div>
		</div>

		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div class="attTopWrap">
				<!--***********************
			          ******** Month Select *****
			          *************************-->
				<div class="attHeader">

					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateM}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setTimeM('01')" href="javascript:void(0);">January</a>
							</li>
							<li><a ng-click="setTimeM('02')" href="javascript:void(0);">February</a>
							</li>
							<li><a ng-click="setTimeM('03')" href="javascript:void(0);">March</a>
							</li>
							<li><a ng-click="setTimeM('04')" href="javascript:void(0);">April</a>
							</li>
							<li><a ng-click="setTimeM('05')" href="javascript:void(0);">May</a>
							</li>
							<li><a ng-click="setTimeM('06')" href="javascript:void(0);">June</a>
							</li>
							<li><a ng-click="setTimeM('07')" href="javascript:void(0);">July</a>
							</li>
							<li><a ng-click="setTimeM('08')" href="javascript:void(0);">August</a>
							</li>
							<li><a ng-click="setTimeM('09')" href="javascript:void(0);">September</a>
							</li>
							<li><a ng-click="setTimeM('10')" href="javascript:void(0);">October</a>
							</li>
							<li><a ng-click="setTimeM('11')" href="javascript:void(0);">November</a>
							</li>
							<li><a ng-click="setTimeM('12')" href="javascript:void(0);">December</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateY}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="obj in yearList"><a ng-click="setTimeY(obj)" href="javascript:void(0);">{{obj}}</a></li>
						</ul>
					</div>
					<!-- <button class="btn btn-primary" ng-click="openEditSign()">editSign</button> -->
				</div>

				<!--***********************
			            ******** Week Select ******
			            *************************-->
				<div class="attWeekSlide">
					<div class="slideLeft" style="left: -12px;">
						<i class="material-icons" ng-click="setType(1);">chevron_left</i>
					</div>
					<div class="slideRight" style="right: -12px;">
						<i class="material-icons" ng-click="setType(3);">chevron_right</i>
					</div>
					<div class="attTable weekWrap">

						<div class="attCol day-of-week current att-col-7" ng-repeat="week in page.weekDays ">
							<!-- <span class="event"  >{{week.event | getFirstEvent}}<i ng-if="(week.event.indexOf('</br>')!=-1)" class="material-icons event-more" data-toggle="tooltip-cus" data-placement="bottom" data-html="true" tooltip title="{{week.event}}">arrow_drop_down_circle</i></span> -->
							<span class="date">{{week.day}} <span class="datePoint red"></span>
							</span> <span class="week">{{$index | weekStr}}</span> <span class="circle" ng-if="week.today"></span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!--calendar-->
	<div class="row" ng-if="headtype=='calendar'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>

			<button type="button" class="btn btn-default" data-backdrop="static" data-toggle="modal" ng-click="setType(2);"
			 data-target="#edit-post-modal">Today</button>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div class="attTopWrap">
				<!--***********************
			      ******** Month Select *****
			      *************************-->
				<div class="attHeader">

					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | changeDateM}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setTimeM('01')" href="javascript:void(0);">January</a>
							</li>
							<li><a ng-click="setTimeM('02')" href="javascript:void(0);">February</a>
							</li>
							<li><a ng-click="setTimeM('03')" href="javascript:void(0);">March</a>
							</li>
							<li><a ng-click="setTimeM('04')" href="javascript:void(0);">April</a>
							</li>
							<li><a ng-click="setTimeM('05')" href="javascript:void(0);">May</a>
							</li>
							<li><a ng-click="setTimeM('06')" href="javascript:void(0);">June</a>
							</li>
							<li><a ng-click="setTimeM('07')" href="javascript:void(0);">July</a>
							</li>
							<li><a ng-click="setTimeM('08')" href="javascript:void(0);">August</a>
							</li>
							<li><a ng-click="setTimeM('09')" href="javascript:void(0);">September</a>
							</li>
							<li><a ng-click="setTimeM('10')" href="javascript:void(0);">October</a>
							</li>
							<li><a ng-click="setTimeM('11')" href="javascript:void(0);">November</a>
							</li>
							<li><a ng-click="setTimeM('12')" href="javascript:void(0);">December</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | changeDateY}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="obj in yearList"><a ng-click="setTimeY(obj)" href="javascript:void(0);">{{obj}}</a></li>
						</ul>
					</div>
				</div>

				<!--***********************
			        ******** Week Select ******
			        *************************-->
				<div class="attWeekSlide">
					<div class="slideLeft" style="left: -12px;">
						<i class="material-icons" ng-click="setType(1);">chevron_left</i>
					</div>
					<div class="slideRight" style="right: -12px;">
						<i class="material-icons" ng-click="setType(3);">chevron_right</i>
					</div>
					<div class="attTable weekWrap">
						<div class="attCol day-of-week current att-col-7" ng-repeat="week in page.weekDays ">
							<!-- <span class="event"  >{{week.event | getFirstEvent}}<i ng-if="(week.event.indexOf('</br>')!=-1)" class="material-icons event-more" data-toggle="tooltip-cus" data-placement="bottom" data-html="true" tooltip title="{{week.event}}">arrow_drop_down_circle</i></span> -->
							<span class="date">{{week.day}} <span class="datePoint red"></span>
							</span> <span class="week">{{$index | weekStr}}</span> <span class="circle" ng-if="week.today"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--meeting-->
	<div class="row" ng-if="headtype=='meeting'">
		<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
			<h1 class="module-title">{{headName}}</h1>

			<div class="btn-group">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#sign-in-child-modal" ng-click="setType(2);">Today</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					<span class="caret"></span> <span class="sr-only">Toggle
						Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li ng-if="(menus |haveMenu:'meeting_agenda')"><a href="#/meeting_agenda">Meeting Agenda</a></li>
					<li ng-if="(menus |haveMenu:'meeting_template')"><a href="#/meeting_template">Meeting Template</a></li>
					<li ng-if="(menus |haveMenu:'meeting_manager')"><a href="#/meeting_manager">Meeting Management</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
			<div class="attTopWrap">
				<!--***********************
                        ******** Month Select *****
                        *************************-->
				<div class="attHeader">

					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateM}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="setTimeM('01')" href="javascript:void(0);">January</a>
							</li>
							<li><a ng-click="setTimeM('02')" href="javascript:void(0);">February</a>
							</li>
							<li><a ng-click="setTimeM('03')" href="javascript:void(0);">March</a>
							</li>
							<li><a ng-click="setTimeM('04')" href="javascript:void(0);">April</a>
							</li>
							<li><a ng-click="setTimeM('05')" href="javascript:void(0);">May</a>
							</li>
							<li><a ng-click="setTimeM('06')" href="javascript:void(0);">June</a>
							</li>
							<li><a ng-click="setTimeM('07')" href="javascript:void(0);">July</a>
							</li>
							<li><a ng-click="setTimeM('08')" href="javascript:void(0);">August</a>
							</li>
							<li><a ng-click="setTimeM('09')" href="javascript:void(0);">September</a>
							</li>
							<li><a ng-click="setTimeM('10')" href="javascript:void(0);">October</a>
							</li>
							<li><a ng-click="setTimeM('11')" href="javascript:void(0);">November</a>
							</li>
							<li><a ng-click="setTimeM('12')" href="javascript:void(0);">December</a>
							</li>
						</ul>
					</div>
					<div class="dropdown">
						<button class="no-style dropdown-toggle" type="button" data-toggle="dropdown">
							{{page.condition.time | attendanceDateY}} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-repeat="obj in yearList"><a ng-click="setTimeY(obj)" href="javascript:void(0);">{{obj}}</a></li>
						</ul>
					</div>
				</div>

				<!--***********************
                        ******** Week Select ******
                        *************************-->
				<div class="attWeekSlide">
					<div class="slideLeft" style="left: -12px;">
						<i class="material-icons" style="cursor: pointer;" ng-click="setType(1);">chevron_left</i>
					</div>
					<div class="slideRight" style="right: -12px;">
						<i class="material-icons" style="cursor: pointer;" ng-hide="iconShow" ng-click="setType(3);">chevron_right</i>
					</div>
					<div class="attTable weekWrap">
						<div class="attCol day-of-week current att-col-7" ng-repeat="week in page.weekDays ">
							<span class="event">{{week.event}}</span> <span class="date" style="cursor: pointer;" ng-click="toThisDay(week)">
								{{week.day}} <span class="datePoint red"></span>
							</span> <span class="week">{{$index | weekStr}}</span> <span class="circle" ng-if="week.today"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>