<div class="pageWrap">
	<nav class="navbar navbar-fixed-top navigation-top red">
		<div class="container-fluid">
			<button class="pushButton" ng-click="pushButton()">
				<i class="fa fa-filter" aria-hidden="true"></i>
			</button>
			<div class="center-info pull-left">Kindikids Early Learning Centres</div>
			<button type="button" id='menuButton' class="navbar-toggle pushMainMenuButton" ng-click="pushMainMenuButton()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="menu-main" id="top-menu" ng-init="initMenus()">
				<div class="sidebar-main red">
					<div class="logo-kk hidden-xs">K</div>
					<div class="menu-top visible-xs">
						<div class="menu-top-title">
							Menu
						</div>
						<button class="closeMainMenuButton" ng-click="closeMainMenuButton()">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>
					<ul class="side-menu-main">
						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="(menus |haveMenu:'news_list') && !currentUser.futureEnrolled" class="icon-menu-newsfeed sub-click"
							    initsubclick></a>
							<a href="javascript:void(0);" ng-if="!((menus |haveMenu:'news_list') && !currentUser.futureEnrolled)" class="icon-menu-newsfeed sub-click menu-disabled"></a>
							<ul class="sub-popup">
								<li>
									<a href="#/news_list">Newsfeed</a>
								</li>
							</ul>
						</li>
						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="(menus |haveMenu:'task-view') && !currentUser.futureEnrolled" class="icon-menu-tasks sub-click"
							    initsubclick></a>
							<a href="javascript:void(0);" ng-if="!((menus |haveMenu:'task-view') && !currentUser.futureEnrolled)" class="icon-menu-tasks sub-click menu-disabled"></a>
							<ul class="sub-popup">
								<li>
									<a href="#/task-view">Tasks</a>
								</li>
							</ul>
						</li>
						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="(menus |haveMenu:'message_list') && !currentUser.futureEnrolled" class="icon-menu-messaging sub-click"
							    initsubclick>
								<span class="badge" ng-hide="unreadCount==0">{{unreadCount}}</span>
							</a>
							<a href="javascript:void(0);" ng-if="!((menus |haveMenu:'message_list') && !currentUser.futureEnrolled)" class="icon-menu-messaging sub-click menu-disabled">
							</a>

							<ul class="sub-popup">
								<li>
									<a href="#/message_list">Messaging</a>
								</li>
							</ul>
						</li>

						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="((menus |haveMenu:'waiting_list') || (menus |haveMenu:'rostering_staff_list') || (menus |haveMenu:'attendance_visitors')) && !currentUser.futureEnrolled"
							    class="icon-menu-rostering sub-click" initsubclick></a>
							<a href="javascript:void(0);" ng-if="!(((menus |haveMenu:'waiting_list') || (menus |haveMenu:'rostering_staff_list') || (menus |haveMenu:'attendance_visitors')) && !currentUser.futureEnrolled)"
							    class="icon-menu-rostering sub-click menu-disabled"></a>
							<ul class="sub-popup">
								<li ng-if="(menus |haveMenu:'waiting_list')">
									<a href="#/attendance_children">Attendance</a>
								</li>
								<li ng-if="(menus |haveMenu:'rostering_staff_list')">
									<a href="#/rosteringStaffList">Rostering</a>
								</li>
								<li ng-if="(menus |haveMenu:'attendance_visitors')">
									<a href="#/attendance_visitors">Visitors</a>
								</li>
							</ul>
						</li>

						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="!currentUser.futureEnrolled" class="icon-menu-calendar sub-click" initsubclick></a>
							<a href="javascript:void(0);" ng-if="currentUser.futureEnrolled" class="icon-menu-calendar sub-click menu-disabled"></a>
							<ul class="sub-popup">
								<li ng-if="(menus |haveMenu:'calendar_view')">
									<a href="#/calendar_view">Calendar</a>
								</li>
								<li>
									<a href="#/event_list">Events</a>
								</li>
								<li ng-if="(menus |haveMenu:'meeting_manager')">
									<a href="#/meeting_manager">Meeting Minutes</a>
								</li>
								<li>
									<a href="#/gallery_list">Photo Gallery</a>
								</li>
							</ul>
						</li>

						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" class="icon-menu-everyone sub-click" initsubclick></a>
							<ul class="sub-popup">
								<li ng-if="(menus |haveMenu:'staff_list')">
									<a href="#/user_staff_list/*">Staff</a>
								</li>
								<li ng-if="(menus |haveMenu:'family_list')">
									<a href="#/user_family_list/*">Families</a>
								</li>
							</ul>
						</li>

						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="(menus |haveMenu:'dashboard') && !currentUser.futureEnrolled" class="icon-menu-reporting sub-click" initsubclick></a>
							<a href="javascript:void(0);" ng-if="!((menus |haveMenu:'dashboard') && !currentUser.futureEnrolled)" class="icon-menu-reporting sub-click menu-disabled"></a>
							<ul class="sub-popup">
								<li>
									<a href="#/dashboard">Report</a>
								</li>
							</ul>
						</li>
						<li class="side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" ng-if="(menus |haveMenu:'waiting') && !currentUser.futureEnrolled" class="icon-menu-waiting sub-click" initsubclick>
								<span class="badge">{{countResult.counts[0]}}</span>
							</a>
							<a href="javascript:void(0);" ng-if="!((menus |haveMenu:'waiting') && !currentUser.futureEnrolled)" class="icon-menu-waiting sub-click menu-disabled">
							</a>
							<ul class="sub-popup">
								<li>
									<a href="#/application_list">Position Manager
									</a>
								</li>
							</ul>
						</li>

						<li class="last side-item" ng-click='hideMenu()'>
							<a href="javascript:void(0);" class="icon-menu-settings sub-click" initsubclick></a>
							<ul class="sub-popup">
								<li ng-if="(menus |haveMenu:'center_list')">
									<a href="#/center_list">Centres</a>
								</li>
								<li ng-if="(menus |haveMenu:'menu_list')&&(currentUser.roleInfoVoList|haveRole:'0;1;5')">
									<a href="#/menu_list">Nutritional Menus</a>
								</li>
								<li ng-if="(menus |haveMenu:'task_setting')">
									<a href="#/task_setting">Task Builder</a>
								</li>
								<li ng-if="(menus |haveMenu:'policy_list')">
									<a href="#/policy_list">Policies & Other</a>
								</li>
								<li ng-if="(menus |haveMenu:'profile_list')">
									<a href="#/profile_list/1">Induction</a>
								</li>
								<li ng-if="(menus |haveMenu:'profile_list')">
									<a href="#/profile_list/0">Orientation</a>
								</li>
								<li>
									<a href="javascript:void(0);" ng-click="logout();">Log out</a>
								</li>
							</ul>
						</li>
					</ul>

					<div class="overlap-for-menu" initoverlapmenu></div>
				</div>
				<!--.sidebar-->
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="!(currentUser.roleInfoVoList|haveRole:'10')" style="cursor: pointer;">
						<a ng-click='openProfile(1,currentUser.userInfo.id)' href="javascript:void(0);">{{currentUser.userInfo. firstName}} {{currentUser.userInfo. middleName}} {{currentUser.userInfo. lastName}}</a>
					</li>
					<li ng-if="(currentUser.roleInfoVoList|haveRole:'10')" style="cursor: pointer;">
						<a ng-click='openProfile(2,currentUser.userInfo.familyId)' href="javascript:void(0);">{{currentUser.userInfo. firstName}} {{currentUser.userInfo. middleName}} {{currentUser.userInfo. lastName}}</a>
					</li>
					<li class="hidden-xs">
						<a href="javascript:void(0);" ng-click="logout();">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div ui-view>


		<!--主内容-->
	</div>
</div>