<div class="modal-header">  
  <h2 class="modal-title">Terms and Conditions</h2>
</div>
<div class="modal-body">
        <h2>OVERVIEW</h2>
<div>
<p>This Software Program is owned and operated by KindiView Pty Ltd. Any use of the words "We" "Us" "Our" and terms of the like are references to KindiView Pty Ltd. And references to "You" "Your" and terms of the like are references to you, the person accessing this Software Program.</p>
<p>KindiView Pty Ltd offers the Software Program to You conditional upon your acceptance of all terms, conditions, policies and notices herein.</p>
<p>By opening our Program/Software/Product/Service You engage in Our "Service" and agree to be bound by the following terms and conditions ("Terms of Service", "Terms"), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the Program, including without limitation users who are browsers, vendors, customers, merchants, parents, staff, and/ or contributors of content.</p>
<p>Please read these Terms of Service carefully before accessing or using Our Service. By accessing or using any part of the Service, You agree to be bound by these Terms of Service. If You do not agree to all the terms and conditions of this agreement, then You may not access the Software Program or use any Services and should delete its content immediately. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>
<p>You can review the most current version of the Terms of Service at any time on Our website. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to Our website. It is Your responsibility to check this page periodically for changes. Your continued use of or access to the Program / Product / Service following the posting of any changes constitutes acceptance of those changes.</p>
<p>You agree not to and not to allow anyone else to reproduce, duplicate, copy, sell, resell or exploit any portion of the Program / Product / Service/ Website through which the service is provided, without express written permission by Us.</p>
</div>

<h2>ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION</h2>
<div>
<p>We are not responsible if information made available on this Program is not accurate, complete or current. The material on this Program is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this Program is at Your own risk.</p>
<p>This Program may contain certain historical information. Historical information, necessarily, is not current and is provided for Your reference only. We reserve the right to modify the contents of this Program at any time, but We have no obligation to update any information in Our Program . You agree that it is Your responsibility to monitor changes to Our Program.</p>
</div>

<h2>ABOUT SOFTWARE IN OUR SERVICES AND LICENCE CONDITIONS</h2>
<div>
<p>When a Service requires or includes downloadable software You may only access the software via a mobile device supported by the software or via a web browser. This software may update automatically on Your device once a new version or feature is available. If Your device does not update automatically it is the Your responsibility to ensure the latest version of the software has been downloaded.</p>
<p>KindiView grants to Parents and Staff a non-transferrable and non-exclusive right to use our Program. This license is for the sole purpose of enabling You to use and enjoy the benefit of the Services as provided by KindiView, in the manner permitted by these terms. You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may You reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions.</p>
<p>You may not sublicense, lease, rent or lend the Service/Software/Product or otherwise transfer your rights under this agreement.</p>
<p>You may not retain any copies of any or all of the Service/Software/Product or any related content thereto.</p>
<p>You agree to use your best endeavours and to take all reasonable steps to safeguard the Software/Service/Product to ensure that no unauthorised access, copying or distribution may take place.</p>
</div>

<h2>SUPPORT SERVICES</h2>
<div>
<p>Provided You comply with Your obligations under these Terms of Service KindiView agrees to provide support services to You. Where KindiView is required to provide support services to You these support services will take the form of either telephone advice or via appointment at a time agreeable to both parties.</p>
<p>Support Services do not include (1) installation of software, (2) correction of errors or defects caused by you or (3) rectification of errors arising from faults in the computer hardware on which the software is running or any device connected to that computer hardware,</p>
</div>

<h2>MODIFICATIONS TO THE SERVICE</h2>
<div>
<p>We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.</p>
<p>We shall not be liable to You or to any third-party for any modification, price change, suspension or discontinuance of the Service.</p>
</div>

<h2>THIRD-PARTY LINKS</h2>
<div>
<p>Certain content and services available via our Service may include materials from third-parties.</p>
<p>Third-party links on this Program/Service/Product/Website may direct You to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties.</p>
<p>We are not liable and You hereby indemnify us from any and all any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure You understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.</p>
</div>

<h2>USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</h2>
<div>
<p>If, at our request, You send certain specific submissions (e.g. feedback) or without a request from us You send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), You agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.</p>
<p>We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</p>	
<p>You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libellous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.</p>
</div>

<h2>CONFIDENTIALITY PRIVACY AND DISCLOSURE OF YOUR PERSONAL INFORMATION</h2>
<div>
<p>You understand, acknowledge and agree that the information and content you enter into the Software/Product/Service may be transferred unencrypted and involve</p>
<p>a.	transmissions over various networks; and</p>	
<p>b.	changes to conform and adapt to technical requirements of connecting networks or devices.</p>
<p>Credit card information is always encrypted during transfer over networks.</p>
<p>You further understand, acknowledge and agree that the information and content you enter into the Software/Product/Service may be reviewed for the purposes of provided data conversion or support services under this agreement. KindiView undertakes to exercise the utmost good faith in maintaining all such information as confidential and will also comply with the requirements of the Privacy Act 1988 (Cth) to the extent that the Act applies to any such information and will only use that information for the purposes of this agreement.</p>
<p>In order to deliver the Service required by you, we may disclose your personal information to organisations outside of KindiView. Your personal information is only disclosed to these entities only in relation to us providing our Service to you. KindiView takes reasonable steps to ensure that these entities are bound by confidentiality and privacy obligations in relation to the protection of your personal information.</p>
<p>Our privacy policy (found on our website) explains how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that KindiView can use such data in accordance with our privacy policy.</p>
</div>

<h2>ERRORS, INACCURACIES AND OMISSIONS</h2>
<div>
<p>Occasionally there may be information on our Program/Service/Product/Website that contains typographical errors, inaccuracies or omissions. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information at any time without prior notice.</p>
<p>We undertake no obligation to update, amend or clarify information in the Service or on any related website except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.</p>	
</div>

<h2>PROHIBITED USES</h2>
<div>
<p>In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using the Program/Service/Product/Website or its content:</p>
<p>a.	for any unlawful purpose;</p>
<p>b.	to solicit others to perform or participate in any unlawful acts;</p>
<p>c.	to violate any international, federal or state regulations, rules, laws, or local ordinances;</p>	
<p>d.	to infringe upon or violate our intellectual property rights or the intellectual property rights of others;</p>
<p>e.	to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability;</p>	
<p>f.	to submit false or misleading information;</p>
<p>g.	to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the Service or of any related website, other websites, or the Internet;</p>	
<p>h.	to collect or track the personal information of others;</p>
<p>i.	to spam, phish, pharm, pretext, spider, crawl, or scrape;</p>	
<p>j.	for any obscene or immoral purpose; or</p>
<p>k.	to interfere with or circumvent the security features of the Service or any related website, other websites, or the Internet.</p>	
<p>We reserve the right to terminate your use of the Service or any related website immediately for violating any of the prohibited uses.</p>
</div>

<h2>DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</h2>
<div>
<p>We do not guarantee, represent or warrant that your use of our service will be uninterrupted, timely, secure or error-free or will it operate on your computer system or mobile device.</p>
<p>We do not guarantee, represent or warrant that the results that may be obtained from the use of the service will be accurate or reliable.</p>	
<p>You acknowledge and agree that from time to time we may remove the service for indefinite periods of time or cancel the service at any time, without notice to you.</p>
<p>You expressly acknowledge and agree that your use of, or inability to use, the service is at your sole risk. The service and services delivered to you through the service are (except as expressly stated by us) provided 'as is' and 'as available' for your use, without any representation, warranties or conditions of any kind, either express or implied, including all implied warranties or conditions of merchantability, merchantable quality, fitness for a particular purpose, durability, title, and non-infringement.</p>
<p>In no case shall KindiView , our directors, officers, employees, affiliates, agents, contractors, suppliers, service providers or licensors be liable for any injury, loss, claim, or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including, without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any similar damages, whether based in contract, tort (including negligence), strict liability or otherwise, arising from your use of any of the service or any products procured using the service, or for any other claim related in any way to your use of the service or any product, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content (or product) posted, transmitted, or otherwise made available via the service, even if advised of their possibility.</p>
<p>Because some states or jurisdictions do not allow the exclusion or the limitation of liability for consequential or incidental damages, in such states or jurisdictions, our liability shall be limited to the minimum extent permitted by law.</p>
</div>

<h2>INDEMNIFICATION</h2>
<div>
<p>You agree to indemnify, defend and hold harmless KindiView and our subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable legal fees, made by you or any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.</p>	
</div>

<h2>TERMINATION</h2>
<div>
<p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes.</p>
<p>These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services in writing.</p>	
<p>If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due if any up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).</p>
</div>


<h2>GENERAL TERMS</h2>
<div>
<p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.</p>
<p>You acknowledge that You have conducted your own due diligence and selected the Service based upon your own skill and judgement and you have satisfied yourself as to the suitability of the Program/Service/Product/Website.</p>
<p>These Terms of Service are subject to change without notice. The current version is published on our website.</p>
<p>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision.</p>	
</div>

<h2>ENTIRE AGREEMENT</h2>
<div>
<p>These Terms of Service and any policies or operating rules posted by us on this Program/Service/Product/Website or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service).</p>
<p>Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.</p>
<p>This Terms of Service Agreement is governed by the laws of New South Wales, Australia and the jurisdiction of the Sydney Courts.</p>
</div>

<h2>SEVERABILITY</h2>
<div>
<p>In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.</p>
</div>

<h2>CHANGES TO TERMS OF SERVICE
</h2>
<div>
<p>You can review the most current version of the Terms of Service at any time at this page.</p>
<p>We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.</p>
</div>

<h2>CONTACT INFORMATION</h2>
<div>
<p>enquiries@kindiview.com.au</p>
</div>
</div>
<div class="modal-footer">
<div><button type="button" class="btn btn-general" ng-click="agreen();">I agree</button></div>
</div>  




