<!--HEADER SECTION-->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" align="center">
			<!-- HIDDEN PREHEADER TEXT -->

			<table border="0" cellpadding="0" cellspacing="0" width="500" class="wrapper">
				<!-- LOGO/PREHEADER TEXT -->
				<tr>
					<td style="padding: 12px 0px 0px;" class="logo" align="center">
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 23px 0 40px;">
							<tr style="padding: 30px 0;">
								<td bgcolor="#ffffff" width="100" align="center"><a href="${rootUrl}" target="_blank"> <img alt="Logo"
											src="https://s3-ap-southeast-2.amazonaws.com/email-message/kindikids/logo-2.png" style="display: block; font-family: Helvetica, Arial, sans-serif; width: 350px;" border="0">
								</a></td>
							</tr>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" width="45" class="wrapper" style="height: 5px; display: block; border-top: 5px solid #cdcdcd;"></table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<!-- CONTENT SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
	<tr>
		<td bgcolor="#ffffff" align="center" style="padding: 0px 15px 15px 15px;">
			<table border="0" cellpadding="0" cellspacing="0" width="500">
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 15px 0 50px;">
							<tr>
								<!-- COPY -->
								<td align="center" style="font-size: 27px; color: #333333; font-weight: 500; padding: 10px 0 20px 0px;">${title}</td>
							</tr>
							<tr>
								<td align="left" style="line-height: 31px; font-size: 16px; padding: 20px 0 0 0; color: #666666; text-align: left;">${content}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<!-- FOOTER SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;">
	<tr>
		<td bgcolor="#F7F8FA" align="center" style="padding: 0px 15px 15px 15px;">
			<table border="0" cellpadding="0" cellspacing="0" width="500">
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<!-- COPY -->
									<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top: 20px;">
										<tr>
											<td colspan="2" style="font-size: 12px; color: #868688; text-align: center; padding: 0 0 20px; line-height: 20px;">&#169; 2016 KindiView Pty Ltd. All rights reserved.</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>