<div class="main" ng-controller="taskSettingCtrl">
	<div ng-init="headtype='';headName='Task Builder'" ng-include="'head.html?res_v='+res_v"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
				<div class="menu-top visible-xs">
					<div class="menu-top-title">
						Filter
					</div>
					<button class="closeButton">
						<i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i>
					</button>
				</div>

				<div class="menu-block">
					<div class="title">Search Task</div>
					<div class="filter">
						<input type="text" ng-model="condition.keyWord" class="form-control" ng-keyup="enterSearch($event);">
					</div>
				</div>

			</div>
			<div class="filter-bottom" ng-click="closeButton();search()">
				Filter
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right">

				<div class="wrap-nofull center">
					<div class="row">

						<!--*******************
                    *******Task List*******
                    ********************-->

						<div class="col-md-6" ng-init="initTaskList()">
							<div class="task-overview-wrap">
								<div class="task-overview-inner" id="taskList">
									<div class="task-list-header">
										<button class="btn btn-general" ng-click="initTaskModel()">Create Task</button>
									</div>
									<!--.task-list-header-->

									<div class="task-list">

										<div class="task" do-active ng-repeat="task in taskList" ng-click="initTaskModel(task.id)">
											<span class="active-point">
												<i class="fa fa-circle" aria-hidden="true"></i>
											</span>
											<div class="task-name">
												<div>{{task.taskName}}</div>
											</div>
											<div class="date">{{task.createTime|date:'dd/MM/yyyy'}}</div>
											<div class="divider">
												<span></span>
											</div>
										</div>
										<!--.task-->

										<div class="pagination-container text-center">
											<nav aria-label="Page navigation">
												<pagination ng-change="changeTaskList(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize" total-items="condition.totalItems"
												 ng-model="condition.pageIndex" max-size="condition.maxSize" previous-text="&laquo;" next-text="&raquo;" class="pagination-sm"
												 boundary-links="false" rotate="false"></pagination>
											</nav>
										</div>

									</div>
									<!--.task-list-->
								</div>
								<!--.task-overview-inner-->
							</div>
							<!--.task-overview-wrap-->
						</div>

						<!--*******************
                    *******Task Setting****
                    ********************-->
						<div class="col-md-6" ng-init="initTaskModel();" id="myTask">
							<form task-form id="taskForm">
								<div class="task-setting-wrap">
									<div class="task-setting-inner">
										<div class="form-task form-horizontal">
											<div class="task-divider">
												<span class="title">Task Detail Setting - {{taskInfo.taskName}}</span>
												<div class="dropdown right">
													<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														<i class="fa fa-cog" aria-hidden="true"></i>
													</button>
													<ul class="dropdown-menu">
														<li>
															<a href="javascript:void(0);" ng-hide="taskInfo.statu==1" ng-click="saveTask()">Save</a>
														</li>
														<li>
															<a href="javascript:void(0);" ng-if="taskInfo.statu==1" ng-click="enableOrDisable(0)">Enable</a>
														</li>
														<li>
															<a href="javascript:void(0);" ng-if="taskInfo.statu==0" ng-click="enableOrDisable(1)">Disable</a>
														</li>
													</ul>
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-3 control-label">Task Name</label>
												<div class="col-lg-9">
													<input type="text" class="form-control" ng-disabled="taskInfo.statu==1" id="taskName" ng-model="taskInfo.taskName" name="taskName">
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-3 control-label">Task Category</label>
												<div class="col-lg-9">
													<select class="form-control" ng-disabled="taskInfo.statu==1" ng-change="categoryChange()" name="taskCategory" ng-model="taskInfo.taskCategory">
														<option value="0">Centre Tasks</option>
														<option value="1">Room Tasks</option>
														<option value="2">Children Tasks</option>
														<option value="3">Staff Tasks</option>
														<option value="4">Individual Tasks</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label">NQS</label>
												<div class="col-md-9">
													<div class="nqs-list tag-list">
														<a class="btn-icon {{nqs.version|nqsTipFilter:nqs.tag}}" ng-repeat="nqs in taskInfo.nqsList | orderBy:'version'" href="javascript:void(0);" tooltip data-toggle="tooltip"
														 title="{{nqs.content}}">{{nqs.version}}</a>
													</div>
													<button type="button" ng-hide='taskInfo.statu==1' class="btn btn-general pull-left" data-toggle="modal" ng-click="openNqs(taskInfo.nqsList,saveNqsResult)"
													 data-target="#nqs-modal">
														<i class="material-icons">more</i> Attach NQS
													</button>
												</div>
											</div>
											<div class="form-group" ng-hide="taskInfo.id == ''">
												<label class="col-lg-3 control-label">Delete pending tasks</label>
												<div class="col-lg-9">
													<div class="checkbox">
														<label>
															<input type="checkbox" ng-model="taskInfo.immediateEffect">
															<span class="cr">
																<i class="cr-icon fa fa-check"></i>
															</span>
														</label>
													</div>
												</div>
											</div>
											<!--******************************************* center satrt******************************************* -->
											<div class="centre-tasks task-category-block" ng-if="taskInfo.taskCategory==0">
												<h4 class="task-title">Centre Tasks Rules</h4>
												<div class="form-group">
													<label class="col-lg-3 control-label">Select Centre</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselectParent" ng-disabled="taskInfo.statu==1" name="selectObjId" ng-model="taskInfo.selectObjIdTMP"
															 select2-model="taskInfo.selectTaskVisibles" url="./task/getSelectList.do?category=0" task-select-ajax multiple="multiple"
															 style="width: 100%;">
															</select>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-lg-3 control-label">Responsible People</label>
													<div class="col-lg-9">
														<div class="radio">
															<label>
																<input type="radio" name="cpRadios" ng-click='changeShift()' ng-disabled="taskInfo.statu==1" id="cpRadios_1" ng-model="taskInfo.shiftFlag"
																 value="true">
																<span class="cr">
																	<i class="cr-icon fa fa-circle"></i>
																</span>
																Educators' Shift X
															</label>
														</div>
														<div class="radio">
															<label>
																<input type="radio" name="cpRadios" ng-disabled="taskInfo.statu==1" id="cpRadios_1" value="false" ng-model="taskInfo.shiftFlag">
																<span class="cr">
																	<i class="cr-icon fa fa-circle"></i>
																</span>
																Other
															</label>
														</div>
														<br>
													</div>
												</div>
												<div class="form-group">
													<div class="col-lg-3"></div>
													<div class="col-lg-9">
														<div class="function" ng-if="taskInfo.shiftFlag=='false'">
															<select class="form-control myselect" name="responsible" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.responsibleTaskVisibles"
															 url="./task/getResponsibleList.do?category=0" parent-node="taskInfo.selectTaskVisibles" task-select-ajax multiple="multiple"
															 ng-model="taskInfo.responsiblePeopleIdTMP" style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group" ng-if="taskInfo.shiftFlag=='false'">
													<label class="col-lg-3 control-label">Task Implementers</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselect" name="implementers" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.taskImplementersVisibles"
															 url="./task/getImplementersList.do?category=0" parent-node="taskInfo.selectTaskVisibles" task-select-ajax
															 multiple="multiple" ng-model="taskInfo.taskImplementersIdTMP" style="width: 100%;">
															</select>
														</div>
													</div>
												</div>
											</div>


											<!--******************************************* Room satrt******************************************* -->
											<div class="room-tasks task-category-block" ng-if="taskInfo.taskCategory==1">
												<h4 class="task-title">Room Tasks Rules</h4>
												<div class="form-group">
													<label class="col-lg-3 control-label">Select Room</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselectParent" ng-disabled="taskInfo.statu==1" ng-model="taskInfo.selectObjIdTMP" select2-model="taskInfo.selectTaskVisibles"
															 url="./task/getSelectList.do?category=1" task-select-ajax multiple="multiple" style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-lg-3 control-label">Responsible People</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselect" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.responsibleTaskVisibles" url="./task/getResponsibleList.do?category=1"
															 parent-node="taskInfo.selectTaskVisibles" task-select-ajax multiple="multiple" ng-model="taskInfo.responsiblePeopleIdTMP"
															 style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-lg-3 control-label">Task Implementers</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselect" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.taskImplementersVisibles" url="./task/getImplementersList.do?category=1"
															 parent-node="taskInfo.selectTaskVisibles" task-select-ajax multiple="multiple" ng-model="taskInfo.responsiblePeopleIdTMP"
															 style="width: 100%;">
															</select>
														</div>
													</div>
												</div>
											</div>


											<!--******************************************* child satrt******************************************* -->
											<div class="children-tasks task-category-block" ng-if="taskInfo.taskCategory==2">
												<h4 class="task-title">Children Tasks Rules</h4>
												<div class="form-group">
													<label class="col-lg-3 control-label">Select Children</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselectParent" ng-disabled="taskInfo.statu==1" ng-model="taskInfo.selectObjIdTMP" select2-model="taskInfo.selectTaskVisibles"
															 url="./task/getSelectList.do?category=2" task-select-ajax multiple="multiple" style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-lg-3 control-label">Responsible People</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselect" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.responsibleTaskVisibles" url="./task/getResponsibleList.do?category=2"
															 parent-node="taskInfo.selectTaskVisibles" task-select-ajax multiple="multiple" ng-model="taskInfo.responsiblePeopleIdTMP"
															 style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-lg-3 control-label">Task Implementers</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselect" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.taskImplementersVisibles" url="./task/getImplementersList.do?category=2"
															 parent-node="taskInfo.selectTaskVisibles" task-select-ajax multiple="multiple" ng-model="taskInfo.responsiblePeopleIdTMP"
															 style="width: 100%;">
															</select>
														</div>
													</div>
												</div>
											</div>


											<!--******************************************* staff satrt******************************************* -->
											<div class="staff-tasks task-category-block" ng-if="taskInfo.taskCategory==3 || taskInfo.taskCategory==4">
												<h4 class="task-title">Staff Tasks Rules</h4>
												<div class="form-group">
													<label class="col-lg-3 control-label">Select Staff</label>
													<div class="col-lg-9">
														<div class="function">
															<select class="form-control myselectParent" ng-disabled="taskInfo.statu==1" ng-model="taskInfo.selectObjIdTMP" select2-model="taskInfo.selectTaskVisibles"
															 url="./task/getSelectList.do?category=3" task-select-ajax multiple="multiple" ng-model="taskInfo.selectTaskVisibles"
															 style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group" ng-if="taskInfo.taskCategory==3">
													<label class="col-lg-3 control-label">Responsible People</label>
													<div class="col-lg-9">
														<div class="function">
															<select url="./task/getResponsibleList.do?category=3" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.responsibleTaskVisibles"
															 parent-node="taskInfo.selectTaskVisibles" class="form-control myselect" task-select-ajax multiple="multiple"
															 ng-model="taskInfo.responsiblePeopleIdTMP" style="width: 100%;">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group" ng-if="taskInfo.taskCategory==3">
													<label class="col-lg-3 control-label">Task Implementers</label>
													<div class="col-lg-9">
														<div class="function">
															<select url="./task/getImplementersList.do?category=3" ng-disabled="taskInfo.statu==1" select2-model="taskInfo.taskImplementersVisibles"
															 parent-node="taskInfo.selectTaskVisibles" class="form-control myselect" task-select-ajax multiple="multiple"
															 ng-model="taskInfo.responsiblePeopleIdTMP" style="width: 100%;">
															</select>
														</div>
													</div>
												</div>
											</div>


											<div class="task-setting-block frequency-block" ng-if="taskInfo.taskCategory>0||(taskInfo.taskCategory==0&&taskInfo.shiftFlag=='false')">
												<button type="button" ng-click="openFrequency();" class="btn-icon frequency" data-toggle="modal" data-target="#frequency-modal">
													<i class="fa fa-pencil" aria-hidden="true"></i>
												</button>
												<h4 class="task-title">Frequency</h4>
												<div class="form-group">
													<label class="col-lg-3 control-label">Frequency</label>
													<div class="col-lg-9">
														<p class="form-control-static">{{taskInfo.taskFrequencyInfo.repeatType|getRepeatMsg:taskInfo.taskFrequencyInfo.dayToStart:taskInfo.taskFrequencyInfo.dayToEnd}}</p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-lg-3 control-label">Start Date</label>
													<div class="col-lg-9">
														<p class="form-control-static">{{taskInfo.taskFrequencyInfo.startsDate}}</p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-lg-3 control-label">Duration for this task</label>
													<div class="col-lg-9">
														<p class="form-control-static">{{taskInfo.taskFrequencyInfo.endsDate}}</p>
													</div>
												</div>
											</div>


											<div class="task-setting-block">
												<h4 class="task-title">Workflow</h4>

												<label>
													Building the
													<a href="javascript:void(0);" ng-click="settingForm(taskInfo)">workflow</a> for this task
												</label>
											</div>

											<div class="task-setting-block" ng-if="taskInfo.taskCategory>0||(taskInfo.taskCategory==0&&taskInfo.shiftFlag=='false')">
												<h4 class="task-title">Follow-ups</h4>
												<div class="form-group">
													<label class="col-lg-3 control-label">Follow up for this task?</label>
													<div class="col-lg-9">
														<label class="switch-checkbox">
															<input type="checkbox" ng-disabled="taskInfo.statu==1" ng-click="addFlowUp(null,taskInfo.followFlag);" ng-model="taskInfo.followFlag"
															 ng-checked="taskInfo.followFlag" class="ios-switch green  bigswitch" />
															<div>
																<div></div>
															</div>
														</label>
													</div>
												</div>
											</div>
											<!-- 循环followup -->
											<div ng-repeat="follow in taskInfo.followUpInfos" repeat-done="repeatEvent(0)">
												<div class="task-divider">
													<span class="title">Follow up {{$index+1}}</span>
												</div>

												<div class="form-group" ng-if="taskInfo.taskCategory!=4">
													<label class="col-lg-3 control-label">Responsible Person</label>
													<div class="col-lg-9">
														<div class="function">
															<select url="./task/getResponsibleList.do?category={{taskInfo.taskCategory}}" name="followResponsible" ng-disabled="taskInfo.statu==1"
															 parent-node="taskInfo.selectTaskVisibles" select2-model="follow.responsibleTaskVisibles" ng-model="follow.responsiblePersonIdTMP"
															 task-select-ajax multiple="multiple" style="width: 100%;" class="form-control myselect">
															</select>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-lg-3 control-label">Duration for this step</label>
													<div class="col-lg-9">
														<input type="text" ng-model="follow.durationStep" ng-disabled="taskInfo.statu==1" name="followDuration" class="form-control">
													</div>
												</div>

												<div class="form-group" ng-if="taskInfo.taskCategory!=4">
													<label class="col-lg-3 control-label">Who can complete this step?</label>
													<div class="col-lg-9">
														<div class="function">
															<select url="./task/getImplementersList.do?category={{taskInfo.taskCategory}}" name="followComplete" ng-disabled="taskInfo.statu==1"
															 parent-node="taskInfo.selectTaskVisibles" select2-model="follow.taskImplementersVisibles" ng-model="follow.completeStepIdTMP"
															 task-select-ajax multiple="multiple" style="width: 100%;" class="form-control myselect">
															</select>
														</div>
													</div>
												</div>

												<div class="task-setting-block">
													<h4 class="task-title">Workflow</h4>

													<label>
														Building the
														<a href="javascript:void(0);" ng-click="settingForm(follow);">workflow</a> for this task
													</label>
												</div>

												<div class="task-setting-block">
													<h4 class="task-title">Follow-ups</h4>
													<div class="form-group">
														<label class="col-lg-3 control-label">Follow up for this task?</label>
														<div class="col-lg-9">
															<label class="switch-checkbox">
																<input type="checkbox" ng-click="addFlowUp($index,follow.followFlag);" ng-disabled="taskInfo.statu==1" ng-checked="follow.followFlag"
																 ng-model="follow.followFlag" class="ios-switch green  bigswitch" />
																<div>
																	<div></div>
																</div>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<!--.task-setting-inner-->
								</div>
								<!--.task-setting-wrap-->
							</form>
						</div>

					</div>
				</div>


			</div>
			<!--.content-area-->

		</div>
	</div>
</div>