<div class="modal-header" ng-init="initAddLeave()">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" ng-if="!leaveCondition.isEdit" id="myModalLabel">Add Leave</h4>
  <h4 class="modal-title" ng-if="leaveCondition.isEdit" id="myModalLabel">Edit Leave</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" id="addLeaveForm" add-leave-form>
    <div class="form-group">
      <label class="col-md-3 control-label">Leave Type</label>
      <div class="col-md-9">
        <select name="leaveType" class="form-control" ng-model="leaveCondition.type">
          <option value="{{one.id}}" ng-repeat="(oneIndex,one) in leaveList.data">{{one.text}}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-if="!leaveCondition.isEdit">
      <label class="col-md-3 control-label">Select Staff</label>
      <div class="col-md-9">
        <select name="staffId" class="image-select form-control" ng-model="leaveCondition.accountId" style="width:100%"
          select2-model="condition" url="./common/getStaff.do" select-image-ajax>
          <option disabled value=""></option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-if="leaveCondition.isEdit">
      <label class="col-md-3 control-label">Select Staff</label>
      <div class="col-md-9">
        <p class="form-control" style="background: #f2f2f2;cursor: not-allowed;">
          <span class="select2-selection select2-selection--single">
            <span class="select2-selection__rendered" title="{{leaveCondition.user.name}}">
              <span>
                <span ng-if="!leaveCondition.user.avatar" class="name-short name-image-short {{leaveCondition.user.personColor}}">
                  {{leaveCondition.user.name
                  | userNameUpperCase}} </span>
                <img ng-if="leaveCondition.user.avatar" src="{{leaveCondition.user.avatar}}" class="name-short name-image-short">
                {{leaveCondition.user.name}}
              </span>
            </span>
          </span>
        </p>
      </div>
    </div>
    <div class="form-group" ng-show="!(leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3)">
      <label class="col-md-3 control-label">From date</label>
      <div class="col-md-9">
        <input name="fromDate" id="fromDate" type="text" data-bv-compareDate="FromDate must be little than ToDate"
          class="form-control date-picker" my-date-picker ng-model="leaveCondition.startDate">
      </div>
    </div>
    <div class="form-group" ng-show="!(leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3)">
      <label class="col-md-3 control-label">To date</label>
      <div class="col-md-9">
        <input name="toDate" id="toDate" type="text" data-bv-compareDate="FromDate must be little than ToDate" class="form-control date-picker"
          my-date-picker ng-model="leaveCondition.endDate">
      </div>
    </div>

    <div class="form-group" ng-show="leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3">
      <label class="col-md-3 control-label">For these dates</label>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <input name="fromDate" id="fromDate" type="text" data-bv-compareDate="FromDate must be little than ToDate"
              class="form-control date-picker" my-date-picker ng-model="leaveCondition.startDate">
          </div>
          <div class="col-md-6">
            <input name="toDate" id="toDate" type="text" data-bv-compareDate="FromDate must be little than ToDate"
              class="form-control date-picker" my-date-picker ng-model="leaveCondition.endDate">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-9">
        <p style="margin-bottom: 5px;">I'm unavailable between these hours</p>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control time-picker" my-date-picker-timer ng-model="leaveCondition.startTime"
              value="7:00 AM">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control time-picker" my-date-picker-timer ng-model="leaveCondition.endTime">
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Reason</label>
      <div class="col-md-9">
        <textarea maxlength="500" class="form-control" rows="10" ng-model="leaveCondition.reason"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>