<div class="modal-header" ng-init="initApplyLeave()">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Apply for Leave</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" id="applyLeaveForm" apply-leave-form>
    <div class="form-group">
      <label class="col-md-3 control-label">Leave Type</label>
      <div class="col-md-9">
        <select class="form-control" ng-model="leaveCondition.type" name="applyType">
          <option disabled value=""></option>
          <option value="{{one.id}}" ng-repeat="(oneIndex,one) in leaveList.data">{{one.text}}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-show="!(leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3)">
      <label class="col-md-3 control-label">From date</label>
      <div class="col-md-9">
        <input name="startDate" type="text" class="form-control date-picker" my-date-picker ng-model="leaveCondition.startDate">
      </div>
    </div>
    <div class="form-group" ng-show="!(leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3)">
      <label class="col-md-3 control-label">To date</label>
      <div class="col-md-9">
        <input name="endDate" type="text" class="form-control date-picker" my-date-picker ng-model="leaveCondition.endDate">
      </div>
    </div>

    <div class="
          form-group" ng-show="leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3">
      <label class="col-md-3 control-label">For these dates</label>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control date-picker" my-date-picker ng-model="leaveCondition.startDate">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control date-picker" my-date-picker ng-model="leaveCondition.endDate">
          </div>
        </div>
      </div>
    </div>

    <div class="
          form-group" ng-if="leaveCondition.type != 9 && leaveCondition.type != 8 && leaveCondition.type != 7 && leaveCondition.type != 2 && leaveCondition.type != 3">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-9">
        <p style="margin-bottom: 5px;">I'm unavailable between these hours</p>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control time-picker" my-date-picker-timer ng-model="leaveCondition.startTime"
              value="7:00 AM">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control time-picker" my-date-picker-timer ng-model="leaveCondition.endTime">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Reason</label>
      <div class="col-md-9">
        <textarea maxlength="500" class="form-control" rows="10" ng-model="leaveCondition.reason"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="leaveCondition.policy" name="policy">
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            My Request complies with the Kindikids Annual and Other Leave Policy
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Apply</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>