<div class="modal-header" ng-init="initApproveLeave()">
  <button type="button" class="close" ng-click="cancel()"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Approve Leave?</h4>
</div>
<div class="modal-body">
  <!--Week based-->
  <form class="form-horizontal" id="leaveDateForm">
    <table class="table table-striped">
      <tr ng-repeat="item in leaveList.data">
        <td style="vertical-align:middle;padding:0px;">{{item.leaveStartDate | date:'dd/MM/yyyy'}} <span ng-if="item.leaveEndDate">- {{item.leaveEndDate | date:'dd/MM/yyyy'}}</span></td>
        <td style="vertical-align:middle;padding:0px;">
          <div class="form-group">
            <div class="radio radio-inline">
              <label> <input type="radio" name="leave+{{$index}}"
                id="leave+{{$index}}+1" ng-model="item.paidFlag" value='1'>
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Paid
              </label>
            </div>
            <div class="radio radio-inline">
              <label> <input type="radio" name="leave+{{$index}}"
                id="leave+{{$index}}+2" ng-model="item.paidFlag" value='0'>
                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                Unpaid
              </label>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
