<div class="modal-header">
    <button type="button" class="close" ng-click="cancelModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Add Closure Period</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="closurePeriodForm" closure-period-form>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">Centres</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12" ng-repeat="c in centres">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" name="centre" ng-checked="info.centres.indexOf(c.id) != -1 && info.centres.length != 0"
                                        ng-click="dealChoose(c.id)" ng-disabled="!info.edit">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    {{c.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Date from(Inclusive)</label>
                <div class="col-md-9">
                    <input type="text" ng-disabled="info.disabled || !info.edit" class="form-control date-picker" name="dateFrom"
                        my-date-picker ng-model="info.dateFrom">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Date to(Inclusive)</label>
                <div class="col-md-9">
                    <input type="text" ng-disabled="!info.edit" class="form-control date-picker" name="dateTo"
                        my-date-picker ng-model="info.dateTo">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Name of Closure Period</label>
                <div class="col-md-9">
                    <input type="text" ng-disabled="!info.edit" class="form-control" name="name" ng-model="info.name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Is this a Public holiday?</label>
                <div class="col-md-9">
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" ng-disabled="!info.edit" name="pubHoliday" value="0" ng-model="info.holiday">
                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                            Yes
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" ng-disabled="!info.edit" name="pubHoliday" value="1" ng-model="info.holiday">
                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                            No
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-general" ng-if="!isAdd && info.edit" ng-click="delete(info.id)">Delete</button>
    <button type="button" class="btn btn-general" ng-if="info.edit" ng-click="save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
</div>