<div ng-controller="myLeaveCtrl">
  <div ng-init="headtype='myleaveList';headName='My Leave'" ng-include="'head.html?res_v='+res_v"></div>

  <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 pull-right remove-padding">
    <div class="rosterWrap" id="myLeaveForm">
      <div class="button-group text-right top-button" ng-init="initMyLeave()">

      </div>
      <h2 class="page-title">My Leave Application</h2>
      <div class="table-responsive table-nowrap">
        <table class="leave-table leave-list table table-bordered table-customize-general">
          <thead>
            <tr>
              <th>Type of Leave</th>
              <th>Leave from</th>
              <th>To date</th>
              <th>Date of Application</th>
              <th>Status</th>
              <th>Reason</th>
              <th class="text-center leave-action">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in leaveList.data.list">
              <td>{{item.leaveType | leaveTypeFilter}}</td>
              <td ng-if="item.leaveType | leaveFilter">{{item.startDate | date:'dd/MM/yyyy'}}</td>
              <td ng-if="item.leaveType | leaveFilter">{{item.endDate | date:'dd/MM/yyyy'}}</td>
              <td ng-if="!(item.leaveType | leaveFilter)">{{item.startDate | date:'dd/MM/yyyy hh:mm a'}}</td>
              <td ng-if="!(item.leaveType | leaveFilter)">{{item.endDate | date:'dd/MM/yyyy hh:mm a'}}</td>
              <td>{{item.createTime | date:'dd/MM/yyyy'}}</td>
              <td>{{item.status | leaveStatusFilter}}<a ng-if="item.status == 2 || item.status == 3" class="btn-icon"
                  data-toggle="tooltip" data-placement="top" tooltip title="{{item.reason}}"><i class="fa fa-info-circle"
                    aria-hidden="true"></i></a></td>
              <td style="max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" title="{{item.leaveReason}}">{{item.leaveReason}}</td>
              <td class="text-center leave-action"><a ng-if="item.status == 0" href="" class="btn btn-default btn-sm"
                  data-toggle="modal" data-target="#withdraw-leave-modal" ng-click="withDrawModal(item)">Withdraw</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination-wrap text-center">
        <nav aria-label="Page navigation">
          <pagination ng-change="changeLeavePage(condition.pageIndex)" uib-pagination total-items="condition.totalItems"
            items-per-page="condition.pageSize" ng-model="condition.pageIndex" max-size="condition.maxSize"
            previous-text="&laquo;" next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
        </nav>
      </div>
    </div>
  </div>
</div>