<div id="payroll">
    <div class="modal-header" ng-init="initModal()">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Export</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Centre</label>
                <div class="col-md-8">
                    <select class="form-control input-sm" name="centreId" class="image-select form-control" ng-model="selectCondition.centreIds"
                        select2-model="condition" style="width:100%" url="./common/getCenters.do" multiple="multiple"
                        select-ajax3>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Staff</label>
                <div class="col-md-8">
                    <select class="form-control input-sm" name="staffId" class="image-select form-control" ng-model="selectCondition.staffIds"
                        select2-model="condition" style="width:100%" url="./common/getStaff.do?type=1" multiple="multiple"
                        select-ajax3>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Select Time Range</label>
                <div class="col-md-8">
                    <input type="text" ng-model="selectCondition.date" class="form-control time-range" starttime="selectCondition.startDate"
                        endtime="selectCondition.endDate" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-general" ng-click="export()">Export</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>