<div class="modal-header" ng-init="initModal()">
  <button type="button" class="close" ng-click="cancel()"
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel" ng-if="itemNum == 0">Reject
    this leave?</h4>
  <h4 class="modal-title" id="myModalLabel" ng-if="itemNum == 1">Cancel
    this leave?</h4>
</div>
<div class="modal-body">
  <form id="rejectAndCancelForm" reject-cancel-form>
    <div class="form-group">
      <label ng-if="itemNum == 0">Reject Reason</label> <label
        ng-if="itemNum == 1">Cancel Reason</label>
      <textarea name="reasonText" ng-model="operaCondition.reason"
        class="form-control" rows="10" maxlength="500"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>