<div class="main withWeek rosterMain" ng-controller='rosteringMainCtrl'>
  <div class="container-fluid">
    <div class="row" ng-init="initRosteringMain()">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
        <div class="menu-top visible-xs">
          <div class="menu-top-title">
            Filter
          </div>
          <button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
        </div>

        <!-- <div class="menu-block  menu-block0" ng-show="searchRoleAndType">
          <div class="title">Role</div>
          <ul>
            <li class="active" style="cursor: pointer;"><a staff-center type="0" value="">Everyone</a></li>
            <li style="cursor: pointer;"><a staff-center type="0" value="1">Centre Manager</a></li>
            <li style="cursor: pointer;"><a staff-center type="0" value="2">Educators</a></li>
            <li style="cursor: pointer;"><a staff-center type="0" value="3">Additional Staff</a></li>
            <li style="cursor: pointer;"><a staff-center type="0" value="4">Cooks</a></li>
            <li style="cursor: pointer;"><a staff-center type="0" value="5">Non-rostered Staff</a></li>
          </ul>
        </div> -->
        <!-- <div class="menu-block menu-block1" ng-show="searchRoleAndType">
          <div class="title">Employment Type</div>
          <ul>
            <li class="active" style="cursor: pointer;"><a staff-center type="1" value='1'>All Staffs</a></li>
            <li style="cursor: pointer;"><a staff-center type="1" value="2">Full-time staff rostered on</a></li>
            <li style="cursor: pointer;"><a staff-center type="1" value="3">Casual staff rostered on</a></li>
          </ul>
        </div> -->
        <div class="menu-block menu-block2 child-figure-list" ng-if='!isInLeavePage && !searchRoleAndType'>
          <div class="title">Location</div>
          <ul id='mainOrg'>
            <li style="cursor: pointer;" ng-repeat="center in roles.centersInfos" repeat-done='chooseOrgs()'>
              <a staff-center type="2" value='{{center.id}}'>{{center.name}}</a>
              <span ng-show='searchRoleAndType' class="label-figure" tooltip data-toggle="tooltip" data-placement="right"
                data-html="true" title="Staff Currently Present : {{center.realCome}}<br />Staff Rostered Today : {{center.shouldCome}}">{{center.realCome}}/{{center.shouldCome}}</span>
            </li>
          </ul>
        </div>
        <!-- <div class="menu-block menu-block3" ng-if="!(currentUser.roleInfoVoList|haveRole:'0;10')" ng-show='showRosterOrg'>
          <div class="title">Roster</div>
          <ul>
            <li class="active" style="cursor: pointer;"><a staff-center type="3" value="1">All Roster</a></li>
            <li style="cursor: pointer;"><a staff-center type="3" value="2">My Roster</a></li>
          </ul>
        </div> -->
        <div class="menu-block menu-block4" ng-if='isInLeavePage'>
          <div class="title">Leave Type</div>
          <ul>
            <li class="active" style="cursor: pointer;"><a staff-center value="">All Type</a></li>
            <li style="cursor: pointer;" ng-repeat='item  in leftLeaveList'>
              <a staff-center type="4" value="{{item.text}}">{{item.text}}</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="filter-bottom" ng-click="closeButton();">
        Filter
      </div>
      <!-- <div
      class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right"
      ui-view></div> -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-area" ui-view></div>
    </div>
  </div>