<div ng-controller="rosteringStaffListCtrl">

	<div ng-init="headtype='rosterList';headName='Rostering';" ng-include="'head.html?res_v='+res_v"></div>

	<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner" style="position: static;">
		<div class="menu-top visible-xs">
			<div class="menu-top-title">
				Filter
			</div>
			<button class="closeButton"> <i class="fa fa-times" aria-hidden="true"
					ng-click="closeButton()"></i></button>
		</div>

		<div class="menu-block  menu-block0" ng-show="searchRoleAndType">
			<div class="title">Role</div>
			<ul>
				<li class="active" style="cursor: pointer;"><a staff-center type="0" value="">Everyone</a></li>
				<li style="cursor: pointer;"><a staff-center type="0" value="1">Centre Manager</a></li>
				<li style="cursor: pointer;"><a staff-center type="0" value="2">Educators</a></li>
				<li style="cursor: pointer;"><a staff-center type="0" value="3">Additional Staff</a></li>
				<li style="cursor: pointer;"><a staff-center type="0" value="4">Cooks</a></li>
				<li style="cursor: pointer;"><a staff-center type="0" value="5">Non-rostered Staff</a></li>
			</ul>
		</div>
		<div class="menu-block menu-block1" ng-show="searchRoleAndType">
			<div class="title">Employment Type</div>
			<ul>
				<li class="active" style="cursor: pointer;"><a staff-center type="1" value='1'>All Staffs</a></li>
				<li style="cursor: pointer;"><a staff-center type="1" value="2">Full-time staff rostered on</a></li>
				<li style="cursor: pointer;"><a staff-center type="1" value="3">Casual staff rostered on</a></li>
			</ul>
		</div>
		<div class="menu-block menu-block2 child-figure-list" ng-if='!isInLeavePage'>
			<div class="title">Location</div>
			<ul id='mainOrg'>
				<li style="cursor: pointer;" ng-repeat="center in roles.centersInfos" repeat-done='chooseOrgs()'>
					<a staff-center type="2" value='{{center.id}}'>{{center.name}}</a>
					<span ng-show='searchRoleAndType' class="label-figure" tooltip data-toggle="tooltip"
						data-placement="right" data-html="true"
						title="Staff Currently Present : {{center.realCome}}<br />Staff Rostered Today : {{center.shouldCome}}">{{center.realCome}}/{{center.shouldCome}}</span>
				</li>
			</ul>
		</div>
		<div class="menu-block menu-block3" ng-if="!(currentUser.roleInfoVoList|haveRole:'0;10')"
			ng-show='showRosterOrg'>
			<div class="title">Roster</div>
			<ul>
				<li class="active" style="cursor: pointer;"><a staff-center type="3" value="1">All Roster</a></li>
				<li style="cursor: pointer;"><a staff-center type="3" value="2">My Roster</a></li>
			</ul>
		</div>
		<div class="menu-block menu-block4" ng-if='isInLeavePage'>
			<div class="title">Leave Type</div>
			<ul>
				<li class="active" style="cursor: pointer;"><a staff-center value="">All Type</a></li>
				<li style="cursor: pointer;" ng-repeat='item  in leftLeaveList'>
					<a staff-center type="4" value="{{item.text}}">{{item.text}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 pull-right remove-padding">
		<div class="attWrap" ng-init="initRosteringStaffList()">

			<!--Roster Status-->
			<div class="roster-status" style="margin-top:5px;">
				<span ng-show="rosterPageInfo.rosterInfo.state == 0" class="label label-red">Draft</span>
				<span ng-show="rosterPageInfo.rosterInfo.state == 1" class="label label-orange">Submitted</span>
				<span ng-show="rosterPageInfo.rosterInfo.state == 2" class="label label-green">Approved</span>
			</div>
			<!--End of Roster Status-->

			<!--***********************
	                        *****当本周已完成排班时 显示列表 *****
	                        *************************-->
			<div>
				<!--***********************
	                        *****当本周未完成排班时 显示空列表并提示可选模板 *****
	                        *************************-->
				<div ng-show="noList" style="padding-bottom:10px;">
					<!--Empty-->
					<div class="attNoTemplate">
						<div class="col-md-6 center text-center">
							<div class="empty-icon-container text-center">
								<i class="material-icons">create_new_folder</i>
								<p ng-hide='(isCenterManager&&!page.condition.currentCentreManager)'>
									You haven't set up a roster for this week.<br />Get started now.
								</p>
							</div>
							<button ng-hide='(isCenterManager&&!page.condition.currentCentreManager)' type="button"
								class="btn btn-general" data-toggle="modal" data-target="#select-roster-template-modal"
								ng-click="selectTemplate()">Choose a template</button>
							<button ng-hide='(isCenterManager&&!page.condition.currentCentreManager)' type="button"
								class="btn btn-general" ng-click="blankRoster()">Blank roster</button>
						</div>
					</div>
				</div>
				<!--***********************
	                        ***** Centre Manager Sheet *****
	                        *************************-->
				<div class="attSheet attStaffSheet attCentreManagerSheet"
					ng-show="(roleShow == 0 || roleShow == 1) && dateListComplete&&!noList" ng-if="!noListForPTUser">
					<div class="attTable attSheetWrap">
						<div class="attRow" ng-repeat="row in cmMaxArr">
							<div class="attCol att-col-8">
								<div class="attColInnerWrap">
									<span class="schedule-cat" ng-show="row == 0"> Centre Manager</span>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
							<div class="attCol att-col-8" ng-repeat="day in rosterWeekList">
								<div class="attColInnerWrap "
									ng-class="{'status-absent':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].sinState == 0,'status-at-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].soutState,'status-left-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].soutState == 1}">
									<!--如果是选择fulltime角色不能为兼职，选择Orgainze则展示所有，Casual 则显示兼职人员-->
									<!--rosterShow显示的是我的roster还是allroster-->
									<div class="occupant"
										title="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].name}}"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].roleInfos|haveRole:'4')))">
										<!--展示用户名或者头像-->
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].avatar==null && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: pointer;"
											ng-click="staffOtherSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].id);">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].name | userNameUpperCase}}
										</span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].avatar!=null && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: pointer;"
											ng-click="staffOtherSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].id);">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].avatar}}"
												class="img-circle img-full">
										</span>
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].avatar==null && !(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: default;">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].name | userNameUpperCase}}
										</span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].avatar!=null && !(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: default;">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].avatar}}"
												class="img-circle img-full">
										</span>
										<!--end展示用户名或者头像-->
										<span class="icon-cus icon-cus-confirmed"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].soutState"
											style="cursor: default;">
											<span class="glyphicon glyphicon-ok"></span>
										</span>
										<span class="icon-cus icon-cus-absent" style="cursor: default;"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].sinState == 0">
											<i class="fa fa-exclamation" aria-hidden="true"></i>
										</span>
										<span class="icon-cus icon-cus-sign-out"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].soutState == 1"
											style="cursor: default;">
											<span class="glyphicon glyphicon-log-out"></span>
										</span>
										<span class="icon-cus icon-cus-remove staff-remove"
											ng-hide='rosterPageInfo.roleDayVos[day].isBeforDay||(isCenterManager&&!page.condition.currentCentreManager)'
											ng-if="(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].roleInfos|haveRole:'4')))) && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											title=""
											ng-click="removeStaff(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0],row)">
											<span class="glyphicon glyphicon-minus"></span>
										</span>
										<a style="left:0; " href="javascript:void(0);" class="shift-tags-more" tooltip
											data-toggle="tooltip-menu" data-placement="left" data-html="true"
											title="Responsible Person"
											ng-if="(rpUserId==rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].userId && day==todayIndex) && !(currentUser.roleInfoVoList|haveRole:'10;')">RP</a>
									</div>
									<!-- 当过滤掉这个位置的排班时，保留空白位 -->
									<div class="occupant" style="cursor: default;"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId != 1 && !((rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].roleInfos|haveRole:'4'))))">
										<span class="empty">
											<span>
												<span class=""></span>
											</span>
										</span>
									</div>
									<!-- 当前位置为添加角色的圆框 -->
									<div class="occupant"
										ng-hide='rosterPageInfo.closurePeriodsVos[day+1].closureFlag || rosterPageInfo.roleDayVos[day].isBeforDay || (isCenterManager&&!page.condition.currentCentreManager)'
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].staffAccountId == 1 && (currentUser.roleInfoVoList|haveRole:'0;1;5')">
										<span class="empty">
											<span>
												<span class="glyphicon glyphicon-plus"></span>
											</span>
										</span>
										<a style="cursor: pointer;" class="link-mask" data-toggle="modal"
											data-target="#other-staff-roster-modal"
											ng-click="addStaffModal(0,rosterPageInfo.roleDayVos[day].day,rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0])"></a>

									</div>
									<div class="schedule-time" style="text-align:center;">
										{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].name}}<br />
										{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].workTime}}
										<div style="color:#FF0000"
											ng-repeat="leaveTime in rosterPageInfo.roleDayVos[day].roleRosterStaffMap[0][row].leaveTimes">
											{{leaveTime}}
										</div>
									</div>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
						</div>
					</div>
				</div>
				<!--***********************
	                        ***** Staff Roster Sheet *****
	                        *************************-->
				<div class="attSheet attStaffSheet attCentreManagerSheet"
					ng-show="(roleShow == 0 || roleShow == 2 || roleShow == 3) && dateListComplete&&!noList"
					ng-if="!noListForPTUser">
					<div class="attTable attSheetWrap">
						<!--.attRow-->
						<div class="attRow" ng-show="roleShow == 0 || roleShow == 2"
							ng-repeat="shift in rosterPageInfo.rosterStaffShiftTimeVos">
							<!--(shiftIndex,shift) in rosterPageInfo.rosterStaffShiftTimeVos-->
							<div class="attCol att-col-8">
								<div class="attColInnerWrap">
									<span class="schedule-time">
										<!-- 7:00am - 3:30pm -->
										{{shift.title}}
									</span>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
							<div class="attCol att-col-8" ng-repeat="day in rosterWeekList">
								<div style="float:none;"
									ng-repeat="rosterStaff in shift.rosterStaffShiftVos[day].rosterStaffVos"
									class="attColInnerWrap"
									ng-class="{'status-absent':rosterStaff.sinState == 0,'status-at-service':rosterStaff.sinState == 1 && !rosterStaff.soutState,'status-left-service':rosterStaff.sinState == 1 && rosterStaff.soutState == 1}">
									<div class="occupant" title="{{rosterStaff.name}}"
										ng-if="rosterStaff.staffAccountId && (rosterShow || currentUser.accountInfo.id == rosterStaff.staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterStaff.roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterStaff.roleInfos|haveRole:'4')))">
										<!--展示用户名或者头像-->
										<span
											ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')&& rosterStaff.avatar==null"
											style="cursor: pointer;" ng-click="staffOtherSignEdit(rosterStaff.id);"
											class="name-short {{rosterStaff.personColor!=null?rosterStaff.personColor:'blue'}}">
											{{rosterStaff.name | userNameUpperCase}} </span>
										<span
											ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5') && rosterStaff.avatar!=null"
											style="cursor: pointer;" ng-click="staffOtherSignEdit(rosterStaff.id);"
											class="profileImage">
											<img ng-src="{{rosterStaff.avatar}}" class="img-circle img-full">
										</span>
										<span
											ng-if="!(currentUser.roleInfoVoList|haveRole:'0;1;5') &&rosterStaff.avatar==null"
											style="cursor: default;"
											class="name-short {{rosterStaff.personColor!=null?rosterStaff.personColor:'blue'}}">
											{{rosterStaff.name | userNameUpperCase}} </span>
										<span
											ng-if="!(currentUser.roleInfoVoList|haveRole:'0;1;5') && rosterStaff.avatar!=null "
											style="cursor: default;" class="profileImage">
											<img ng-src="{{rosterStaff.avatar}}" class="img-circle img-full">
										</span>
										<!--展示用户名或者头像-->
										<span class="icon-cus icon-cus-confirmed" style="cursor: default;"
											ng-if="rosterStaff.sinState == 1 && !rosterStaff.soutState">
											<span class="glyphicon glyphicon-ok"></span>
										</span>
										<span class="icon-cus icon-cus-absent" style="cursor: default;"
											ng-if="rosterStaff.sinState == 0">
											<i class="fa fa-exclamation" aria-hidden="true"></i>
										</span>
										<span class="icon-cus icon-cus-sign-out" style="cursor: default;"
											ng-if="rosterStaff.sinState == 1 && rosterStaff.soutState == 1">
											<span class="glyphicon glyphicon-log-out"></span>
										</span>
										<span class="icon-cus icon-cus-remove staff-remove" title=""
											ng-click="removeStaff(shift.rosterStaffShiftVos[day].rosterStaffVos,$index)"
											ng-hide='shift.rosterStaffShiftVos[day].isBeforDay||(isCenterManager&&!page.condition.currentCentreManager)'
											ng-if="(rosterStaff.staffAccountId && (rosterShow || currentUser.accountInfo.id ==rosterStaff.staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(shift.rosterStaffVos[day].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (shift.rosterStaffVos[day].roleInfos|haveRole:'4')))) && ( currentUser.roleInfoVoList|haveRole:'0;1;5')">
											<span class="glyphicon glyphicon-minus"></span>
										</span>
										<!--tag列表-->
										<a ng-show='shift.shiftWeekVos[day+1].tags' href="javascript:void(0);"
											class="shift-tags-more tag-tool" tooltip data-toggle="tooltip-menu"
											ng-if="!(currentUser.roleInfoVoList|haveRole:'10;')" data-placement="right"
											data-html="true" title="{{shift.shiftWeekVos[day+1].tags|tagArr}}"><i
												class="fa fa-briefcase" aria-hidden="true"></i></a>
										<a style="left:0; " href="javascript:void(0);" class="shift-tags-more" tooltip
											data-toggle="tooltip-menu" data-placement="left" data-html="true"
											title="Responsible Person"
											ng-if="(rpUserId==rosterStaff.userId && day==todayIndex) && !(currentUser.roleInfoVoList|haveRole:'10;')">RP</a>
									</div>
									<div class="schedule-time" style="text-align:center;">
										{{rosterStaff.name}}<br />
										{{rosterStaff.workTime}}
										<div style="color:#FF0000" ng-repeat="leaveTime in rosterStaff.leaveTimes">
											{{leaveTime}}
										</div>
									</div>
								</div>

								<!--当过滤掉这个位置的排班时，保留空白位-->
								<!--如果之前天，只要没有安排人员则就展示空白，如果是未来天，则不是管理员角色的展示空白-->
								<!-- <div class="occupant" ng-if="(shift.rosterStaffShiftVos[day].rosterStaffVos.length == 0 && !((staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterStaff.rosterStaffVos[day].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterStaff.rosterStaffVos[day].roleInfos|haveRole:'4'))))) || (rosterPageInfo.roleDayVos[day].isBeforDay && shift.rosterStaffShiftVos[day].rosterStaffVos.length == 0) || (!( currentUser.roleInfoVoList|haveRole:'0;1;5') && shift.rosterStaffShiftVos[day].rosterStaffVos.length == 0) "
								 style="cursor: default;margin-bottom:20px;">
									<span class="empty">
										<span>
											<span class=""></span>
										</span>
									</span>
									<a ng-show='rosterStaff.shiftWeekVos[day+1].tags' href="javascript:void(0);" class="shift-tags-more tag-tool"
									 tooltip data-toggle="tooltip-menu" ng-if="!(currentUser.roleInfoVoList|haveRole:'10;')" data-placement="right"
									 data-html="true" title="{{rosterStaff.shiftWeekVos[day+1].tags|tagArr}}"><i class="fa fa-briefcase"
										 aria-hidden="true"></i></a>
								</div> -->
								<!--添加按钮-->
								<div ng-hide="rosterPageInfo.closurePeriodsVos[day+1].closureFlag" class="occupant"
									style="margin-bottom:20px;" ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')">
									<span class="empty">
										<span>
											<span class="glyphicon glyphicon-plus"></span>
										</span>
									</span>
									<a style="cursor: pointer;" class="link-mask" data-toggle="modal"
										data-target="#other-staff-roster-modal"
										ng-click="addStaffModal(3,shift.rosterStaffShiftVos[day].day,shift.rosterStaffShiftVos[day].rosterStaffVos,shift.code,day,shift.id)"></a><a
										ng-if="!(currentUser.roleInfoVoList|haveRole:'10;')"
										ng-show='rosterStaff.shiftWeekVos[day+1].tags' href="javascript:void(0);"
										class="shift-tags-more tag-tool" tooltip data-toggle="tooltip-menu"
										data-placement="right" data-html="true"
										title="{{rosterStaff.shiftWeekVos[day+1].tags|tagArr}}"><i
											class="fa fa-briefcase" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
						</div>

						<!--.attRow-->
						<div class="attRow attAddRow" ng-repeat="row in asMaxArr"
							ng-show="roleShow == 0 || roleShow == 3">
							<div class="attCol att-col-8">
								<div class="attColInnerWrap">
									<span class="schedule-cat" ng-show="row == 0"> Additional Staff </span>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
							<div class="attCol att-col-8" ng-repeat="day in rosterWeekList">
								<div class="attColInnerWrap"
									ng-class="{'status-absent':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].sinState == 0,'status-at-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].soutState,'status-left-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].soutState == 1}">
									<div class="occupant"
										title="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].name}}"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].roleInfos|haveRole:'4')))">
										<!--展示用户名或者头像-->
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].avatar==null && !(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: default;">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].name | userNameUpperCase}}
										</span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].avatar!=null && !(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: default;">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].avatar}}"
												class="img-circle img-full">
										</span>
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].avatar==null && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											ng-click="staffOtherSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].id);"
											style="cursor: pointer;">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].name | userNameUpperCase}}
										</span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].avatar!=null && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											ng-click="staffOtherSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].id);"
											style="cursor: pointer;">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].avatar}}"
												class="img-circle img-full">
										</span>
										<!--end展示用户名或者头像-->
										<span class="icon-cus icon-cus-confirmed"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].soutState"
											style="cursor: default;">
											<span class="glyphicon glyphicon-ok"></span>
										</span>
										<span class="icon-cus icon-cus-absent" style="cursor: default;"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].sinState == 0">
											<i class="fa fa-exclamation" aria-hidden="true"></i>
										</span>
										<span class="icon-cus icon-cus-sign-out"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].soutState == 1"
											style="cursor: default;">
											<span class="glyphicon glyphicon-log-out"></span>
										</span>
										<span class="icon-cus icon-cus-remove staff-remove"
											ng-hide='rosterPageInfo.roleDayVos[day].isBeforDay||(isCenterManager&&!page.condition.currentCentreManager)'
											ng-if="(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].roleInfos|haveRole:'4')))) && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											title=""
											ng-click="removeStaff(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2],row)">
											<span class="glyphicon glyphicon-minus"></span>
										</span>
									</div>
									<!-- 当过滤掉这个位置的排班时，保留空白位 -->
									<div class="occupant" style="cursor: default;"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId != 1 && !((rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].roleInfos|haveRole:'4'))))">
										<span class="empty">
											<span>
												<span class=""></span>
											</span>
										</span>
									</div>
									<div class="occupant"
										ng-hide='rosterPageInfo.closurePeriodsVos[day+1].closureFlag || rosterPageInfo.roleDayVos[day].isBeforDay || (isCenterManager&&!page.condition.currentCentreManager)'
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].staffAccountId == 1 &&  (currentUser.roleInfoVoList|haveRole:'0;1;5')">
										<span class="empty">
											<span>
												<span class="glyphicon glyphicon-plus"></span>
											</span>
										</span>
										<a style="cursor: pointer;" class="link-mask" data-toggle="modal"
											data-target="#other-staff-roster-modal"
											ng-click="addStaffModal(2,rosterPageInfo.roleDayVos[day].day,rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2])"></a>
									</div>
									<div class="schedule-time" style="text-align:center;">
										{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].name}}<br />
										{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].workTime}}
										<div style="color:#FF0000"
											ng-repeat="leaveTime in rosterPageInfo.roleDayVos[day].roleRosterStaffMap[2][row].leaveTimes">
											{{leaveTime}}
										</div>
									</div>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
						</div>
					</div>
				</div>
				<!--***********************
	                        ***** Addtional Staff & Cook Sheet *****
	                        *************************-->
				<div class="attSheet attStaffSheet attCentreManagerSheet"
					ng-show="(roleShow == 0 || roleShow == 4) && dateListComplete&&!noList" ng-if="!noListForPTUser">
					<div class="attTable attSheetWrap">
						<div class="attRow attCookRow" ng-repeat="row in cookMaxArr">
							<div class="attCol att-col-8">
								<div class="attColInnerWrap">
									<span class="schedule-cat" ng-show="row == 0"> Cook </span>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
							<div class="attCol att-col-8" ng-repeat="day in rosterWeekList">
								<div class="attColInnerWrap "
									ng-class="{'status-absent':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].sinState == 0,'status-at-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].soutState,'status-left-service': rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].soutState == 1}">
									<div class="occupant"
										title="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].name}}"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].roleInfos|haveRole:'4')))">
										<!--展示用户名或者头像-->
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].avatar==null && !(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: default;">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].name | userNameUpperCase}}
										</span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].avatar!=null && !(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											style="cursor: default;">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].avatar}}"
												class="img-circle img-full">
										</span>
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].avatar==null && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											ng-click="staffOtherSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].id);"
											style="cursor: pointer;">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].name
											| userNameUpperCase}} </span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].avatar!=null && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											ng-click="staffOtherSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].id);"
											style="cursor: pointer;">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].avatar}}"
												class="img-circle img-full">
										</span>
										<!--end展示用户名或者头像-->
										<span class="icon-cus icon-cus-confirmed"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].soutState"
											style="cursor: default;">
											<span class="glyphicon glyphicon-ok"></span>
										</span>
										<span class="icon-cus icon-cus-absent" style="cursor: default;"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].sinState == 0">
											<i class="fa fa-exclamation" aria-hidden="true"></i>
										</span>
										<span class="icon-cus icon-cus-sign-out"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].soutState == 1"
											style="cursor: default;">
											<span class="glyphicon glyphicon-log-out"></span>
										</span>
										<span
											ng-hide='rosterPageInfo.roleDayVos[day].isBeforDay||(isCenterManager&&!page.condition.currentCentreManager)'
											ng-if="(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].roleInfos|haveRole:'4')))) && (currentUser.roleInfoVoList|haveRole:'0;1;5')"
											class="icon-cus icon-cus-remove staff-remove" title=""
											ng-click="removeStaff(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1],row)">
											<span class="glyphicon glyphicon-minus"></span>
										</span>
									</div>
									<!-- 当过滤掉这个位置的排班时，保留空白位 -->
									<div class="occupant" style="cursor: default;"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId != 1 && !((rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].roleInfos|haveRole:'4'))))">
										<span class="empty">
											<span>
												<span class=""></span>
											</span>
										</span>
									</div>
									<div class="occupant"
										ng-hide='rosterPageInfo.closurePeriodsVos[day+1].closureFlag || rosterPageInfo.roleDayVos[day].isBeforDay || (isCenterManager&&!page.condition.currentCentreManager)'
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].staffAccountId == 1 &&  (currentUser.roleInfoVoList|haveRole:'0;1;5')">
										<span class="empty">
											<span>
												<span class="glyphicon glyphicon-plus"></span>
											</span>
										</span>
										<a style="cursor: pointer;" class="link-mask" data-toggle="modal"
											data-target="#other-staff-roster-modal"
											ng-click="addStaffModal(1,rosterPageInfo.roleDayVos[day].day,rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1])"></a>
									</div>

								</div>
								<div class="schedule-time" style="text-align:center;">
									{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].name}}<br />
									{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].workTime}}
									<div style="color:#FF0000"
										ng-repeat="leaveTime in rosterPageInfo.roleDayVos[day].roleRosterStaffMap[1][row].leaveTimes">
										{{leaveTime}}
									</div>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
						</div>
					</div>
				</div>
				<!--***********************
	                        ***** 已签到未排班人员列表 *****
	                        *************************-->
				<div class="attSheet attStaffSheet attCentreManagerSheet" ng-show="(roleShow == 0 || roleShow == 5)"
					ng-if="!noListForPTUser">
					<div class="attTable attSheetWrap">
						<div class="attRow attCookRow" ng-repeat="row in ssMaxArr">
							<div class="attCol att-col-8">
								<div class="attColInnerWrap">
									<span class="schedule-cat" ng-show="row == 0"> Non-rostered Staff </span>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
							<div class="attCol att-col-8" ng-repeat="day in rosterWeekList">
								<div class="attColInnerWrap "
									ng-class="{'status-at-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].soutState,'status-left-service':rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].soutState == 1 }">
									<div class="occupant"
										title="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].name}}"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId != 1 && (rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].roleInfos|haveRole:'4')))">
										<span
											class="name-short {{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].personColor!=null?rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].personColor:'blue'}}"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].avatar==null">
											{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].name | userNameUpperCase}}
										</span>
										<span class="profileImage"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].avatar!=null">
											<img ng-src="{{rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].avatar}}"
												class="img-circle img-full">
										</span>
										<span class="icon-cus icon-cus-confirmed"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].sinState == 1 && !rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].soutState">
											<span class="glyphicon glyphicon-ok"></span>
										</span>
										<span class="icon-cus icon-cus-sign-out"
											ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].sinState == 1 && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].soutState == 1">
											<span class="glyphicon glyphicon-log-out"></span>
										</span>
										<a ng-if="(currentUser.roleInfoVoList|haveRole:'0;1;5')"
											href="javascript:void(0);" class="link-mask" data-toggle="modal"
											ng-click="staffSignEdit(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId,rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].day);"
											data-target="#visitor-modal"></a>
										<a style="cursor: default;" href="javascript:void(0);" class="link-mask"
											data-toggle="modal"
											ng-if="!(currentUser.roleInfoVoList|haveRole:'0;1;5')"></a>
									</div>

									<!-- 当过滤掉这个位置的排班时，保留空白位 -->
									<div class="occupant" style="cursor: default;"
										ng-if="rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId && rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId != 1 && !((rosterShow || currentUser.accountInfo.id == rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].staffAccountId) && (staffTypeShow == 1 || (staffTypeShow == 2  && !(rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].roleInfos|haveRole:'4')) || (staffTypeShow == 3  && (rosterPageInfo.roleDayVos[day].roleRosterStaffMap[3][row].roleInfos|haveRole:'4'))))">
										<span class="empty">
											<span>
												<span class=""></span>
											</span>
										</span>
									</div>
								</div>
							</div>
							<div class="attCol att-col-8"></div>
						</div>
					</div>
				</div>

				<!--Empty-->
				<div class="attNoTemplate" ng-if="noListForPTUser">
					<div class="col-md-6 center text-center">
						<div class="empty-icon-container text-center">
							<i class="material-icons">create_new_folder</i>
							<p>No Roster for this week</p>
						</div>
					</div>
				</div>
				<!--***********************
	                        *** Staff Leave Sheet *****
	                        *************************-->
				<div class="attSheet attStaffSheet" ng-hide="onlyLeaveShow">
					<h4>Leave</h4>
					<div class="attTable attSheetWrap">
						<!--Personal Leave-->
						<div class="attRow" ng-repeat="one in leaveList.data">
							<div class="attCol att-col-8">
								<div class="attColInnerWrap">
									<span class="schedule-leave"> {{one.text}} </span>
								</div>
							</div>
							<div class="attCol att-col-8" ng-repeat="week in weekRowList">
								<div class="attColInnerWrap" ng-if="page.weekDays[$index].leaves.length>0"
									ng-init="currentLeaveobj = page.weekDays[$index].leaves">
									<div class="staff-list" style="margin-left:0;">
										<span ng-repeat="leave in currentLeaveobj | filter : { leaveType : one.id} ">
											<span class="element"
												style="float:none;margin-left:0;margin-right:0;cursor: pointer;"
												ng-show='leave.leaveType==one.id' ng-click="openLeave(leave)">
												<span ng-if="leave.avatar" class="profileImage">
													<img ng-src="{{leave.avatar}}" class="img-circle img-full">
												</span>
												<span ng-if="!leave.avatar" title='{{leave.userName}}'
													class="name-short {{leave.personColor}}">
													{{leave.userName | userNameUpperCase}} </span>
											</span>

											<div class="user-name" ng-show='leave.leaveType==one.id'
												style="text-align:center;color:#000000;white-space: nowrap;">
												{{leave.userName}}
											</div>
										</span>


										<!-- <span ng-if="one.id=='10'" ng-repeat="leave in currentLeaveobj" ng-show='leave.leaveType==0||leave.leaveType==5||leave.leaveType==6'>
											<span class="element" style="float:none;margin-left:0;margin-right:0;cursor: pointer;" ng-click="openLeave(leave)">
												<span ng-if="leave.avatar" class="profileImage">
													<img ng-src="{{leave.avatar}}" class="img-circle img-full">
												</span>
												<span ng-if="!leave.avatar" title='{{leave.userName}}' class="name-short {{leave.personColor}}">
													{{leave.userName | userNameUpperCase}} </span>

											</span>

											<div class="user-name" style="text-align:center;color:#000000;white-space: nowrap;">
												{{leave.userName}}
											</div>
										</span> -->


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--attWrap-->

	</div>

</div>