<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Save Roster as Template</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-4">Template Name</label>
      <div class="col-md-8">
        <input type="text" class="form-control" ng-model="templateName">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
</div>
