<div class="modal-header" ng-init="initModal()">
  <button type="button" class="close" data-dismiss="modal"
    aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Select Roster Template</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-md-4">Select a template</label>
      <div class="col-md-8">
        <select class="form-control input-sm" name="staffId" class="image-select form-control"  
          ng-model="taskId" style="width:100%" select2>
          <option disabled value=""></option>
          <option ng-repeat="task in taskGroup" value="{{task.id}}">{{task.text}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
