<div ng-controller="shiftManageCtrl">
<div ng-init="headtype='shiftList';headName='Shift Management'" ng-include="'head.html?res_v='+res_v"></div>

<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 pull-right remove-padding">
  <div class="rosterWrap" >
    <div class="button-group text-right top-button"
      ng-init="initShiftManage()">

    </div>
    <h2 class="page-title">Shift Management</h2>
    <div class="attWeekSlide shiftWeek">
      <div class="attTable weekWrap full-table">
        <div class="attRow">
          <div class="attCol att-col-9 text-center">Shift Time</div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">SUN</span>
          </div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">MON</span>
          </div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">TUE</span>
          </div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">WED</span>
          </div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">THU</span>
          </div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">FRI</span>
          </div>
          <div class="attCol day-of-week att-col-9">
            <span class="week">SAT</span>
          </div>
          <div class="attCol att-col-9 text-center">Shift Tasks</div>
        </div>
      </div>
    </div>
    <div class="shiftWrap">
      <div class="attTable full-table">
        <div class="attRow" ng-repeat="(shiftOneIndex,shiftOne) in page.rosterShiftTimeVos">
          <div class="attCol att-col-9 text-center">
            <div class="shiftInnerWrap">
              <button class="btn btn-general btn-sm shiftDelete" ng-click="delShiftTask(shiftOne.id,shiftOneIndex)" ng-show="operateFlag">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <span class="label label-default shift-title">Shift
                Time</span> <input type="text" my-date-picker-timer
                class="form-control time-picker input-sm text-center"
                ng-model="shiftOne.shiftStartTime"> <span
                class="toLine"><i class="fa fa-long-arrow-down"
                aria-hidden="true"></i></span> <input type="text"
                class="form-control time-picker input-sm text-center"
                my-date-picker-timer ng-model="shiftOne.shiftEndTime">
            </div>
          </div>
          <div class="attCol att-col-9" ng-repeat="weekDay in weekList" >
            <div class="shiftInnerWrap" ng-init="inVo=shiftOne.shiftWeekVos[weekDay]">
              <span class="label label-default shift-title">SUN</span>
              <a class="label-general" tooltip data-toggle="tooltip-cus" ng-repeat="tag in inVo.inTags | filter : { checked : true}" 
                 title="{{tag.tagText}}">{{tag.tagText | shiftTitle}}</a> 
              <a shift-tagging  tag-vo = "inVo" 
                class="shift-tagging btn btn-general btn-sm" role="button"><span
                class="glyphicon glyphicon-plus"></span> Tagging</a>
            </div>
          </div>
          <div class="attCol att-col-9">
            <div class="shiftInnerWrap">
              <span class="label label-default shift-title">Shift
                Tasks</span> <span class="badge">{{shiftOne.taskVosNum}}</span> attached <a href=""
                class="shift-tasking btn btn-general btn-sm"
                ng-click="editTaskModal(shiftOne)" data-toggle="modal"
                data-target="#shift-tasks-modal">View / Edit Tasks</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--.shiftWrap-->
    <div class="hidden">
      <div class="role-tagging-title">Select Roles</div>
      <div class="role-tagging-content">
        <div class="role-tagging-inner">
          <div class="form-group">
            <!-- <div class="checkbox">
              <label> <input type="checkbox"><span
                class="cr"><i class="cr-icon fa fa-check"></i></span> Cook
            </div> -->
            <div class="checkbox">
              <label> <input type="checkbox" ng-model="tagVo0" ng-checked="tagVo0" ><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                Certified Supervisor 
            </div>
            <!-- <div class="checkbox">
              <label> <input type="checkbox"><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                Educator 
            </div> -->
            <!-- <div class="checkbox">
              <label> <input type="checkbox"><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                Casual 
            </div> -->
            <div class="checkbox">
              <label> <input type="checkbox" ng-model="tagVo1" ng-checked="tagVo1" ><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                First Aid Officer 
            </div>
            <div class="checkbox">
              <label> <input type="checkbox" ng-model="tagVo2" ng-checked="tagVo2" ><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                Nominated Supervisor 
            </div>
            <div class="checkbox">
              <label> <input type="checkbox" ng-model="tagVo3" ng-checked="tagVo3" ><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                Early Child Teacher 
            </div>
            <div class="checkbox">
              <label> <input type="checkbox" ng-model="tagVo4" ng-checked="tagVo4" ><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
                Diploma 
            </div>
            <div class="checkbox">
              <label> <input type="checkbox" ng-model="tagVo5" ng-checked="tagVo5" ><span
                class="cr"><i class="cr-icon fa fa-check"></i></span>
               Educational Leader
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-general btn-sm">Confirm</button>
            <button class="btn btn-default btn-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
