
<div class="modal-header" ng-init="initModal()">
  <button type="button" class="close" ng-click="cancel()" 
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Shift Tasks</h4>
</div>
<div class="modal-body">
  <div class="form">
    <div class="shift-task-each" ng-repeat="(itemIndex,item) in shiftTaskList">
      <div class="input-group" ng-init="selectOptins=optionsHandle(item);">
        <!-- <p class="form-control input-sm">task</p> -->
        <select class="form-control input-sm" name="staffId" class="image-select form-control" ng-disabled="item.editButtonShowFlag"
          ng-model="item.id"  style="width:100%" select2 ng-change="changeTask(item)">
          <option disabled value=""></option>
          <option ng-repeat="task in selectOptins"  ng-disabled="task.disabled" value="{{task.id}}">{{task.text}}</option>
        </select>
        <span class="input-group-btn">
         <!--  <button class="btn btn-general btn-sm" type="button" ng-show="item.editButtonShowFlag" ng-click="editItem(item)">
            <i class="fa fa-pencil" aria-hidden="true" ></i>
          </button>
          <button class="btn btn-general btn-sm" type="button" ng-hide="item.editButtonShowFlag" ng-click="saveItem(item)">
            <i class="fa fa-floppy-o" aria-hidden="true" ></i>
          </button> -->
          <button class="btn btn-default btn-sm" type="button" ng-click="delItem(item,itemIndex)">
            <i class="fa fa-trash" aria-hidden="true" ></i>
          </button>
        </span>
      </div>
    </div>
    <button class="btn btn-general btn-sm" ng-click="addTask()">Add Task</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
