<!-- <div class="modal fade visitor-sign-out-popup modal-align-top"
  id="visitor-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> -->
<div class="modal-header" ng-init="initStaffOtherModal();initLeaveInfo();">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Staff Sign In / Sign Out</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" id="staffSignForm" staff-sign-form>
    <div class="avatar-wrap">
      <span ng-if="condition.avatar == null" class="name-short {{condition.personColor}}"> {{condition.name |
        userNameUpperCase}}</span>
      <span ng-if="condition.avatar != null" class="profileImage"> <img ng-src="{{condition.avatar}}" class="img-circle img-full"></span>
      <span class="name-full">{{condition.name}}</span>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Date</label>
      <div class="col-md-9">
        <input type="text" name="signDate" class="form-control date-picker" my-date-picker ng-model="condition.day"
          name="day" ng-disabled="isCenterManager&&!isCurrentCentreManager">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Roster Time Start</label>
      <div class="col-md-9">
        <!-- <p class="form-control-static">08:25 AM</p> -->
        <input type="text" class="form-control time-picker" name="rosterTimeStart" my-date-picker-timer value="{{condition.rosterTimeStart}}"
          ng-model="condition.rosterTimeStart" ng-disabled="isCenterManager&&!isCurrentCentreManager">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Roster Time End</label>
      <div class="col-md-9">
        <!-- <p class="form-control-static">08:25 AM</p> -->
        <input type="text" class="form-control time-picker" name="rosterTimeEnd" my-date-picker-timer value="{{condition.rosterTimeEnd}}"
          ng-model="condition.rosterTimeEnd" ng-disabled="isCenterManager&&!isCurrentCentreManager">
      </div>
    </div>
    <div class="form-group" ng-if="condition.leaves.length == 0 && !addFlag">
      <div class="col-md-9 col-md-offset-3">
        <p style="margin-bottom:10px;font-size:13px;">Is {{condition.name}} unable to complete this shift?</p>
        <button type="button" class="btn btn-general" ng-click="addLeave(true)">Add leave</button>
      </div>
    </div>

    <!--start of leave list-->
    <div class="well emergency-contact-block" ng-repeat="info in condition.leaves">
      <div style="display: flex;justify-content: space-between;align-items: center;margin:5px 0 20px 0;">
        <h4 ng-if="info.disabled">Leave Details</h4>
        <h4 ng-if="!info.disabled">Edit Leave</h4>
        <button ng-if="!info.disabled" type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="editLeave(info)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Leave type</label>
        <div class="col-md-9">
          <select class="form-control" ng-model="info.leaveTypeStr" ng-change="changeTypeStr(info)" ng-disabled="info.disabled">
            <option value="9">Change of RDO</option>
            <option value="8">Change of Shift</option>
            <option value="7">RDO</option>
            <option value="1">Annual Leave</option>
            <option value="0">Personal Leave</option>
            <option value="2">Long Service Leave</option>
            <option value="4">Professional Development Leave</option>
            <option value="5">Compassionate Leave</option>
            <option value="3">Parental Leave</option>
            <option value="10">Casual Unavailability</option>
            <option value="11">Practicum (Uni/TAFE Leave)</option>
            <option value="12">Jury Duty</option>
            <option value="13">Workers Compensation</option>
            <option value="14">Time in Lieu</option>
            <option value="6">Other Leave</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="!(info.leaveTypeStr != 9 && info.leaveTypeStr != 8 && info.leaveTypeStr != 7 && info.leaveTypeStr != 2 && info.leaveTypeStr != 3)">
        <label class="col-md-3 control-label">From date</label>
        <div class="col-md-9">
          <input type="text" class="form-control time-picker" name="leaveTimeStart" my-date-picker ng-model="info.startDate"
            ng-disabled="info.disabled">
        </div>
      </div>
      <div class="form-group" ng-if="!(info.leaveTypeStr != 9 && info.leaveTypeStr != 8 && info.leaveTypeStr != 7 && info.leaveTypeStr != 2 && info.leaveTypeStr != 3)">
        <label class="col-md-3 control-label">To date</label>
        <div class="col-md-9">
          <input type="text" class="form-control time-picker" name="leaveTimeEnd" my-date-picker ng-model="info.endDate"
            ng-disabled="info.disabled">
        </div>
      </div>

      <div class="form-group" ng-if="info.leaveTypeStr != 9 && info.leaveTypeStr != 8 && info.leaveTypeStr != 7 && info.leaveTypeStr != 2 && info.leaveTypeStr != 3">
        <label class="col-md-3 control-label">For these dates</label>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control date-picker" ng-disabled="info.disabled" my-date-picker ng-model="info.startDate">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control date-picker" ng-disabled="info.disabled" my-date-picker ng-model="info.endDate">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="info.leaveTypeStr != 9 && info.leaveTypeStr != 8 && info.leaveTypeStr != 7 && info.leaveTypeStr != 2 && info.leaveTypeStr != 3">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-9">
          <p style="margin-bottom: 5px;">I'm unavailable between these hours</p>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control time-picker" ng-disabled="info.disabled" my-date-picker-timer
                ng-model="info.startTime">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control time-picker" ng-disabled="info.disabled" my-date-picker-timer
                ng-model="info.endTime">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Reason</label>
        <div class="col-md-9">
          <textarea rows="3" class="form-control" ng-model="info.leaveReason" ng-disabled="info.disabled"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-general" ng-if="info.disabled" ng-click="editLeave(info)">Edit</button>
          <button type="button" class="btn btn-general" ng-if="!info.disabled" ng-click="updateLeave(info,false)">Approve</button>
          <button type="button" class="btn btn-default" ng-if="info.disabled" ng-click="cancelLeave(info)">Cancel</button>
        </div>
      </div>
    </div>
    <!--end of leave list-->

    <!--start of Add-leave-->
    <div class="well emergency-contact-block" ng-if="addFlag">
      <div style="display: flex;justify-content: space-between;align-items: center;margin:5px 0 20px 0;">
        <h4>Add Leave</h4>
        <button type="button" class="btn btn-default" ng-click="addLeave(false)">Delete</button>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Leave type</label>
        <div class="col-md-9">
          <select class="form-control" ng-model="leaveInfo.type" ng-change="changeType()">
            <option value="9">Change of RDO</option>
            <option value="8">Change of Shift</option>
            <option value="7">RDO</option>
            <option value="1">Annual Leave</option>
            <option value="0">Personal Leave</option>
            <option value="2">Long Service Leave</option>
            <option value="4">Professional Development Leave</option>
            <option value="5">Compassionate Leave</option>
            <option value="3">Parental Leave</option>
            <option value="10">Casual Unavailability</option>
            <option value="11">Practicum (Uni/TAFE Leave)</option>
            <option value="12">Jury Duty</option>
            <option value="13">Workers Compensation</option>
            <option value="14">Time in Lieu</option>
            <option value="6">Other Leave</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="!(leaveInfo.type != 9 && leaveInfo.type != 8 && leaveInfo.type != 7 && leaveInfo.type != 2 && leaveInfo.type != 3)">
        <label class="col-md-3 control-label">From date</label>
        <div class="col-md-9">
          <input type="text" class="form-control time-picker" name="leaveTimeStart" my-date-picker ng-model="leaveInfo.startDate">
        </div>
      </div>
      <div class="form-group" ng-if="!(leaveInfo.type != 9 && leaveInfo.type != 8 && leaveInfo.type != 7 && leaveInfo.type != 2 && leaveInfo.type != 3)">
        <label class="col-md-3 control-label">To date</label>
        <div class="col-md-9">
          <input type="text" class="form-control time-picker" name="leaveTimeEnd" my-date-picker ng-model="leaveInfo.endDate">
        </div>
      </div>

      <div class="form-group" ng-if="leaveInfo.type != 9 && leaveInfo.type != 8 && leaveInfo.type != 7 && leaveInfo.type != 2 && leaveInfo.type != 3">
        <label class="col-md-3 control-label">For these dates</label>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control date-picker" my-date-picker ng-model="leaveInfo.startDate">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control date-picker" my-date-picker ng-model="leaveInfo.endDate">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="leaveInfo.type != 9 && leaveInfo.type != 8 && leaveInfo.type != 7 && leaveInfo.type != 2 && leaveInfo.type != 3">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-9">
          <p style="margin-bottom: 5px;">I'm unavailable between these hours</p>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control time-picker" my-date-picker-timer ng-model="leaveInfo.startTime"
                value="7:00 AM">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control time-picker" my-date-picker-timer ng-model="leaveInfo.endTime">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Reason</label>
        <div class="col-md-9">
          <textarea rows="3" class="form-control" ng-model="leaveInfo.reason"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-general" ng-click="saveLeave(false)">Save</button>
        </div>
      </div>
    </div>
    <!--end of Add-leave-->

    <div class="form-group" ng-if="condition.leaves.length != 0">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-general" ng-click="addLeave(true)">Submit another leave</button>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Signed In</label>
      <div class="col-md-9">
        <!-- <p class="form-control-static">08:25 AM</p> -->
        <input type="text" class="form-control time-picker" name="staffInTime" my-date-picker-timer value="{{condition.staffInTime}}"
          ng-model="condition.staffInTime" ng-disabled="isCenterManager&&!isCurrentCentreManager">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Signed Out</label>
      <div class="col-md-9">
        <input type="text" class="form-control time-picker" name="condition.staffOutTime" my-date-picker-timer value="{{condition.staffOutTime}}"
          ng-model="condition.staffOutTime" ng-disabled="isCenterManager&&!isCurrentCentreManager">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-if="!(isCenterManager&&!isCurrentCentreManager)" type="button" class="btn btn-general" ng-click="submitSignInfo()">Submit</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
</div>
<!--     </div>
    /.modal-content
  </div>
  /.modal-dialog
</div>
/.modal -->