<!-- Staff Roster Modal -->
<div id='myMask'>
	<div class="modal-header" ng-init="initModal()">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Add a Staff</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" class="form-horizontal" id="addSignForm" add-sign-form>
			<div class="form-group">
				<label class="col-md-3 control-label">Select a staff</label>
				<div class="col-md-9">
					<select name="staffId" class="image-select form-control" ng-model="page.staffId" style="width: 100%" select2-model="condition"
					 url="rosterstaff/getRosterStaffOfRole.do?rosterId={{dataInfo.rosterId}}&centreId={{dataInfo.centreId}}&rosterStaffType={{dataInfo.staffType}}&day={{dataInfo.day}}&id={{dataInfo.shiftId}}"
					 select-image-ajax-roster>
						<option disabled value=""></option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-hide="timeInputShow">
				<label class="col-md-3 control-label">Roster Time Start</label>
				<div class="col-md-9">
					<!-- <p class="form-control-static">08:25 AM</p> -->
					<input type="text" class="form-control time-picker" my-date-picker-timer ng-model="page.sTime" name="rosterTimeStart1">
				</div>
			</div>
			<div class="form-group" ng-hide="timeInputShow">
				<label class="col-md-3 control-label">Roster Time End</label>
				<div class="col-md-9">
					<input type="text" class="form-control time-picker" my-date-picker-timer ng-model="page.eTime" name="rosterTimeEnd1">
				</div>
			</div>
		</form>
		<div class="modal-footer">
			<button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>