<div ng-controller="staffLeaveCtrl">
	<div ng-init="headtype='leaveList';headName='Leave Management'" ng-include="'head.html?res_v='+res_v"></div>

	<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 pull-right remove-padding">
		<div class="rosterWrap">
			<div class="button-group text-right top-button" ng-init="initStaffLeave()">

			</div>
			<h2 class="page-title">Leave List</h2>
			<div class="table-responsive table-nowrap">
				<table class="leave-table leave-list table table-bordered table-customize-general">
					<thead>
						<tr>
							<th>Employee</th>
							<th>Centre</th>
							<th>Role</th>
							<th>Type of leave</th>
							<th>Leave from</th>
							<th>Leave to</th>
							<th>Date of application</th>
							<th>Status</th>
							<th>Reason</th>
							<th class="">Actions</th>
						</tr>
					</thead>
					<tbody id="staffLeaveList">
						<tr class="filter">
							<td><input type="text" class="form-control" ng-model="condition.userName" ng-blur="changeLeavePage(1)"
								 ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" ng-model="condition.centreName" ng-blur="changeLeavePage(1)"
								 ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" ng-model="condition.roleName" ng-blur="changeLeavePage(1)"
								 ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" ng-model="condition.leaveType" ng-blur="changeLeavePage(1)"
								 ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" my-date-picker ng-model="condition.startDate" ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" my-date-picker ng-model="condition.endDate" ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" my-date-picker ng-model="condition.appDate" ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" ng-model="condition.status" ng-blur="changeLeavePage(1)" ng-keypress="keyEvent($event)"></td>
							<td><input type="text" class="form-control" ng-model="condition.reason" ng-blur="changeLeavePage(1)" ng-keypress="keyEvent($event)"></td>
							<td></td>
						</tr>
						<tr class="queue" ng-repeat="item in leaveList.data.list">
							<td><span ng-if="item.avatar" class="profileImage"><img ng-src='{{item.avatar}}' class="img-circle img-full"></span>
								<span ng-if="!(item.avatar)" class="name-short name-image-short {{item.personColor!=null?item.personColor:'blue'}}">{{item.userName
									| userNameUpperCase}}</span> <span class="name-full">{{item.userName}}</span></td>
							<td>{{item.centreName}}</td>
							<td><span ng-repeat="it in item.roleName.trim().split(',')" tooltip data-toggle="tooltip" title="{{it}}">{{it|roleTypeFilter:it}}<span
									 ng-show='!$last'>,</span></span></td>
							<td>{{item.leaveType | leaveTypeFilter}}</td>
							<td ng-if="item.leaveType | leaveFilter">{{item.startDate | date:'dd/MM/yyyy'}}</td>
							<td ng-if="item.leaveType | leaveFilter">{{item.endDate | date:'dd/MM/yyyy'}}</td>
							<td ng-if="!(item.leaveType | leaveFilter)">{{item.startDate | date:'dd/MM/yyyy hh:mm a'}}</td>
							<td ng-if="!(item.leaveType | leaveFilter)">{{item.endDate | date:'dd/MM/yyyy hh:mm a'}}</td>
							<td>{{item.createTime | date:'dd/MM/yyyy'}}</td>
							<td>{{item.status | leaveStatusFilter}}<a ng-if="item.status == 2 || item.status == 3" class="btn-icon"
								 data-toggle="tooltip" data-placement="top" tooltip title="{{item.reason}}"><i class="fa fa-info-circle"
									 aria-hidden="true"></i></a></td>
							<td style="max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" title="{{item.leaveReason}}">{{item.leaveReason}}</td>
							<td class="text-center leave-action">
								<div class="dropdown right" ng-if="item.status == 0 || item.status == 1">
									<button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</button>
									<ul class="dropdown-menu">
										<li style="cursor: pointer"><a class="leave-approve" data-toggle="modal" data-target="#approve-leave-modal"
											 ng-click="openLeave(item)">Approve</a></li>
										<li ng-if="item.status == 0" style="cursor: pointer"><a class="leave-reject" data-toggle="modal" data-target="#reject-leave-modal"
											 ng-click="rejectAndCancelModal(item,0)">Reject</a></li>
										<li style="cursor: pointer"><a class="leave-cancel" data-toggle="modal" data-target="#cancel-leave-modal"
											 ng-click="rejectAndCancelModal(item,1)">Cancel</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pagination-wrap text-center">
				<nav aria-label="Page navigation">
					<pagination ng-change="changeLeavePage(condition.pageIndex)" uib-pagination items-per-page="condition.pageSize"
					 total-items="condition.totalItems" ng-model="condition.pageIndex" max-size="condition.maxSize" previous-text="&laquo;"
					 next-text="&raquo;" class="pagination-sm" boundary-links="false" rotate="false"></pagination>
				</nav>
			</div>
		</div>
	</div>
</div>