<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Withdraw this leave?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-general" ng-click="ok()">Confirm</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</div>