<div class="modal-header">
  <button type="button" class="close" ng-click="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{confirmObj.title}}</h4>
</div>
<div class="modal-body" style="text-align:center;">
  <div class="row" ng-init="initForm();">
    <div class="col-md-12">
      <div class="clearfix">
        <h2>Your Form</h2>
        <hr>
        <div id="build">
          <form id="target" class="form-horizontal">
            <fieldset>
              <div class="json-log" ng-hide="true">{{form}}</div>
              <div class="button-group" ng-hide="true">
                <button id="save" class="btn btn-general" ng-click="saveForm();">Save</button>
                &nbsp;
                <button id="cancel" class="btn btn-default">Cancel</button>
              </div>
              <div id="formname" class="component" uib-popover-template="'formName.html'" popover-is-open="form.isopen" popover-placement="bottom-right" ng-click="openFormPopover();">
                <!-- Form Name -->
                <legend>{{form.name}}</legend>
              </div>
              <div class="component"  ng-repeat="obj in form.attributes">
                <!-- Text input-->
                <div ng-if="obj.type==1" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <label class="col-md-4 control-label" for="textinput">{{obj.labelText}}</label>
                  <div class="col-md-8">
                    <input disabled id="textinput" name="textinput" type="text" placeholder="{{obj.json.placeholder}}" class="form-control input-md" maxlength="200">
                    <span class="help-block text-left">{{obj.json.helpText}}</span>
                  </div>
                </div>
                <!-- Textarea -->
                <div ng-if="obj.type==2" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <label class="col-md-4 control-label" for="textarea">{{obj.labelText}}</label>
                  <div class="col-md-8">
                    <textarea disabled class="form-control" id="textarea" placeholder="{{obj.json.placeholder}}" name="textarea"></textarea>
                    <span class="help-block text-left">{{obj.json.helpText}}</span>
                  </div>
                </div>
                <!-- Radios -->
                <div ng-if="obj.type==3" class="form-group" ng-click="openCheckRadiosPopover($index);" class="form-group" uib-popover-template="'checkradios.html'" popover-is-open="obj.isopen" popover-placement="bottom-right" >
                  <label class="col-md-4 control-label" for="radios">{{obj.labelText}}</label>
                  <div class="col-md-8 text-left">
                    <div class="radio" ng-repeat="Options in obj.json.options">
                      <label for="radios-{{$index}}">
                        <input disabled type="radio" name="radios-{{$index}}" id="radios-{{$index}}">
                        <span class="cr"> <i class="cr-icon fa fa-circle"></i>
                        </span>
                        {{Options.text}}
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Checkboxes -->
                <div ng-if="obj.type==4" class="form-group" ng-click="openCheckRadiosPopover($index);" class="form-group" uib-popover-template="'checkradios.html'" popover-is-open="obj.isopen" popover-placement="bottom-right" >
                  <label class="col-md-4 control-label" for="checkboxes">{{obj.labelText}}</label>
                  <div class="col-md-8 text-left">
                    <div class="checkbox" ng-repeat="Options in obj.json.options">
                      <label for="checkboxes-{{$index}}" >
                        <input disabled type="checkbox" name="checkboxes" id="checkboxes-{{$index}}" value="{{Options.id}}">
                        <span class="cr"> <i class="cr-icon fa fa-check"></i>
                        </span>
                        {{Options.text}}
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Select -->
                <div ng-if="obj.type==5" class="form-group" ng-click="openSelectPopover($index);" class="form-group" uib-popover-template="'select.html'" popover-is-open="obj.isopen" popover-placement="bottom-right" >
                  <label class="col-md-4 control-label">{{obj.labelText}}</label>
                  <div class="col-md-8">
                    <select disabled id="selectbasic" name="selectbasic" class="form-control">
                      <option value="1">Option one</option>
                      <option value="2">Option two</option>
                    </select>
                  </div>
                </div>
                <!-- File -->
                <div ng-if="obj.type==6" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <label class="col-md-4 control-label" for="filebutton">{{obj.labelText}}</label>
                  <div class="col-md-8">

                    <div class="fileUpload-pack">
                      <div class="fileUpload-drag-area">
                        <span class="text">You can drag &amp; drop your file here or click to upload</span>
                        <input disabled id="filebutton" name="filebutton" class="input-file" type="file"></div>
                    </div>
                    <span class="help-block text-left">{{obj.json.helpText}}</span>
                  </div>
                </div>
                <!-- Table -->
                <div ng-if="obj.type==7" class="form-group" ng-click="opentablePopover($index);" uib-popover-template="'table.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <label class="col-md-1 control-label">Table</label>
                  <div class="col-md-12">
                    <table class="table table-bordered" ng-if="obj.json.tArray.length>
                      0">
                      <tbody>
                        <tr ng-repeat="tarray in obj.json.tArray track by $index" >
                          <td ng-repeat="tdobj in tarray track by $index">
                            <span class="control-label" ng-if="tdobj!=null">{{tdobj}}</span>
                            <input disabled id="textinput" ng-if="tdobj==null" type="text" class="form-control input-md"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Signature -->
                <div ng-if="obj.type==8" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <label class="col-md-4 control-label">{{obj.labelText}}</label>
                  <div class="col-md-8">
                    <div id="signature-pad-7" class="m-signature-pad">
                      <div class="m-signature-pad--body">
                        <canvas disabled ng-show="true" name="signinNature"></canvas>
                      </div>
                      <div class="m-signature-pad--footer">
                        <button type="button" ng-show="true" class="button clear btn btn-default btn-sm" data-action="clear7">Clear</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- P -->
                <div ng-if="obj.type==9" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <div class="col-md-12">
                    <p>{{obj.labelText}}</p>
                  </div>
                </div>
                <!-- H1 -->
                <div ng-if="obj.type==10" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right" >
                  <div class="col-md-12">
                    <H1>{{obj.labelText}}</H1>
                  </div>
                </div>
                <!-- H2 -->
                <div ng-if="obj.type==11" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <div class="col-md-12">
                    <H2>{{obj.labelText}}</H2>
                  </div>
                </div>
                <!-- H3 -->
                <div ng-if="obj.type==12" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <div class="col-md-12">
                    <H3>{{obj.labelText}}</H3>
                  </div>
                </div>
                <!-- H4 -->
                <div ng-if="obj.type==13" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <div class="col-md-12">
                    <H4>{{obj.labelText}}</H4>
                  </div>
                </div>
                <!-- H5 -->
                <div ng-if="obj.type==14" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <div class="col-md-12">
                    <H5>{{obj.labelText}}</H5>
                  </div>
                </div>
                <!-- H6 -->
                <div ng-if="obj.type==15" ng-click="openTextFiled($index);" class="form-group" uib-popover-template="'text.html'" popover-is-open="obj.isopen" popover-placement="bottom-right">
                  <div class="col-md-12">
                    <H6>{{obj.labelText}}</H6>
                  </div>
                </div>
                <div  class="form-group">
                  <div class="col-md-12">
                    <a href="javascript:void(0);" ng-click="upFiled($index);" class="btn btn-general btn-sm">
                      <i class="fa fa-arrow-up" aria-hidden="true"></i>
                      Up
                    </a>
                    <a href="javascript:void(0);" ng-click="downFiled($index);" class="btn btn-general btn-sm">
                      <i class="fa fa-arrow-down" aria-hidden="true"></i>
                      Down
                    </a>
                    <a href="javascript:void(0);" ng-click="delFiled($index);" class="btn btn-general btn-sm">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="input-group">
                    <select id="selectbasic" name="selectbasic" ng-model="selectFiled" class="form-control" ng-options="option.id as option.text for option in options" ></select>
                    <span class="input-group-btn">
                      <button ng-click="addFiled();" type="button" class="btn btn-general">Add</button>
                    </span>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button id="save" class="btn btn-general" ng-if='!hiddenSave' ng-click="saveForm();">Save</button>
  <button id="cancel" class="btn btn-default" ng-click="close()">Cancel</button>
</div>

<script type="text/ng-template" id="formName.html">
  <h3 class=" popover-title">Form Name</h3>
  <div class="popover-content">
    <form role="form"> 
      <div class="form-group">
          <label class="col-md-12">Form Name </label>
          <div class="col-md-12">
            <input class="form-control field" data-type="input" type="text" name="name" ng-model="formObj.name" id="name" value="" maxlength="200">
          </div>
      </div>
      <hr>
      <button id="save" class="btn btn-general" ng-click="saveFormPopover();">Save</button>&nbsp;<button  ng-click="cancelFormPopover();" id="cancel" class="btn btn-default">Cancel</button>
    </form>
  </div>
</script>

<script type="text/ng-template" id="text.html">
  <h3 class="popover-title">{{textObj.type | formOptionsFilter}}</h3>
  <div class="popover-content">
    <form role="form">
      <div class="form-group">
        <label class="col-md-12">Name </label>
        <div class="col-md-12">
          <input class="form-control field" data-type="input" type="text" ng-model="textObj.name" name="id" id="id"  value="" maxlength="200"></div>
      </div>
      <div class="form-group">
        <label class="col-md-12">Label Text </label>
        <div class="col-md-12">
          <input class="form-control field" data-type="input" type="text" name="label" id="label"  ng-model="textObj.labelText" value="" maxlength="1000"></div>
      </div>
      <div class="form-group" ng-if="textObj.type == 1 || textObj.type == 2">
        <label class="col-md-12" >Placeholder </label>
        <div class="col-md-12">
          <input class="form-control field" data-type="input" type="text" name="placeholder" ng-model="textObj.json.placeholder" id="placeholder" value="" maxlength="200"></div>
      </div>
      <div class="form-group" ng-if="textObj.type == 1 || textObj.type == 2 || textObj.type == 6">
        <label class="col-md-12">Help Text </label>
        <div class="col-md-12">
          <input class="form-control field" data-type="input" type="text" name="helptext" ng-model="textObj.json.helpText" id="helptext" value="" maxlength="200"></div>
      </div>
     <hr>
      <button id="save" class="btn btn-general" ng-click="saveTextFiled(index);">Save</button>&nbsp;<button ng-click="cancelPopover(index);" id="cancel" class="btn btn-default">Cancel</button>
    </form>
  </div>
</script>

<script type="text/ng-template" id="checkradios.html">
    <h3 class="popover-title">{{checkradiosObj.type | formOptionsFilter}}</h3>
    <div class="popover-content">
      <form role="form">   
          <div class="form-group">
            <label class="col-md-12">Name </label>
            <div class="col-md-12">
              <input class="form-control field" data-type="input" type="text" name="name" ng-model="checkradiosObj.name" id="name" value="" maxlength="200"></div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Label Text </label>
            <div class="col-md-12">
              <input class="form-control field" data-type="input" type="text" name="label" id="label" ng-model="checkradiosObj.labelText" value="" maxlength="1000"></div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Options </label>
            <div class="col-md-12">
            <textarea class="form-control field" ng-model="checkradiosObj.options.id" data-type="textarea-split" id="radios">
              Option one
              Option two
            </textarea>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-md-12">Options Values </label>
            <div class="col-md-12">
            <textarea class="form-control field" ng-model="checkradiosObj.options.text" data-type="textarea-split" id="radiosValues">
              1
              2
            </textarea>
            </div>
          </div>
          <hr>
          <button id="save" class="btn btn-general" ng-click="saveCheckRadiosPopover(index,checkradiosObj.type);">Save</button>&nbsp;<button id="cancel" class="btn btn-default" ng-click="cancelPopover(index);">Cancel</button>
      </form>
    </div>
</script>

<script type="text/ng-template" id="select.html">
    <h3 class="popover-title">{{selectObj.type | formOptionsFilter}}</h3>
    <div class="popover-content">
      <form role="form">   
          <div class="form-group">
            <label class="col-md-12">Name </label>
            <div class="col-md-12">
              <input class="form-control field" data-type="input" type="text" name="name" ng-model="selectObj.name" id="name" value="" maxlength="200"></div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Label Text </label>
            <div class="col-md-12">
              <input class="form-control field" data-type="input" type="text" name="label" id="label" ng-model="selectObj.labelText" value="" maxlength="1000"></div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Multiple </label>
            <div class="col-md-12">
              <div class="radio">
                <label class="control-label" for="multiple0">
                  <input  type="radio" name="multiple" id="multiple0" ng-model="selectObj.json.multiple" value="1" ng-checked="selectObj.json.multiple==1"><span class="cr"><i class="cr-icon fa fa-circle"></i></span> Yes
                </label>
              </div>
              <div class="radio">
                <label class="control-label" for="multiple1">
                  <input  type="radio" name="multiple" id="multiple1" ng-model="selectObj.json.multiple" value="0" ng-checked="selectObj.json.multiple==0">
                  <span class="cr"><i class="cr-icon fa fa-circle"></i></span> No
                </label>
              </div>
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-md-12">Select Options Source</label>
            <div class="col-md-12">
              <div class="radio">
                <label for="optionsType2">
                  <input  type="radio" name="optionsType" id="optionsType2" ng-model="selectObj.json.optionsType" value="1" ng-checked="selectObj.json.optionsType==1">
                  <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                  Yes
                </label>
              </div>
              <div class="radio">
                <label for="optionsType1">
                  <input  type="radio" name="optionsType" id="optionsType1" ng-model="selectObj.json.optionsType" value="0" ng-checked="selectObj.json.optionsType==0">
                  <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                  No
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" ng-show="selectObj.json.optionsType==0">
            <label class="col-md-12">Select Source</label>
            <div class="col-md-12">
             <select ng-model="selectObj.ajaxValue" select2 multiple="multiple" style="width:100%">
               <option value="{{option.id}}" ng-disabled="option.disabled" ng-repeat="option in dynamicOptions">{{option.text}}</option>
             </select>
            </div>
          </div>
          <div class="form-group" ng-if="selectObj.json.optionsType==1">
            <label class="col-md-12">Options </label>
            <div class="col-md-12">
            <textarea class="form-control field" ng-model="selectObj.options.id" data-type="textarea-split" id="radios">
              Option one
              Option two
            </textarea>
            </div>
          </div>
          <div class="form-group" ng-if="selectObj.json.optionsType==1">
            <label class="col-md-12">Options Values </label>
            <div class="col-md-12">
            <textarea class="form-control field" ng-model="selectObj.options.text" data-type="textarea-split" id="radiosValues">
              1
              2
            </textarea>
            </div>
          </div>
          <hr>
          <button id="save" class="btn btn-general" ng-click="saveSelectPopover(index,selectObj.type);">Save</button>&nbsp;<button id="cancel" class="btn btn-default" ng-click="cancelPopover(index);">Cancel</button>
      </form>
    </div>
</script>

<script type="text/ng-template" id="table.html">
    <h3 class="popover-title">{{tableObj.type | formOptionsFilter}}</h3>
    <div class="popover-content">
      <form role="form">   
          <div class="form-group">
            <label class="col-md-12 control-label">Name </label>
            <div class="col-md-12">
              <input class="form-control field" data-type="input" type="text" name="name" ng-model="tableObj.name" id="name" value="" maxlength="200"></div>
          </div>
          <div class="form-group"> 
            <label class="col-md-12 control-label">Add Row</label>
            <div class="col-md-12">
              <div class="radio">
                <label class="control-label" for="addRow1">
                  <input  type="radio" name="addRow" id="addRow1" ng-model="tableObj.json.addRow" value="1" ng-checked="tableObj.json.addRow==1">
                  <span class="cr"><i class="cr-icon fa fa-circle"></i></span> Yes
                </label>
              </div>
              <div class="radio">
                <label class="control-label" for="addRow0">
                  <input  type="radio" name="addRow" id="addRow0" ng-model="tableObj.json.addRow" value="0" ng-checked="tableObj.json.addRow==0">
                  <span class="cr"><i class="cr-icon fa fa-circle"></i></span> No
                </label>
              </div>
            </div>
          </div>         
          <div class="form-group">
            <label class="col-md-12">Col OR Row </label>
            <div class="col-md-6">
              Row
              <input class="form-control field" data-type="input" type="text" name="label" id="label" ng-model="tableObj.json.rows" value="" maxlength="200">
            </div>
            <div class="col-md-6">
              Col
              <input class="form-control field" data-type="input" type="text" name="label" id="label" ng-model="tableObj.json.cols" value="" maxlength="200">
            </div>
          </div>
           <div class="form-group">
            <label class="col-md-12">Col OR Row Value </label>
            <div class="col-md-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Row</th>
                      <th>Col</th>
                      <th>Value</th>
                      <th><button id="Add" class="btn btn-general" ng-click="addtableRowColValue()"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="valueObj in tableObj.json.value">
                      <td><input class="form-control field" type="text" ng-model="valueObj.row" maxlength="10"></td>
                      <td><input class="form-control field" type="text" ng-model="valueObj.col" maxlength="10"></td>
                      <td><input class="form-control field" type="text" ng-model="valueObj.value" maxlength="1000"></td>
                      <td><button id="Remove" class="btn btn-default" ng-click="removetableRowColValue($index)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <hr>
          <button id="save" class="btn btn-general" ng-click="savetablePopover(index);">Save</button>&nbsp;<button id="cancel" class="btn btn-default" ng-click="cancelPopover(index);">Cancel</button>
      </form>
    </div>
</script>