<div class="modal-body">
  <div class="col-md-12">
    <div class="row">
      <form class="form-horizontal" role="form">
        <div ng-repeat="attr in formInfo.attributes">
          <div class="form-group" ng-if="attr.hasLabel">
            <label class="col-md-2 control-label">{{attr.labelText}}</label>
            <div class="col-md-10" ng-if="attr.type == 1">
              <input ng-disabled="isdisable" type="text" class="form-control" placeholder="{{attr.json.placeholder}}" ng-model="attr.value" maxlength="200">
              <span class="help-block text-left">{{attr.json.helpText}}</span>
            </div>
            <div class="col-md-10" ng-if="attr.type == 2">
              <textarea ng-disabled="isdisable" class="form-control" maxlength="2000" rows="10" ng-model="attr.value" placeholder="{{attr.json.placeholder}}"></textarea>
              <span class="help-block text-left">{{attr.json.helpText}}</span>
            </div>
            <div class="col-md-10" ng-if="attr.type == 3">
              <div class="radio" ng-repeat="option in attr.json.options">
                <label>
                  <input ng-disabled="isdisable" type="radio" name="{{attr.attrId}}" value="{{option.id}}" ng-model="attr.value">
                  <span class="cr">
                    <i class="cr-icon fa fa-circle"></i>
                  </span>
                  {{option.text}}
                </label>
              </div>
            </div>
            <div class="col-md-10" ng-if="attr.type == 4">
              <div class="checkbox" ng-repeat="(checkBoxIndex, option) in attr.json.options">
                <label>
                  <input ng-disabled="isdisable" type="checkbox" name="{{attr.attrId}}" value="{{option.id}}" ng-model="attr.value[checkBoxIndex]">
                  <span class="cr">
                    <i class="cr-icon fa fa-check"></i>
                  </span>
                  {{option.text}}
                </label>
              </div>
            </div>
            <div class="col-md-10 function" ng-if="attr.type == 5">
              <select ng-disabled="isdisable" direselect22 ng-model="attr.value" class="form-control" url="{{attr.json.ajaxUrl}}" ng-if="attr.json.multiple==0&&attr.json.optionsType==0" style="width: 100%;">
                <option value="{{option.id}}" ng-disabled="option.disabled" ng-repeat="option in attr.json.options | orderBy:'text'">{{option.text}}</option>
              </select>
              <select ng-disabled="isdisable" direselect2 ng-model="attr.value" class="form-control" url="{{attr.json.ajaxUrl}}" ng-if="attr.json.multiple==0&&attr.json.optionsType==1" style="width: 100%;">
                <option value="{{option.id}}" ng-disabled="option.disabled" ng-repeat="option in attr.json.options | orderBy:'text'">{{option.text}}</option>
              </select>
              <select ng-disabled="isdisable" direselect22 ng-model="attr.value" class="form-control" url="{{attr.json.ajaxUrl}}" multiple="multiple" select2-option="attr.json.options" ng-if="attr.json.multiple==1&&attr.json.optionsType==0"
                style="width: 100%;">
                <option value="{{option.id}}" ng-disabled="option.disabled" ng-repeat="option in attr.json.options | orderBy:'text'">{{option.text}}</option>
              </select>
              <select ng-disabled="isdisable" direselect2 ng-model="attr.value" class="form-control" url="{{attr.json.ajaxUrl}}" multiple="multiple" select2-option="attr.json.options" ng-if="attr.json.multiple==1&&attr.json.optionsType==1"
                style="width: 100%;">
                <option value="{{option.id}}" ng-disabled="option.disabled" ng-repeat="option in attr.json.options | orderBy:'text'">{{option.text}}</option>
              </select>
            </div>
            <div class="col-md-10" ng-if="attr.type == 6">
              <div class="fileUpload-pack" ng-if="attr.type == 6">
                <div class="fileUpload-drag-area">
                  <span class="text">You can drag &amp; drop your file here or click to upload</span>
                  <input  ng-disabled="isdisable" type="file" ngf-multiple="true" ngf-select="upload($files,attr)">
                </div>

                <!-- Progress Bar -->
                <div class="progress files-uploaded" ng-repeat="(fileIndex, file) in attr.json.files">
                  <div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                            ng-style="mystyle={'width':file.progress+'%'}">
                    {{file.fileName}}
                  </div>
                  <div class="files-uploaded">
                    <div class="file">
                      <a class="file-link" href="{{'common/downloadById.do?id=' + file.id}}">{{file.fileName}}</a>
                      <a class="file-delete" href="javascript:void()" ng-if="file.progress==undefined || file.progress==100" ng-click='removeFile(attr,fileIndex)'>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <span class="help-block text-left">{{attr.json.helpText}}</span> 
            </div>
            <div class="col-md-10" ng-if="attr.type == 8">
              <signature-pad ng-if="!isdisable" ng-model="attr"></signature-pad>
              <div id="signature-pad-5" ng-if="isdisable" class="m-signature-pad">
						<div class="m-signature-pad--body">
							<img ng-src="{{attr.value}}">
						</div>
			</div>
            </div>
          </div>
          <div class="table-responsive" ng-if="attr.type == 7">
            <div class="button-group" ng-if="attr.json.addRow == 1">
              <button ng-click="addRow(attr)" class="btn btn-general">Add</button>
            </div>
            <table class="table table-bordered">
              <tr ng-repeat="(rowIndex, row) in attr.calcValue">
                <td ng-repeat="cell in row">
                  <div ng-if="!cell.inputFlag" style="min-width: 80px" title="{{cell.value}}">{{cell.value}}</div>
                  <div ng-if="cell.inputFlag" style="min-width: 80px" title="{{cell.value}}">
                    <input ng-disabled="isdisable" type="text" ng-model="cell.value" ng-change="tableValueChange(cell)" class="form-control input-sm" maxlength="200">
                  </div>
                </td>
                <td ng-if="attr.json.addRow == 1">
                  <button id="Remove" class="btn btn-default" ng-click="removeRow(attr,rowIndex)">Del</button>
                </td>
              </tr>
            </table>
          </div>
          <p ng-if="attr.type == 9" class="text-left">{{attr.labelText}}</p>
          <H1 ng-if="attr.type == 10" class="text-left">{{attr.labelText}}</H1>
          <H2 ng-if="attr.type == 11" class="text-left">{{attr.labelText}}</H2>
          <H3 ng-if="attr.type == 12" class="text-left">{{attr.labelText}}</H3>
          <H4 ng-if="attr.type == 13" class="text-left">{{attr.labelText}}</H4>
          <H5 ng-if="attr.type == 14" class="text-left">{{attr.labelText}}</H5>
          <H6 ng-if="attr.type == 15" class="text-left">{{attr.labelText}}</H6>
        </div>
      </form>
    </div>
  </div>
</div>
