 <!--Message Modal-->

        <div id="myCreate">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create New Message</h4>
          </div>
          <div class="modal-body">
              <form class="form" method="post">

                <div class="form-group">
                    <div class="function recipient">
                      <label>To</label>
                      <div class="inputbox">
                       <select class="form-control" style="width: 100%;" url="./common/get.userAndGroup.do" select2-model='select2Model' select-ajax ng-model="messageInfo.viewAccountIds" id="recipent" multiple="multiple">
		</select>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <label>Subject</label>
                  <div class="inputbox">
                  <input type="text" class="form-control" name="subject" ng-model="messageInfo.subject">
                  </div>
                </div>

                <div class="form-group">
                  <label>Content</label>
                  <textarea rows="10"  class="form-control clean-style" placeholder="Type something" ng-model="messageInfo.content"></textarea>
                </div>

                <div class="form-group">
                  <label>Upload Files</label>
                  <div class="fileUpload-pack">
                      <div class="fileUpload-drag-area">
                        <span class="text">You can drag & drop your files here or click to upload</span>
                        <input type="file"  ngf-multiple="true" ngf-select="upload($files)" />
                      </div>

                      <!-- Progress Bar -->                    
                      	<div class="progress files-uploaded" ng-repeat="file in fileList">
			<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
			<div class="files-uploaded">
				<div class="file">
					<a class="file-link" ng-click="download(file)" href="javascript:void(0);">{{file.fileName}}</a> <a class="file-delete" ng-if="file.progress==undefined || file.progress==100"
						ng-click="removeFile(file)" href="javascript:void()"><i class="fa fa-times" aria-hidden="true"></i></a>
				</div>
			</div>									
		</div>										
                  </div>
                </div>
                  
                <div class="form-group" ng-if="!isParent">
                	<div class="nqs-list tag-list">
						<a class="btn-icon {{nqs.version|nqsTipFilter}}" ng-repeat="nqs in chooseNqs | orderBy:'version'" href="javascript:void(0);" tooltip data-toggle="tooltip" title="{{nqs.content}}">{{nqs.version}}</a>		
	 				</div>
	             	<div class="function nqs">
	                     <button type="button" class="btn btn-general pull-left" data-toggle="modal" data-target="#nqs-modal" ng-click="openNqs(chooseNqs,saveNqsResult)"><i class="material-icons">more</i>  Attach NQS</button>
	           	  </div>      
                </div>

              </form>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" data-toggle="modal" data-target="#notice-modal" class="btn btn-light">Cancel</button> -->
            <button type="button" class="btn btn-light showAlert" data-dismiss="modal" ng-click="close();">Cancel</button>
            <button type="button" class="btn btn-general" data-dismiss="modal" ng-click="createNewMessageInfo();">Create</button>
          </div>
        </div>
      </div>
