<div class="message-wrap center-wrap" ng-init="getMessages()" id='main_edit'>
	
	<!-- Message Detail Display-->
             <div class="message-title">{{messages[0].subject}}</div>

	<div class="message-participants">
		<div >
			<span ng-repeat="receive in titleReceive|groupFilter:1"  ng-show="$index<5">
			 	<span class="participant" style="font-weight: bold;" ng-if="titleReceive[$index-1].groupName!=receive.groupName&&receive.groupName!=null">
			 		{{receive.groupName}}:
			 	</span> 
			 	<span class="tags-recipient participant" ng-class="receive.readFlag|readCssFilter">{{receive.name}};</span>
			</span>
			 <a href="javascript:void(0);" show-more ng-repeat="receive in titleReceive|groupFilter:1" ng-show="$index==5" class="showmore">...more</a> 
			 <span class="shotern" ng-repeat="receive in titleReceive|groupFilter:1" ng-show="$index>=5">
			    <span class="participant" style="font-weight: bold;" ng-if="titleReceive[$index-1].groupName!=receive.groupName&&receive.groupName!=null">
			 		{{receive.groupName}}:
			 	</span> 
			 	<span ng-show="!$last" class="tags-recipient participant" ng-class="receive.readFlag|readCssFilter">{{receive.name}};</span>
			 	<span ng-show="$last" class="tags-recipient participant" ng-class="receive.readFlag|readCssFilter">{{receive.name}}</span>
			 </span>
			 <br>
			<span ng-repeat="receive in userList" ng-show="$index<5">
			     <span class="tags-recipient participant" ng-class="receive.readFlag|readCssFilter">{{receive.name}};</span>
			</span>
			 <a href="javascript:void(0);" show-more2  ng-click="changeShow()"  ng-show="userList.length>5" class="showmore">...more</a>
			<span class="shotern2">
				<span  ng-repeat="receive in userList" ng-show="$index>=5">
				     <span class="tags-recipient participant" ng-class="receive.readFlag|readCssFilter">{{receive.name}};</span>
				</span>
			</span>
			<button class="btn-icon" data-toggle="modal" ng-click="addPerson()" data-target="#forward-modal"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
		
	</div>

	 <div class="nqs-list tag-list" ng-show="messages[0].nqsList.length>0">
                      <a class="title category" style="cursor: default;">NQS</a>
                    <a ng-repeat="nqs in messages[0].nqsList | orderBy:'version'" class="tags-nqs-display {{nqs.version|nqsTipFilter:nqs.tag}}" tooltip data-toggle="tooltip" title="{{nqs.content}}">{{nqs.version}}</a>
                  
             </div>

             <ul class="conversation">
             <div ng-repeat="msg in messages">
                      <li class="other" ng-if="msg.sendAccountId!=currentUser.accountInfo.id">
                        <div class="avatar" data-toggle="tooltip-cus" data-placement="top" data-html="true" title="{{msg.sendAccountName}}">
                          <span  class="profileImage" ng-if="msg.avatar!=null&&msg.avatar!=''">
                            <img ng-src="{{msg.avatar}}" class="img-circle img-full">
                          </span>
                          <span class="name-short {{msg.personColor}}" ng-if="msg.avatar==null||msg.avatar==''">
                            {{msg.sendAccountName|userNameUpperCase}} 
                          </span>
                        </div>
                        <div class="message-chat">
                          <div class="content message-body">
                             <div class="arrow"></div>
                          <p style="min-width:200px;" load-html="{{msg.content}}" contentlength="msg.content.length"></p>
                             <div class="tag-list message-files">
                              <a ng-repeat="file in msg.attachmentList" download base-url="'./common/download.do?fileRelativeIdName='+file.attachId+'&fileName='" filename="file.attachName" href="{{downloadUrl}}" class="file">{{file.attachName}}</a>
                            </div>
                          </div>
                          <div class="message-chat-time">
                          <span ng-show="msg.showTimeAgoFlag">{{msg.timeAgo}}</span> <span ng-show="msg.showTimeAgoFlag">(</span>{{msg.time}}<span ng-show="msg.showTimeAgoFlag">)</span>
                          </div>
                        </div>
                      </li>
                      <li class="self" ng-if="msg.sendAccountId==currentUser.accountInfo.id">
                       <div class="message-chat">
                          <div class="content message-body">
                             <div class="arrow"></div>
                          <p style="min-width:200px;" load-html="{{msg.content}}" contentlength="msg.content.length"></p>
                             <div class="tag-list message-files">
                              <a ng-repeat="file in msg.attachmentList" download base-url="'./common/download.do?fileRelativeIdName='+file.attachId+'&fileName='" filename="file.attachName" href="{{downloadUrl}}" class="file">{{file.attachName}}</a>
                            </div>
                          </div>
                          <div class="message-chat-time">
                          <span ng-show="msg.showTimeAgoFlag">{{msg.timeAgo}}</span> <span ng-show="msg.showTimeAgoFlag">(</span>{{msg.time}}<span ng-show="msg.showTimeAgoFlag">)</span>
                          </div>
                        </div>

                        <div class="avatar" data-toggle="tooltip-cus" data-placement="top" data-html="true" title="{{msg.sendAccountName}}">
                          <span  class="profileImage" ng-if="msg.avatar!=null&&msg.avatar!=''">
                            <img ng-src="{{msg.avatar}}" class="img-circle img-full">
                          </span>
                          <span class="name-short {{msg.personColor}}" ng-if="msg.avatar==null||msg.avatar==''">
                            {{msg.sendAccountName|userNameUpperCase}} 
                          </span>
                        </div>
                      </li>
                      </div>
             </ul>

	<!--End of Message Detail Display-->
	   <div class="message-create message-panel">
                          <div class="tab-pane active" id="reply">
                              <div class="message-body">
                              <textarea rows="10" class="form-control clean-style" ng-model="repalyForward.replayContent" placeholder="Type something"></textarea>
                              </div>
                              <div class="message-footer text-right">
                                <button class="btn btn-general" ng-click="createNewMessageInfo(2)">Send</button>
                              </div>
                          </div>
                    </div>


	
</div>