
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Forward</h4>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-md-3 control-label">Select a Person</label>
			<div class="col-md-9">
				<select class="form-control" style="width: 100%" select2-model='userList' url="./common/getUsersInMessage.do?msgId={{msgId}}" select-ajax ng-model="accountIds"
					id="recipent" multiple="multiple">
				</select>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-click="saveUser()">Confirm</button>
		<button type="button" class="btn btn-default" ng-click='close()' data-dismiss="modal">Cancel</button>
	</div>
</div>
