<div class="message-wrap center-wrap">	
	<!--End of Message Create-->
	<!--Message List-->
	<div class="messages-list message-panel" name="messageList" infinite-scrollup="scorellUp()" infinite-scroll="getMessageList(true)" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
		<a href="#/message_edit/{{message.msgId}}" ng-repeat="message in page.list"  class="{{message.readFlag|messageClass}}">
			<div  class="message-inner">
				<div class="message-profile">
					<span class="profileImage">
						<span class="name-short message-short {{message.personColor}}" ng-if="message.avatar==null||message.avatar==''">{{message.sendAccountName|userNameUpperCase}} </span>
						<img ng-if="message.avatar!=null&&message.avatar!=''" ng-src="{{message.avatar}}" class="img-responsive img-circle" />
					</span>
				</div>
				<div class="message-subject">{{message.subject}}</div>
				<div class="message-time text-right" ng-show="message.showTimeAgoFlag">{{message.timeAgo}}</div>
				<div class="message-time text-right" ng-hide="message.showTimeAgoFlag">{{message.time}}</div>
			</div>
		</a>
	</div>
	<div class="loading-bar bottom" ng-show="busy">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	</div>
	<!--End of Message List-->
</div>
