<div class="profile-wrap profile-staff" id="staff_list" style="min-height:500px;" infinite-scroll="getStaffList(true)" infinite-scroll-disabled='busy' infinite-scroll-distance='0.1'>
    
    <div class="row" ng-init='reloadPage()'>
     <!--    <div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 profile profile-create" ng-if="currUser.showAdd">
         <div class="inner">
             <button type="button" class="btn-icon" ng-click="openProfile()"><i class="fa fa-plus" aria-hidden="true"></i></button>
         </div>
     </div> -->
        <!-- add ↑ -->

		<!-- list ↓ -->
        <div class="col-lg-20 col-lg-3 col-md-4 col-sm-6 co-xs-12 profile" ng-repeat="staff in page.list">
            <div class="inner" style="cursor: pointer;" ng-click="openProfile(staff.id)">
                <div class="title">
                    {{staff.firstName}} {{staff.middleName}} {{staff.lastName}}
                </div>
                <div class="main-profile staff">
                    <div class="main-descri staff-role">
                      {{staff.roleNames}}
                    </div>
                    <div class="main-images">
                      <span class="profileImage avatar-wrap staff-avatar-wrap">
                      	<span ng-if="staff.avatar==null || staff.avatar==''" class="name-short staff-name-short {{staff.personColor}}">{{staff.firstName+' '+staff.lastName|userNameUpperCase}}</span>
                        <img ng-if="staff.avatar!=null && staff.avatar!=''" ng-src="{{staff.avatar}}" class="img-circle img-full" />
                      </span>
                    </div>
                </div>
                <div class="divider">
                  <span></span>
                </div>
                <div class="link">
                    <button class="no-style" >VIEW PROFILE</button>
                </div>
            </div>
        </div><!--.profile-->

    </div>
    
    <!-- loading -->
    <div class="loading-bar bottom" ng-show="busy">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	</div>
</div>

