<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Save</h4>
</div>
<div class="modal-body">
        <h4>Are you sure you want to save?</h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-general" ng-click="ok()">Yes</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
</div>