<div class="main" ng-controller="userStaffCtrl">
	<div ng-init="headtype='staff';headName='Staff'" ng-include="'head.html?res_v='+res_v"></div>

	<div class="container-fluid" ng-init="getRoleList()">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 sidebar-inner">
				<div class="menu-top visible-xs">
					<div class="menu-top-title">
						Filter
					</div>
					<button class="closeButton"> <i class="fa fa-times" aria-hidden="true" ng-click="closeButton()"></i></button>
				</div>


				<div class="menu-block">
					<div class="title">
						<!-- <input type="button" ng-click="search()" value="Search" /> -->
						Search
					</div>
					<div class="filter">
						<!-- <select my-select-ajax url="staff/getStaffByRole.do" param="searchRoleId"
            		ng-model="page.condition.userId" class="form-control" style="width:100%;"></select> -->
						<input type="text" class="form-control" ng-model="page.condition.params" ng-keyup="enterSearch($event);" />
					</div>
				</div>

				<div class="menu-block menu-block1">
					<div class="title">Role</div>
					<ul>
						<li class="active">
							<a my-staff-active value='' href="javascript:void(0);">Everyone</a>
						</li>
						<li ng-repeat="role in roles.roleInfos | filter:{roleType: 1} | filter:roleFilter">
							<a my-staff-active value='{{role.id}}' href="javascript:void(0);">{{role.name}}</a>
						</li>
					</ul>
				</div>

				<div class="menu-block menu-block2 child-figure-list">
					<div class="title">Region</div>
					<ul>
						<li class="active">
							<a my-staff-active2 value='' type='1' href="javascript:void(0);">All</a>
						</li>
						<li ng-repeat="center in roles.centersInfos | filter:locationFilter" ng-if="center.ryde">
							<a my-staff-active2 value='{{center.id}}' type='2' href="javascript:void(0);">Ryde</a>
							<ul class="sub-filter">
								<li ng-repeat="room in roles.roomInfos" ng-if="center.id == room.centersId">
									<a my-staff-active2 value='{{room.id}}' type='3' href="javascript:void(0);">{{room.name}}</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0);" my-staff-active2 type="2" value="EdensorPark">Edensor Park</a>
							<ul>
								<li ng-repeat="center in roles.centersInfos | filter:locationFilter" ng-if="!center.ryde">
									<a my-staff-active2 value='{{center.id}}' type='2' href="javascript:void(0);">{{center.name}}</a>
									<ul class="sub-filter">
										<li ng-repeat="room in roles.roomInfos" ng-if="center.id == room.centersId">
											<a my-staff-active2 value='{{room.id}}' type='3' href="javascript:void(0);">{{room.name}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="menu-block" id="otherMenu">
					<div class="title">Other</div>
					<ul>
						<li class="active">
							<a href="javascript:void(0);" staff-other-active mystatus='0'>Active</a>
						</li>
						<li>
							<a href="javascript:void(0);" staff-other-active mystatus='1'>Archived</a>
						</li>

					</ul>
				</div>
			</div>

			<div class="filter-bottom" ng-click="closeButton();search()">
				Filter
			</div>
			<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 content-area pull-right" ui-view></div>
			<!--.content-area-->
		</div>
	</div>
</div>