<!--StaffEmployment-modal-->
<div class="modal-content" ng-init="initRole()">
    <form staff-employment id="staffEmployment">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span
                    aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <label class="col-md-2 control-label"><strong>Effective from Date</strong></label>
                    <div class="col-md-9">
                        <input name="effectiveDate" type="text" class="form-control date-picker" my-date-picker
                            ng-model="staffInfo.employInfo.effectiveDate" ng-disabled="!isAdd" />
                    </div>
                </div>

                <div class="well choose-work-day">
                    <h4 style="padding:15px 0;"> Days I am available to work<span class="pull-right baseHour">Total
                            Base Hourly<strong> {{totalHours}}</strong></span></h4>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" ng-model="staffInfo.employInfo.monday">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Monday
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.monday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.monStartTime">
                                </div>
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.monday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.monEndTime">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 plt2">
                                    <input class="form-control" ng-disabled="!isAdd || !staffInfo.employInfo.monday"
                                        ng-model="staffInfo.employInfo.monHours" ng-change="dealTotalHours()">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" ng-model="staffInfo.employInfo.tuesday">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Tuesday
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.tuesday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.tueStartTime">
                                </div>
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.tuesday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.tueEndTime">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 plt2">
                                    <input class="form-control" ng-disabled="!isAdd || !staffInfo.employInfo.tuesday"
                                        ng-model="staffInfo.employInfo.tueHours" ng-change="dealTotalHours()">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" ng-model="staffInfo.employInfo.wednesday">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Wednesday
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.wednesday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.wedStartTime">
                                </div>
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.wednesday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.wedEndTime">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 plt2">
                                    <input class="form-control" ng-disabled="!isAdd || !staffInfo.employInfo.wednesday"
                                        ng-model="staffInfo.employInfo.wedHours" ng-change="dealTotalHours()">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" ng-model="staffInfo.employInfo.thursday">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Thursday
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.thursday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.thuStartTime">
                                </div>
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.thursday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.thuEndTime">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 plt2">
                                    <input class="form-control" ng-disabled="!isAdd || !staffInfo.employInfo.thursday"
                                        ng-model="staffInfo.employInfo.thuHours" ng-change="dealTotalHours()">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" ng-model="staffInfo.employInfo.friday">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Friday
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.friday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.friStartTime">
                                </div>
                                <div class="col-md-6 plt2">
                                    <input type="text" ng-disabled="!isAdd || !staffInfo.employInfo.friday" class="form-control time-picker"
                                        my-date-picker-timer ng-model="staffInfo.employInfo.friEndTime">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 plt2">
                                    <input class="form-control" ng-disabled="!isAdd || !staffInfo.employInfo.friday"
                                        ng-model="staffInfo.employInfo.friHours" ng-change="dealTotalHours()">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <hr />

                <div class="well">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Employment End Day</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-disabled="!isAdd" ng-model='staffInfo.employInfo.lastDay'
                                my-date-picker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Primary Role</label>
                        <div class="col-md-9">
                            <select name='roleId' class="form-control" ng-disabled="!isAdd" ng-model="employ.firstRole.roleId"
                                ng-change="roleChange()" ng-options="role.id as role.name for role in roles.roleInfos | filter:{roleType: 1} | filter:roleFilter">
                                <option disabled value="">Choose Role</option>
                            </select>
                        </div>
                    </div>
                    <div class="expandable-educator" ng-if="employ.showSRole">
                        <div class="form-group function">
                            <label class="col-md-3 control-label">Permissions and Roster Taggings</label>
                            <div class="col-md-9">
                                <select class="form-control role-select-specific" ng-disabled="!isAdd" select2 ng-model="employ.roles"
                                    ng-options="emp.id as emp.name for emp in roles.roleInfos | filter:{roleType: 0} | filter:secondRoleFilter"
                                    style="width: 100%;" multiple="multiple">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="employ.showStaffType">
                        <label class="col-md-3 control-label">Employment Type</label>
                        <div class="col-md-9">
                            <select class="form-control role-select-specific" ng-disabled="!isAdd" ng-change="changeValidate()"
                                class="form-control role-select-specific" ng-model="staffInfo.userInfo.staffType"
                                ng-options="op.value as op.text for op in staffTypeOption">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="selectRegion" ng-if="employ.showRegion">
                        <label class="col-md-3 control-label">Please Select Region</label>
                        <div class="col-md-9">
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" name="region" ng-model='staffInfo.employInfo.edensorPark'>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Edensor Park
                                </label>
                            </div>

                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox" ng-disabled="!isAdd" name="region" ng-model='staffInfo.employInfo.ryde'>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Ryde
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />

                <div class="well" ng-if="employ.showCenter || employ.showRoom || employ.showGroup">
                    <h4 style="padding:15px 0;"> I am primarily based at</h4>
                    <div class="form-group" ng-if="employ.showCenter" id="center">
                        <label class="col-md-3 control-label">Please select centre</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-disabled="!isAdd" name="centerId" class="form-control"
                                ng-model="staffInfo.userInfo.centersId" ng-options="center.id as center.name for center in roles.centersInfos | filter:centerFilter">
                                <option disabled value="">Choose Centre</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="employ.showRoom" id="room">
                        <label class="col-md-3 control-label">Please select room</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-disabled="!isAdd" name="roomId" class="form-control"
                                ng-model="staffInfo.userInfo.roomId" ng-options="room.id as room.name for room in roles.roomInfos | filter:{centersId:staffInfo.userInfo.centersId}">
                                <option disabled value="">Choose Room</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="employ.showGroup" id="group">
                        <label class="col-md-3 control-label">Please select group</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-disabled="!isAdd" name="groupId" class="form-control"
                                ng-model="staffInfo.userInfo.groupId" ng-options="group.id as group.name for group in roles.groups | filter:{centerId:staffInfo.userInfo.centersId} | filter:{roomId:staffInfo.userInfo.roomId}">
                                <option disabled value="">Choose Group</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-general" ng-if="isAdd" ng-click="saveEmployment()">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Cancel</button>
    </div>
</div><!-- /.modal-content -->


<div class="modal fade" ng-if="showTip">Warning
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close();"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Please note, this person has been rostered on for a day that you are removing from their available
                    days.
                    What would you like to do?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-general" ng-click="approveDel(0);">Save without changing roster</button>
                <button class="btn btn-general" ng-click="approveDel(1);">Save and remove from roster</button>
                <button class="btn btn-default" data-dismiss="modal" ng-click="cancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>