<div id="modalMain">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Profile</h4>
	</div>
	<div class="modal-body">
		<div class="profile-detail profile-detail-staff">
			<div class="inner-header">
				<div class="label-area" ng-show="employ.status==0">
					<span class="label label-default">Archived</span>
				</div>

				<div class="row">
					<div class="col-xs-3">
						<div class="avatar" ng-show="showAvatarImage">
							<span class="profileImage staff-avatar-wrap">
								<span ng-if="staffInfo.userInfo.avatar==null || staffInfo.userInfo.avatar==''" class="name-short staff-name-short {{staffInfo.userInfo.personColor}}">{{staffInfo.userInfo.firstName+'
									'+staffInfo.userInfo.lastName|userNameUpperCase}}</span>
								<img ng-if="staffInfo.userInfo.avatar!=null&&staffInfo.userInfo.avatar!=''" ng-src="{{!staffInfo.userInfo.avatarTemp?staffInfo.userInfo.avatar:staffInfo.userInfo.avatarTemp}}"
								 class="img-circle img-full" />
							</span>
							<span class="name-full"> {{staffInfo.userInfo.firstName}} {{staffInfo.userInfo.middleName}}
								{{staffInfo.userInfo.lastName}}</span>
							<button class="btn-icon fileUpload" onclick="uploadava.click();" ng-disabled="isArchive">
								<i ng-disabled="isArchive" ngf-select="uploadAvatar($file)" id="uploadava" ngf-multiple="false" class="fa fa-pencil"></i>
							</button>
						</div>
						<div class="text-center" ng-hide="showAvatarImage" id="staffAvatar">
							<div class="cropArea">
								<img-crop image="myImage" result-image="avatarImage" result-image-size="128" result-image-format="png" class="ng-isolate-scope"></img-crop>
								<button class="btn btn-general saveAvatar" ng-click="saveAvatar(avatarImage)">
									<i class="fa fa-floppy-o"></i>
								</button>
								<button class="btn btn-default cancelAvatar" ng-click="cancelAvatar()">
									<i class="fa fa-ban"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-xs-8">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-4 control-label">Employment Start Date</label>
								<div class="col-md-8">
									<input type="text" ng-model='staffInfo.userInfo.staffInDate' ng-disabled="isArchive" class="form-control"
									 my-date-picker />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="dropdown right">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<i class="fa fa-cog""></i>
					</button>
					<ul class=" dropdown-menu">
							<li ng-if="!menu.isAdd && haveStaffSend && staffInfo.accountInfo.status==1" ng-hide='centreAndCasual&&staffInfo.userInfo.id!=currentUser.userInfo.id'>
								<a href="javascript:;" class="action-sent" ng-click="sendWelEmail(staffInfo.userInfo.id,staffInfo.accountInfo.id)"><i
									 class="fa fa-envelope"></i> Send Welcome Email</a>
							</li>
							<!-- 不能归档自己 add by gfwang-->
							<li ng-if="!menu.isAdd &&havaStaffArchive&&currentUser.userInfo.id!=staffInfo.userInfo.id">
								<a href="javascript:;" class="action-archive" ng-if="employ.status==1" ng-click="archiveStaff(staffInfo.userInfo.id,0)"><i
									 class="fa fa-archive"></i> Archive Staff</a> <a href="javascript:;" class="action-archive" ng-if="employ.status==0"
								 ng-click="archiveStaff(staffInfo.userInfo.id,1)"><i class="fa fa-archive"></i> Unarchive Staff</a>
							</li>
							<!-- 不能删除自己 add by gfwang-->
							<li ng-if="haveStaffSave && (menu.isAdd || staffInfo.accountInfo.status==1)">
								<a href="javascript:;" class="action-save" ng-click="saveStaff()"><i class="fa fa-floppy-o"></i> Save Staff</a>
							</li>
							<li ng-if="!menu.isAdd && havaStaffDelete&&currentUser.userInfo.id!=staffInfo.userInfo.id">
								<a href="javascript:;" class="action-delete" ng-click="deleteStaff(staffInfo.userInfo.id)"><i class="fa fa-minus"></i>
									Delete Staff</a>
							</li>
							</ul>
				</div>

			</div>
			<!--.inner-header-->

			<ul class="nav nav-tabs profile-tab-selection clearFloat" role="tablist">
				<li class="active" ng-click="showTab('staffProfile')" id="staffProfileTab">
					<a tab="staffProfile" href="javascript:;" data-toggle="tab">Basic Information</a>
				</li>
				<li ng-click="showTab('staffInduction')" id="staffInductionTab">
					<a tab="staffInduction" href="javascript:;" data-toggle="tab">Induction</a>
				</li>
				<li ng-click="showTab('staffMedical')" id="staffMedicalTab">
					<a tab="staffMedical" href="javascript:;" data-toggle="tab">Medical</a>
				</li>
				<li ng-click="showTab('staffCredentials')" id="staffCredentialsTab">
					<a tab="staffCredentials" href="javascript:;" data-toggle="tab">Credentials</a>
				</li>
				<li ng-click="showTab('staffEmployment')" id="staffEmploymentTab">
					<a tab="staffEmployment" id='employmentTab' href="javascript:;" data-toggle="tab">Employment</a>
				</li>
				<li ng-if="currUser.isCEO == 1 || currUser.isCM == 1" ng-click="showTab('staffHistories')" id="staffHistoriesTab">
					<a tab="staffHistories" href="javascript:;" data-toggle="tab">Notes/Logs</a>
				</li>
			</ul>

			<!-- Tab panes staff-form-->
			<form staff-form id="staffForm" class="tab-content profile-detail-content" style="float: none;">
				<button ng-if="haveStaffSave" ng-hide="true" ng-click="saveStaff()"></button>
				<!--Staff Profile-->
				<div class="tab-pane active" id="staffProfile">
					<div class="form-horizontal">
						<h4>Personal Details</h4>
						<div class="form-group">
							<label class="col-md-3 control-label">Card ID</label>
							<div class="col-md-9">
								<input type="text" ng-disabled=true class="form-control" ng-model="staffInfo.accountInfo.cardId" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">First Name</label>
							<div class="col-md-9">
								<input type="text" name="firstName" id="firstName" ng-disabled="isArchive" class="form-control" ng-model="staffInfo.userInfo.firstName" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Middle Name</label>
							<div class="col-md-9">
								<input type="text" name="middleName" ng-disabled="isArchive" class="form-control" ng-model="staffInfo.userInfo.middleName" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Last Name</label>
							<div class="col-md-9">
								<input type="text" name="lastName" ng-disabled="isArchive" class="form-control" ng-model="staffInfo.userInfo.lastName" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Email</label>
							<div class="col-md-9">
								<input type="email" name="email" ng-disabled="isArchive" class="form-control" ng-model="staffInfo.userInfo.email" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Gender</label>
							<div class="col-md-9">
								<div class="radio">
									<label>
										<input type="radio" ng-disabled="isArchive" name="genderRadios" value="0" ng-model="staffInfo.userInfo.gender">
										<span class="cr">
											<i class="cr-icon fa fa-circle"></i>
										</span>
										Female
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" ng-disabled="isArchive" name="genderRadios" value="1" ng-model="staffInfo.userInfo.gender">
										<span class="cr">
											<i class="cr-icon fa fa-circle"></i>
										</span>
										Male
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Date of birth</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" class="form-control" ng-model="staffInfo.userInfo.birthday"
								 my-date-picker />
							</div>
						</div>


						<div class="form-group">
							<label class="col-md-3 control-label">Address</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" name="address" class="form-control" ng-model="staffInfo.userInfo.address" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Suburb</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" name="suburb" class="form-control" ng-model="staffInfo.userInfo.suburb" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Postcode</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" name="postcode" class="form-control" ng-model="staffInfo.userInfo.postcode" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">State</label>
							<div class="col-md-9">
								<select class="form-control" ng-disabled="isArchive" ng-model="staffInfo.userInfo.state">
									<option>NSW</option>
									<option>NT</option>
									<option>QLD</option>
									<option>SA</option>
									<option>TAS</option>
									<option>VIC</option>
									<option>WA</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Home Phone number</label>
							<div class="col-md-9">
								<input type="tel" ng-disabled="isArchive" name="phoneNumber" class="form-control" ng-model="staffInfo.userInfo.phoneNumber" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Mobile number</label>
							<div class="col-md-9">
								<input type="tel" ng-disabled="isArchive" name="mobileNumber" class="form-control" ng-model="staffInfo.userInfo.mobileNumber" />
							</div>
						</div>



						<div class="form-group">
							<label class="col-md-3 control-label">Marital Status</label>
							<div class="col-md-9">
								<div class="radio">
									<label>
										<input type="radio" ng-disabled="isArchive" name="maritalRadios" value="0" ng-model="staffInfo.userInfo.maritalStatus">
										<span class="cr">
											<i class="cr-icon fa fa-circle"></i>
										</span>
										Never Married
									</label>
								</div>
								<div class="radio">
									<label>
										<input ng-disabled="isArchive" type="radio" name="maritalRadios" value="1" ng-model="staffInfo.userInfo.maritalStatus">
										<span class="cr">
											<i class="cr-icon fa fa-circle"></i>
										</span>
										Married
									</label>
								</div>
								<div class="radio">
									<label>
										<input ng-disabled="isArchive" type="radio" name="maritalRadios" value="2" ng-model="staffInfo.userInfo.maritalStatus">
										<span class="cr">
											<i class="cr-icon fa fa-circle"></i>
										</span>
										De facto
									</label>
								</div>
								<div class="radio">
									<label>
										<input ng-disabled="isArchive" type="radio" name="maritalRadios" value="3" ng-model="staffInfo.userInfo.maritalStatus">
										<span class="cr">
											<i class="cr-icon fa fa-circle"></i>
										</span>
										Widowed
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Ethnicity</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" name="ethnicity" class="form-control" ng-model="staffInfo.userInfo.ethnicity" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Number of children</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" name="childrenNum" class="form-control" ng-model="staffInfo.userInfo.childrenNum" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Ages of children (separated by comma)</label>
							<div class="col-md-9">
								<input type="text" ng-disabled="isArchive" name="childrenAge" class="form-control" ng-model="staffInfo.userInfo.childrenAge" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label">Preferred Method of Contact</label>
							<div class="col-md-9">
								<div class="checkbox">
									<label>
										<input ng-disabled="isArchive" type="checkbox" ng-model="staffInfo.userInfo.contactEmail">
										<span class="cr">
											<i class="cr-icon fa fa-check"></i>
										</span>
										via email
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input ng-disabled="isArchive" type="checkbox" ng-model="staffInfo.userInfo.contactLetter">
										<span class="cr">
											<i class="cr-icon fa fa-check"></i>
										</span>
										via letter
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input ng-disabled="isArchive" type="checkbox" ng-model="staffInfo.userInfo.contactPerson">
										<span class="cr">
											<i class="cr-icon fa fa-check"></i>
										</span>
										in person
									</label>
								</div>
								<div class="checkbox">
									<label>
										<input ng-disabled="isArchive" type="checkbox" ng-model="staffInfo.userInfo.contactPhone">
										<span class="cr">
											<i class="cr-icon fa fa-check"></i>
										</span>
										via phone call
									</label>
								</div>
							</div>
						</div>

						<hr />
						<!-- repeat-done="ev()" -->
						<div class="well emergency-contact-block" ng-repeat="contact in staffInfo.contactInfo" repeat-done="ev()">
							<button ng-disabled="isArchive" class="btn btn-default" type="button" ng-click="deleteContact($index, staffInfo)">
								<i class="fa fa-minus" aria-hidden="true"></i>
								Delete
							</button>
							<h4>Emergency contact {{$index+1}}</h4>

							<div class="form-group">
								<label class="col-md-3 control-label">Name</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="contactName" class="form-control" ng-model="contact.name" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Address</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="contactAddress" class="form-control" ng-model="contact.address" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Suburb</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="contactSuburb" class="form-control" ng-model="contact.suburb" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Postcode</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="contactPostCode" class="form-control" ng-model="contact.postcode" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">State</label>
								<div class="col-md-9">
									<select class="form-control" ng-disabled="isArchive" ng-model="contact.state">
										<option>NSW</option>
										<option>NT</option>
										<option>QLD</option>
										<option>SA</option>
										<option>TAS</option>
										<option>VIC</option>
										<option>WA</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Phone number</label>
								<div class="col-md-9">
									<input type="tel" ng-disabled="isArchive" name="contactPhone" class="form-control" ng-model="contact.phoneNum" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Relation</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="contactRelation" class="form-control" ng-model="contact.relation" />
								</div>
							</div>
						</div>
						<!--.emergency-contact-block-->
						<span ng-show="!isArchive" class="btn btn-general add-fields" ng-click="addContact()">
							<i class="fa fa-plus"></i>
							Add Emergency Contact
						</span>

					</div>
					<!--.form-horizontal-->

				</div>

				<!--Staff Induction-->
				<!-- 模板 -->
				<div class="tab-pane" style='padding-right: 15px;' id="staffInduction">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<div class="col-md-4 pull-right">
									<select class="form-control" ng-change='selectChange(staffInfo)' ng-model='staffInfo.profileId'>
										<option selected="selected" value='' disabled="disabled">Select Induction Version</option>
										<option ng-repeat='profile in profileSelectList' ng-disabled='{{profile.disabled}}' value="{{profile.id}}">{{profile.text}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group" ng-if='showForm'>
							<div ng-controller='viewFormCtrl' ng-init="initForm('','',staffInfo)" ng-include="'./views/form-builder/view.html?res_v='+res_v"></div>
						</div>
					</div>

				</div>

				<!--Staff Medicine-->
				<div class="tab-pane" id="staffMedical">

					<div class="well">
						<p>2.1.4. Steps are taken to control the spread of infectious diseases and to manage injuries and illness, in
							accordance with recognized guidelines.</p>
					</div>

					<h4>Medical</h4>

					<div class="form-group">
						<label>Any known medical condition</label>
						<input ng-disabled="isArchive" type="text" name="medicalCondition" class="form-control" ng-model="staffInfo.medicalInfo.condition" />
					</div>

					<div class="form-group">
						<label>Any known allergies</label>
						<input ng-disabled="isArchive" type="text" name="medicalAllergies" class="form-control" ng-model="staffInfo.medicalInfo.allergies" />
					</div>

					<div class="form-group">
						<label>Are you currently taking regular medication? If so please specify</label>
						<input ng-disabled="isArchive" type="text" name="medication" class="form-control" ng-model="staffInfo.medicalInfo.medication" />
					</div>

					<div class="form-group">
						<label>Prior to commencing employment, a Doctor's Certificate must be provided</label>
						<input ng-disabled="isArchive" type="text" name="medicalCertificate" class="form-control" ng-model="staffInfo.medicalInfo.certificate" />
					</div>

					<hr />

					<h4>Immunisation</h4>
					<p>The National Health and Medical Research Council (NHMRC) recommends that all educators and other staff are
						immunised against:</p>
					<ul class="profile-list">
						<li>Hepatitis A</li>
						<li>Hepatitis B</li>
						<li>Pertussis (Whooping Cough)</li>
						<li>Influenza</li>
						<li>Measles, Mumps, Rubella (MMR)</li>
						<li>Varicella (Chicken pox)</li>
					</ul>

					<p>Please complete the following table with your immunisation status for the following diseases:</p>

					<div class="table-immunisations-staff">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Disease/Vaccine</th>
									<th>Had Vaccine</th>
									<th>Date of Vaccine</th>
									<th>Confirmed Infection</th>
									<th>Date of Confirmed Infection</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="immu in staffInfo.medicalImmunisationInfo | filter:{name: 1}">
									<td>Pertussis (whooping cough)</td>
									<td>
										<div class="checkbox">
											<label>
												<input ng-disabled="isArchive" type="checkbox" ng-model="immu.hadVaccine" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.vaccineDate" ng-disabled="!immu.hadVaccine || isArchive"
											 my-date-picker>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input ng-disabled="isArchive" type="checkbox" ng-model="immu.confirmed" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.confirmedDate" ng-disabled="!immu.confirmed || isArchive"
											 my-date-picker>
										</div>
									</td>
								</tr>

								<tr ng-repeat="immu in staffInfo.medicalImmunisationInfo | filter:{name: 2}">
									<td>Measles-mumps-rubella</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.hadVaccine" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.vaccineDate" ng-disabled="!immu.hadVaccine || isArchive"
											 my-date-picker>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.confirmed" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.confirmedDate" ng-disabled="!immu.confirmed || isArchive"
											 my-date-picker>
										</div>
									</td>
								</tr>

								<tr ng-repeat="immu in staffInfo.medicalImmunisationInfo | filter:{name: 3}">
									<td>Varicella (chicken pox)</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.hadVaccine" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.vaccineDate" ng-disabled="!immu.hadVaccine || isArchive"
											 my-date-picker>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.confirmed" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.confirmedDate" ng-disabled="!immu.confirmed || isArchive"
											 my-date-picker>
										</div>
									</td>
								</tr>

								<tr ng-repeat="immu in staffInfo.medicalImmunisationInfo | filter:{name: 4}">
									<td>Hepatitis A</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.hadVaccine" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.vaccineDate" ng-disabled="!immu.hadVaccine || isArchive"
											 my-date-picker>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.confirmed" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.confirmedDate" ng-disabled="!immu.confirmed || isArchive"
											 my-date-picker>
										</div>
									</td>
								</tr>

								<tr ng-repeat="immu in staffInfo.medicalImmunisationInfo | filter:{name: 5}">
									<td>Hepatitis B</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.hadVaccine" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.vaccineDate" ng-disabled="!immu.hadVaccine || isArchive"
											 my-date-picker>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.confirmed" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.confirmedDate" ng-disabled="!immu.confirmed || isArchive"
											 my-date-picker>
										</div>
									</td>
								</tr>

								<tr ng-repeat="immu in staffInfo.medicalImmunisationInfo | filter:{name: 6}">
									<td>Influenza</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-model="immu.hadVaccine" ng-disabled="isArchive" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.vaccineDate" ng-disabled="!immu.hadVaccine || isArchive"
											 my-date-picker>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-disabled="isArchive" ng-model="immu.confirmed" ng-click="setNull(immu)">
												<span class="cr">
													<i class="cr-icon fa fa-check"></i>
												</span>
											</label>
										</div>
									</td>
									<td>
										<div class="td-container">
											<input type="text" class="form-control" ng-model="immu.confirmedDate" ng-disabled="!immu.confirmed || isArchive"
											 my-date-picker>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

				<!--Staff Credentials-->
				<div class="tab-pane" id="staffCredentials">
					<div class="form-horizontal">
						<h4>Qualification</h4>

						<div class="well" ng-repeat="credent in staffInfo.credentialsInfo | filter:{type: 1}" repeat-done="ev2()">
							<button class="btn btn-default" type="button" ng-click="deleteCredent(credent)" ng-disabled="isArchive">
								<i class="fa fa-minus" aria-hidden="true"></i>
								Delete
							</button>
							<h5>Qualification {{$index+1}}</h5>
							<div class="form-group">
								<label class="col-md-3 control-label">Qualification obtained</label>
								<div class="col-md-9">
									<input ng-disabled="isArchive" type="text" name="qualObtained" class="form-control" ng-model="credent.qualObtained" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Date Completed</label>
								<div class="col-md-9">
									<input ng-disabled="isArchive" type="text" name="completedDate" class="form-control" ng-model="credent.completedDate"
									 my-date-picker />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Upload Certificate</label>
								<div class="col-md-9">
									<div class="fileUpload-pack">
										<div class="fileUpload-drag-area">
											<span class="text">You can drag & drop your file here or click to upload</span>
											<input ng-disabled="isArchive" type="file" ngf-select="upload($file,credent.fileList)" ngf-drop="upload($file,credent.fileList)"
											 ngf-multiple="false" />
										</div>

										<!-- Progress Bar -->
										<div class="progress files-uploaded" ng-repeat="file in credent.fileList">
											<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar"
											 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
											<div class="files-uploaded">
												<div class="file">
													<a class="file-link" ng-click="download(file)" href="javascript:void(0)">{{file.fileName}}</a> <a class="file-delete"
													 ng-if="file.progress==undefined || file.progress==100" ng-show="!isArchive" ng-click="removeFile($index,credent.fileList)"
													 href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<span ng-show="!isArchive" class="btn btn-general" ng-click="addQualification(1)">
							<i class="fa fa-plus" aria-hidden="true"></i>
							Add Another Qualification
						</span>

						<hr />

						<h4>First Aid</h4>

						<div class="well" ng-repeat="credent in staffInfo.credentialsInfo | filter:{type: 2}" repeat-done="ev2()">
							<button ng-disabled="isArchive" class="btn btn-default" type="button" ng-click="deleteCredent(credent)">
								<i class="fa fa-minus" aria-hidden="true"></i>
								Delete
							</button>
							<h5>First Aid {{$index+1}}</h5>
							<div class="form-group">
								<label class="col-md-3 control-label">Course Name</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="courseName" class="form-control" ng-model="credent.courseName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Date Completed</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="completedDate" class="form-control" ng-model="credent.completedDate"
									 my-date-picker />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Date of Expiry</label>
								<div class="col-md-9">
									<input type="text" ng-disabled="isArchive" name="expiryDate" class="form-control" ng-model="credent.expiryDate"
									 my-date-picker />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Upload Certificate</label>
								<div class="col-md-9">
									<div class="fileUpload-pack">
										<div class="fileUpload-drag-area">
											<span class="text">You can drag & drop your file here or click to upload</span>
											<input type="file" ng-disabled="isArchive" ngf-select="upload($file,credent.fileList)" ngf-drop="upload($file,credent.fileList)"
											 ngf-multiple="false" />
										</div>

										<!-- Progress Bar -->
										<div class="progress files-uploaded" ng-repeat="file in credent.fileList">
											<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar"
											 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
											<div class="files-uploaded">
												<div class="file">
													<a class="file-link" ng-click="download(file)" href="javascript:void(0)">{{file.fileName}}</a> <a class="file-delete"
													 ng-if="file.progress==undefined || file.progress==100" ng-show="!isArchive" ng-click="removeFile($index,credent.fileList)"
													 href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<span ng-show="!isArchive" class="btn btn-general" ng-click="addQualification(2)">
							<i class="fa fa-plus" aria-hidden="true"></i>
							Add Another First Aid
						</span>

						<hr />

						<h4>Working with Children's Check</h4>

						<div class="well" ng-repeat="credent in staffInfo.credentialsInfo | filter:{type: 3}" repeat-done="ev2()">
							<button ng-disabled="isArchive" class="btn btn-default" type="button" ng-click="deleteCredent(credent)">
								<i class="fa fa-minus" aria-hidden="true"></i>
								Delete
							</button>
							<h5>Attachment {{$index+1}}</h5>
							<div class="form-group">
								<label class="col-md-3 control-label">Working with Children's Check Number</label>
								<div class="col-md-9">
									<input ng-disabled="isArchive" type="text" name="checkNum" class="form-control" ng-model="credent.checkNum" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Date of Expiry</label>
								<div class="col-md-9">
									<input ng-disabled="isArchive" type="text" name="expiryDate" class="form-control" ng-model="credent.expiryDate"
									 my-date-picker />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Working with Children's Check Clearance Letter</label>
								<div class="col-md-9">
									<div class="fileUpload-pack">
										<div class="fileUpload-drag-area">
											<span class="text">You can drag & drop your file here or click to upload</span>
											<input ng-disabled="isArchive" type="file" ngf-select="upload($file,credent.fileList)" ngf-drop="upload($file,credent.fileList)"
											 ngf-multiple="false" />
										</div>

										<!-- Progress Bar -->
										<div class="progress files-uploaded" ng-repeat="file in credent.fileList">
											<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar"
											 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
											<div class="files-uploaded">
												<div class="file">
													<a class="file-link" ng-click="download(file)" href="javascript:void(0)">{{file.fileName}}</a> <a class="file-delete"
													 ng-if="file.progress==undefined || file.progress==100" ng-show="!isArchive" ng-click="removeFile($index,credent.fileList)"
													 href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Employer Verification</label>
								<div class="col-md-9">
									<div class="fileUpload-pack">
										<div class="fileUpload-drag-area">
											<span class="text">You can drag & drop your file here or click to upload</span>
											<input ng-disabled="isArchive" type="file" ngf-select="upload($file,credent.fileList2)" ngf-drop="upload($file,credent.fileList2)"
											 ngf-multiple="false" />
										</div>

										<!-- Progress Bar -->
										<div class="progress files-uploaded" ng-repeat="file in credent.fileList2">
											<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar"
											 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
											<div class="files-uploaded">
												<div class="file">
													<a class="file-link" ng-click="download(file)" href="javascript:void(0)">{{file.fileName}}</a> <a class="file-delete"
													 ng-if="file.progress==undefined || file.progress==100" ng-show="!isArchive" ng-click="removeFile($index,credent.fileList2)"
													 href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<span ng-show="!isArchive" class="btn btn-general" ng-click="addQualification(3)">
							<i class="fa fa-plus" aria-hidden="true"></i>
							Add Another Working with Children's Check
						</span>

						<hr />

						<h4>Professional Development Training</h4>

						<div class="well" ng-repeat="credent in staffInfo.credentialsInfo | filter:{type: 4}" repeat-done="ev2()">
							<button ng-disabled="isArchive" class="btn btn-default" type="button" ng-click="deleteCredent(credent)">
								<i class="fa fa-minus" aria-hidden="true"></i>
								Delete
							</button>
							<h5>Professional Development Training {{$index+1}}</h5>
							<div class="form-group">
								<label class="col-md-3 control-label">Course Name</label>
								<div class="col-md-9">
									<input ng-disabled="isArchive" type="text" name="courseName" class="form-control" ng-model="credent.courseName" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Date Completed</label>
								<div class="col-md-9">
									<input ng-disabled="isArchive" type="text" name="completedDate" class="form-control" ng-model="credent.completedDate"
									 my-date-picker />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Upload Certificate</label>
								<div class="col-md-9">
									<div class="fileUpload-pack">
										<div class="fileUpload-drag-area">
											<span class="text">You can drag & drop your file here or click to upload</span>
											<input ng-disabled="isArchive" type="file" ngf-select="upload($file,credent.fileList)" ngf-drop="upload($file,credent.fileList)"
											 ngf-multiple="false" />
										</div>

										<!-- Progress Bar -->
										<div class="progress files-uploaded" ng-repeat="file in credent.fileList">
											<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar"
											 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
											<div class="files-uploaded">
												<div class="file">
													<a class="file-link" ng-click="download(file)" href="javascript:void(0)">{{file.fileName}}</a> <a class="file-delete"
													 ng-if="file.progress==undefined || file.progress==100" ng-show="!isArchive" ng-click="removeFile($index,credent.fileList)"
													 href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<span ng-show="!isArchive" class="btn btn-general" ng-click="addQualification(4)">
							<i class="fa fa-plus" aria-hidden="true"></i>
							Add Another Professional Development Training
						</span>

						<hr />

						<h4>Other Documents</h4>

						<div class="well" ng-repeat="credent in staffInfo.credentialsInfo | filter:{type: 5}" repeat-done="ev2()">
							<div class="form-group">
								<label class="col-md-3 control-label">Upload Document</label>
								<div class="col-md-9">
									<div class="fileUpload-pack">
										<div class="fileUpload-drag-area">
											<span class="text">You can drag & drop your file here or click to upload</span>
											<input ng-disabled="isArchive" type="file" ngf-select="upload($file,credent.fileList)" ngf-drop="upload($file,credent.fileList)"
											 ngf-multiple="false" />
										</div>

										<!-- Progress Bar -->
										<div class="progress files-uploaded" ng-repeat="file in credent.fileList">
											<div ng-if="file.progress!=undefined && file.progress!=100" class="progress-bar" role="progressbar"
											 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="mystyle={'width':file.progress+'%'}">{{file.fileName}}</div>
											<div class="files-uploaded">
												<div class="file">
													<a class="file-link" ng-click="download(file)" href="javascript:void(0)">{{file.fileName}}</a> <a class="file-delete"
													 ng-if="file.progress==undefined || file.progress==100" ng-show="!isArchive" ng-click="removeFile($index,credent.fileList)"
													 href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!--Staff Employment-->
				<div class="tab-pane" id="staffEmployment">
					<div class="form-horizontal">
						<div class="well choose-work-day">
							<h4 style="padding:15px 0;"> Days I am available to work <span class="pull-right baseHour">Total
									Base Hourly<strong> {{totalHours}}</strong></span></h4>
							<div class="form-group">
								<div class="col-md-2 col-md-offset-1">
									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" ng-model="staffInfo.employInfo.monday">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Monday
										</label>
									</div>

									<div class="row">
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.monday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.monStartTime">
										</div>
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.monday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.monEndTime">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 plt2">
											<input class="form-control" ng-disabled="!addStaff || !staffInfo.employInfo.monday" ng-model="staffInfo.employInfo.monHours"
											 ng-change="dealTotalHours()">
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" ng-model="staffInfo.employInfo.tuesday">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Tuesday
										</label>
									</div>

									<div class="row">
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.tuesday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.tueStartTime">
										</div>
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.tuesday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.tueEndTime">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 plt2">
											<input class="form-control" ng-disabled="!addStaff || !staffInfo.employInfo.tuesday" ng-model="staffInfo.employInfo.tueHours"
											 ng-change="dealTotalHours()">
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" ng-model="staffInfo.employInfo.wednesday">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Wednesday
										</label>
									</div>

									<div class="row">
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.wednesday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.wedStartTime">
										</div>
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.wednesday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.wedEndTime">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 plt2">
											<input class="form-control" ng-disabled="!addStaff || !staffInfo.employInfo.wednesday" ng-model="staffInfo.employInfo.wedHours"
											 ng-change="dealTotalHours()">
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" ng-model="staffInfo.employInfo.thursday">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Thursday
										</label>
									</div>

									<div class="row">
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.thursday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.thuStartTime">
										</div>
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.thursday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.thuEndTime">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 plt2">
											<input class="form-control" ng-disabled="!addStaff || !staffInfo.employInfo.thursday" ng-model="staffInfo.employInfo.thuHours"
											 ng-change="dealTotalHours()">
										</div>
									</div>
								</div>

								<div class="col-md-2">
									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" ng-model="staffInfo.employInfo.friday">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Friday
										</label>
									</div>

									<div class="row">
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.friday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.friStartTime">
										</div>
										<div class="col-md-6 plt2">
											<input ng-disabled="!addStaff || !staffInfo.employInfo.friday" type="text" class="form-control time-picker"
											 my-date-picker-timer ng-model="staffInfo.employInfo.friEndTime">
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 plt2">
											<input class="form-control" ng-disabled="!addStaff || !staffInfo.employInfo.friday" ng-model="staffInfo.employInfo.friHours"
											 ng-change="dealTotalHours()">
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="expandable-block well">
							<div class="form-group" ng-if="currUser.isCEO || currUser.isCM">
								<label class="col-md-3 control-label">Employment End Day</label>
								<div class="col-md-9">
									<input type='input' id='myindate' ng-model='staffInfo.employInfo.lastDay' ng-disabled="!addStaff" class="form-control"
									 my-date-picker>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Primary Role</label>
								<div class="col-md-9">
									<select name="roleId" class="form-control role-select" ng-model="employ.firstRole.roleId" ng-change="roleChange()"
									 ng-disabled="!addStaff" ng-options="role.id as role.name for role in roles.roleInfos | filter:{roleType: 1} | filter:roleFilter">
										<option disabled value="">Choose Role</option>
									</select>
								</div>
							</div>
							<div class="expandable-educator" ng-if="employ.showSRole">
								<div class="form-group function ">
									<label class="col-md-3 control-label">Permissions and Roster Taggings</label>
									<div class="col-md-9">
										<select name="secondRoleId" class="form-control role-select-specific" select2 ng-model="employ.roles"
										 ng-disabled="!addStaff" ng-options="emp.id as emp.name for emp in roles.roleInfos | filter:{roleType: 0} | filter:secondRoleFilter"
										 style="width: 100%;" multiple="multiple">
										</select>
									</div>
								</div>
							</div>
							<div class="form-group" ng-if="employ.showStaffType">
								<label class="col-md-3 control-label">Employment Type</label>
								<div class="col-md-9">
									<select ng-disabled="!addStaff" ng-change="changeValidate()" class="form-control role-select-specific"
									 ng-model="staffInfo.userInfo.staffType" ng-options="op.value as op.text for op in staffTypeOption">

									</select>
								</div>
							</div>
							<div class="form-group" id="selectRegion" ng-if="employ.showRegion">
								<label class="col-md-3 control-label">Please select Region/s</label>
								<div class="col-md-9">
									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" name="region" ng-model="staffInfo.employInfo.edensorPark">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Edensor Park
										</label>
									</div>

									<div class="checkbox checkbox-inline">
										<label>
											<input type="checkbox" ng-disabled="!addStaff" name="region" ng-model="staffInfo.employInfo.ryde">
											<span class="cr"><i class="cr-icon fa fa-check"></i></span>
											Ryde
										</label>
									</div>

								</div>
							</div>
						</div>

						<hr />

						<div class="well" ng-if="employ.showCenter || employ.showRoom || employ.showGroup">
							<h4 style="padding:15px 0;"> I am primarily based at</h4>
							<div class="form-group" ng-if="employ.showCenter" id="center">
								<label class="col-md-3 control-label">Please select centre</label>
								<div class="col-md-9">
									<select name="centerId" ng-change='validateEmployment()' class="form-control" ng-model="staffInfo.userInfo.centersId"
									 ng-disabled="!addStaff" ng-options="center.id as center.name for center in roles.centersInfos | filter:centerFilter">
										<option disabled value="">Choose Centre</option>
									</select>
								</div>
							</div>
							<div class="form-group" ng-if="employ.showRoom" id="room">
								<label class="col-md-3 control-label">Please select room</label>
								<div class="col-md-9">
									<select name="roomId" class="form-control" ng-change='validateEmployment()' ng-model="staffInfo.userInfo.roomId"
									 ng-disabled="!addStaff" ng-options="room.id as room.name for room in roles.roomInfos | filter:{centersId:staffInfo.userInfo.centersId}">
										<option disabled value="">Choose Room</option>
									</select>
								</div>
							</div>
							<div class="form-group" ng-if="employ.showGroup" id="group">
								<label class="col-md-3 control-label">Please select group</label>
								<div class="col-md-9">
									<select name="groupId" class="form-control" ng-change='validateEmployment()' ng-model="staffInfo.userInfo.groupId"
									 ng-disabled="!addStaff" ng-options="group.id as group.name for group in roles.groups | filter:{centerId:staffInfo.userInfo.centersId} | filter:{roomId:staffInfo.userInfo.roomId}">
										<option disabled value="">Choose Group</option>
									</select>
								</div>
							</div>
						</div>

						<div class="requestList well" ng-if="!addStaff && isCeoCM">
							<div class="row" style="margin-bottom:20px;">
								<div class="col-sm-3 pull-right">
									<button ng-if="!addStaff" ng-click="openEmploymentModal(true,staffInfo.employInfo)" class="btn btn-general btn-block child-cancel-request"
									 data-toggle="modal" data-target="#add-staffEmployment-modal">I
										want to...</button>
								</div>
							</div>

							<div class="requestEach row" ng-repeat="item in staffInfo.employInfoList">
								<div class="col-sm-8 col-sm-offset-1 requestListText">
									<a href="javascript:void(0)" ng-click="openEmploymentModal(false,item)">New Changes on {{item.effectiveDate |
										date:'dd/MM/yyyy'}}</a>
								</div>
								<div class="col-sm-3 requestListBtn" ng-if="item.status == 0">
									<button class="btn btn-general btn-block child-cancel-request" ng-click="cancelEmploy(item.id)">Cancel</button>
								</div>
								<div class="col-sm-3 requestListBtn" ng-if="item.status == 1">
									<button class="btn btn-general btn-block child-cancel-request" disabled>Executed</button>
								</div>
								<div class="col-sm-3 requestListBtn" ng-if="item.status == 2">
									<button class="btn btn-general btn-block child-cancel-request" disabled>Cancelled</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--staff Histories/Logs-->
				<div class="tab-pane" id="staffHistories" ng-init="getLogList(staffInfo.userInfo.id);">
					<table ng-if="showNote" class="table table-bordered external-child-log" id="uploadFile">
						<tr>
							<th style='width: 300px;'>Notes</th>
							<th style='width: 133px'>Date</th>
							<th style='width: 133px'>By</th>
							<th style='width: 133px'></th>
							<th style='width: 133px' ng-if="(staffInfo.accountInfo.status==1)&&(staffInfo.userInfo.id != currUser.id || currUser.isCEO == 1 || currUser.isCM == 1)"></th>
						</tr>
						<tr ng-if="(staffInfo.accountInfo.status==1)&&(staffInfo.userInfo.id && staffInfo.userInfo.id != currUser.id || currUser.isCEO == 1 || currUser.isCM == 1)">
							<td><textarea rows="10" maxlength="500" ng-disabled="currentUser.userInfo.userType==1" class="form-control"
								 ng-model="addlogObj.reason" /></td>
							<td><input type="text" ng-disabled="currentUser.userInfo.userType==1" class="form-control date-picker" my-date-picker ng-model="addlogObj.logDate"></td>
							<td>{{currentUser.userInfo.firstName+" "+(currentUser.userInfo.middleName!=null?currentUser.userInfo.middleName:'')+" "+currentUser.userInfo.lastName}}</td>
							<td>
								<div class="files-uploaded" ng-if="addlogObj.file">
									<div class="files-uploaded">
										<div class="file">
											<a class="file-link" ng-click="download(addlogObj.file)" href="javascript:void(0)" title="{{addlogObj.fileName}}">{{addlogObj.fileName.length>10?addlogObj.fileName.substring(0,9)+'..':addlogObj.fileName}}</a>
											<a class="file-delete pull-right" ng-click="removeLogFile()" href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="btn btn-general btn-xs fileUpload" ng-if="!addlogObj.file">
									<i class="material-icons">file_upload</i>
									Click to Upload
									<input ngf-select="uploadFile($files,'')" type="file" class="upload">
								</div>
							</td>
							<td class="text-right"><button type="button" ng-click="addLog(staffInfo.userInfo.id);" ng-disabled="addFlag" class="btn btn-general btn-sm">Add</button></td>
						</tr>
						<tr class="logInfo" ng-repeat="logobj in logList" >
							<td class="edit-control hidden"><textarea rows="10" maxlength="500" id="editReason{{logobj.id}}" class="form-control" /></td>
							<!--   ng-keypress="saveColumn($event,logobj.id,childInfo.userInfo.id);" -->
							<td class="edit-control hidden"><input type="text" ng-model="logdate" id="editDate{{logobj.id}}" class="form-control date-picker" my-date-picker></td>
							<td class="edit-control hidden">{{currentUser.userInfo.firstName+" "+(currentUser.userInfo.middleName!=null?currentUser.userInfo.middleName:'')+" "+currentUser.userInfo.lastName}}</td>
							<td class="edit-control hidden">
								<div class="btn btn-general btn-xs fileUpload" id="uploadFile{{logobj.id}}" ng-show="!logobj.file">
									<i class="material-icons">file_upload</i>
									Click to Upload
									<input ngf-select="uploadFile($files,logobj.id)" type="file" class="upload">
								</div>
								<div class="files-uploaded" ng-if="logobj.file">
									<div class="files-uploaded">
										<div class="file">
											<a class="file-link" ng-click="download(logobj.file)" href="javascript:void(0)" title="{{logobj.file.fileName}}">{{logobj.file.fileName.length>10?logobj.file.fileName.substring(0,9)+'..':logobj.file.fileName}}</a>
											<a class="pull-right file-delete" id="delFile{{logobj.id}}" ng-click="removeLogFile(logobj)" href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</td>
							<td class="text-right edit-control hidden"><button ng-click="saveLog(logobj.id,staffInfo.userInfo.id);" log-cancel type="button" ng-disabled="saveFlag" class="btn btn-general btn-sm">Save</button>
								<button log-cancel class="btn btn-default btn-sm">Cancel</button></td>


							<td style='width: 380px;' class="staic-control" id="staticReason{{logobj.id}}"><replace-active html="{{logobj.reason}}"></replace-active></td>
							<td class="staic-control" id="staticDate{{logobj.id}}">{{logobj.logDate | date:'dd/MM/yyyy'}}</td>
							<td class="staic-control">{{logobj.createName}}</td>
							<td class="staic-control">
								<div class="files-uploaded" ng-if="logobj.file">
									<div class="files-uploaded">
										<div class="file">
											<a class="file-link" ng-click="download(logobj.file)" href="javascript:void(0)" title="{{logobj.file.fileName}}">{{logobj.file.fileName.length>10?logobj.file.fileName.substring(0,9)+'..':logobj.file.fileName}}</a>
										</div>
									</div>
								</div>
							</td>
							<td ng-if="(staffInfo.accountInfo.status==1)&&(staffInfo.userInfo.id != currUser.id || currUser.isCEO == 1 || currUser.isCM == 1)" class="text-right staic-control">
								<button log-edit id="{{logobj.id}}" ng-disabled="currentUser.userInfo.userType==1" type="button" class="btn btn-general btn-sm">Edit</button>
								<button ng-click="deleteLog(logobj.id,staffInfo.userInfo.id);" ng-disabled="currentUser.userInfo.userType==1" type="button" class="btn btn-default btn-sm">Delete</button>
							</td>
						</tr>
					</table>
					<div ng-include="'views/common/logs.html?res_v='+res_v" ng-controller='logsCtrl' ng-init="getLogsList(logUserId)"></div>
				</div>
			</form>
			<!--.tab-content-->

		</div>
	</div>
</div>