.component{
    cursor:pointer;
}

.component input{
    disabled:disabled;
}

input {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.popover input {
  cursor: text;
}

.temp{
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  z-index: 999999;
  top: 0;
  overflow-x: hidden;
  left: 0;
}

.temp form {
  padding: 8px 4px;
  border: 1px dotted #ccc;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 30px #999;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  overflow: hidden;
}

form .popover .control-label {
  text-align: left;
}


#target, #input, #radioscheckboxes, #select, #buttons {
 -webkit-touch-callout: none;
 /* -webkit-user-select: none; */
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#target fieldset{
 width: 100%;
 overflow: hidden;
}

/*.m-signature-pad--body {
    border: 1px solid #f4f4f4;
}

.m-signature-pad--footer .button.clear {
    left: 0;
    position: absolute;
    bottom: 0;
}

.m-signature-pad--footer .description {
    color: #888;
    text-align: right;
    font-size: 11px;
    margin-top: 15px;
}*/
.component{
  border:1px dashed #d8d8d8;
  padding:15px;
  margin-bottom: 15px;
}

.json-log{
  border:1px solid #d8d8d8;
  padding:15px;
  margin-bottom: 15px;
}

/*Extra Stuff from general UI - Deletable after synchoronize with main project*/
.btn-general {
    background: #49505b;
    color: #fff;
}

.btn-general:hover,
.btn-general:active,
.btn-general:focus,
.btn-general.active{
    background-color: #30343b;
    color: #fff;
}

.button-group{
  margin-bottom: 20px;
}

/*File Upload*/
.fileUpload-pack {
  max-width: 600px;
}
.fileUpload-pack .progress {
  position: relative;
}
.fileUpload-pack .progress .progress-bar {
  text-align: left;
  padding-left: 5px;
  position: relative;
  z-index: 1;
}
.fileUpload-pack .progress .files-uploaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fileUpload-drag-area {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 480px) {
  .fileUpload-drag-area {
    line-height: 1.2;
    padding: 30px 15px;
  }
}
.fileUpload-drag-area input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
  display: block;
}
.files-uploaded .file {
  width: 100%;
  background-color: #777;
  padding: 1px 5px; 
  height:20px;
  margin-bottom: 3px;
}
.files-uploaded .file a {
  color: #fff;
}
.files-uploaded .file .file-link {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.files-uploaded .file .file-delete {
  float: right;
}

//Select 2 style
.select2-container {
    min-height: 34px;
}

.function .select2-container--default.select2-container--focus .select2-selection--multiple,
 .function .select2-container--default .select2-selection--multiple {
    border: 1px solid #ccc!important;
}

.function .select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #009ddb;
}

.function .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #d8d8d8;
}