.taskWrap .task-avatar {
	margin: 0;
	white-space: nowrap;
}

.taskWrap .task-avatar .element {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: -20px;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 2px;
	background: #ffffff;
	vertical-align: middle;
	text-align: center;
}

.taskWrap .task-avatar .element .profileImage {
	width: 100%;
}

.taskWrap .task-avatar .element.more {
	background-color: #d8d8d8;
	color: #ffffff;
	line-height: 25px;
}

.pageResult {
	color: #888888;
}

.sidebar-main li a.icon-menu-waiting {
	background-image: url(../library/images/menu-icons/waiting.png);
}

/* line 173, main-customize.less */

.sortable::before {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -7px;
	display: inline-block;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0dc";
	color: #333333;
}

/* line 181, main-customize.less */

.sortable.sorting_asc::before {
	content: "\f0de";
}

/* line 187, main-customize.less */

.sortable.sorting_desc::before {
	content: "\f0dd";
}

.btn-black,
.btn-black:focus,
.btn-black:active {
	background: #010101;
	font-size: 12px;
	color: #ffffff;
	outline: none;
}

.btn-black:hover {
	background: #171717;
	color: #eeeeee;
}

.btn-clear {
	padding: 6px;
}

.table>thead>tr>th {
	vertical-align: middle;
}

.form-horizontal .form-border {
	margin: 0 0 25px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

.badge.badge-red {
	background-color: #ff5f63;
}

.sub-popup li a {
	padding-right: 10px;
}

.sub-popup li a .badge {
	position: absolute;
	bottom: 50%;
	margin-bottom: -7px;
	right: 5px;
}

ul.sub-popup {
	right: -160px;
	width: 140px;
}


@media (max-width: 767px){
	ul.sub-popup {
	    width: auto;
	}
}

/*--------------------------------------------------------*/

/*daterangepicker*/

.daterangepicker td.in-range {
	background-color: #ff5f63;
	color: #fff;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
	font-size: 15px;
}

#taskTable .select2-container--default .select2-selection--multiple .select2-selection__choice {
	max-width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#taskTable tr th .fa-sort-up {
	margin-top: 6px;
}

.table-responsive::-webkit-scrollbar {
	height: 14px;
	/* 横向滚动条高度 */
}

/* 滚动条里面的滑块 */

.table-responsive::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	/* 滚动条滑块颜色 */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
	background-color: #a8a8a8;
	/* 滚动条滑块颜色 */
}

/* 滚动条的轨道（里面装有Thumb） */

.table-responsive::-webkit-scrollbar-track {
	background-color: #f7f7f7;
	/* 滚动条滑块颜色 */
}

.main {
	overflow-x: hidden;
}

.daterangepicker select.yearselect {
	width: 50%;
}

.daterangepicker select.monthselect {
	margin-right: 2%;
	width: 48%;
}

/*checked*/

#allocate-modal .radio label input[type="radio"]:checked+.cr>.cr-icon {
	opacity: 0;
}

#allocate-modal .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
	opacity: 0;
}

#allocate-modal .radio label.checked input[type="radio"]+.cr>.cr-icon {
	opacity: 1;
}

#allocate-modal .radio label.checked input[type="radio"]:checked+.cr>.cr-icon {
	opacity: 1;
}

/*disabled*/

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.font0{
	font-size:0;
}

/*wait-list*/

@media (min-width: 1200px){
	.wait-list .col-lg-10 {
	    width: 87%;
	}

	.wait-list .col-lg-2 {
	    width: 13%;
	}
}

/*disabled*/
.check-disabled{
	opacity: 0.5;
	filter:alpha(opacity=50);
}


/*menu disabled*/
.menu-disabled{
	opacity: 0.3;
	filter:alpha(opacity=30);
    cursor: default;
}

/*checkbox-dark*/
.table .radio,.table .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}


.checkbox-dark label input[type="checkbox"]:checked + .cr > .cr-icon, .radio-dark label input[type="radio"]:checked + .cr > .cr-icon {
	background-color:#494949;	
	color:#ffffff;
	font-size: 12px;    
}

.checkbox-dark.checked label input[type="checkbox"] + .cr > .cr-icon, .radio-dark.checked label input[type="radio"] + .cr > .cr-icon {
	background-color:#494949;	
	color:#ffffff;
	font-size: 12px;
	opacity: 1;    
}


/* .radio label input[type="radio"]:checked + .cr > .cr-icon {
  opacity: 0;  
}

.radio.checked label input[type="radio"] + .cr > .cr-icon {
	opacity: 1;    
} */


/*password-tip*/
.password-tip{
	position: absolute;
	top:10px;
	right:10px;
	color:rgb(3,155,229);
}

/*edit */
  .clearFloat{
  	clear:both;
  }


.plt2{
	padding:0 2px;
}

.choose-work-day .form-control{
	text-align: center;
	padding:6px 2px;
	margin-top:5px;
}

.choose-work-day .checkbox{
	margin-bottom:5px;
}

.choose-work-day .row{
	margin:0 -12px;
}


.baseHour{
	font-size:14px;
}

.baseHour strong{
	font-size:18px;
}

.closure-period-edit{
	height:20px;
	margin-top:5px;
}

.closure-period-edit label{
	cursor: pointer;
}

.closure-period-edit span{
	cursor: pointer;
	display: inline-block;
	margin-left:5px;
}

.attRowTop .attCol{
	vertical-align: top;
}

.time-picker{
	font-size:13px;
}