.nqsQA1 {
	background-color: #43B74F !important;
	color: #fff !important;
}
.nqsQA2 {
	background-color: #FFD522 !important;
	color: #fff !important;
}
.nqsQA3 {
	background-color: #E991A5 !important;
	color: #fff !important;
}
.nqsQA4 {
	background-color: #ABD25F !important;
	color: #fff !important;
}
.nqsQA5 {
	background-color: #FAA21B !important;
	color: #fff !important;
}
.nqsQA6 {
	background-color: #E2178F !important;
	color: #fff !important;
}
.nqsQA7 {
	background-color: #1595D3 !important;
	color: #fff !important;
}

/* 列表标题颜色 */
.color-qa1-sec{background-color: #a0dba7;padding: 5px 0px 5px 10px;}
.color-qa2-sec{background-color: #ffea90;padding: 5px 0px 5px 10px;}
.color-qa3-sec{background-color: #f4c7d2;padding: 5px 0px 5px 10px;}
.color-qa4-sec{background-color: #d4e8ae;padding: 5px 0px 5px 10px;}
.color-qa5-sec{background-color: #fcd08d;padding: 5px 0px 5px 10px;}
.color-qa6-sec{background-color: #f08ac6;padding: 5px 0px 5px 10px;}
.color-qa7-sec{background-color: #89c9e9;padding: 5px 0px 5px 10px;}

.table-absence-register tr td:first-child {
    min-width: 200px;
    width: 1%;
}

.shotern2 {
	display: none
}

.myImage {
	width: 30px;
	max-height: 30px;
	vertical-align: middle;
	margin: -3px 0 0 0;
	padding: 0 3px 0 0
}
/* loadmask */

/*--3.3 Loadmask--*/
.loadmask {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	/* abliu 20160114*/
	background-color: #ddd;
	width: 100%;
	height: 100%;
	zoom: 1;
}
.profile-popup.modal {
	overflow: scroll !important;
}

.my-child-short {
	background-color: #ff5f63;
	width: 35px;
	height: 35px;
	font-size: 16px;
	line-height: 35px;
}
.message-short {
	background-color: #ff5f63;
	width: 40px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
}

.loadmask-msg {
	z-index: 20001;
	position: absolute;
	top: 0;
	left: 0;
	/* abliu 20160108*/
	/* background: #fff;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.loadmask-msg .w-mask-label {
	float: left;
	/* abliu 20160108*/
	background-image: url("../images/loading-0.gif");
	width: 60px;
	height: 24px;
	/* abliu 20160108*/
}

.loadmask-msg>div {
	padding: 10px 12px;
	font-size: 13px;
	color: #888;
	cursor: wait;
}

.masked {
	overflow: hidden !important;
}

.masked-relative {
	position: relative !important;
}

.masked-hidden {
	visibility: hidden !important;
}

.w-loader {
	width: 20px;
	float: left;
	display: inline-block;
	margin-right: 6px;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 3px solid #ddd;
	border-right: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	border-left: 3px solid #15bdc3;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

.w-loader,.w-loader:after {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

@
-webkit-keyframes load8 { 
	0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
             }

	100%
	{
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	}
}
@
keyframes load8 { 
	0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	100%
	{
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	}
}
/* loadmask end */
/* 元素闪动 */
.msgflashing {
	animation: change 1s ease-in infinite;
	font-size: 15px;
	color: #f00;
	font-weight: bold
}

@
keyframes change { 
	0%{
	text-shadow: 0 0 4px #f00
	}

50%{
text-shadow:0 0 40px #f00}
100%{text-shadow:0 0 4px #f00}
}
.my-validate {
	color: #a94442 !important
}

.newsCreate {
	margin-bottom: 0px;
}

.fileDownLoad .file {
	margin-bottom: 5px;
	margin-right: 5px;
}

.message-create .message-header {
	overflow: hidden;
}

.message-body p {
	/* word-break: break-all; */
}

.message-display .message .nqs-list {
	text-align: right;
}

.modal-index {
	z-index: 9999999;
}



#staffForm .form-control[readonly] {
	background-color: #ffffff;
}

.staff-avatar-wrap {
	height: 70px;
}

.staff-name-short {
	width: 62px;
	height: 62px;
	line-height: 62px;
}

.text-center {
	text-align: center
}

.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	width: 100%;
	height: 227px;
}

/* add by zhengguo */

/* select2高度修正 */
.select2-selection--single {
  height:34px !important;
}

.name-image-short {
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
}

.defaultCursor {
	cursor: default;
}

.lightColor {
	color:#999;
}

.redColor{
	color : red;
}

/*-- 3.1.6 TagsInput / div.tagsinput --*/
div.tagsinput {
  border: 1px solid #e5e5e5;
  background: #FFF;
  padding: 5px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.tagsinput span.tag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  padding: 6px 10px;
  text-decoration: none;
  background: #9ce6d4;
  color: #28826c;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;
}
div.tagsinput span.tag a {
  font-weight: bold;
  color: #28826c;
  text-decoration: none;
  font-size: 11px;
}
div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 5px;
  background: transparent;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}


.modal-form-create h2{
	margin-top: 0;
}

.modal-form-create .popover {
    padding-bottom: 15px;
    max-width: 300px;
}

.modal-form-create .popover .popover-content .popover-content {
    padding: 0;
}

.modal-form-create form {
    margin-top: 20px;
}

.modal-form-create .popover .table > thead > tr > th{
	vertical-align: middle;
}





@media (min-width:992px){
	.modal-full{
		width: 900px;
	}
}

@media (min-width: 1200px) {
  .modal-full {
    width: 1100px;
  }
}


/*Checkbox changes*/
.modal-checkbox-special .checkbox .cr, 
.modal-checkbox-special .radio .cr{
	width: 30px;
    height: 30px;
}

.modal-checkbox-special .checkbox .cr .cr-icon, 
.modal-checkbox-special .radio .cr .cr-icon {
    line-height: 28px;
    font-size: 24px;
}

/*Centre Groups*/
.roomWrap .room .group-list {
    width: 100%;
    min-height: 185px;
}



/*BACK TOP FOR REGISTER*/
.backToTop{
	left: auto!important;
	right: 50px!important;
}

@media (max-width:480px){
	.backToTop{
		right: 10px!important;
	}
}


.my-toggle{
	height:34px;
}
@media (max-width:480px){
	.my-toggle{
		height:32px;
	}
}


/*Roster specified style on 11/05/2017*/
	.rosterMain .content-area{
		padding-top: 0;
	}

	.rosterMain .bg-season{
		margin-left:-15px;
		margin-right: -15px;
	}

	.remove-padding{
		padding:0!important;
	}


	.rosterMain .attWrap{
		margin-top: 30px;
	}
	
@media (min-width:768px){


	.rosterMain .sidebar-inner{
		position: absolute;
		top: 272px;
		z-index: 200;
	}

}


/*waitlist css*/
.group-line
  {
  	position: relative;
  	padding-left:40px;
  	height:auto;
  }

.group-line .form-group
  {
  	margin:0;
  	padding-bottom:15px;
  }
  
  .group-line h4
  {
  	margin-top:0;
  	margin-bottom:20px;
  }

 .group-line .lineL
  {
  	
  	background: #ffffff;
  	position: absolute;
  	height:100%;
  	width:3px;
  	left:8px;
  	top:0;
  	
  }

  .group-line .dotL
  {
  	background: #ffffff;
  	height:20px;
  	width:20px;
  	border-radius:100%;
  	position: absolute;
  	top:0;
  	left:0;
  	z-index: 99;
  }

  .group-line h4
  {
  	color:#fc8487;
  }
  
   .group-line.active .dotL,.group-line .dotL.current
  {
  	
  	background: #fc8487;
  }

 
  .group-line.active .lineL
  {

  	background: #fc8487;
  }
.txt2long{
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.signatureShow{
	width:520px;
	height:140px;
}
/*waitlist css*/


/*tipDiv*/
.tipDiv{
	clear:both;
	float:none !important;
	word-break: break-all !important;
	white-space: normal !important;
}

.tipDiv a{
	margin-right:5px;
	display:block;
	float:left;
	white-space:nowrap;
	margin-bottom:5px;
}

.tipDiv div{
    overflow: visible !important;
    white-space: normal !important; 
    text-overflow: clip !important; 
} 

.tooltip{
	overflow: visible !important;
    white-space: normal !important; 
    text-overflow: clip !important; 
    max-width:200px !important;
}
   