.clearfix {
  clear: both;
}
.transition {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-update-search {
  background: #4a4a4a;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-update-search:hover,
.btn-update-search:active,
.btn-update-search:focus,
.btn-update-search.active {
  background-color: #313131;
  color: #fff;
}
.btn-white {
  background: #ffffff;
  border-radius: 5px;
  color: #000000;
  border: none;
  padding: 2px 10px;
  font-weight: bold;
  font-size: 12px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white.active {
  background: #ffffff;
  border-radius: 5px;
  color: #000000;
}
.text-bold {
  font-weight: bold;
}
.mtb10 {
  margin: 20px 0 10px 0!important;
}
.sidebar-inner-position .menu-block .title {
  font-weight: 600;
  color: #4a4a4a;
}
.sidebar-inner-position .menu-block ul li {
  margin-bottom: 0;
}
.sidebar-inner-position .menu-block ul li a {
  display: block;
  color: #4a4a4a;
}
.sidebar-inner-position .menu-block ul li a strong {
  margin-left: 5px;
  font-size: 13px;
  float: right;
}
.sidebar-inner-position .menu-block ul li.active {
  border-left: 4px solid #ff5f63;
}
.sidebar-inner-position .menu-block .title,
.sidebar-inner-position .menu-block .filter,
.sidebar-inner-position .menu-block ul li {
  border-left: 4px solid transparent;
  padding-left: 10px;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .sidebar-inner-position {
    height: 100%;
    position: fixed;
    width: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    z-index: 1050;
    color: #000000;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    padding-bottom: 30px;
  }
  .sidebar-inner-position.open {
    bottom: 0;
  }
  .sidebar-inner-position .menu-top {
    color: #000;
    font-size: 24px;
    padding: 15px;
    clear: both;
  }
  .sidebar-inner-position .menu-top .menu-top-title {
    float: left;
  }
  .sidebar-inner-position .menu-top .closeButton {
    background-color: transparent;
    border: none;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 24px;
    padding: 0;
  }
  .sidebar-inner-position .menu-block {
    width: 100%;
    margin-bottom: 20px;
  }
  .sidebar-inner-position .menu-block .title,
  .sidebar-inner-position .menu-block ul li {
    margin-bottom: 0;
    border-left: none;
  }
  .sidebar-inner-position .menu-block .title {
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px 0 15px;
  }
  .sidebar-inner-position .menu-block ul {
    padding: 0 5px;
  }
  .sidebar-inner-position .menu-block ul li {
    padding: 15px 10px;
  }
  .sidebar-inner-position .menu-block .filter {
    padding: 15px 10px 0 10px;
  }
  .sidebar-inner-position .menu-block .filter .form-control {
    width: 100%;
    border: none;
    border-radius: 0;
  }
  .sidebar-inner-position .menu-block .filter input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #7e33c7;
  }
  .sidebar-inner-position .menu-block ul li {
    border-left: none;
  }
  .sidebar-inner-position .menu-block ul li .label-figure {
    color: #7e33c7;
    margin-right: 0;
    float: none;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .sidebar-inner-position .menu-block ul li.active {
    border-left: none;
  }
  .sidebar-inner-position .menu-block ul li.active a {
    color: #ffffff;
  }
  .sidebar-inner-position .menu-block ul li.active .label-figure {
    color: #ffffff;
  }
  .sidebar-inner-position .menu-block ul li:last-child {
    border-bottom: none;
  }
  .sidebar-inner-position .menu-block ul li a {
    display: block;
    text-decoration: none;
    color: #7e33c7;
    font-size: 14px;
    font-weight: 600;
  }
  .sidebar-inner-position .menu-block ul li .sub-filter li {
    border-bottom: none;
    padding: 10px 10px 0 10px;
  }
  .sidebar-inner-position .menu-block ul li .sub-filter li a {
    font-weight: 400;
  }
  .sidebar-inner-position .menu-block ul li .sub-filter li .label-figure {
    right: 0;
  }
}
.pbadge {
  display: inline-block;
  padding: 2px 8px;
  color: #ffffff;
  font-size: 12px;
  margin: 0 2px;
}
.pbadge.pbadge-green {
  background-color: #74d795;
  border-color: #60d186;
  border-radius: 5px;
}
.pbadge.pbadge-blue {
  background-color: #52c3e3;
  border-color: #3cbbdf;
  border-radius: 5px;
}
.pbadge.pbadge-orange {
  background-color: #ffcd78;
  border-color: #ffc45f;
  border-radius: 5px;
}
.pbadge.pbadge-mint {
  background-color: #00c8c8;
  border-color: #00aeaf;
  border-radius: 5px;
}
.pbadge.pbadge-red {
  background-color: #ff5f62;
  border-color: #ff4549;
  border-radius: 5px;
}
.pbadge.pbadge-gray {
  background-color: #d2d2d2;
  border-color: #c5c5c5;
  border-radius: 5px;
}
.pbadge.pbadge-darken-gray {
  background-color: #8f8f8f;
  border-color: #828282;
  border-radius: 5px;
}
.pbadge.pbadge-black {
  background-color: #4a4a4a;
  border-color: #3d3d3d;
  border-radius: 5px;
}
.table-position-manager .edit-date {
  border: none;
  padding: 4px 10px;
  height: auto;
  margin-top: -5px;
}
.table-position-manager thead tr th {
  position: relative;
}
.table-position-manager tbody + tbody {
  border: none;
}
.table-position-manager tbody tr td {
  padding: 8px 10px ;
  border: none;
}
.table-position-manager tbody .tbody-disabled {
  color: #9a9a9a;
}
.profile-box {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background: #f8f8f8;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 27px;
}
.profile-box .overflow-hidden {
  overflow: hidden;
}
@media (max-width: 2500px) and (min-width: 10px) {
  .profile-box .mb16 {
    margin-bottom: 16px;
  }
  .profile-box .mt48 {
    margin-top: 48px;
  }
  .profile-box .mb64 {
    margin-bottom: 64px;
  }
}
.profile-box p.lead {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
}
.profile-box .uppercase {
  font-weight: 400;
  text-transform: uppercase;
}
.profile-box hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  width: 100%;
}
.profile-box h4 {
  font-size: 24px;
  line-height: 32px;
}
.profile-box h1,
.profile-box h2,
.profile-box h3,
.profile-box h4,
.profile-box h5,
.profile-box h6,
.profile-box p,
.profile-box ul,
.profile-box ol,
.profile-box pre,
.profile-box table,
.profile-box blockquote,
.profile-box input,
.profile-box select,
.profile-box textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
  font-weight: 300;
  color: #292929;
}
.profile-box h6.uppercase,
.profile-box .h6-u {
  letter-spacing: 2px;
  font-weight: 700;
}
.profile-box ul {
  list-style: none;
}
.profile-box ul li {
  font-size: 16px;
}
.profile-box input,
.profile-box select,
.profile-box textarea {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.profile-box input[type="text"],
.profile-box textarea,
.profile-box select,
.profile-box input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.profile-box input[type="text"],
.profile-box textarea,
.profile-box select {
  background: #fff;
}
.profile-box .input-lh {
  line-height: 50px;
}
.profile-box .field-error {
  outline: 1px red !important;
}
.profile-box .input-with-label span {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #292929;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  cursor: default;
}
.profile-box input[type="text"],
.profile-box input[type="password"] {
  background: #ffffff;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}
.profile-box .image-bg input[type="text"],
.profile-box .image-bg textarea {
  color: #555;
}
.profile-box .image-bg.bg-light input.transparent {
  border-color: #292929;
}
.profile-box input.transparent {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff !important	;
}
.profile-box input[type="text"]:focus,
.profile-box input[type="password"]:focus {
  outline: 1px solid #ccc;
}
.profile-box textarea {
  width: 100%;
  border: none;
  margin-bottom: 24px;
  border-radius: 0;
  padding: 16px 20px;
}
.profile-box textarea:focus {
  outline: 1px solid #ccc;
}
.profile-box ::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
.profile-box :-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
.profile-box ::-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
.profile-box :-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}
.profile-box input.transparent::-webkit-input-placeholder {
  color: #fff;
}
.profile-box input.transparent::-moz-input-placeholder {
  color: #fff;
}
.profile-box input.transparent:-moz-input-placeholder {
  color: #fff;
}
.profile-box input.transparent:-ms-input-placeholder {
  color: #fff;
}
.profile-box input[type="submit"] {
  height: 50px;
  line-height: 48px;
  border: 2px solid #47b475;
  background: #47b475;
  color: #fff;
  width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 !important;
}
.profile-box .bg-primary input[type="submit"] {
  background: #fff;
  color: #47b475;
}
.profile-box input[type="submit"]:focus {
  outline: none;
}
.profile-box input[type="submit"].hollow {
  background: none;
  border: 2px solid #47b475;
  color: #47b475;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.profile-box input[type="submit"].hollow:hover {
  background: #47b475;
  color: #fff;
}
.profile-box .select-option {
  position: relative;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  margin-bottom: 24px;
}
.profile-box .select-option i {
  position: absolute;
  font-size: 18px;
  right: 20px;
  top: 14px;
  z-index: 2;
  pointer-events: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
}
.profile-box .ti-angle-down:before {
  font-family: 'FontAwesome';
  font-style: normal;
  content: "\f107";
}
.profile-box .select-option:focus i {
  color: #fff;
}
.profile-box .select-option select {
  margin-bottom: 0;
}
.profile-box select {
  height: 50px;
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  padding-left: 20px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
}
.profile-box select:focus {
  background: #eee;
}
.profile-box select:active,
.profile-box select:focus,
.profile-box select:hover {
  outline: none;
  border: none;
}
.profile-box .checkbox-option,
.profile-box .radio-option {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #47b475;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 24px;
}
.profile-box .checkbox-option .inner,
.profile-box .radio-option .inner {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #47b475;
  position: relative;
  top: 2px;
  left: 2px;
  display: inline-block;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
.profile-box .checkbox-option.checked .inner {
  transform: translate3d(25px, 0, 0);
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(25px, 0, 0);
  background: #47b475;
}
.profile-box .checkbox-option input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.profile-box .radio-option {
  width: 25px;
  height: 25px;
  text-align: left;
}
.profile-box .radio-option:nth-of-type(n+2) {
  margin-left: 24px;
}
.profile-box .radio-option input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.profile-box .radio-option .inner {
  border: none;
  width: 19px;
  height: 19px;
  left: 2px;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.profile-box .radio-option + span {
  display: inline-block;
  line-height: 25px;
}
.profile-box .radio-option.checked .inner {
  transform: scale(1);
  -webkit-transform: scale(1);
}
.profile-box .radio-option.checked .inner {
  background: #47b475;
}
@media all and (min-width: 991px) {
  .profile-box input.col-md-6 {
    width: 49%;
    float: left;
  }
  .profile-box input.col-md-6:first-of-type {
    margin-right: 1%;
  }
  .profile-box input.col-md-6:last-of-type {
    margin-left: 1%;
  }
}
.profile-box form.thirds input {
  width: 33%;
}
.profile-box form.halves input {
  width: 49.5%;
}
.profile-box .form-error,
.profile-box .form-success {
  background: #58ce38;
  padding: 12px;
  width: 100%;
  color: #fff;
  max-width: 700px;
  position: relative;
  top: 16px;
  margin: 0 auto;
}
.profile-box .form-error {
  background: #ce3838;
}
.profile-box .field-error {
  outline: 1px solid #ce3838 !important;
}
.profile-box form iframe.mail-list-form {
  display: none;
}
.profile-box .form-loading {
  border: 3px solid #ffffff;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  margin: 0px auto;
  top: 50%;
  width: 30px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  z-index: 99999;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@media all and (max-width: 767px) {
  .profile-box form.thirds input,
  .profile-box form.halves input {
    width: 100%;
    margin-bottom: 8px;
  }
}
