
<div class="modal-content" ng-init='initList()'>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="close();" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Manage Agenda Type</h4>
	</div>
	<div class="modal-body">
		<form id="agendaTypeForm" agenda-type-form>
			<div class="form-horizontal">
				<div class="form-group" ng-repeat="typeInfo in list" repeat-done='repeatDone()'>
					<div class="col-md-9">
						<input type="text" class="form-control" name='typeName' ng-model="typeInfo.typeName">
					</div>
					<div class="col-md-3">
						<button type='button' class="btn btn-default btn-block" ng-click="deleteType($index);">Delete</button>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-9">
						<input type="text" class="form-control" name='typeNameTemp' ng-model='addData' placeholder="Fill in Agenda Type">
					</div>
					<div class="col-md-3">
						<button class="btn btn-general btn-block" ng-click="addType();">Add</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-click="updateList();">Update</button>
		<button type="button" class="btn btn-default" ng-click="close();" data-dismiss="modal">Cancel</button>
	</div>
</div>
