<div class="modal-content" id='myAddMeeting'>
	<div class="modal-header">
		<button type="button" class="close" ng-click='close()' data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Create a Meeting</h4>
	</div>
	<div class="modal-body">
		<form meetingadd-form id='meetingaddForm' class="form-horizontal">
			<div class="form-group">
				<label class="col-md-3 control-label">Meeting Name</label>
				<div class="col-md-9">
					<input type="text" ng-model='meetingVo.meetingInfo.meetingName' name='meetingName' class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-3 control-label">Meeting Agenda</label>
				<div class="col-lg-9">
					<select class="form-control" ng-model='meetingVo.meetingInfo.meetingAgendaId' name='meetingAgenda' style="width: 100%;">
						<option value=''></option>
						<option ng-repeat='agenda in agendaList' value='{{agenda.id}}'>{{agenda.text}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Date</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name='meetingDay' my-date-picker ng-model='meetingVo.meetingInfo.day'>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Meeting Template</label>
				<div class="col-md-9">
					<select class="form-control" ng-change='changeTemplate()' name='meetingTemplate' ng-model='meetingVo.meetingInfo.templateId' style="width: 100%;">
						<option value=''></option>
						<option ng-repeat='template in templateList' value='{{template.id}}'>{{template.text}}</option>
					</select>
					<p class="form-control-static" ng-hide='meetingVo.meetingInfo.templateId==null'>
						<a href="javascript:void(0);" ng-click='viewTemplate(meetingVo.meetingInfo.templateId)'>View Template</a>
					</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">NQS</label>
				<div class="col-md-9">
					<div class="nqs-list tag-list">
						<a class="btn-icon {{nqs.version|nqsTipFilter:nqs.tag}}" ng-repeat="nqs in chooseNqs | orderBy:'version'" href="javascript:void(0);" tooltip data-toggle="tooltip" title="{{nqs.content}}">{{nqs.version}}</a>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-click='createMeeting()'>Confirm</button>
		<button type="button" class="btn btn-default" ng-click='close()' data-dismiss="modal">Close</button>
	</div>
</div>

