
<div class="modal-content" ng-init='getMeetingInfo()' id='myEditMeet'>
	<div class="modal-header">
		<button type="button" class="close" ng-click='close()'
			data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">
			{{meet.meetingInfo.meetingName}}
			<div class="task-basic-info">
				<span>{{meet.meetingInfo.createTime|date:'dd/MM/yyyy'}}</span>
			</div>
		</h4>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label">Meeting Name</label>
				<div class="col-md-10">
					<input type="text" class="form-control"
						ng-model='meet.meetingInfo.meetingName' disabled>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">Meeting Agenda</label>
				<div class="col-md-10">
					<select class="form-control" ng-change='agendaChange()'
						ng-disabled='isReadOnly'
						ng-model='meet.meetingInfo.meetingAgendaId' style="width: 100%;">
						<option ng-repeat='agenda in agendaList' value='{{agenda.id}}'
							ng-disabled='agenda.disableFlag'>{{agenda.text}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<ol class="agenda-list">
						<li ng-repeat='item in itemList'>{{item.itemName}}</li>
					</ol>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">NQS</label>
				<div class="col-md-10">
					<div class="nqs-list tag-list">
						<a class="btn-icon {{nqs.version|nqsTipFilter:nqs.tag}}"
							ng-repeat="nqs in meet.nqsList | orderBy:'version'"
							title="{{nqs.content}}" href="javascript:void(0);" tooltip
							data-toggle="tooltip">{{nqs.version}}</a>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div ng-controller='meetingTableEdit'
					ng-init='initTable(meetingId,templateId,false,carrierObj,isReadOnly)'
					ng-include="'./views/meeting/modal/meeting.table.html?res_v='+res_v"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-general" ng-if='!isReadOnly'
					ng-click='update()'>Save and Update</button>
				<button type="button" ng-if='meet.whenRequireFlag'
					class="btn btn-default" ng-click='deleteMeeting();'
					data-dismiss="modal">Delete</button>
				<button type="button" ng-if='!meet.whenRequireFlag'
					class="btn btn-default" ng-click='close()' data-dismiss="modal">Cancel</button>
			</div>
		</div>