
<div class="modal-body">
	<div class="form-group">
		<div class="col-md-12 table-container">
			<table class="table table-bordered table-agenda">
				<thead>
					<tr>
						<th ng-repeat='th in thList'>{{th.columnName}}</th>
						<th ng-if='viewFlag==false&&!isReadOnly'></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='tr in table'>
						<td ng-repeat='td in tr.rowList'>
								<input type="text" ng-model='td.value' ng-disabled='viewFlag||isReadOnly' ng-if='td.columnType!=1&&td.columnType!=2'  class="form-control">
								<select type="text" ng-model='td.value' ng-disabled='viewFlag||isReadOnly' select2-model='td.responsibility' ng-if='td.columnType==1' style='width:140px;' url='./common/getStaff.do?type=1' select-image-ajax class="form-control"></select>
								<input type="text" ng-model='td.value' ng-disabled='viewFlag||isReadOnly' ng-if='td.columnType==2' my-date-picker class="form-control">
						</td>
						<td ng-if='viewFlag==false&&!isReadOnly'>
							<button class="btn btn-default btn-block"  ng-click='removeRow($index);'>Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-general btn-sm cloneRow" ng-click='addRow()' ng-if='viewFlag==false&&!isReadOnly' >Add Row</button>
		</div>
	</div>
</div>
