<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Template</h4>
	</div>
	<div class="modal-body">
		<div ng-controller='meetingTableEdit' ng-init='initTable(null,templateId,viewFlag,getTable)' ng-include="'./views/meeting/modal/meeting.table.html?res_v='+res_v"></div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close</button>
	</div>
</div>
