<div class="modal-content" ng-init="initFrequency();">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Frequency</h4>
	</div>
	<div class="modal-body">
		<form model-form id="modelForm" class="form-horizontal form-frequency">
			<div class="form-group">
				<label class="col-md-4 control-label">Repeats</label>
				<div class="col-md-8">
					<select class="form-control" ng-change="repeatChange()" ng-disabled="state" ng-model="frequencyInfo.repeats">
						<option value=1>Weekly</option>
						<option value=2>Monthly</option>
						<option value=4>Yearly</option>
						<option value=6>When required</option>
					</select>
				</div>
			</div>

			<div class="form-group frq-field general-field" ng-disabled="state" ng-show="(frequencyInfo.repeats|haveRepeats:'0,1,2,4')">
				<label class="col-md-4 control-label">Starts on</label>
				<div class="col-md-8">
					<input type="text" name="startsOnDate" ng-disabled="state" ng-model="frequencyInfo.startsOnDate" class="form-control" my-date-picker>
				</div>
			</div>

			<div class="form-group frq-field general-field" ng-show="(frequencyInfo.repeats|haveRepeats:'0,1,2,4')">
				<label class="col-md-4 control-label">Ends</label>
				<div class="col-md-8">
					<div class="radio">
						<label>
							<input type="radio" ng-disabled="state" ng-click="frequencyInfo.endOnDate=null" ng-model="frequencyInfo.haveEndDate" value=0 name="endsRadios" id="endsRadios_1">
							<span class="cr">
								<i class="cr-icon fa fa-circle"></i>
							</span>
							Never
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-disabled="state" ng-model="frequencyInfo.haveEndDate" value=1 name="endsRadios" id="endsRadios_2">
							<span class="cr">
								<i class="cr-icon fa fa-circle"></i>
							</span>
							on
							<input type="text" name="endsOnDate" ng-disabled="state||frequencyInfo.haveEndDate==0" ng-model="frequencyInfo.endOnDate" class="form-control input-sm input-inline" my-date-picker>
						</label>
					</div>
				</div>
			</div>

			<div class="form-group frq-field weekly-field" ng-show="(frequencyInfo.repeats|haveRepeats:'1')">
				<label class="col-md-4 control-label">Weekday to Start</label>
				<div class="col-md-8">
					<select class="form-control" ng-disabled="state" ng-model="frequencyInfo.weekdayStart">
						<option value="1">Monday</option>
						<option value="2">Tuesday</option>
						<option value="3">Wednesday</option>
						<option value="4">Thursday</option>
						<option value="5">Friday</option>
					</select>
				</div>
			</div>

	<!-- 		<div class="form-group frq-field weekly-field" ng-show="(frequencyInfo.repeats|haveRepeats:'1')">
				<label class="col-md-4 control-label">Weekday to Due</label>
				<div class="col-md-8">
					<select class="form-control" ng-disabled="state" ng-model="frequencyInfo.weekdayDue">
						<option value="1">Monday</option>
						<option value="2">Tuesday</option>
						<option value="3">Wednesday</option>
						<option value="4">Thursday</option>
						<option value="5">Friday</option>
					</select>
				</div>
			</div> -->

			<div class="form-group frq-field monthly-field" ng-show="(frequencyInfo.repeats|haveRepeats:'2')">
				<label class="col-md-4 control-label">Day to Start</label>
				<div class="col-md-8">
					<select class="form-control" ng-disabled="state" ng-model="frequencyInfo.weekdayStart">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
				</div>
			</div>

			<!-- <div class="form-group frq-field monthly-field" ng-show="(frequencyInfo.repeats|haveRepeats:'2')">
				<label class="col-md-4 control-label">Day to End</label>
				<div class="col-md-8">
					<select class="form-control" ng-disabled="state" ng-model="frequencyInfo.weekdayDue">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
				</div>
			</div> -->

			<!-- year -->
			<div class="form-group frq-field qy-field" ng-show="(frequencyInfo.repeats|haveRepeats:'4')">
				<label class="col-md-4 control-label">Day to Start</label>
				<div class="col-md-8">
					<input type="text" ng-disabled="state" class="form-control" date-picker-no-year ng-model="frequencyInfo.weekdayStart">
				</div>
			</div>

		<!-- 	<div class="form-group frq-field qy-field" ng-show="(frequencyInfo.repeats|haveRepeats:'4')">
				<label class="col-md-4 control-label">Day to Due</label>
				<div class="col-md-8">
					<input type="text" ng-disabled="state" class="form-control" date-picker-no-year ng-model="frequencyInfo.weekdayDue">
				</div>
			</div>
			year
 -->
			<div class="form-group" ng-disabled="state" ng-show="(frequencyInfo.repeats|haveRepeats:'0,1,2,4,6')">
				<label class="col-md-4 control-label">Summary</label>
				<div class="col-md-8">
					<p class="form-control-static">{{frequencyInfo.repeats|getRepeatMsg:frequencyInfo.dayToStart:frequencyInfo.dayToEnd}}</p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-general" ng-hide="state" ng-click="save();">Confirm</button>
		<button type="button" class="btn btn-light" ng-click="close()" data-dismiss="modal">Cancel</button>
	</div>
</div>
